# [dbo].[Transaction]

In [0]:
USE [CreditCards]
GO

In [0]:
/****** Object:  Table [dbo].[Transaction]    Script Date: 12/3/2025 6:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transactionid] [bigint] IDENTITY(1,1) NOT NULL,
	[userid] [bigint] NOT NULL,
	[time] [datetime] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[tran_lat] [decimal](9, 6) NOT NULL,
	[tran_lon] [decimal](9, 6) NOT NULL,
	[tran_place] [geography] NULL,
	[merchantType] [nvarchar](50) NULL,
	[isFraud] [bit] NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transactionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[User]

In [0]:
/****** Object:  Table [dbo].[User]    Script Date: 12/3/2025 6:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userid] [bigint] IDENTITY(1,1) NOT NULL,
	[home_lat] [decimal](9, 6) NOT NULL,
	[home_lon] [decimal](9, 6) NOT NULL,
	[home] [geography] NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[age] [int] NULL,
	[marital_status] [bit] NULL,
	[isMale] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Transaction]

In [0]:
SET IDENTITY_INSERT [dbo].[Transaction] ON 
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1, 1, CAST(N'2025-08-10T21:50:36.140' AS DateTime), CAST(301.52 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.067135 AS Decimal(9, 6)), CAST(-95.354804 AS Decimal(9, 6)), 0xE6100000010C5FB532E1970841405C1FD61BB5D657C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2, 1, CAST(N'2025-08-12T20:14:36.140' AS DateTime), CAST(304.08 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.092735 AS Decimal(9, 6)), CAST(-95.329204 AS Decimal(9, 6)), 0xE6100000010CE71890BDDE0B4140986DA7AD11D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (3, 1, CAST(N'2025-08-14T18:54:36.140' AS DateTime), CAST(306.64 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-95.403604 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD580241403A22DFA5D4D957C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (4, 1, CAST(N'2025-08-16T15:42:36.140' AS DateTime), CAST(288.72 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.039135 AS Decimal(9, 6)), CAST(-95.382804 AS Decimal(9, 6)), 0xE6100000010C82902C6002054140CA3159DC7FD857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (5, 1, CAST(N'2025-08-18T12:46:36.140' AS DateTime), CAST(291.28 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.064735 AS Decimal(9, 6)), CAST(-95.357204 AS Decimal(9, 6)), 0xE6100000010C0AF4893C4908414006802A6EDCD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (6, 2, CAST(N'2025-08-10T09:02:36.140' AS DateTime), CAST(178.64 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.761029 AS Decimal(9, 6)), CAST(-122.433218 AS Decimal(9, 6)), 0xE6100000010C5F27F56569E142407782FDD7B99B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (7, 2, CAST(N'2025-08-11T18:38:36.140' AS DateTime), CAST(181.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-122.407618 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E44240B3D0CE69169A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (8, 2, CAST(N'2025-08-13T04:30:36.140' AS DateTime), CAST(183.76 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-122.382018 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E74240EF1EA0FB72985EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (9, 2, CAST(N'2025-08-14T12:30:36.140' AS DateTime), CAST(165.84 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (10, 2, CAST(N'2025-08-15T20:46:36.140' AS DateTime), CAST(168.40 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.758629 AS Decimal(9, 6)), CAST(-122.435618 AS Decimal(9, 6)), 0xE6100000010C0A664CC11AE1424022E3512AE19B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (11, 3, CAST(N'2025-08-10T13:18:36.140' AS DateTime), CAST(219.60 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.601909 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010C8315A75A0BCD4740CEFFAB8E1C9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (12, 3, CAST(N'2025-08-12T03:10:36.140' AS DateTime), CAST(222.16 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.627509 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C0C79043752D04740094E7D2079995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (13, 3, CAST(N'2025-08-13T17:18:36.140' AS DateTime), CAST(224.72 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.653109 AS Decimal(9, 6)), CAST(-122.372418 AS Decimal(9, 6)), 0xE6100000010C94DC611399D34740459C4EB2D5975EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (14, 3, CAST(N'2025-08-15T05:34:36.140' AS DateTime), CAST(206.80 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.573909 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CA6F0A0D975C947403C122F4FE79C5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (15, 3, CAST(N'2025-08-16T18:06:36.140' AS DateTime), CAST(209.36 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.599509 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C2E54FEB5BCCC4740786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (16, 4, CAST(N'2025-08-11T10:38:36.140' AS DateTime), CAST(424.40 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.804127 AS Decimal(9, 6)), CAST(-71.015084 AS Decimal(9, 6)), 0xE6100000010CA2D45E44DBCD3D4058ACE122F7C051C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (17, 4, CAST(N'2025-08-13T21:50:36.140' AS DateTime), CAST(426.96 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.729727 AS Decimal(9, 6)), CAST(-71.089484 AS Decimal(9, 6)), 0xE6100000010C19028063CFBA3D40FA60191BBAC551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (18, 4, CAST(N'2025-08-16T09:18:36.140' AS DateTime), CAST(429.52 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.755327 AS Decimal(9, 6)), CAST(-71.063884 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DC13D4036AFEAAC16C451C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (19, 4, CAST(N'2025-08-18T18:54:36.140' AS DateTime), CAST(411.60 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.776127 AS Decimal(9, 6)), CAST(-71.043084 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0C63D40C6BE64E3C1C251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (20, 4, CAST(N'2025-08-21T04:46:36.140' AS DateTime), CAST(414.16 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.801727 AS Decimal(9, 6)), CAST(-71.017484 AS Decimal(9, 6)), 0xE6100000010CF8510DFB3DCD3D40020D36751EC151C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (21, 5, CAST(N'2025-08-11T14:54:36.140' AS DateTime), CAST(465.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.728229 AS Decimal(9, 6)), CAST(-87.676399 AS Decimal(9, 6)), 0xE6100000010CD87F9D9B36DD42400403081F4AEB55C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (22, 5, CAST(N'2025-08-14T06:22:36.140' AS DateTime), CAST(467.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-87.650799 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE042404051D9B0A6E955C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (23, 5, CAST(N'2025-08-16T22:06:36.140' AS DateTime), CAST(470.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.779429 AS Decimal(9, 6)), CAST(-87.625199 AS Decimal(9, 6)), 0xE6100000010CE9465854C4E342407B9FAA4203E855C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (24, 5, CAST(N'2025-08-19T11:58:36.140' AS DateTime), CAST(452.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-87.604399 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642400CAF2479AEE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (25, 5, CAST(N'2025-08-22T02:06:36.140' AS DateTime), CAST(455.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.725829 AS Decimal(9, 6)), CAST(-87.678799 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7DC4240AE635C7171EB55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (26, 6, CAST(N'2025-08-11T02:06:36.140' AS DateTime), CAST(342.48 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.630709 AS Decimal(9, 6)), CAST(-118.219083 AS Decimal(9, 6)), 0xE6100000010C7D259012BBD047400307B474058E5DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (27, 6, CAST(N'2025-08-13T04:46:36.140' AS DateTime), CAST(345.04 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.556309 AS Decimal(9, 6)), CAST(-118.293483 AS Decimal(9, 6)), 0xE6100000010C38BC202235C74740A5BBEB6CC8925DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (28, 6, CAST(N'2025-08-15T07:42:36.140' AS DateTime), CAST(347.60 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.581909 AS Decimal(9, 6)), CAST(-118.267883 AS Decimal(9, 6)), 0xE6100000010CC11F7EFE7BCA4740E109BDFE24915DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (29, 6, CAST(N'2025-08-17T08:46:36.140' AS DateTime), CAST(329.68 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.602709 AS Decimal(9, 6)), CAST(-118.247083 AS Decimal(9, 6)), 0xE6100000010C9F008A9125CD474072193735D08F5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (30, 6, CAST(N'2025-08-19T10:06:36.140' AS DateTime), CAST(332.24 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.628309 AS Decimal(9, 6)), CAST(-118.221483 AS Decimal(9, 6)), 0xE6100000010C2864E76D6CD04740AE6708C72C8E5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (31, 7, CAST(N'2025-08-11T06:22:36.140' AS DateTime), CAST(383.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-122.385218 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE7424027F56569A7985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (32, 7, CAST(N'2025-08-13T13:18:36.140' AS DateTime), CAST(386.00 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (33, 7, CAST(N'2025-08-15T20:30:36.140' AS DateTime), CAST(388.56 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (34, 7, CAST(N'2025-08-18T01:50:36.140' AS DateTime), CAST(370.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-122.413218 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342409607E929729A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (35, 7, CAST(N'2025-08-20T07:26:36.140' AS DateTime), CAST(373.20 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE74240D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (36, 8, CAST(N'2025-08-09T03:42:36.140' AS DateTime), CAST(88.24 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.342181 AS Decimal(9, 6)), CAST(-87.647599 AS Decimal(9, 6)), 0xE6100000010C02284696CC2B4540077B134372E955C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (37, 8, CAST(N'2025-08-09T07:58:36.140' AS DateTime), CAST(90.80 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.367781 AS Decimal(9, 6)), CAST(-87.621999 AS Decimal(9, 6)), 0xE6100000010C8B8BA372132F454043C9E4D4CEE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (38, 8, CAST(N'2025-08-09T12:30:36.140' AS DateTime), CAST(93.36 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.393381 AS Decimal(9, 6)), CAST(-87.596399 AS Decimal(9, 6)), 0xE6100000010C13EF004F5A3245407F17B6662BE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (39, 8, CAST(N'2025-08-09T15:10:36.140' AS DateTime), CAST(75.44 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.314181 AS Decimal(9, 6)), CAST(-87.675599 AS Decimal(9, 6)), 0xE6100000010C2503401537284540768D96033DEB55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (40, 8, CAST(N'2025-08-09T18:06:36.140' AS DateTime), CAST(78.00 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.339781 AS Decimal(9, 6)), CAST(-87.649999 AS Decimal(9, 6)), 0xE6100000010CAE669DF17D2B4540B1DB679599E955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (41, 9, CAST(N'2025-08-09T07:58:36.140' AS DateTime), CAST(129.20 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-95.378004 AS Decimal(9, 6)), 0xE6100000010C259529E620E242407670B03731D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (42, 9, CAST(N'2025-08-09T16:30:36.140' AS DateTime), CAST(131.76 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-95.352404 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240B2BE81C98DD657C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (43, 9, CAST(N'2025-08-10T01:18:36.140' AS DateTime), CAST(134.32 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-95.326804 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE84240ED0C535BEAD457C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (44, 9, CAST(N'2025-08-10T08:14:36.140' AS DateTime), CAST(116.40 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-95.406004 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240E48233F8FBD957C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (45, 9, CAST(N'2025-08-10T15:26:36.140' AS DateTime), CAST(118.96 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-95.380404 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E1424020D1048A58D857C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (46, 10, CAST(N'2025-08-11T19:10:36.140' AS DateTime), CAST(6.32 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.322981 AS Decimal(9, 6)), CAST(-74.042974 AS Decimal(9, 6)), 0xE6100000010C5C1D00715729454003250516C08252C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (47, 10, CAST(N'2025-08-14T14:54:36.140' AS DateTime), CAST(8.88 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.348581 AS Decimal(9, 6)), CAST(-74.017374 AS Decimal(9, 6)), 0xE6100000010CE5805D4D9E2C45403F73D6A71C8152C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (48, 10, CAST(N'2025-08-17T10:54:36.140' AS DateTime), CAST(11.44 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.374181 AS Decimal(9, 6)), CAST(-73.991774 AS Decimal(9, 6)), 0xE6100000010C6DE4BA29E52F45407BC1A739797F52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (49, 10, CAST(N'2025-08-20T05:02:36.140' AS DateTime), CAST(493.52 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.394981 AS Decimal(9, 6)), CAST(-73.970974 AS Decimal(9, 6)), 0xE6100000010C4CC5C6BC8E3245400BD12170247E52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (50, 10, CAST(N'2025-08-22T23:26:36.140' AS DateTime), CAST(496.08 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.320581 AS Decimal(9, 6)), CAST(-74.045374 AS Decimal(9, 6)), 0xE6100000010C075C57CC08294540AD855968E78252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (51, 11, CAST(N'2025-08-11T23:26:36.140' AS DateTime), CAST(47.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.685276 AS Decimal(9, 6)), CAST(-80.219188 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB75744403EEB1A2D070E54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (52, 11, CAST(N'2025-08-11T23:26:36.140' AS DateTime), CAST(49.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.710876 AS Decimal(9, 6)), CAST(-80.193588 AS Decimal(9, 6)), 0xE6100000010C72C119FCFD5A44407A39ECBE630C54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (53, 11, CAST(N'2025-08-11T23:42:36.140' AS DateTime), CAST(52.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.736476 AS Decimal(9, 6)), CAST(-80.167988 AS Decimal(9, 6)), 0xE6100000010CFB2477D8445E4440B587BD50C00A54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (54, 11, CAST(N'2025-08-14T22:06:36.140' AS DateTime), CAST(34.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.757276 AS Decimal(9, 6)), CAST(-80.147188 AS Decimal(9, 6)), 0xE6100000010CD905836BEE604440469737876B0954C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (55, 11, CAST(N'2025-08-17T20:46:36.140' AS DateTime), CAST(37.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.682876 AS Decimal(9, 6)), CAST(-80.221588 AS Decimal(9, 6)), 0xE6100000010C959C137B68574440E84B6F7F2E0E54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (56, 12, CAST(N'2025-08-09T20:46:36.140' AS DateTime), CAST(252.08 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.468876 AS Decimal(9, 6)), CAST(-104.969650 AS Decimal(9, 6)), 0xE6100000010C8DF0F62004BC404040A4DFBE0E3E5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (57, 12, CAST(N'2025-08-10T18:06:36.140' AS DateTime), CAST(254.64 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.494476 AS Decimal(9, 6)), CAST(-104.944050 AS Decimal(9, 6)), 0xE6100000010C155454FD4ABF40407CF2B0506B3C5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (58, 12, CAST(N'2025-08-11T15:42:36.140' AS DateTime), CAST(257.20 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.420076 AS Decimal(9, 6)), CAST(-105.018450 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5B540401EA7E8482E415AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (59, 12, CAST(N'2025-08-12T11:26:36.140' AS DateTime), CAST(239.28 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.440876 AS Decimal(9, 6)), CAST(-104.997650 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6EB84040AEB6627FD93F5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (60, 12, CAST(N'2025-08-13T07:26:36.140' AS DateTime), CAST(241.84 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.466476 AS Decimal(9, 6)), CAST(-104.972050 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB5BB4040EA043411363E5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (61, 13, CAST(N'2025-08-10T01:02:36.140' AS DateTime), CAST(293.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.805029 AS Decimal(9, 6)), CAST(-122.389218 AS Decimal(9, 6)), 0xE6100000010C71AAB5300BE74240EE409DF2E8985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (62, 13, CAST(N'2025-08-11T02:38:36.140' AS DateTime), CAST(295.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-122.463618 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD424090F5D4EAAB9D5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (63, 13, CAST(N'2025-08-12T04:30:36.140' AS DateTime), CAST(298.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-122.438018 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240CC43A67C089C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (64, 13, CAST(N'2025-08-13T04:30:36.140' AS DateTime), CAST(280.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.777029 AS Decimal(9, 6)), CAST(-122.417218 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75E342405D5320B3B39A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (65, 13, CAST(N'2025-08-14T04:46:36.140' AS DateTime), CAST(282.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-122.391618 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424098A1F14410995EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (66, 14, CAST(N'2025-08-09T12:14:36.140' AS DateTime), CAST(170.16 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-122.418018 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240EBC891CEC09A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (67, 14, CAST(N'2025-08-10T01:02:36.140' AS DateTime), CAST(172.72 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-122.392418 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E64240271763601D995EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (68, 14, CAST(N'2025-08-10T14:06:36.140' AS DateTime), CAST(175.28 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240C9CB9A58E09D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (69, 14, CAST(N'2025-08-11T01:18:36.140' AS DateTime), CAST(157.36 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.748229 AS Decimal(9, 6)), CAST(-122.446018 AS Decimal(9, 6)), 0xE6100000010C9B75C6F7C5DF424059DB148F8B9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (70, 14, CAST(N'2025-08-11T12:46:36.140' AS DateTime), CAST(159.92 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.773829 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C23D923D40CE342409529E620E89A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (71, 15, CAST(N'2025-08-09T16:30:36.140' AS DateTime), CAST(211.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.771327 AS Decimal(9, 6)), CAST(-95.358804 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75C53D40236B0DA5F6D657C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (72, 15, CAST(N'2025-08-10T09:34:36.140' AS DateTime), CAST(213.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.796927 AS Decimal(9, 6)), CAST(-95.333204 AS Decimal(9, 6)), 0xE6100000010CA54C6A6803CC3D405EB9DE3653D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (73, 15, CAST(N'2025-08-11T02:54:36.140' AS DateTime), CAST(216.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.722527 AS Decimal(9, 6)), CAST(-95.407604 AS Decimal(9, 6)), 0xE6100000010C1C7A8B87F7B83D40016E162F16DA57C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (74, 15, CAST(N'2025-08-11T18:22:36.140' AS DateTime), CAST(198.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.743327 AS Decimal(9, 6)), CAST(-95.386804 AS Decimal(9, 6)), 0xE6100000010CDA3BA3AD4ABE3D40917D9065C1D857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (75, 15, CAST(N'2025-08-12T10:06:36.140' AS DateTime), CAST(200.88 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.768927 AS Decimal(9, 6)), CAST(-95.361204 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8C43D40CDCB61F71DD757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (76, 16, CAST(N'2025-08-10T13:50:36.140' AS DateTime), CAST(415.92 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.719327 AS Decimal(9, 6)), CAST(-95.410804 AS Decimal(9, 6)), 0xE6100000010C3A2174D025B83D403944DC9C4ADA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (77, 16, CAST(N'2025-08-12T04:14:36.140' AS DateTime), CAST(418.48 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.744927 AS Decimal(9, 6)), CAST(-95.385204 AS Decimal(9, 6)), 0xE6100000010C4BE82E89B3BE3D407592AD2EA7D857C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (78, 16, CAST(N'2025-08-13T18:54:36.140' AS DateTime), CAST(421.04 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.770527 AS Decimal(9, 6)), CAST(-95.359604 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141C53D40B1E07EC003D757C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (79, 16, CAST(N'2025-08-15T07:42:36.140' AS DateTime), CAST(403.12 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.791327 AS Decimal(9, 6)), CAST(-95.338804 AS Decimal(9, 6)), 0xE6100000010C1971016894CA3D4041F0F8F6AED557C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (80, 16, CAST(N'2025-08-16T20:46:36.140' AS DateTime), CAST(405.68 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.716927 AS Decimal(9, 6)), CAST(-95.413204 AS Decimal(9, 6)), 0xE6100000010C909E228788B73D40E3A430EF71DA57C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (81, 17, CAST(N'2025-08-10T18:06:36.140' AS DateTime), CAST(456.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.416876 AS Decimal(9, 6)), CAST(-87.661199 AS Decimal(9, 6)), 0xE6100000010C603E59315CB5404077499C1551EA55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (82, 17, CAST(N'2025-08-12T12:46:36.140' AS DateTime), CAST(459.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.442476 AS Decimal(9, 6)), CAST(-87.635599 AS Decimal(9, 6)), 0xE6100000010CE8A1B60DA3B84040B3976DA7ADE855C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (83, 17, CAST(N'2025-08-14T07:42:36.140' AS DateTime), CAST(462.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.468076 AS Decimal(9, 6)), CAST(-87.609999 AS Decimal(9, 6)), 0xE6100000010C710514EAE9BB4040EFE53E390AE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (84, 17, CAST(N'2025-08-16T00:46:36.140' AS DateTime), CAST(444.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.488876 AS Decimal(9, 6)), CAST(-87.589199 AS Decimal(9, 6)), 0xE6100000010C4FE61F7D93BE40407FF5B86FB5E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (85, 17, CAST(N'2025-08-17T18:06:36.140' AS DateTime), CAST(446.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.414476 AS Decimal(9, 6)), CAST(-87.663599 AS Decimal(9, 6)), 0xE6100000010C0B7DB08C0DB5404022AAF06778EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (86, 18, CAST(N'2025-08-10T05:18:36.140' AS DateTime), CAST(334.00 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-71.019084 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E842401FF818AC38C151C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (87, 18, CAST(N'2025-08-11T11:10:36.140' AS DateTime), CAST(336.56 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.740229 AS Decimal(9, 6)), CAST(-71.093484 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFDE4240C1AC50A4FBC551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (88, 18, CAST(N'2025-08-12T17:18:36.140' AS DateTime), CAST(339.12 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.765829 AS Decimal(9, 6)), CAST(-71.067884 AS Decimal(9, 6)), 0xE6100000010C08AA46AF06E24240FDFA213658C451C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (89, 18, CAST(N'2025-08-13T21:34:36.140' AS DateTime), CAST(321.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-71.047084 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E442408D0A9C6C03C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (90, 18, CAST(N'2025-08-15T02:06:36.140' AS DateTime), CAST(323.76 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-71.021484 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E74240C9586DFE5FC151C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (91, 19, CAST(N'2025-08-10T09:34:36.140' AS DateTime), CAST(374.96 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.824229 AS Decimal(9, 6)), CAST(-95.320404 AS Decimal(9, 6)), 0xE6100000010C18B5FB5580E942407C60C77F81D457C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (92, 19, CAST(N'2025-08-11T19:42:36.140' AS DateTime), CAST(377.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.749829 AS Decimal(9, 6)), CAST(-95.394804 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FADF42401E15FF7744D957C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (93, 19, CAST(N'2025-08-13T06:06:36.140' AS DateTime), CAST(380.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.775429 AS Decimal(9, 6)), CAST(-95.369204 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141E342405A63D009A1D757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (94, 19, CAST(N'2025-08-14T14:38:36.140' AS DateTime), CAST(362.16 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.796229 AS Decimal(9, 6)), CAST(-95.348404 AS Decimal(9, 6)), 0xE6100000010C3A90F5D4EAE54240EB724A404CD657C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (95, 19, CAST(N'2025-08-15T23:26:36.140' AS DateTime), CAST(364.72 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.821829 AS Decimal(9, 6)), CAST(-95.322804 AS Decimal(9, 6)), 0xE6100000010CC3F352B131E9424027C11BD2A8D457C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (96, 20, CAST(N'2025-08-11T06:54:36.140' AS DateTime), CAST(79.76 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E24240B114C957029B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (97, 20, CAST(N'2025-08-13T14:22:36.140' AS DateTime), CAST(82.32 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE64240ED629AE95E995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (98, 20, CAST(N'2025-08-15T22:06:36.140' AS DateTime), CAST(84.88 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E9424029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (99, 20, CAST(N'2025-08-18T03:58:36.140' AS DateTime), CAST(66.96 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF424020274C18CD9C5EC0, N'Grocery', 1)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (100, 20, CAST(N'2025-08-20T10:06:36.140' AS DateTime), CAST(69.52 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-122.424418 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242405C751DAA299B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (101, 21, CAST(N'2025-08-11T11:10:36.140' AS DateTime), CAST(120.72 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-122.412418 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E442400892770E659A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (102, 21, CAST(N'2025-08-13T22:54:36.140' AS DateTime), CAST(123.28 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.807429 AS Decimal(9, 6)), CAST(-122.386818 AS Decimal(9, 6)), 0xE6100000010CC66B5ED559E7424044E048A0C1985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (103, 21, CAST(N'2025-08-16T10:54:36.140' AS DateTime), CAST(125.84 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (104, 21, CAST(N'2025-08-18T21:02:36.140' AS DateTime), CAST(107.92 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE0424076A4FACE2F9C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (105, 21, CAST(N'2025-08-21T07:26:36.140' AS DateTime), CAST(110.48 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.779429 AS Decimal(9, 6)), CAST(-122.414818 AS Decimal(9, 6)), 0xE6100000010CE9465854C4E34240B2F2CB608C9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (106, 22, CAST(N'2025-08-10T22:22:36.140' AS DateTime), CAST(497.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.426476 AS Decimal(9, 6)), CAST(-122.441218 AS Decimal(9, 6)), 0xE6100000010CB343FCC396B64040051A6CEA3C9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (107, 22, CAST(N'2025-08-12T21:18:36.140' AS DateTime), CAST(500.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.452076 AS Decimal(9, 6)), CAST(-122.415618 AS Decimal(9, 6)), 0xE6100000010C3BA759A0DDB9404040683D7C999A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (108, 22, CAST(N'2025-08-14T20:30:36.140' AS DateTime), CAST(502.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.477676 AS Decimal(9, 6)), CAST(-122.390018 AS Decimal(9, 6)), 0xE6100000010CC40AB77C24BD40407CB60E0EF6985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (109, 22, CAST(N'2025-08-16T17:50:36.140' AS DateTime), CAST(485.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.398476 AS Decimal(9, 6)), CAST(-122.469218 AS Decimal(9, 6)), 0xE6100000010CD61EF64201B34040732CEFAA079E5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (110, 22, CAST(N'2025-08-18T15:26:36.140' AS DateTime), CAST(487.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.424076 AS Decimal(9, 6)), CAST(-122.443618 AS Decimal(9, 6)), 0xE6100000010C5E82531F48B64040AF7AC03C649C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (111, 23, CAST(N'2025-08-11T02:38:36.140' AS DateTime), CAST(38.80 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.762629 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010C97FDBAD39DE142405B971AA19F9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (112, 23, CAST(N'2025-08-13T05:50:36.140' AS DateTime), CAST(41.36 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E4424097E5EB32FC995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (113, 23, CAST(N'2025-08-15T09:18:36.140' AS DateTime), CAST(43.92 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (114, 23, CAST(N'2025-08-17T10:54:36.140' AS DateTime), CAST(26.00 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (115, 23, CAST(N'2025-08-19T12:46:36.140' AS DateTime), CAST(28.56 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (116, 24, CAST(N'2025-08-08T23:58:36.140' AS DateTime), CAST(243.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.797381 AS Decimal(9, 6)), CAST(-80.155988 AS Decimal(9, 6)), 0xE6100000010CA873452921CC394061A417B5FB0954C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (117, 24, CAST(N'2025-08-09T00:30:36.140' AS DateTime), CAST(246.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.722981 AS Decimal(9, 6)), CAST(-80.230388 AS Decimal(9, 6)), 0xE6100000010C1FA1664815B9394004594FADBE0E54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (118, 24, CAST(N'2025-08-09T01:18:36.140' AS DateTime), CAST(248.72 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.748581 AS Decimal(9, 6)), CAST(-80.204788 AS Decimal(9, 6)), 0xE6100000010C30682101A3BF39403FA7203F1B0D54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (119, 24, CAST(N'2025-08-12T00:14:36.140' AS DateTime), CAST(230.80 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.769381 AS Decimal(9, 6)), CAST(-80.183988 AS Decimal(9, 6)), 0xE6100000010CED293927F6C43940D0B69A75C60B54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (120, 24, CAST(N'2025-08-14T23:26:36.140' AS DateTime), CAST(233.36 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.794981 AS Decimal(9, 6)), CAST(-80.158388 AS Decimal(9, 6)), 0xE6100000010CFEF0F3DF83CB39400C056C07230A54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (121, 25, CAST(N'2025-08-09T04:14:36.140' AS DateTime), CAST(284.56 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.820229 AS Decimal(9, 6)), CAST(-95.324404 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDE8424043ACFE08C3D457C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (122, 25, CAST(N'2025-08-09T09:02:36.140' AS DateTime), CAST(287.12 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-95.398804 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF4240E560360186D957C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (123, 25, CAST(N'2025-08-09T14:06:36.140' AS DateTime), CAST(289.68 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-95.373204 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424021AF0793E2D757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (124, 25, CAST(N'2025-08-09T17:18:36.140' AS DateTime), CAST(271.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-95.352404 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240B2BE81C98DD657C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (125, 25, CAST(N'2025-08-09T20:46:36.140' AS DateTime), CAST(274.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-95.326804 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE84240ED0C535BEAD457C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (126, 26, CAST(N'2025-08-11T15:26:36.140' AS DateTime), CAST(161.68 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-122.402818 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE542405E0F26C5C7995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (127, 26, CAST(N'2025-08-14T07:26:36.140' AS DateTime), CAST(164.24 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (128, 26, CAST(N'2025-08-16T23:42:36.140' AS DateTime), CAST(166.80 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (129, 26, CAST(N'2025-08-19T14:06:36.140' AS DateTime), CAST(148.88 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-122.430818 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E14240CD21A985929B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (130, 26, CAST(N'2025-08-22T04:46:36.140' AS DateTime), CAST(151.44 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE4424009707A17EF995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (131, 27, CAST(N'2025-08-11T19:42:36.140' AS DateTime), CAST(202.64 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-87.603599 AS Decimal(9, 6)), 0xE6100000010CE412471E88E642407E39B35DA1E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (132, 27, CAST(N'2025-08-14T15:58:36.140' AS DateTime), CAST(205.20 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-87.677999 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424020EEEA5564EB55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (133, 27, CAST(N'2025-08-17T12:30:36.140' AS DateTime), CAST(207.76 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-87.652399 AS Decimal(9, 6)), 0xE6100000010C280D350A49E042405C3CBCE7C0E955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (134, 27, CAST(N'2025-08-20T07:10:36.140' AS DateTime), CAST(189.84 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.773029 AS Decimal(9, 6)), CAST(-87.631599 AS Decimal(9, 6)), 0xE6100000010C07EE409DF2E24240EC4B361E6CE855C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (135, 27, CAST(N'2025-08-23T02:06:36.140' AS DateTime), CAST(192.40 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.798629 AS Decimal(9, 6)), CAST(-87.605999 AS Decimal(9, 6)), 0xE6100000010C8F519E7939E64240289A07B0C8E655C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (136, 28, CAST(N'2025-08-09T17:02:36.140' AS DateTime), CAST(407.44 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.852213 AS Decimal(9, 6)), CAST(-80.217588 AS Decimal(9, 6)), 0xE6100000010CEF1CCA5015ED4440220038F6EC0D54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (137, 28, CAST(N'2025-08-10T10:38:36.140' AS DateTime), CAST(410.00 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.877813 AS Decimal(9, 6)), CAST(-80.191988 AS Decimal(9, 6)), 0xE6100000010C7880272D5CF044405D4E0988490C54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (138, 28, CAST(N'2025-08-11T04:30:36.140' AS DateTime), CAST(412.56 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.903413 AS Decimal(9, 6)), CAST(-80.166388 AS Decimal(9, 6)), 0xE6100000010C00E48409A3F34440999CDA19A60A54C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (139, 28, CAST(N'2025-08-11T20:30:36.140' AS DateTime), CAST(394.64 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.924213 AS Decimal(9, 6)), CAST(-80.145588 AS Decimal(9, 6)), 0xE6100000010CDFC4909C4CF644402AAC5450510954C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (140, 28, CAST(N'2025-08-12T12:46:36.140' AS DateTime), CAST(397.20 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.849813 AS Decimal(9, 6)), CAST(-80.219988 AS Decimal(9, 6)), 0xE6100000010C9A5B21ACC6EC4440CC608C48140E54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (141, 29, CAST(N'2025-08-09T21:18:36.140' AS DateTime), CAST(448.40 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.722936 AS Decimal(9, 6)), CAST(-95.386004 AS Decimal(9, 6)), 0xE6100000010CEF8CB62A89DC434003081F4AB4D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (142, 29, CAST(N'2025-08-10T19:10:36.140' AS DateTime), CAST(450.96 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.748536 AS Decimal(9, 6)), CAST(-95.360404 AS Decimal(9, 6)), 0xE6100000010C78F01307D0DF43403F56F0DB10D757C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (143, 29, CAST(N'2025-08-11T17:18:36.140' AS DateTime), CAST(453.52 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.774136 AS Decimal(9, 6)), CAST(-95.334804 AS Decimal(9, 6)), 0xE6100000010C005471E316E343407BA4C16D6DD557C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (144, 29, CAST(N'2025-08-12T13:34:36.140' AS DateTime), CAST(435.60 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.694936 AS Decimal(9, 6)), CAST(-95.414004 AS Decimal(9, 6)), 0xE6100000010C1268B0A9F3D84340721AA20A7FDA57C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (145, 29, CAST(N'2025-08-13T10:06:36.140' AS DateTime), CAST(438.16 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.720536 AS Decimal(9, 6)), CAST(-95.388404 AS Decimal(9, 6)), 0xE6100000010C9BCB0D863ADC4340AD68739CDBD857C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (146, 30, CAST(N'2025-08-09T08:30:36.140' AS DateTime), CAST(325.52 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.667676 AS Decimal(9, 6)), CAST(-118.288683 AS Decimal(9, 6)), 0xE6100000010C7C293C687655444051FA42C879925DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (147, 30, CAST(N'2025-08-09T17:34:36.140' AS DateTime), CAST(328.08 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.693276 AS Decimal(9, 6)), CAST(-118.263083 AS Decimal(9, 6)), 0xE6100000010C048D9944BD5844408C48145AD6905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (148, 30, CAST(N'2025-08-10T02:54:36.140' AS DateTime), CAST(330.64 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.718876 AS Decimal(9, 6)), CAST(-118.237483 AS Decimal(9, 6)), 0xE6100000010C8DF0F620045C4440C896E5EB328F5DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (149, 30, CAST(N'2025-08-10T10:22:36.140' AS DateTime), CAST(312.72 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.739676 AS Decimal(9, 6)), CAST(-118.216683 AS Decimal(9, 6)), 0xE6100000010C6CD102B4AD5E444059A65F22DE8D5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (150, 30, CAST(N'2025-08-10T18:06:36.140' AS DateTime), CAST(315.28 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.665276 AS Decimal(9, 6)), CAST(-118.291083 AS Decimal(9, 6)), 0xE6100000010C276893C327554440FB5A971AA1925DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (151, 31, CAST(N'2025-08-09T12:46:36.140' AS DateTime), CAST(366.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.726181 AS Decimal(9, 6)), CAST(-71.094284 AS Decimal(9, 6)), 0xE6100000010C01FA7DFFE6B939404F22C2BF08C651C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (152, 31, CAST(N'2025-08-10T02:06:36.140' AS DateTime), CAST(369.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.751781 AS Decimal(9, 6)), CAST(-71.068684 AS Decimal(9, 6)), 0xE6100000010C12C138B874C039408B70935165C451C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (153, 31, CAST(N'2025-08-10T15:42:36.140' AS DateTime), CAST(371.60 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.777381 AS Decimal(9, 6)), CAST(-71.043084 AS Decimal(9, 6)), 0xE6100000010C2288F37002C73940C6BE64E3C1C251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (154, 31, CAST(N'2025-08-11T03:26:36.140' AS DateTime), CAST(353.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.798181 AS Decimal(9, 6)), CAST(-71.022284 AS Decimal(9, 6)), 0xE6100000010CE0490B9755CC394057CEDE196DC151C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (155, 31, CAST(N'2025-08-11T15:26:36.140' AS DateTime), CAST(356.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.723781 AS Decimal(9, 6)), CAST(-71.096684 AS Decimal(9, 6)), 0xE6100000010C57772CB649B93940F982161230C651C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (156, 32, CAST(N'2025-08-11T01:02:36.140' AS DateTime), CAST(449.84 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.358181 AS Decimal(9, 6)), CAST(-122.333869 AS Decimal(9, 6)), 0xE6100000010C388600E0D82D45407D09151C5E955EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (157, 32, CAST(N'2025-08-13T02:38:36.140' AS DateTime), CAST(452.40 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.383781 AS Decimal(9, 6)), CAST(-122.308269 AS Decimal(9, 6)), 0xE6100000010CC0E95DBC1F314540B857E6ADBA935EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (158, 32, CAST(N'2025-08-15T04:30:36.140' AS DateTime), CAST(454.96 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.409381 AS Decimal(9, 6)), CAST(-122.282669 AS Decimal(9, 6)), 0xE6100000010C494DBB9866344540F4A5B73F17925EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (159, 32, CAST(N'2025-08-17T04:30:36.140' AS DateTime), CAST(437.04 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.330181 AS Decimal(9, 6)), CAST(-122.361869 AS Decimal(9, 6)), 0xE6100000010C5B61FA5E432A4540EB1B98DC28975EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (160, 32, CAST(N'2025-08-19T04:46:36.140' AS DateTime), CAST(439.60 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.355781 AS Decimal(9, 6)), CAST(-122.336269 AS Decimal(9, 6)), 0xE6100000010CE3C4573B8A2D4540276A696E85955EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (161, 33, CAST(N'2025-08-11T05:18:36.140' AS DateTime), CAST(490.80 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.782629 AS Decimal(9, 6)), CAST(-87.621999 AS Decimal(9, 6)), 0xE6100000010C5AF3E32F2DE4424043C9E4D4CEE755C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (162, 33, CAST(N'2025-08-13T11:10:36.140' AS DateTime), CAST(493.36 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.808229 AS Decimal(9, 6)), CAST(-87.596399 AS Decimal(9, 6)), 0xE6100000010CE256410C74E742407F17B6662BE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (163, 33, CAST(N'2025-08-15T17:18:36.140' AS DateTime), CAST(495.92 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.733829 AS Decimal(9, 6)), CAST(-87.670799 AS Decimal(9, 6)), 0xE6100000010C9EEDD11BEEDD424021CCED5EEEEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (164, 33, CAST(N'2025-08-17T21:34:36.140' AS DateTime), CAST(478.00 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-87.649999 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E04240B1DB679599E955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (165, 33, CAST(N'2025-08-20T02:06:36.140' AS DateTime), CAST(480.56 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.780229 AS Decimal(9, 6)), CAST(-87.624399 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEE34240ED293927F6E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (166, 34, CAST(N'2025-08-10T16:30:36.140' AS DateTime), CAST(367.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.718136 AS Decimal(9, 6)), CAST(-95.390804 AS Decimal(9, 6)), 0xE6100000010C460A65E1EBDB434058C9C7EE02D957C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (167, 34, CAST(N'2025-08-12T09:34:36.140' AS DateTime), CAST(370.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.743736 AS Decimal(9, 6)), CAST(-95.365204 AS Decimal(9, 6)), 0xE6100000010CCE6DC2BD32DF4340941799805FD757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (168, 34, CAST(N'2025-08-14T02:54:36.140' AS DateTime), CAST(373.04 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.769336 AS Decimal(9, 6)), CAST(-95.339604 AS Decimal(9, 6)), 0xE6100000010C57D11F9A79E24340CF656A12BCD557C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (169, 34, CAST(N'2025-08-15T18:22:36.140' AS DateTime), CAST(355.12 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.690136 AS Decimal(9, 6)), CAST(-95.418804 AS Decimal(9, 6)), 0xE6100000010C69E55E6056D84340C6DB4AAFCDDA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (170, 34, CAST(N'2025-08-17T10:06:36.140' AS DateTime), CAST(357.68 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.715736 AS Decimal(9, 6)), CAST(-95.393204 AS Decimal(9, 6)), 0xE6100000010CF148BC3C9DDB4340022A1C412AD957C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (171, 35, CAST(N'2025-08-10T20:46:36.140' AS DateTime), CAST(408.88 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.701276 AS Decimal(9, 6)), CAST(-122.430818 AS Decimal(9, 6)), 0xE6100000010C1FBC7669C3594440CD21A985929B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (172, 35, CAST(N'2025-08-12T18:06:36.140' AS DateTime), CAST(411.44 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.726876 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010CA71FD4450A5D444009707A17EF995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (173, 35, CAST(N'2025-08-14T15:42:36.140' AS DateTime), CAST(414.00 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.752476 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010C308331225160444044BE4BA94B985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (174, 35, CAST(N'2025-08-16T11:26:36.140' AS DateTime), CAST(396.08 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.673276 AS Decimal(9, 6)), CAST(-122.458818 AS Decimal(9, 6)), 0xE6100000010C429770E82D5644403B342C465D9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (175, 35, CAST(N'2025-08-18T07:26:36.140' AS DateTime), CAST(398.64 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.698876 AS Decimal(9, 6)), CAST(-122.433218 AS Decimal(9, 6)), 0xE6100000010CCAFACDC4745944407782FDD7B99B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (176, 36, CAST(N'2025-08-11T18:06:36.140' AS DateTime), CAST(113.68 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.642709 AS Decimal(9, 6)), CAST(-95.333204 AS Decimal(9, 6)), 0xE6100000010C25ECDB4944D247405EB9DE3653D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (177, 36, CAST(N'2025-08-14T12:46:36.140' AS DateTime), CAST(116.24 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.568309 AS Decimal(9, 6)), CAST(-95.407604 AS Decimal(9, 6)), 0xE6100000010CE0826C59BEC84740016E162F16DA57C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (178, 36, CAST(N'2025-08-17T07:42:36.140' AS DateTime), CAST(118.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.593909 AS Decimal(9, 6)), CAST(-95.382004 AS Decimal(9, 6)), 0xE6100000010C68E6C93505CC47403CBCE7C072D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (179, 36, CAST(N'2025-08-20T00:46:36.140' AS DateTime), CAST(100.88 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.614709 AS Decimal(9, 6)), CAST(-95.361204 AS Decimal(9, 6)), 0xE6100000010C47C7D5C8AECE4740CDCB61F71DD757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (180, 36, CAST(N'2025-08-22T18:06:36.140' AS DateTime), CAST(103.44 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.640309 AS Decimal(9, 6)), CAST(-95.335604 AS Decimal(9, 6)), 0xE6100000010CD02A33A5F5D14740091A33897AD557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (181, 37, CAST(N'2025-08-11T22:22:36.140' AS DateTime), CAST(154.64 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.924213 AS Decimal(9, 6)), CAST(-87.583599 AS Decimal(9, 6)), 0xE6100000010CDFC4909C4CF644409DBE9EAF59E555C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (182, 37, CAST(N'2025-08-14T21:18:36.140' AS DateTime), CAST(157.20 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.849813 AS Decimal(9, 6)), CAST(-87.657999 AS Decimal(9, 6)), 0xE6100000010C9A5B21ACC6EC44403F73D6A71CEA55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (183, 37, CAST(N'2025-08-17T20:30:36.140' AS DateTime), CAST(159.76 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.875413 AS Decimal(9, 6)), CAST(-87.632399 AS Decimal(9, 6)), 0xE6100000010C23BF7E880DF044407BC1A73979E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (184, 37, CAST(N'2025-08-20T17:50:36.140' AS DateTime), CAST(141.84 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.896213 AS Decimal(9, 6)), CAST(-87.611599 AS Decimal(9, 6)), 0xE6100000010C02A08A1BB7F244400BD1217024E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (185, 37, CAST(N'2025-08-23T15:26:36.140' AS DateTime), CAST(144.40 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.921813 AS Decimal(9, 6)), CAST(-87.585999 AS Decimal(9, 6)), 0xE6100000010C8A03E8F7FDF54440471FF30181E555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (186, 38, CAST(N'2025-08-11T09:34:36.140' AS DateTime), CAST(31.76 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.623509 AS Decimal(9, 6)), CAST(-122.402018 AS Decimal(9, 6)), 0xE6100000010C7EE19524CFCF4740D099B4A9BA995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (187, 38, CAST(N'2025-08-13T19:42:36.140' AS DateTime), CAST(34.32 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.649109 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C0745F30016D347400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (188, 38, CAST(N'2025-08-16T06:06:36.140' AS DateTime), CAST(36.88 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.574709 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CC2DB831090C94740AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (189, 38, CAST(N'2025-08-18T14:38:36.140' AS DateTime), CAST(18.96 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.595509 AS Decimal(9, 6)), CAST(-122.430018 AS Decimal(9, 6)), 0xE6100000010CA1BC8FA339CC47403FAC376A859B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (190, 38, CAST(N'2025-08-20T23:26:36.140' AS DateTime), CAST(21.52 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.621109 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010C2920ED7F80CF47407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (191, 39, CAST(N'2025-08-11T13:50:36.140' AS DateTime), CAST(72.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-122.392418 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E64240271763601D995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (192, 39, CAST(N'2025-08-14T04:14:36.140' AS DateTime), CAST(75.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240C9CB9A58E09D5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (193, 39, CAST(N'2025-08-16T18:54:36.140' AS DateTime), CAST(77.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-122.441218 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240051A6CEA3C9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (194, 39, CAST(N'2025-08-19T07:42:36.140' AS DateTime), CAST(59.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.773829 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C23D923D40CE342409529E620E89A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (195, 39, CAST(N'2025-08-21T20:46:36.140' AS DateTime), CAST(62.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.799429 AS Decimal(9, 6)), CAST(-122.394818 AS Decimal(9, 6)), 0xE6100000010CAC3C81B053E64240D177B7B244995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (196, 40, CAST(N'2025-08-09T11:10:36.140' AS DateTime), CAST(277.52 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.853013 AS Decimal(9, 6)), CAST(-80.216788 AS Decimal(9, 6)), 0xE6100000010C0B08AD872FED4440938AC6DADF0D54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (197, 40, CAST(N'2025-08-09T22:54:36.140' AS DateTime), CAST(280.08 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.878613 AS Decimal(9, 6)), CAST(-80.191188 AS Decimal(9, 6)), 0xE6100000010C946B0A6476F04440CFD8976C3C0C54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (198, 40, CAST(N'2025-08-10T10:54:36.140' AS DateTime), CAST(282.64 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.904213 AS Decimal(9, 6)), CAST(-80.165588 AS Decimal(9, 6)), 0xE6100000010C1CCF6740BDF344400B2769FE980A54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (199, 40, CAST(N'2025-08-10T21:02:36.140' AS DateTime), CAST(264.72 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.925013 AS Decimal(9, 6)), CAST(-80.144788 AS Decimal(9, 6)), 0xE6100000010CFBAF73D366F644409C36E334440954C0, N'Restaurant', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (200, 40, CAST(N'2025-08-11T07:26:36.140' AS DateTime), CAST(267.28 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.850613 AS Decimal(9, 6)), CAST(-80.219188 AS Decimal(9, 6)), 0xE6100000010CB74604E3E0EC44403EEB1A2D070E54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (201, 41, CAST(N'2025-08-09T15:26:36.140' AS DateTime), CAST(318.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.746181 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C86E5CFB705BF3940946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (202, 41, CAST(N'2025-08-10T07:26:36.140' AS DateTime), CAST(321.04 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.771781 AS Decimal(9, 6)), CAST(-122.409218 AS Decimal(9, 6)), 0xE6100000010C97AC8A7093C53940CFBBB1A0309A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (203, 41, CAST(N'2025-08-10T23:42:36.140' AS DateTime), CAST(323.60 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.797381 AS Decimal(9, 6)), CAST(-122.383618 AS Decimal(9, 6)), 0xE6100000010CA873452921CC39400B0A83328D985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (204, 41, CAST(N'2025-08-11T14:06:36.140' AS DateTime), CAST(305.68 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.718181 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010CCC9BC3B5DAB73940028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (205, 41, CAST(N'2025-08-12T04:46:36.140' AS DateTime), CAST(308.24 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.743781 AS Decimal(9, 6)), CAST(-122.437218 AS Decimal(9, 6)), 0xE6100000010CDC627E6E68BE39403ECE3461FB9B5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (206, 42, CAST(N'2025-08-09T02:38:36.140' AS DateTime), CAST(195.60 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.716127 AS Decimal(9, 6)), CAST(-95.414004 AS Decimal(9, 6)), 0xE6100000010C58C85C1954B73D40721AA20A7FDA57C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (207, 42, CAST(N'2025-08-09T05:50:36.140' AS DateTime), CAST(198.16 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.741727 AS Decimal(9, 6)), CAST(-95.388404 AS Decimal(9, 6)), 0xE6100000010C698F17D2E1BD3D40AD68739CDBD857C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (208, 42, CAST(N'2025-08-09T09:18:36.140' AS DateTime), CAST(200.72 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.767327 AS Decimal(9, 6)), CAST(-95.362804 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FC43D40E9B6442E38D757C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (209, 42, CAST(N'2025-08-09T10:54:36.140' AS DateTime), CAST(182.80 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.788127 AS Decimal(9, 6)), CAST(-95.342004 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2C93D407AC6BE64E3D557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (210, 42, CAST(N'2025-08-09T12:46:36.140' AS DateTime), CAST(185.36 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.713727 AS Decimal(9, 6)), CAST(-95.416404 AS Decimal(9, 6)), 0xE6100000010CAE450BD0B6B63D401C7BF65CA6DA57C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (211, 43, CAST(N'2025-08-09T06:54:36.140' AS DateTime), CAST(236.56 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.726981 AS Decimal(9, 6)), CAST(-74.040574 AS Decimal(9, 6)), 0xE6100000010C39D0436D1BBA394059C4B0C3988252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (212, 43, CAST(N'2025-08-09T14:22:36.140' AS DateTime), CAST(239.12 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.752581 AS Decimal(9, 6)), CAST(-74.014974 AS Decimal(9, 6)), 0xE6100000010C4A97FE25A9C0394094128255F58052C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (213, 43, CAST(N'2025-08-09T22:06:36.140' AS DateTime), CAST(241.68 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.778181 AS Decimal(9, 6)), CAST(-73.989374 AS Decimal(9, 6)), 0xE6100000010C5B5EB9DE36C73940D06053E7517F52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (214, 43, CAST(N'2025-08-10T03:58:36.140' AS DateTime), CAST(223.76 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.798981 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C1920D1048ACC39406170CD1DFD7D52C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (215, 43, CAST(N'2025-08-10T10:06:36.140' AS DateTime), CAST(226.32 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.724581 AS Decimal(9, 6)), CAST(-74.042974 AS Decimal(9, 6)), 0xE6100000010C904DF2237EB9394003250516C08252C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (216, 44, CAST(N'2025-08-10T04:14:36.140' AS DateTime), CAST(441.36 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E4424097E5EB32FC995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (217, 44, CAST(N'2025-08-11T09:02:36.140' AS DateTime), CAST(443.92 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (218, 44, CAST(N'2025-08-12T14:06:36.140' AS DateTime), CAST(446.48 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (219, 44, CAST(N'2025-08-13T17:18:36.140' AS DateTime), CAST(428.56 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (220, 44, CAST(N'2025-08-14T20:46:36.140' AS DateTime), CAST(431.12 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E4424041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (221, 45, CAST(N'2025-08-10T08:30:36.140' AS DateTime), CAST(482.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.735676 AS Decimal(9, 6)), CAST(-95.346804 AS Decimal(9, 6)), 0xE6100000010CDE3994A12A5E4440CF87670932D657C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (222, 45, CAST(N'2025-08-11T17:34:36.140' AS DateTime), CAST(484.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.761276 AS Decimal(9, 6)), CAST(-95.321204 AS Decimal(9, 6)), 0xE6100000010C679DF17D716144400AD6389B8ED457C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (223, 45, CAST(N'2025-08-13T02:54:36.140' AS DateTime), CAST(487.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.686876 AS Decimal(9, 6)), CAST(-95.395604 AS Decimal(9, 6)), 0xE6100000010C2234828DEB574440AD8A709351D957C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (224, 45, CAST(N'2025-08-14T10:22:36.140' AS DateTime), CAST(469.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.707676 AS Decimal(9, 6)), CAST(-95.374804 AS Decimal(9, 6)), 0xE6100000010C01158E20955A44403D9AEAC9FCD757C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (225, 45, CAST(N'2025-08-15T18:06:36.140' AS DateTime), CAST(472.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.733276 AS Decimal(9, 6)), CAST(-95.349204 AS Decimal(9, 6)), 0xE6100000010C8978EBFCDB5D444079E8BB5B59D657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (226, 46, CAST(N'2025-08-09T19:42:36.140' AS DateTime), CAST(359.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.046335 AS Decimal(9, 6)), CAST(-74.011774 AS Decimal(9, 6)), 0xE6100000010C80D4264EEE0541405C3CBCE7C08052C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (227, 46, CAST(N'2025-08-10T15:58:36.140' AS DateTime), CAST(362.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.071935 AS Decimal(9, 6)), CAST(-73.986174 AS Decimal(9, 6)), 0xE6100000010C0938842A35094140988A8D791D7F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (228, 46, CAST(N'2025-08-11T12:30:36.140' AS DateTime), CAST(364.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.097535 AS Decimal(9, 6)), CAST(-73.960574 AS Decimal(9, 6)), 0xE6100000010C919BE1067C0C4140D3D85E0B7A7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (229, 46, CAST(N'2025-08-12T07:10:36.140' AS DateTime), CAST(346.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-74.039774 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD58024140CA4E3FA88B8252C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (230, 46, CAST(N'2025-08-13T02:06:36.140' AS DateTime), CAST(349.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.043935 AS Decimal(9, 6)), CAST(-74.014174 AS Decimal(9, 6)), 0xE6100000010C2B137EA99F054140069D103AE88052C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (231, 47, CAST(N'2025-08-09T23:58:36.140' AS DateTime), CAST(400.40 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-71.055084 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE342401AA20A7F86C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (232, 47, CAST(N'2025-08-11T00:30:36.140' AS DateTime), CAST(402.96 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-71.029484 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E6424056F0DB10E3C151C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (233, 47, CAST(N'2025-08-12T01:18:36.140' AS DateTime), CAST(405.52 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-71.103884 AS Decimal(9, 6)), 0xE6100000010C115663096BDD4240F8A41309A6C651C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (234, 47, CAST(N'2025-08-13T00:14:36.140' AS DateTime), CAST(387.60 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-71.083084 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E0424089B48D3F51C551C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (235, 47, CAST(N'2025-08-13T23:26:36.140' AS DateTime), CAST(390.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-71.057484 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240C5025FD1ADC351C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (236, 48, CAST(N'2025-08-10T21:18:36.140' AS DateTime), CAST(105.20 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-118.291883 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424089D00836AE925DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (237, 48, CAST(N'2025-08-12T19:10:36.140' AS DateTime), CAST(107.76 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-118.266283 AS Decimal(9, 6)), 0xE6100000010C280D350A49E04240C51EDAC70A915DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (238, 48, CAST(N'2025-08-14T17:18:36.140' AS DateTime), CAST(110.32 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.777829 AS Decimal(9, 6)), CAST(-118.240683 AS Decimal(9, 6)), 0xE6100000010CB07092E68FE34240016DAB59678F5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (239, 48, CAST(N'2025-08-16T13:34:36.140' AS DateTime), CAST(92.40 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.798629 AS Decimal(9, 6)), CAST(-118.219883 AS Decimal(9, 6)), 0xE6100000010C8F519E7939E64240917C2590128E5DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (240, 48, CAST(N'2025-08-18T10:06:36.140' AS DateTime), CAST(94.96 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.824229 AS Decimal(9, 6)), CAST(-118.194283 AS Decimal(9, 6)), 0xE6100000010C18B5FB5580E94240CDCAF6216F8C5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (241, 49, CAST(N'2025-08-11T01:34:36.140' AS DateTime), CAST(146.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.013535 AS Decimal(9, 6)), CAST(-122.458018 AS Decimal(9, 6)), 0xE6100000010CF92CCF83BB014140ADBEBA2A509D5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (242, 49, CAST(N'2025-08-13T03:42:36.140' AS DateTime), CAST(148.72 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.039135 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010C82902C6002054140E90C8CBCAC9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (243, 49, CAST(N'2025-08-15T06:06:36.140' AS DateTime), CAST(151.28 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.064735 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C0AF4893C49084140255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (244, 49, CAST(N'2025-08-17T06:38:36.140' AS DateTime), CAST(133.36 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.085535 AS Decimal(9, 6)), CAST(-122.386018 AS Decimal(9, 6)), 0xE6100000010CE9D495CFF20A4140B66AD784B4985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (245, 49, CAST(N'2025-08-19T07:26:36.140' AS DateTime), CAST(135.92 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.011135 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010CA56B26DF6C014140581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (246, 50, CAST(N'2025-08-10T12:46:36.140' AS DateTime), CAST(23.28 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.792927 AS Decimal(9, 6)), CAST(-112.041436 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDCA3D4022382EE3A6025CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (247, 50, CAST(N'2025-08-12T02:06:36.140' AS DateTime), CAST(25.84 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.718527 AS Decimal(9, 6)), CAST(-112.115836 AS Decimal(9, 6)), 0xE6100000010C024BAE62F1B73D40C4EC65DB69075CC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (248, 50, CAST(N'2025-08-13T15:42:36.140' AS DateTime), CAST(28.40 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.744127 AS Decimal(9, 6)), CAST(-112.090236 AS Decimal(9, 6)), 0xE6100000010C1212691B7FBE3D40003B376DC6055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (249, 50, CAST(N'2025-08-15T03:26:36.140' AS DateTime), CAST(10.48 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.764927 AS Decimal(9, 6)), CAST(-112.069436 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2C33D40904AB1A371045CC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (250, 50, CAST(N'2025-08-16T15:26:36.140' AS DateTime), CAST(13.04 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.790527 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FCA3D40CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (251, 51, CAST(N'2025-08-10T17:02:36.140' AS DateTime), CAST(64.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (252, 51, CAST(N'2025-08-12T10:38:36.140' AS DateTime), CAST(66.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (253, 51, CAST(N'2025-08-14T04:30:36.140' AS DateTime), CAST(69.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.768229 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C5D6BEF5355E24240786000E1439B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (254, 51, CAST(N'2025-08-15T20:30:36.140' AS DateTime), CAST(51.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE4424009707A17EF995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (255, 51, CAST(N'2025-08-17T12:46:36.140' AS DateTime), CAST(54.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E8424044BE4BA94B985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (256, 52, CAST(N'2025-08-11T14:22:36.140' AS DateTime), CAST(269.04 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (257, 52, CAST(N'2025-08-14T05:18:36.140' AS DateTime), CAST(271.60 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.790629 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C7522C15433E54240EC8497E0D4995EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (258, 52, CAST(N'2025-08-16T20:30:36.140' AS DateTime), CAST(274.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-122.378018 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE8424028D3687231985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (259, 52, CAST(N'2025-08-19T09:50:36.140' AS DateTime), CAST(256.24 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.737029 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010C0F9A5DF756DE42401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (260, 52, CAST(N'2025-08-21T23:26:36.140' AS DateTime), CAST(258.80 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.762629 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010C97FDBAD39DE142405B971AA19F9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (261, 53, CAST(N'2025-08-11T18:38:36.140' AS DateTime), CAST(310.00 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (262, 53, CAST(N'2025-08-14T13:50:36.140' AS DateTime), CAST(312.56 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (263, 53, CAST(N'2025-08-17T09:18:36.140' AS DateTime), CAST(315.12 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.725829 AS Decimal(9, 6)), CAST(-122.468418 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7DC4240E5B67D8FFA9D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (264, 53, CAST(N'2025-08-20T02:54:36.140' AS DateTime), CAST(297.20 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-122.447618 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF424076C6F7C5A59C5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (265, 53, CAST(N'2025-08-22T20:46:36.140' AS DateTime), CAST(299.76 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E24240B114C957029B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (266, 54, CAST(N'2025-08-11T05:50:36.140' AS DateTime), CAST(187.12 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-122.448418 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF4240043C69E1B29C5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (267, 54, CAST(N'2025-08-13T12:14:36.140' AS DateTime), CAST(189.68 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-122.422818 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE24240408A3A730F9B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (268, 54, CAST(N'2025-08-15T18:54:36.140' AS DateTime), CAST(192.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-122.397218 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642407BD80B056C995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (269, 54, CAST(N'2025-08-17T23:42:36.140' AS DateTime), CAST(174.32 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (270, 54, CAST(N'2025-08-20T04:46:36.140' AS DateTime), CAST(176.88 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF4240AE9CBD33DA9C5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (271, 55, CAST(N'2025-08-11T10:06:36.140' AS DateTime), CAST(228.08 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.693276 AS Decimal(9, 6)), CAST(-74.025374 AS Decimal(9, 6)), 0xE6100000010C048D9944BD584440CC0A45BA9F8152C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (272, 55, CAST(N'2025-08-13T20:46:36.140' AS DateTime), CAST(230.64 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.718876 AS Decimal(9, 6)), CAST(-73.999774 AS Decimal(9, 6)), 0xE6100000010C8DF0F620045C44400859164CFC7F52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (273, 55, CAST(N'2025-08-16T07:42:36.140' AS DateTime), CAST(233.20 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-73.974174 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F444044A7E7DD587E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (274, 55, CAST(N'2025-08-18T16:46:36.140' AS DateTime), CAST(215.28 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.665276 AS Decimal(9, 6)), CAST(-74.053374 AS Decimal(9, 6)), 0xE6100000010C276893C3275544403B1DC87A6A8352C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (275, 55, CAST(N'2025-08-21T02:06:36.140' AS DateTime), CAST(217.84 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.690876 AS Decimal(9, 6)), CAST(-74.027774 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6E584440766B990CC78152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (276, 56, CAST(N'2025-08-09T07:26:36.140' AS DateTime), CAST(432.88 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.906613 AS Decimal(9, 6)), CAST(-122.390818 AS Decimal(9, 6)), 0xE6100000010C719010E50BF444400A2C802903995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (277, 56, CAST(N'2025-08-09T15:26:36.140' AS DateTime), CAST(435.44 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.832213 AS Decimal(9, 6)), CAST(-122.465218 AS Decimal(9, 6)), 0xE6100000010C2D27A1F485EA4440ACE0B721C69D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (278, 56, CAST(N'2025-08-09T23:42:36.140' AS DateTime), CAST(438.00 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.857813 AS Decimal(9, 6)), CAST(-122.439618 AS Decimal(9, 6)), 0xE6100000010CB58AFED0CCED4440E82E89B3229C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (279, 56, CAST(N'2025-08-10T06:06:36.140' AS DateTime), CAST(420.08 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.878613 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010C946B0A6476F04440793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (280, 56, CAST(N'2025-08-10T12:46:36.140' AS DateTime), CAST(422.64 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.904213 AS Decimal(9, 6)), CAST(-122.393218 AS Decimal(9, 6)), 0xE6100000010C1CCF6740BDF34440B58CD47B2A995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (281, 57, CAST(N'2025-08-09T11:42:36.140' AS DateTime), CAST(473.84 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.777336 AS Decimal(9, 6)), CAST(-122.293869 AS Decimal(9, 6)), 0xE6100000010C7100FDBE7FE34340BA13ECBFCE925EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (282, 57, CAST(N'2025-08-09T23:58:36.140' AS DateTime), CAST(476.40 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.702936 AS Decimal(9, 6)), CAST(-122.368269 AS Decimal(9, 6)), 0xE6100000010C2D978DCEF9D943405CC823B891975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (283, 57, CAST(N'2025-08-10T12:30:36.140' AS DateTime), CAST(478.96 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.728536 AS Decimal(9, 6)), CAST(-122.342669 AS Decimal(9, 6)), 0xE6100000010CB5FAEAAA40DD43409816F549EE955EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (284, 57, CAST(N'2025-08-10T23:10:36.140' AS DateTime), CAST(461.04 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.749336 AS Decimal(9, 6)), CAST(-122.321869 AS Decimal(9, 6)), 0xE6100000010C94DBF63DEADF434029266F8099945EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (285, 57, CAST(N'2025-08-11T10:06:36.140' AS DateTime), CAST(463.60 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.774936 AS Decimal(9, 6)), CAST(-122.296269 AS Decimal(9, 6)), 0xE6100000010C1C3F541A31E3434064744012F6925EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (286, 58, CAST(N'2025-08-11T22:54:36.140' AS DateTime), CAST(350.96 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-122.410018 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E442405D3123BC3D9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (287, 58, CAST(N'2025-08-14T22:22:36.140' AS DateTime), CAST(353.52 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.809829 AS Decimal(9, 6)), CAST(-122.384418 AS Decimal(9, 6)), 0xE6100000010C1B2D077AA8E74240997FF44D9A985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (288, 58, CAST(N'2025-08-17T22:06:36.140' AS DateTime), CAST(356.08 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.735429 AS Decimal(9, 6)), CAST(-122.458818 AS Decimal(9, 6)), 0xE6100000010CD7C3978922DE42403B342C465D9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (289, 58, CAST(N'2025-08-20T19:58:36.140' AS DateTime), CAST(338.16 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-122.438018 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240CC43A67C089C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (290, 58, CAST(N'2025-08-23T18:06:36.140' AS DateTime), CAST(340.72 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-122.412418 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E442400892770E659A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (291, 59, CAST(N'2025-08-09T03:10:36.140' AS DateTime), CAST(391.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.793829 AS Decimal(9, 6)), CAST(-87.610799 AS Decimal(9, 6)), 0xE6100000010CE6CE4C309CE542407D5BB05417E755C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (292, 59, CAST(N'2025-08-09T06:54:36.140' AS DateTime), CAST(394.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.819429 AS Decimal(9, 6)), CAST(-87.585199 AS Decimal(9, 6)), 0xE6100000010C6E32AA0CE3E84240B9A981E673E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (293, 59, CAST(N'2025-08-09T10:54:36.140' AS DateTime), CAST(397.04 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-87.659599 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF42405B5EB9DE36EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (294, 59, CAST(N'2025-08-09T13:02:36.140' AS DateTime), CAST(379.12 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.765829 AS Decimal(9, 6)), CAST(-87.638799 AS Decimal(9, 6)), 0xE6100000010C08AA46AF06E24240EC6D3315E2E855C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (295, 59, CAST(N'2025-08-09T15:26:36.140' AS DateTime), CAST(381.68 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-87.613199 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE5424027BC04A73EE755C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (296, 60, CAST(N'2025-08-10T00:30:36.140' AS DateTime), CAST(96.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.845013 AS Decimal(9, 6)), CAST(-122.452418 AS Decimal(9, 6)), 0xE6100000010CF1D8CF6229EC4440CA87A06AF49C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (297, 60, CAST(N'2025-08-11T01:34:36.140' AS DateTime), CAST(99.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.870613 AS Decimal(9, 6)), CAST(-122.426818 AS Decimal(9, 6)), 0xE6100000010C793C2D3F70EF444006D671FC509B5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (298, 60, CAST(N'2025-08-12T02:54:36.140' AS DateTime), CAST(101.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.896213 AS Decimal(9, 6)), CAST(-122.401218 AS Decimal(9, 6)), 0xE6100000010C02A08A1BB7F244404224438EAD995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (299, 60, CAST(N'2025-08-13T02:22:36.140' AS DateTime), CAST(83.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.917013 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CE08096AE60F54440D333BDC458985EC0, N'Restaurant', 1)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (300, 60, CAST(N'2025-08-14T02:06:36.140' AS DateTime), CAST(86.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.842613 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C9C1727BEDAEB444075E8F4BC1B9D5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (301, 61, CAST(N'2025-08-10T04:46:36.140' AS DateTime), CAST(137.68 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.715736 AS Decimal(9, 6)), CAST(-122.442818 AS Decimal(9, 6)), 0xE6100000010CF148BC3C9DDB434021054F21579C5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (302, 61, CAST(N'2025-08-11T10:06:36.140' AS DateTime), CAST(140.24 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.741336 AS Decimal(9, 6)), CAST(-122.417218 AS Decimal(9, 6)), 0xE6100000010C79AC1919E4DE43405D5320B3B39A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (303, 61, CAST(N'2025-08-12T15:42:36.140' AS DateTime), CAST(142.80 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.766936 AS Decimal(9, 6)), CAST(-122.391618 AS Decimal(9, 6)), 0xE6100000010C021077F52AE2434098A1F14410995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (304, 61, CAST(N'2025-08-13T19:26:36.140' AS DateTime), CAST(124.88 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.787736 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CE1F08288D4E4434029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (305, 61, CAST(N'2025-08-14T23:26:36.140' AS DateTime), CAST(127.44 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.713336 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010C9C8713984EDB4340CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (306, 62, CAST(N'2025-08-09T15:58:36.140' AS DateTime), CAST(14.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.809381 AS Decimal(9, 6)), CAST(-87.581999 AS Decimal(9, 6)), 0xE6100000010CF700DD9733CF394080D3BB783FE555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (307, 62, CAST(N'2025-08-10T08:30:36.140' AS DateTime), CAST(17.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.734981 AS Decimal(9, 6)), CAST(-87.656399 AS Decimal(9, 6)), 0xE6100000010C6F2EFEB627BC39402288F37002EA55C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (308, 62, CAST(N'2025-08-11T01:18:36.140' AS DateTime), CAST(19.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.760581 AS Decimal(9, 6)), CAST(-87.630799 AS Decimal(9, 6)), 0xE6100000010C7FF5B86FB5C239405ED6C4025FE855C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (309, 62, CAST(N'2025-08-11T16:14:36.140' AS DateTime), CAST(502.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.781381 AS Decimal(9, 6)), CAST(-87.609999 AS Decimal(9, 6)), 0xE6100000010C3DB7D09508C83940EFE53E390AE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (310, 62, CAST(N'2025-08-12T07:26:36.140' AS DateTime), CAST(504.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.806981 AS Decimal(9, 6)), CAST(-87.584399 AS Decimal(9, 6)), 0xE6100000010C4E7E8B4E96CE39402B3410CB66E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (311, 63, CAST(N'2025-08-09T20:14:36.140' AS DateTime), CAST(55.76 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.732229 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010C65170CAEB9DD4240740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (312, 63, CAST(N'2025-08-10T17:02:36.140' AS DateTime), CAST(58.32 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.757829 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010CEE7A698A00E14240B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (313, 63, CAST(N'2025-08-11T14:06:36.140' AS DateTime), CAST(60.88 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-122.410818 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E44240ECA694D74A9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (314, 63, CAST(N'2025-08-12T09:18:36.140' AS DateTime), CAST(42.96 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-122.390018 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E642407CB60E0EF6985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (315, 63, CAST(N'2025-08-13T04:46:36.140' AS DateTime), CAST(45.52 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-122.464418 AS Decimal(9, 6)), 0xE6100000010C115663096BDD42401E6B4606B99D5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (316, 64, CAST(N'2025-08-11T08:30:36.140' AS DateTime), CAST(139.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.439276 AS Decimal(9, 6)), CAST(-95.378804 AS Decimal(9, 6)), 0xE6100000010C77F52A323AB8404004E621533ED857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (317, 64, CAST(N'2025-08-13T17:34:36.140' AS DateTime), CAST(141.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.464876 AS Decimal(9, 6)), CAST(-95.353204 AS Decimal(9, 6)), 0xE6100000010CFF58880E81BB40404034F3E49AD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (318, 64, CAST(N'2025-08-16T02:54:36.140' AS DateTime), CAST(144.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.490476 AS Decimal(9, 6)), CAST(-95.327604 AS Decimal(9, 6)), 0xE6100000010C88BCE5EAC7BE40407B82C476F7D457C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (319, 64, CAST(N'2025-08-18T10:22:36.140' AS DateTime), CAST(126.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.411276 AS Decimal(9, 6)), CAST(-95.406804 AS Decimal(9, 6)), 0xE6100000010C9AD024B1A4B4404072F8A41309DA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (320, 64, CAST(N'2025-08-20T18:06:36.140' AS DateTime), CAST(128.88 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.436876 AS Decimal(9, 6)), CAST(-95.381204 AS Decimal(9, 6)), 0xE6100000010C2234828DEBB74040AE4676A565D857C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (321, 65, CAST(N'2025-08-11T12:46:36.140' AS DateTime), CAST(180.08 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.052735 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010C622D3E05C0064140793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (322, 65, CAST(N'2025-08-14T02:06:36.140' AS DateTime), CAST(182.64 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.078335 AS Decimal(9, 6)), CAST(-122.393218 AS Decimal(9, 6)), 0xE6100000010CEB909BE1060A4140B58CD47B2A995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (323, 65, CAST(N'2025-08-16T15:42:36.140' AS DateTime), CAST(185.20 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.003935 AS Decimal(9, 6)), CAST(-122.467618 AS Decimal(9, 6)), 0xE6100000010CA6272CF18000414057410C74ED9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (324, 65, CAST(N'2025-08-19T03:26:36.140' AS DateTime), CAST(167.28 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.024735 AS Decimal(9, 6)), CAST(-122.446818 AS Decimal(9, 6)), 0xE6100000010C850838842A034140E75086AA989C5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (325, 65, CAST(N'2025-08-21T15:26:36.140' AS DateTime), CAST(169.84 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.050335 AS Decimal(9, 6)), CAST(-122.421218 AS Decimal(9, 6)), 0xE6100000010C0D6C956071064140239F573CF59A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (326, 66, CAST(N'2025-08-10T23:58:36.140' AS DateTime), CAST(57.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-74.034174 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF4240E71725E82F8252C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (327, 66, CAST(N'2025-08-13T00:30:36.140' AS DateTime), CAST(59.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-74.008574 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E242402366F6798C8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (328, 66, CAST(N'2025-08-15T01:18:36.140' AS DateTime), CAST(62.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-73.982974 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE642405FB4C70BE97E52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (329, 66, CAST(N'2025-08-17T00:14:36.140' AS DateTime), CAST(44.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.818629 AS Decimal(9, 6)), CAST(-73.962174 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8E84240F0C34142947D52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (330, 66, CAST(N'2025-08-18T23:26:36.140' AS DateTime), CAST(46.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-74.036574 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF42409278793A578252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (331, 67, CAST(N'2025-08-11T04:14:36.140' AS DateTime), CAST(98.16 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.741727 AS Decimal(9, 6)), CAST(-74.024574 AS Decimal(9, 6)), 0xE6100000010C698F17D2E1BD3D403E95D39E928152C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (332, 67, CAST(N'2025-08-13T09:02:36.140' AS DateTime), CAST(100.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.767327 AS Decimal(9, 6)), CAST(-73.998974 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FC43D407AE3A430EF7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (333, 67, CAST(N'2025-08-15T14:06:36.140' AS DateTime), CAST(103.28 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.792927 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDCA3D40B63176C24B7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (334, 67, CAST(N'2025-08-17T17:18:36.140' AS DateTime), CAST(85.36 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.713727 AS Decimal(9, 6)), CAST(-74.052574 AS Decimal(9, 6)), 0xE6100000010CAE450BD0B6B63D40ADA7565F5D8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (335, 67, CAST(N'2025-08-19T20:46:36.140' AS DateTime), CAST(87.92 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.739327 AS Decimal(9, 6)), CAST(-74.026974 AS Decimal(9, 6)), 0xE6100000010CBF0CC68844BD3D40E8F527F1B98152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (336, 68, CAST(N'2025-08-09T01:34:36.140' AS DateTime), CAST(302.96 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-87.600399 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E642404563EDEF6CE655C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (337, 68, CAST(N'2025-08-09T03:42:36.140' AS DateTime), CAST(305.52 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-87.674799 AS Decimal(9, 6)), 0xE6100000010C115663096BDD4240E71725E82FEB55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (338, 68, CAST(N'2025-08-09T06:06:36.140' AS DateTime), CAST(308.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-87.649199 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E042402366F6798CE955C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (339, 68, CAST(N'2025-08-09T06:38:36.140' AS DateTime), CAST(290.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-87.628399 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240B47570B037E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (340, 68, CAST(N'2025-08-09T07:26:36.140' AS DateTime), CAST(292.72 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-87.602799 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E64240F0C3414294E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (341, 69, CAST(N'2025-08-09T05:50:36.140' AS DateTime), CAST(343.92 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (342, 69, CAST(N'2025-08-09T12:14:36.140' AS DateTime), CAST(346.48 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (343, 69, CAST(N'2025-08-09T18:54:36.140' AS DateTime), CAST(349.04 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (344, 69, CAST(N'2025-08-09T23:42:36.140' AS DateTime), CAST(331.12 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E4424041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (345, 69, CAST(N'2025-08-10T04:46:36.140' AS DateTime), CAST(333.68 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.811429 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C5303CDE7DCE742407D94111780985EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (346, 70, CAST(N'2025-08-11T17:02:36.140' AS DateTime), CAST(221.04 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.785029 AS Decimal(9, 6)), CAST(-122.321869 AS Decimal(9, 6)), 0xE6100000010CAFB48CD47BE4424029266F8099945EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (347, 70, CAST(N'2025-08-14T10:38:36.140' AS DateTime), CAST(223.60 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.810629 AS Decimal(9, 6)), CAST(-122.296269 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2E7424064744012F6925EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (348, 70, CAST(N'2025-08-17T04:30:36.140' AS DateTime), CAST(226.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.736229 AS Decimal(9, 6)), CAST(-122.370669 AS Decimal(9, 6)), 0xE6100000010CF3AE7AC03CDE42400729780AB9975EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (349, 70, CAST(N'2025-08-19T20:30:36.140' AS DateTime), CAST(208.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.757029 AS Decimal(9, 6)), CAST(-122.349869 AS Decimal(9, 6)), 0xE6100000010CD28F8653E6E042409738F24064965EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (350, 70, CAST(N'2025-08-22T12:46:36.140' AS DateTime), CAST(210.80 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.782629 AS Decimal(9, 6)), CAST(-122.324269 AS Decimal(9, 6)), 0xE6100000010C5AF3E32F2DE44240D386C3D2C0945EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (351, 71, CAST(N'2025-08-11T21:18:36.140' AS DateTime), CAST(262.00 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.897813 AS Decimal(9, 6)), CAST(-112.054236 AS Decimal(9, 6)), 0xE6100000010C3A765089EBF244400491459A78035CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (352, 71, CAST(N'2025-08-14T19:10:36.140' AS DateTime), CAST(264.56 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.923413 AS Decimal(9, 6)), CAST(-112.028636 AS Decimal(9, 6)), 0xE6100000010CC2D9AD6532F6444040DF162CD5015CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (353, 71, CAST(N'2025-08-17T17:18:36.140' AS DateTime), CAST(267.12 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.849013 AS Decimal(9, 6)), CAST(-112.103036 AS Decimal(9, 6)), 0xE6100000010C7E703E75ACEC4440E2934E2498065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (354, 71, CAST(N'2025-08-20T13:34:36.140' AS DateTime), CAST(249.20 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.869813 AS Decimal(9, 6)), CAST(-112.082236 AS Decimal(9, 6)), 0xE6100000010C5D514A0856EF444072A3C85A43055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (355, 71, CAST(N'2025-08-23T10:06:36.140' AS DateTime), CAST(251.76 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.895413 AS Decimal(9, 6)), CAST(-112.056636 AS Decimal(9, 6)), 0xE6100000010CE5B4A7E49CF24440AEF199EC9F035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (356, 72, CAST(N'2025-08-09T18:38:36.140' AS DateTime), CAST(466.80 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (357, 72, CAST(N'2025-08-10T13:50:36.140' AS DateTime), CAST(469.36 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.768229 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C5D6BEF5355E24240786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (358, 72, CAST(N'2025-08-11T09:18:36.140' AS DateTime), CAST(471.92 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.793829 AS Decimal(9, 6)), CAST(-122.400418 AS Decimal(9, 6)), 0xE6100000010CE6CE4C309CE54240B4AED172A0995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (359, 72, CAST(N'2025-08-12T02:54:36.140' AS DateTime), CAST(454.00 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E8424044BE4BA94B985EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (360, 72, CAST(N'2025-08-12T20:46:36.140' AS DateTime), CAST(456.56 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.740229 AS Decimal(9, 6)), CAST(-122.454018 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFDE4240E77283A10E9D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (361, 73, CAST(N'2025-08-09T22:54:36.140' AS DateTime), CAST(7.76 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.737727 AS Decimal(9, 6)), CAST(-74.028574 AS Decimal(9, 6)), 0xE6100000010C4E603AADDBBC3D4005E10A28D48152C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (362, 73, CAST(N'2025-08-10T22:22:36.140' AS DateTime), CAST(10.32 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.763327 AS Decimal(9, 6)), CAST(-74.002974 AS Decimal(9, 6)), 0xE6100000010C5F27F56569C33D40402FDCB9308052C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (363, 73, CAST(N'2025-08-11T22:06:36.140' AS DateTime), CAST(12.88 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.788927 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7C93D407C7DAD4B8D7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (364, 73, CAST(N'2025-08-12T19:58:36.140' AS DateTime), CAST(494.96 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.809727 AS Decimal(9, 6)), CAST(-73.956574 AS Decimal(9, 6)), 0xE6100000010C2DB0C7444ACF3D400D8D2782387D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (365, 73, CAST(N'2025-08-13T18:06:36.140' AS DateTime), CAST(497.52 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.735327 AS Decimal(9, 6)), CAST(-74.030974 AS Decimal(9, 6)), 0xE6100000010CA5DDE8633EBC3D40AF415F7AFB8152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (366, 74, CAST(N'2025-08-09T10:06:36.140' AS DateTime), CAST(384.88 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.926613 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010C348639419BF6444029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (367, 74, CAST(N'2025-08-09T20:46:36.140' AS DateTime), CAST(387.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.852213 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010CEF1CCA5015ED4440CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (368, 74, CAST(N'2025-08-10T07:42:36.140' AS DateTime), CAST(390.00 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.877813 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C7880272D5CF0444007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (369, 74, CAST(N'2025-08-10T16:46:36.140' AS DateTime), CAST(372.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.898613 AS Decimal(9, 6)), CAST(-122.398818 AS Decimal(9, 6)), 0xE6100000010C566133C005F3444098C3EE3B86995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (370, 74, CAST(N'2025-08-11T02:06:36.140' AS DateTime), CAST(374.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.924213 AS Decimal(9, 6)), CAST(-122.373218 AS Decimal(9, 6)), 0xE6100000010CDFC4909C4CF64440D311C0CDE2975EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (371, 75, CAST(N'2025-08-09T14:22:36.140' AS DateTime), CAST(425.84 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.718527 AS Decimal(9, 6)), CAST(-74.047774 AS Decimal(9, 6)), 0xE6100000010C024BAE62F1B73D4058E6ADBA0E8352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (372, 75, CAST(N'2025-08-10T05:18:36.140' AS DateTime), CAST(428.40 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.744127 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C1212691B7FBE3D4094347F4C6B8152C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (373, 75, CAST(N'2025-08-10T20:30:36.140' AS DateTime), CAST(430.96 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.769727 AS Decimal(9, 6)), CAST(-73.996574 AS Decimal(9, 6)), 0xE6100000010C23D923D40CC53D40CF8250DEC77F52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (374, 75, CAST(N'2025-08-11T09:50:36.140' AS DateTime), CAST(413.04 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.790527 AS Decimal(9, 6)), CAST(-73.975774 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FCA3D406092CA14737E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (375, 75, CAST(N'2025-08-11T23:26:36.140' AS DateTime), CAST(415.60 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.716127 AS Decimal(9, 6)), CAST(-74.050174 AS Decimal(9, 6)), 0xE6100000010C58C85C1954B73D400247020D368352C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (376, 76, CAST(N'2025-08-10T11:42:36.140' AS DateTime), CAST(130.64 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-80.185588 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E34240ECA17DACE00B54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (377, 76, CAST(N'2025-08-11T23:58:36.140' AS DateTime), CAST(133.20 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-80.159988 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE7424028F04E3E3D0A54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (378, 76, CAST(N'2025-08-13T12:30:36.140' AS DateTime), CAST(135.76 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.732229 AS Decimal(9, 6)), CAST(-80.234388 AS Decimal(9, 6)), 0xE6100000010C65170CAEB9DD4240CAA48636000F54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (379, 76, CAST(N'2025-08-14T23:10:36.140' AS DateTime), CAST(117.84 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-80.213588 AS Decimal(9, 6)), 0xE6100000010C44F8174163E042405BB4006DAB0D54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (380, 76, CAST(N'2025-08-16T10:06:36.140' AS DateTime), CAST(120.40 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-80.187988 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE342409702D2FE070C54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (381, 77, CAST(N'2025-08-10T15:58:36.140' AS DateTime), CAST(171.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.728476 AS Decimal(9, 6)), CAST(-112.058236 AS Decimal(9, 6)), 0xE6100000010CE0F599B33E5D4440CADC7C23BA035CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (382, 77, CAST(N'2025-08-12T08:30:36.140' AS DateTime), CAST(174.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.754076 AS Decimal(9, 6)), CAST(-112.032636 AS Decimal(9, 6)), 0xE6100000010C6859F78F85604440062B4EB516025CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (383, 77, CAST(N'2025-08-14T01:18:36.140' AS DateTime), CAST(176.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.679676 AS Decimal(9, 6)), CAST(-112.107036 AS Decimal(9, 6)), 0xE6100000010C24F0879FFF564440A8DF85ADD9065CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (384, 77, CAST(N'2025-08-15T16:14:36.140' AS DateTime), CAST(158.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.700476 AS Decimal(9, 6)), CAST(-112.086236 AS Decimal(9, 6)), 0xE6100000010C03D19332A959444039EFFFE384055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (385, 77, CAST(N'2025-08-17T07:26:36.140' AS DateTime), CAST(161.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.726076 AS Decimal(9, 6)), CAST(-112.060636 AS Decimal(9, 6)), 0xE6100000010C8B34F10EF05C4440753DD175E1035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (386, 78, CAST(N'2025-08-10T03:10:36.140' AS DateTime), CAST(48.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.747327 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CF46A80D250BF3D40E90C8CBCAC9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (387, 78, CAST(N'2025-08-11T06:54:36.140' AS DateTime), CAST(51.28 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.772927 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEC53D40255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (388, 78, CAST(N'2025-08-12T10:54:36.140' AS DateTime), CAST(53.84 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.798527 AS Decimal(9, 6)), CAST(-122.381218 AS Decimal(9, 6)), 0xE6100000010C16F9F5436CCC3D4061A92EE065985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (389, 78, CAST(N'2025-08-13T13:02:36.140' AS DateTime), CAST(35.92 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.719327 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010C3A2174D025B83D40581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (390, 78, CAST(N'2025-08-14T15:26:36.140' AS DateTime), CAST(38.48 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.744927 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C4BE82E89B3BE3D40946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (391, 79, CAST(N'2025-08-10T07:26:36.140' AS DateTime), CAST(89.68 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-122.422818 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE24240408A3A730F9B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (392, 79, CAST(N'2025-08-11T15:26:36.140' AS DateTime), CAST(92.24 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-122.397218 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642407BD80B056C995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (393, 79, CAST(N'2025-08-12T23:42:36.140' AS DateTime), CAST(94.80 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-122.371618 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE94240B726DD96C8975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (394, 79, CAST(N'2025-08-14T06:06:36.140' AS DateTime), CAST(76.88 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF4240AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (395, 79, CAST(N'2025-08-15T12:46:36.140' AS DateTime), CAST(79.44 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-122.425218 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE24240EAEA8EC5369B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (396, 80, CAST(N'2025-08-11T04:46:36.140' AS DateTime), CAST(294.48 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.819429 AS Decimal(9, 6)), CAST(-104.945650 AS Decimal(9, 6)), 0xE6100000010C6E32AA0CE3E8424098DD9387853C5AC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (397, 80, CAST(N'2025-08-13T10:06:36.140' AS DateTime), CAST(297.04 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-105.020050 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF42403A92CB7F48415AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (398, 80, CAST(N'2025-08-15T15:42:36.140' AS DateTime), CAST(299.60 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.770629 AS Decimal(9, 6)), CAST(-104.994450 AS Decimal(9, 6)), 0xE6100000010CB22C98F8A3E2424076E09C11A53F5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (399, 80, CAST(N'2025-08-17T19:26:36.140' AS DateTime), CAST(281.68 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-104.973650 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE5424007F01648503E5AC0, N'Electronics', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (400, 80, CAST(N'2025-08-19T23:26:36.140' AS DateTime), CAST(284.24 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-104.948050 AS Decimal(9, 6)), 0xE6100000010C1971016894E84240423EE8D9AC3C5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (401, 81, CAST(N'2025-08-11T09:02:36.140' AS DateTime), CAST(335.44 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.714527 AS Decimal(9, 6)), CAST(-122.377869 AS Decimal(9, 6)), 0xE6100000010CE71BD13DEBB63D40064B75012F985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (402, 81, CAST(N'2025-08-13T18:38:36.140' AS DateTime), CAST(338.00 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.740127 AS Decimal(9, 6)), CAST(-122.352269 AS Decimal(9, 6)), 0xE6100000010CF8E28BF678BD3D40429946938B965EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (403, 81, CAST(N'2025-08-16T04:30:36.140' AS DateTime), CAST(340.56 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.765727 AS Decimal(9, 6)), CAST(-122.326669 AS Decimal(9, 6)), 0xE6100000010C08AA46AF06C43D407DE71725E8945EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (404, 81, CAST(N'2025-08-18T12:30:36.140' AS DateTime), CAST(322.64 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.786527 AS Decimal(9, 6)), CAST(-122.305869 AS Decimal(9, 6)), 0xE6100000010CC66B5ED559C93D400EF7915B93935EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (405, 81, CAST(N'2025-08-20T20:46:36.140' AS DateTime), CAST(325.20 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.712127 AS Decimal(9, 6)), CAST(-122.380269 AS Decimal(9, 6)), 0xE6100000010C3D997FF44DB63D40B0ABC95356985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (406, 82, CAST(N'2025-08-10T20:14:36.140' AS DateTime), CAST(212.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.785727 AS Decimal(9, 6)), CAST(-112.048636 AS Decimal(9, 6)), 0xE6100000010C8E95986725C93D40215A2BDA1C035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (407, 82, CAST(N'2025-08-12T17:02:36.140' AS DateTime), CAST(215.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.711327 AS Decimal(9, 6)), CAST(-112.123036 AS Decimal(9, 6)), 0xE6100000010C05C3B98619B63D40C30E63D2DF075CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (408, 82, CAST(N'2025-08-14T14:06:36.140' AS DateTime), CAST(217.68 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.736927 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C168A743FA7BC3D40FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (409, 82, CAST(N'2025-08-16T09:18:36.140' AS DateTime), CAST(199.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.757727 AS Decimal(9, 6)), CAST(-112.076636 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FAC13D408F6CAE9AE7045CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (410, 82, CAST(N'2025-08-18T04:46:36.140' AS DateTime), CAST(202.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.783327 AS Decimal(9, 6)), CAST(-112.051036 AS Decimal(9, 6)), 0xE6100000010CE412471E88C83D40CBBA7F2C44035CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (411, 83, CAST(N'2025-08-11T00:30:36.140' AS DateTime), CAST(253.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.483276 AS Decimal(9, 6)), CAST(-73.970974 AS Decimal(9, 6)), 0xE6100000010C8978EBFCDBBD40400BD12170247E52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (412, 83, CAST(N'2025-08-13T01:34:36.140' AS DateTime), CAST(256.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.408876 AS Decimal(9, 6)), CAST(-74.045374 AS Decimal(9, 6)), 0xE6100000010C450F7C0C56B44040AD855968E78252C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (413, 83, CAST(N'2025-08-15T02:54:36.140' AS DateTime), CAST(258.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.434476 AS Decimal(9, 6)), CAST(-74.019774 AS Decimal(9, 6)), 0xE6100000010CCD72D9E89CB74040E9D32AFA438152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (414, 83, CAST(N'2025-08-17T02:22:36.140' AS DateTime), CAST(240.72 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.455276 AS Decimal(9, 6)), CAST(-73.998974 AS Decimal(9, 6)), 0xE6100000010CAC53E57B46BA40407AE3A430EF7F52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (415, 83, CAST(N'2025-08-19T02:06:36.140' AS DateTime), CAST(243.28 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.480876 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010C35B742588DBD4040B63176C24B7E52C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (416, 84, CAST(N'2025-08-11T21:50:36.140' AS DateTime), CAST(458.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.342981 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010C1F1329CDE62B4540B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (417, 84, CAST(N'2025-08-14T20:14:36.140' AS DateTime), CAST(460.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.368581 AS Decimal(9, 6)), CAST(-122.410818 AS Decimal(9, 6)), 0xE6100000010CA77686A92D2F4540ECA694D74A9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (418, 84, CAST(N'2025-08-17T18:54:36.140' AS DateTime), CAST(463.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.394181 AS Decimal(9, 6)), CAST(-122.385218 AS Decimal(9, 6)), 0xE6100000010C30DAE3857432454027F56569A7985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (419, 84, CAST(N'2025-08-20T15:42:36.140' AS DateTime), CAST(445.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.314981 AS Decimal(9, 6)), CAST(-122.464418 AS Decimal(9, 6)), 0xE6100000010C42EE224C512845401E6B4606B99D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (420, 84, CAST(N'2025-08-23T12:46:36.140' AS DateTime), CAST(448.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.340581 AS Decimal(9, 6)), CAST(-122.438818 AS Decimal(9, 6)), 0xE6100000010CCA518028982B45405AB91798159C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (421, 85, CAST(N'2025-08-09T02:06:36.140' AS DateTime), CAST(499.28 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.752927 AS Decimal(9, 6)), CAST(-74.013374 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFC03D4078279F1EDB8052C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (422, 85, CAST(N'2025-08-09T04:46:36.140' AS DateTime), CAST(501.84 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.778527 AS Decimal(9, 6)), CAST(-73.987774 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DC73D40B47570B0377F52C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (423, 85, CAST(N'2025-08-09T07:42:36.140' AS DateTime), CAST(504.40 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.804127 AS Decimal(9, 6)), CAST(-73.962174 AS Decimal(9, 6)), 0xE6100000010CA2D45E44DBCD3D40F0C34142947D52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (424, 85, CAST(N'2025-08-09T08:46:36.140' AS DateTime), CAST(486.48 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.724927 AS Decimal(9, 6)), CAST(-74.041374 AS Decimal(9, 6)), 0xE6100000010CC6FCDCD094B93D40E73922DFA58252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (425, 85, CAST(N'2025-08-09T10:06:36.140' AS DateTime), CAST(489.04 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.750527 AS Decimal(9, 6)), CAST(-74.015774 AS Decimal(9, 6)), 0xE6100000010CD7C3978922C03D402288F370028152C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (426, 86, CAST(N'2025-08-11T13:18:36.140' AS DateTime), CAST(376.40 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-122.368269 AS Decimal(9, 6)), 0xE6100000010C487023658BDE42405CC823B891975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (427, 86, CAST(N'2025-08-14T03:10:36.140' AS DateTime), CAST(378.96 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-122.342669 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E142409816F549EE955EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (428, 86, CAST(N'2025-08-16T17:18:36.140' AS DateTime), CAST(381.52 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.789829 AS Decimal(9, 6)), CAST(-122.317069 AS Decimal(9, 6)), 0xE6100000010C5837DE1D19E54240D464C6DB4A945EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (429, 86, CAST(N'2025-08-19T05:34:36.140' AS DateTime), CAST(363.60 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.810629 AS Decimal(9, 6)), CAST(-122.296269 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2E7424064744012F6925EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (430, 86, CAST(N'2025-08-21T18:06:36.140' AS DateTime), CAST(366.16 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.736229 AS Decimal(9, 6)), CAST(-122.370669 AS Decimal(9, 6)), 0xE6100000010CF3AE7AC03CDE42400729780AB9975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (431, 87, CAST(N'2025-08-11T17:34:36.140' AS DateTime), CAST(417.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.686076 AS Decimal(9, 6)), CAST(-112.100636 AS Decimal(9, 6)), 0xE6100000010C06499F56D15744403733FAD170065CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (432, 87, CAST(N'2025-08-14T11:42:36.140' AS DateTime), CAST(419.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.711676 AS Decimal(9, 6)), CAST(-112.075036 AS Decimal(9, 6)), 0xE6100000010C8EACFC32185B44407381CB63CD045CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (433, 87, CAST(N'2025-08-17T06:06:36.140' AS DateTime), CAST(422.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.737276 AS Decimal(9, 6)), CAST(-112.049436 AS Decimal(9, 6)), 0xE6100000010C17105A0F5F5E4440AFCF9CF529035CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (434, 87, CAST(N'2025-08-19T22:38:36.140' AS DateTime), CAST(404.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.758076 AS Decimal(9, 6)), CAST(-112.028636 AS Decimal(9, 6)), 0xE6100000010CF6F065A20861444040DF162CD5015CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (435, 87, CAST(N'2025-08-22T15:26:36.140' AS DateTime), CAST(407.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.683676 AS Decimal(9, 6)), CAST(-112.103036 AS Decimal(9, 6)), 0xE6100000010CB187F6B182574440E2934E2498065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (436, 88, CAST(N'2025-08-09T14:54:36.140' AS DateTime), CAST(122.16 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.073535 AS Decimal(9, 6)), CAST(-112.052636 AS Decimal(9, 6)), 0xE6100000010C410E4A9869094140E8A562635E035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (437, 88, CAST(N'2025-08-10T06:22:36.140' AS DateTime), CAST(124.72 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.099135 AS Decimal(9, 6)), CAST(-112.027036 AS Decimal(9, 6)), 0xE6100000010CC971A774B00C414023F433F5BA015CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (438, 88, CAST(N'2025-08-10T22:06:36.140' AS DateTime), CAST(127.28 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.024735 AS Decimal(9, 6)), CAST(-112.101436 AS Decimal(9, 6)), 0xE6100000010C850838842A034140C6A86BED7D065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (439, 88, CAST(N'2025-08-11T11:58:36.140' AS DateTime), CAST(109.36 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.045535 AS Decimal(9, 6)), CAST(-112.080636 AS Decimal(9, 6)), 0xE6100000010C64E94317D405414056B8E52329055CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (440, 88, CAST(N'2025-08-12T02:06:36.140' AS DateTime), CAST(111.92 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.071135 AS Decimal(9, 6)), CAST(-112.055036 AS Decimal(9, 6)), 0xE6100000010CEC4CA1F31A0941409206B7B585035CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (441, 89, CAST(N'2025-08-09T19:10:36.140' AS DateTime), CAST(163.12 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.805829 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010C8E95986725E7424060CB2BD7DB985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (442, 89, CAST(N'2025-08-10T14:54:36.140' AS DateTime), CAST(165.68 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.731429 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010C492C29779FDD4240028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (443, 89, CAST(N'2025-08-11T10:54:36.140' AS DateTime), CAST(168.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.757029 AS Decimal(9, 6)), CAST(-122.437218 AS Decimal(9, 6)), 0xE6100000010CD28F8653E6E042403ECE3461FB9B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (444, 89, CAST(N'2025-08-12T05:02:36.140' AS DateTime), CAST(150.32 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.777829 AS Decimal(9, 6)), CAST(-122.416418 AS Decimal(9, 6)), 0xE6100000010CB07092E68FE34240CEDDAE97A69A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (445, 89, CAST(N'2025-08-12T23:26:36.140' AS DateTime), CAST(152.88 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-122.390818 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E642400A2C802903995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (446, 90, CAST(N'2025-08-09T06:22:36.140' AS DateTime), CAST(40.24 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.762527 AS Decimal(9, 6)), CAST(-74.003774 AS Decimal(9, 6)), 0xE6100000010C26512FF834C33D40CFA44DD53D8052C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (447, 90, CAST(N'2025-08-09T13:18:36.140' AS DateTime), CAST(42.80 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.788127 AS Decimal(9, 6)), CAST(-73.978174 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2C93D400AF31E679A7E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (448, 90, CAST(N'2025-08-09T20:30:36.140' AS DateTime), CAST(45.36 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.713727 AS Decimal(9, 6)), CAST(-74.052574 AS Decimal(9, 6)), 0xE6100000010CAE450BD0B6B63D40ADA7565F5D8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (449, 90, CAST(N'2025-08-10T01:50:36.140' AS DateTime), CAST(27.44 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.734527 AS Decimal(9, 6)), CAST(-74.031774 AS Decimal(9, 6)), 0xE6100000010C6C0723F609BC3D403DB7D095088252C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (450, 90, CAST(N'2025-08-10T07:26:36.140' AS DateTime), CAST(30.00 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.760127 AS Decimal(9, 6)), CAST(-74.006174 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97C23D407905A227658052C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (451, 91, CAST(N'2025-08-09T10:38:36.140' AS DateTime), CAST(81.20 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.460076 AS Decimal(9, 6)), CAST(-95.358004 AS Decimal(9, 6)), 0xE6100000010C56D636C5E3BA404094F59B89E9D657C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (452, 91, CAST(N'2025-08-09T21:50:36.140' AS DateTime), CAST(83.76 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.485676 AS Decimal(9, 6)), CAST(-95.332404 AS Decimal(9, 6)), 0xE6100000010CDE3994A12ABE4040D0436D1B46D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (453, 91, CAST(N'2025-08-10T09:18:36.140' AS DateTime), CAST(86.32 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.411276 AS Decimal(9, 6)), CAST(-95.406804 AS Decimal(9, 6)), 0xE6100000010C9AD024B1A4B4404072F8A41309DA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (454, 91, CAST(N'2025-08-10T18:54:36.140' AS DateTime), CAST(68.40 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.432076 AS Decimal(9, 6)), CAST(-95.386004 AS Decimal(9, 6)), 0xE6100000010C79B130444EB7404003081F4AB4D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (455, 91, CAST(N'2025-08-11T04:46:36.140' AS DateTime), CAST(70.96 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.457676 AS Decimal(9, 6)), CAST(-95.360404 AS Decimal(9, 6)), 0xE6100000010C01158E2095BA40403F56F0DB10D757C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (456, 92, CAST(N'2025-08-10T07:58:36.140' AS DateTime), CAST(286.00 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.720127 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010C73F7393E5AB83D40CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (457, 92, CAST(N'2025-08-11T16:30:36.140' AS DateTime), CAST(288.56 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.745727 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7BE3D4005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (458, 92, CAST(N'2025-08-13T01:18:36.140' AS DateTime), CAST(291.12 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.771327 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75C53D4041464085239A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (459, 92, CAST(N'2025-08-14T08:14:36.140' AS DateTime), CAST(273.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.792127 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8CA3D40D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (460, 92, CAST(N'2025-08-15T15:26:36.140' AS DateTime), CAST(275.76 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.717727 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010CC974E8F4BCB73D40740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (461, 93, CAST(N'2025-08-10T12:14:36.140' AS DateTime), CAST(326.96 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-112.104636 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF4240FE7E315BB2065CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (462, 93, CAST(N'2025-08-12T01:02:36.140' AS DateTime), CAST(329.52 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-112.079036 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242403ACD02ED0E055CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (463, 93, CAST(N'2025-08-13T14:06:36.140' AS DateTime), CAST(332.08 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-112.053436 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E54240761BD47E6B035CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (464, 93, CAST(N'2025-08-15T01:18:36.140' AS DateTime), CAST(314.16 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-112.032636 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240062B4EB516025CC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (465, 93, CAST(N'2025-08-16T12:46:36.140' AS DateTime), CAST(316.72 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-112.107036 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE4240A8DF85ADD9065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (466, 94, CAST(N'2025-08-09T23:26:36.140' AS DateTime), CAST(204.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.092735 AS Decimal(9, 6)), CAST(-95.329204 AS Decimal(9, 6)), 0xE6100000010CE71890BDDE0B4140986DA7AD11D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (467, 94, CAST(N'2025-08-10T23:26:36.140' AS DateTime), CAST(206.64 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-95.403604 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD580241403A22DFA5D4D957C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (468, 94, CAST(N'2025-08-11T23:42:36.140' AS DateTime), CAST(209.20 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.043935 AS Decimal(9, 6)), CAST(-95.378004 AS Decimal(9, 6)), 0xE6100000010C2B137EA99F0541407670B03731D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (469, 94, CAST(N'2025-08-12T22:06:36.140' AS DateTime), CAST(191.28 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.064735 AS Decimal(9, 6)), CAST(-95.357204 AS Decimal(9, 6)), 0xE6100000010C0AF4893C4908414006802A6EDCD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (470, 94, CAST(N'2025-08-13T20:46:36.140' AS DateTime), CAST(193.84 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.090335 AS Decimal(9, 6)), CAST(-95.331604 AS Decimal(9, 6)), 0xE6100000010C9357E718900B414042CEFBFF38D557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (471, 95, CAST(N'2025-08-10T03:42:36.140' AS DateTime), CAST(245.04 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-87.679599 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC42403CD9CD8C7EEB55C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (472, 95, CAST(N'2025-08-11T07:58:36.140' AS DateTime), CAST(247.60 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-87.653999 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E0424078279F1EDBE955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (473, 95, CAST(N'2025-08-12T12:30:36.140' AS DateTime), CAST(250.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-87.628399 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240B47570B037E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (474, 95, CAST(N'2025-08-13T15:10:36.140' AS DateTime), CAST(232.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-87.607599 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642404485EAE6E2E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (475, 95, CAST(N'2025-08-14T18:06:36.140' AS DateTime), CAST(234.80 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-87.581999 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE9424080D3BB783FE555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (476, 96, CAST(N'2025-08-11T15:58:36.140' AS DateTime), CAST(328.40 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.744127 AS Decimal(9, 6)), CAST(-87.645999 AS Decimal(9, 6)), 0xE6100000010C1212691B7FBE3D40EB8F300C58E955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (477, 96, CAST(N'2025-08-14T08:30:36.140' AS DateTime), CAST(330.96 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.769727 AS Decimal(9, 6)), CAST(-87.620399 AS Decimal(9, 6)), 0xE6100000010C23D923D40CC53D4027DE019EB4E755C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (478, 96, CAST(N'2025-08-17T01:18:36.140' AS DateTime), CAST(333.52 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.795327 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C34A0DE8C9ACB3D40622CD32F11E655C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (479, 96, CAST(N'2025-08-19T16:14:36.140' AS DateTime), CAST(315.60 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.716127 AS Decimal(9, 6)), CAST(-87.673999 AS Decimal(9, 6)), 0xE6100000010C58C85C1954B73D4059A2B3CC22EB55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (480, 96, CAST(N'2025-08-22T07:26:36.140' AS DateTime), CAST(318.16 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.741727 AS Decimal(9, 6)), CAST(-87.648399 AS Decimal(9, 6)), 0xE6100000010C698F17D2E1BD3D4095F0845E7FE955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (481, 97, CAST(N'2025-08-11T20:14:36.140' AS DateTime), CAST(369.36 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.871413 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C952710768AEF4440786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (482, 97, CAST(N'2025-08-14T17:02:36.140' AS DateTime), CAST(371.92 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.897013 AS Decimal(9, 6)), CAST(-122.400418 AS Decimal(9, 6)), 0xE6100000010C1E8B6D52D1F24440B4AED172A0995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (483, 97, CAST(N'2025-08-17T14:06:36.140' AS DateTime), CAST(374.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.922613 AS Decimal(9, 6)), CAST(-122.374818 AS Decimal(9, 6)), 0xE6100000010CA6EECA2E18F64440F0FCA204FD975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (484, 97, CAST(N'2025-08-20T09:18:36.140' AS DateTime), CAST(356.56 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.843413 AS Decimal(9, 6)), CAST(-122.454018 AS Decimal(9, 6)), 0xE6100000010CB8020AF5F4EB4440E77283A10E9D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (485, 97, CAST(N'2025-08-23T04:46:36.140' AS DateTime), CAST(359.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.869013 AS Decimal(9, 6)), CAST(-122.428418 AS Decimal(9, 6)), 0xE6100000010C416667D13BEF444022C154336B9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (486, 98, CAST(N'2025-08-11T07:26:36.140' AS DateTime), CAST(246.48 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (487, 98, CAST(N'2025-08-13T15:26:36.140' AS DateTime), CAST(249.04 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (488, 98, CAST(N'2025-08-15T23:42:36.140' AS DateTime), CAST(251.60 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.790629 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C7522C15433E54240EC8497E0D4995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (489, 98, CAST(N'2025-08-18T06:06:36.140' AS DateTime), CAST(233.68 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.811429 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C5303CDE7DCE742407D94111780985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (490, 98, CAST(N'2025-08-20T12:46:36.140' AS DateTime), CAST(236.24 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.737029 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010C0F9A5DF756DE42401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (491, 99, CAST(N'2025-08-11T11:42:36.140' AS DateTime), CAST(287.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.749029 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010CB760A92EE0DF4240CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (492, 99, CAST(N'2025-08-13T23:58:36.140' AS DateTime), CAST(290.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (493, 99, CAST(N'2025-08-16T12:30:36.140' AS DateTime), CAST(292.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (494, 99, CAST(N'2025-08-18T23:10:36.140' AS DateTime), CAST(274.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.821029 AS Decimal(9, 6)), CAST(-122.373218 AS Decimal(9, 6)), 0xE6100000010CA708707A17E94240D311C0CDE2975EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (495, 99, CAST(N'2025-08-21T10:06:36.140' AS DateTime), CAST(277.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-122.447618 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF424076C6F7C5A59C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (496, 100, CAST(N'2025-08-09T09:02:36.140' AS DateTime), CAST(492.24 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.900213 AS Decimal(9, 6)), CAST(-87.607599 AS Decimal(9, 6)), 0xE6100000010C8F37F92D3AF344404485EAE6E2E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (497, 100, CAST(N'2025-08-09T18:38:36.140' AS DateTime), CAST(494.80 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.925813 AS Decimal(9, 6)), CAST(-87.581999 AS Decimal(9, 6)), 0xE6100000010C179B560A81F6444080D3BB783FE555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (498, 100, CAST(N'2025-08-10T04:30:36.140' AS DateTime), CAST(497.36 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.851413 AS Decimal(9, 6)), CAST(-87.656399 AS Decimal(9, 6)), 0xE6100000010CD331E719FBEC44402288F37002EA55C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (499, 100, CAST(N'2025-08-10T12:30:36.140' AS DateTime), CAST(479.44 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.872213 AS Decimal(9, 6)), CAST(-87.635599 AS Decimal(9, 6)), 0xE6100000010CB212F3ACA4EF4440B3976DA7ADE855C0, N'Clothing', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (500, 100, CAST(N'2025-08-10T20:46:36.140' AS DateTime), CAST(482.00 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.897813 AS Decimal(9, 6)), CAST(-87.609999 AS Decimal(9, 6)), 0xE6100000010C3A765089EBF24440EFE53E390AE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (501, 101, CAST(N'2025-08-09T13:18:36.140' AS DateTime), CAST(33.20 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-95.338004 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F4440B37A87DBA1D557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (502, 101, CAST(N'2025-08-10T03:10:36.140' AS DateTime), CAST(35.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-95.412404 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440552FBFD364DA57C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (503, 101, CAST(N'2025-08-10T17:18:36.140' AS DateTime), CAST(38.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.695676 AS Decimal(9, 6)), CAST(-95.386804 AS Decimal(9, 6)), 0xE6100000010C594E42E90B594440917D9065C1D857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (504, 101, CAST(N'2025-08-11T05:34:36.140' AS DateTime), CAST(20.40 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.716476 AS Decimal(9, 6)), CAST(-95.366004 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB55B4440228D0A9C6CD757C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (505, 101, CAST(N'2025-08-11T18:06:36.140' AS DateTime), CAST(22.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.742076 AS Decimal(9, 6)), CAST(-95.340404 AS Decimal(9, 6)), 0xE6100000010CC092AB58FC5E44405EDBDB2DC9D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (506, 102, CAST(N'2025-08-09T00:30:36.140' AS DateTime), CAST(410.32 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.451276 AS Decimal(9, 6)), CAST(-74.002974 AS Decimal(9, 6)), 0xE6100000010C1FBC7669C3B94040402FDCB9308052C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (507, 102, CAST(N'2025-08-09T01:34:36.140' AS DateTime), CAST(412.88 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.476876 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010CA71FD4450ABD40407C7DAD4B8D7E52C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (508, 102, CAST(N'2025-08-09T02:54:36.140' AS DateTime), CAST(415.44 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.402476 AS Decimal(9, 6)), CAST(-74.051774 AS Decimal(9, 6)), 0xE6100000010C63B6645584B340401E32E543508352C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (509, 102, CAST(N'2025-08-12T02:22:36.140' AS DateTime), CAST(397.52 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.423276 AS Decimal(9, 6)), CAST(-74.030974 AS Decimal(9, 6)), 0xE6100000010C429770E82DB64040AF415F7AFB8152C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (510, 102, CAST(N'2025-08-15T02:06:36.140' AS DateTime), CAST(400.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.448876 AS Decimal(9, 6)), CAST(-74.005374 AS Decimal(9, 6)), 0xE6100000010CCAFACDC474B94040EB8F300C588052C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (511, 103, CAST(N'2025-08-09T04:46:36.140' AS DateTime), CAST(451.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.787429 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C04763579CAE44240255B5D4E099A5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (512, 103, CAST(N'2025-08-09T10:06:36.140' AS DateTime), CAST(453.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.813029 AS Decimal(9, 6)), CAST(-122.381218 AS Decimal(9, 6)), 0xE6100000010C8CD9925511E8424061A92EE065985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (513, 103, CAST(N'2025-08-09T15:42:36.140' AS DateTime), CAST(456.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-122.455618 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240035E66D8289D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (514, 103, CAST(N'2025-08-09T19:26:36.140' AS DateTime), CAST(438.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.759429 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C26512FF834E14240946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (515, 103, CAST(N'2025-08-09T23:26:36.140' AS DateTime), CAST(441.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.785029 AS Decimal(9, 6)), CAST(-122.409218 AS Decimal(9, 6)), 0xE6100000010CAFB48CD47BE44240CFBBB1A0309A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (516, 104, CAST(N'2025-08-10T02:06:36.140' AS DateTime), CAST(156.08 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.699736 AS Decimal(9, 6)), CAST(-122.458818 AS Decimal(9, 6)), 0xE6100000010CBCEA01F390D943403B342C465D9D5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (517, 104, CAST(N'2025-08-11T04:46:36.140' AS DateTime), CAST(158.64 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.725336 AS Decimal(9, 6)), CAST(-122.433218 AS Decimal(9, 6)), 0xE6100000010C444E5FCFD7DC43407782FDD7B99B5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (518, 104, CAST(N'2025-08-12T07:42:36.140' AS DateTime), CAST(161.20 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.750936 AS Decimal(9, 6)), CAST(-122.407618 AS Decimal(9, 6)), 0xE6100000010CCDB1BCAB1EE04340B3D0CE69169A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (519, 104, CAST(N'2025-08-13T08:46:36.140' AS DateTime), CAST(143.28 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.771736 AS Decimal(9, 6)), CAST(-122.386818 AS Decimal(9, 6)), 0xE6100000010CAB92C83EC8E2434044E048A0C1985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (520, 104, CAST(N'2025-08-14T10:06:36.140' AS DateTime), CAST(145.84 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.697336 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C6729594E42D94340E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (521, 105, CAST(N'2025-08-10T06:22:36.140' AS DateTime), CAST(197.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.848213 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C62855B3E92EC444092B1DAFCBF9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (522, 105, CAST(N'2025-08-11T13:18:36.140' AS DateTime), CAST(199.60 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.873813 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010CEAE8B81AD9EF4440CEFFAB8E1C9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (523, 105, CAST(N'2025-08-12T20:30:36.140' AS DateTime), CAST(202.16 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.899413 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C734C16F71FF34440094E7D2079995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (524, 105, CAST(N'2025-08-14T01:50:36.140' AS DateTime), CAST(184.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.920213 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C512D228AC9F544409A5DF75624985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (525, 105, CAST(N'2025-08-15T07:26:36.140' AS DateTime), CAST(186.80 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.845813 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010C0DC4B29943EC44403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (526, 106, CAST(N'2025-08-09T17:34:36.140' AS DateTime), CAST(74.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-112.032636 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240062B4EB516025CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (527, 106, CAST(N'2025-08-10T11:42:36.140' AS DateTime), CAST(76.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-112.107036 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE4240A8DF85ADD9065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (528, 106, CAST(N'2025-08-11T06:06:36.140' AS DateTime), CAST(79.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-112.081436 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240E42D573F36055CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (529, 106, CAST(N'2025-08-11T22:38:36.140' AS DateTime), CAST(61.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-112.060636 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E44240753DD175E1035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (530, 106, CAST(N'2025-08-12T15:26:36.140' AS DateTime), CAST(63.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-112.035036 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240B18BA2073E025CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (531, 107, CAST(N'2025-08-09T21:50:36.140' AS DateTime), CAST(115.12 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.829013 AS Decimal(9, 6)), CAST(-71.107884 AS Decimal(9, 6)), 0xE6100000010CBC7A15191DEA4440BFF04A92E7C651C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (532, 107, CAST(N'2025-08-10T20:14:36.140' AS DateTime), CAST(117.68 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.854613 AS Decimal(9, 6)), CAST(-71.082284 AS Decimal(9, 6)), 0xE6100000010C44DE72F563ED4440FB3E1C2444C551C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (533, 107, CAST(N'2025-08-11T18:54:36.140' AS DateTime), CAST(120.24 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.880213 AS Decimal(9, 6)), CAST(-71.056684 AS Decimal(9, 6)), 0xE6100000010CCC41D0D1AAF04440378DEDB5A0C351C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (534, 107, CAST(N'2025-08-12T15:42:36.140' AS DateTime), CAST(102.32 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.901013 AS Decimal(9, 6)), CAST(-71.035884 AS Decimal(9, 6)), 0xE6100000010CAB22DC6454F34440C79C67EC4BC251C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (535, 107, CAST(N'2025-08-13T12:46:36.140' AS DateTime), CAST(104.88 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.926613 AS Decimal(9, 6)), CAST(-71.010284 AS Decimal(9, 6)), 0xE6100000010C348639419BF6444003EB387EA8C051C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (536, 108, CAST(N'2025-08-10T19:10:36.140' AS DateTime), CAST(319.92 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.877013 AS Decimal(9, 6)), CAST(-95.370804 AS Decimal(9, 6)), 0xE6100000010C5B9544F641F04440774EB340BBD757C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (537, 108, CAST(N'2025-08-12T14:54:36.140' AS DateTime), CAST(322.48 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.902613 AS Decimal(9, 6)), CAST(-95.345204 AS Decimal(9, 6)), 0xE6100000010CE4F8A1D288F34440B29C84D217D657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (538, 108, CAST(N'2025-08-14T10:54:36.140' AS DateTime), CAST(325.04 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.828213 AS Decimal(9, 6)), CAST(-95.419604 AS Decimal(9, 6)), 0xE6100000010C9F8F32E202EA44405551BCCADADA57C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (539, 108, CAST(N'2025-08-16T05:02:36.140' AS DateTime), CAST(307.12 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.849013 AS Decimal(9, 6)), CAST(-95.398804 AS Decimal(9, 6)), 0xE6100000010C7E703E75ACEC4440E560360186D957C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (540, 108, CAST(N'2025-08-17T23:26:36.140' AS DateTime), CAST(309.68 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.874613 AS Decimal(9, 6)), CAST(-95.373204 AS Decimal(9, 6)), 0xE6100000010C06D49B51F3EF444021AF0793E2D757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (541, 109, CAST(N'2025-08-10T23:26:36.140' AS DateTime), CAST(360.88 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-71.050284 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E44240C6E061DA37C351C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (542, 109, CAST(N'2025-08-12T23:26:36.140' AS DateTime), CAST(363.44 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-71.024684 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE74240012F336C94C151C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (543, 109, CAST(N'2025-08-14T23:42:36.140' AS DateTime), CAST(366.00 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-71.099084 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240A4E36A6457C651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (544, 109, CAST(N'2025-08-16T22:06:36.140' AS DateTime), CAST(348.08 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-71.078284 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E0424034F3E49A02C551C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (545, 109, CAST(N'2025-08-18T20:46:36.140' AS DateTime), CAST(350.64 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-71.052684 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342407041B62C5FC351C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (546, 110, CAST(N'2025-08-10T10:38:36.140' AS DateTime), CAST(238.00 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-122.439618 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E04240E82E89B3229C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (547, 110, CAST(N'2025-08-11T21:50:36.140' AS DateTime), CAST(240.56 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.780229 AS Decimal(9, 6)), CAST(-122.414018 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEE34240247D5A457F9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (548, 110, CAST(N'2025-08-13T09:18:36.140' AS DateTime), CAST(243.12 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.805829 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010C8E95986725E7424060CB2BD7DB985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (549, 110, CAST(N'2025-08-14T18:54:36.140' AS DateTime), CAST(225.20 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-122.467618 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424057410C74ED9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (550, 110, CAST(N'2025-08-16T04:46:36.140' AS DateTime), CAST(227.76 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-122.442018 AS Decimal(9, 6)), 0xE6100000010C280D350A49E04240938FDD054A9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (551, 111, CAST(N'2025-08-10T14:54:36.140' AS DateTime), CAST(278.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.702076 AS Decimal(9, 6)), CAST(-118.254283 AS Decimal(9, 6)), 0xE6100000010C3BA759A0DD594440713B342C46905DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (552, 111, CAST(N'2025-08-12T06:22:36.140' AS DateTime), CAST(281.52 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.727676 AS Decimal(9, 6)), CAST(-118.228683 AS Decimal(9, 6)), 0xE6100000010CC40AB77C245D4440AD8905BEA28E5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (553, 111, CAST(N'2025-08-13T22:06:36.140' AS DateTime), CAST(284.08 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.753276 AS Decimal(9, 6)), CAST(-118.203083 AS Decimal(9, 6)), 0xE6100000010C4C6E14596B604440E9D7D64FFF8C5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (554, 111, CAST(N'2025-08-15T11:58:36.140' AS DateTime), CAST(266.16 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.674076 AS Decimal(9, 6)), CAST(-118.282283 AS Decimal(9, 6)), 0xE6100000010C5E82531F48564440E04DB7EC10925DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (555, 111, CAST(N'2025-08-17T02:06:36.140' AS DateTime), CAST(268.72 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.699676 AS Decimal(9, 6)), CAST(-118.256683 AS Decimal(9, 6)), 0xE6100000010CE6E5B0FB8E5944401B9C887E6D905DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (556, 112, CAST(N'2025-08-11T12:14:36.140' AS DateTime), CAST(483.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-87.592399 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E74240B8CB7EDDE9E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (557, 112, CAST(N'2025-08-14T01:02:36.140' AS DateTime), CAST(486.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.737829 AS Decimal(9, 6)), CAST(-87.666799 AS Decimal(9, 6)), 0xE6100000010C2B85402E71DE42405A80B6D5ACEA55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (558, 112, CAST(N'2025-08-16T14:06:36.140' AS DateTime), CAST(488.88 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-87.641199 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E1424096CE876709E955C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (559, 112, CAST(N'2025-08-19T01:18:36.140' AS DateTime), CAST(470.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-87.620399 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E4424027DE019EB4E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (560, 112, CAST(N'2025-08-21T12:46:36.140' AS DateTime), CAST(473.52 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.809829 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C1B2D077AA8E74240622CD32F11E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (561, 113, CAST(N'2025-08-11T16:30:36.140' AS DateTime), CAST(24.72 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.759676 AS Decimal(9, 6)), CAST(-104.943250 AS Decimal(9, 6)), 0xE6100000010C2EC72B103D614440EE7C3F355E3C5AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (562, 113, CAST(N'2025-08-14T09:34:36.140' AS DateTime), CAST(27.28 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.685276 AS Decimal(9, 6)), CAST(-105.017650 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB75744409031772D21415AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (563, 113, CAST(N'2025-08-17T02:54:36.140' AS DateTime), CAST(29.84 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.710876 AS Decimal(9, 6)), CAST(-104.992050 AS Decimal(9, 6)), 0xE6100000010C72C119FCFD5A4440CC7F48BF7D3F5AC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (564, 113, CAST(N'2025-08-19T18:22:36.140' AS DateTime), CAST(11.92 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.731676 AS Decimal(9, 6)), CAST(-104.971250 AS Decimal(9, 6)), 0xE6100000010C51A2258FA75D44405C8FC2F5283E5AC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (565, 113, CAST(N'2025-08-22T10:06:36.140' AS DateTime), CAST(14.48 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.757276 AS Decimal(9, 6)), CAST(-104.945650 AS Decimal(9, 6)), 0xE6100000010CD905836BEE60444098DD9387853C5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (566, 114, CAST(N'2025-08-11T03:42:36.140' AS DateTime), CAST(401.84 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.793029 AS Decimal(9, 6)), CAST(-122.401218 AS Decimal(9, 6)), 0xE6100000010CC9E369F981E542404224438EAD995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (567, 114, CAST(N'2025-08-13T07:58:36.140' AS DateTime), CAST(404.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.818629 AS Decimal(9, 6)), CAST(-122.375618 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8E842407E7214200A985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (568, 114, CAST(N'2025-08-15T12:30:36.140' AS DateTime), CAST(406.96 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF424020274C18CD9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (569, 114, CAST(N'2025-08-17T15:10:36.140' AS DateTime), CAST(389.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (570, 114, CAST(N'2025-08-19T18:06:36.140' AS DateTime), CAST(391.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.790629 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C7522C15433E54240EC8497E0D4995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (571, 115, CAST(N'2025-08-11T07:58:36.140' AS DateTime), CAST(442.80 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-122.391618 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424098A1F14410995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (572, 115, CAST(N'2025-08-13T16:30:36.140' AS DateTime), CAST(445.36 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.728229 AS Decimal(9, 6)), CAST(-122.466018 AS Decimal(9, 6)), 0xE6100000010CD87F9D9B36DD42403B56293DD39D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (573, 115, CAST(N'2025-08-16T01:18:36.140' AS DateTime), CAST(447.92 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE0424076A4FACE2F9C5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (574, 115, CAST(N'2025-08-18T08:14:36.140' AS DateTime), CAST(430.00 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (575, 115, CAST(N'2025-08-20T15:26:36.140' AS DateTime), CAST(432.56 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (576, 116, CAST(N'2025-08-09T05:18:36.140' AS DateTime), CAST(147.60 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.424076 AS Decimal(9, 6)), CAST(-105.014450 AS Decimal(9, 6)), 0xE6100000010C5E82531F48B64040575BB1BFEC405AC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (577, 116, CAST(N'2025-08-09T11:10:36.140' AS DateTime), CAST(150.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.449676 AS Decimal(9, 6)), CAST(-104.988850 AS Decimal(9, 6)), 0xE6100000010CE6E5B0FB8EB9404093A98251493F5AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (578, 116, CAST(N'2025-08-09T17:18:36.140' AS DateTime), CAST(152.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.475276 AS Decimal(9, 6)), CAST(-104.963250 AS Decimal(9, 6)), 0xE6100000010C6F490ED8D5BC4040CFF753E3A53D5AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (579, 116, CAST(N'2025-08-09T21:34:36.140' AS DateTime), CAST(134.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.496076 AS Decimal(9, 6)), CAST(-104.942450 AS Decimal(9, 6)), 0xE6100000010C4E2A1A6B7FBF40405F07CE19513C5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (580, 116, CAST(N'2025-08-10T02:06:36.140' AS DateTime), CAST(137.36 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.421676 AS Decimal(9, 6)), CAST(-105.016850 AS Decimal(9, 6)), 0xE6100000010C09C1AA7AF9B5404002BC051214415AC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (581, 117, CAST(N'2025-08-09T09:34:36.140' AS DateTime), CAST(188.56 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.591509 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C14252191B6CB474005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (582, 117, CAST(N'2025-08-09T19:42:36.140' AS DateTime), CAST(191.12 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.617109 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010C9C887E6DFDCE474041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (583, 117, CAST(N'2025-08-10T06:06:36.140' AS DateTime), CAST(193.68 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.642709 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C25ECDB4944D247407D94111780985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (584, 117, CAST(N'2025-08-10T14:38:36.140' AS DateTime), CAST(175.76 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.563509 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010C37001B1021C84740740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (585, 117, CAST(N'2025-08-10T23:26:36.140' AS DateTime), CAST(178.32 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.589109 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010CBF6378EC67CB4740B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (586, 118, CAST(N'2025-08-11T20:46:36.140' AS DateTime), CAST(65.68 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.731429 AS Decimal(9, 6)), CAST(-74.049374 AS Decimal(9, 6)), 0xE6100000010C492C29779FDD424074D190F1288352C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (587, 118, CAST(N'2025-08-14T18:06:36.140' AS DateTime), CAST(68.24 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.757029 AS Decimal(9, 6)), CAST(-74.023774 AS Decimal(9, 6)), 0xE6100000010CD28F8653E6E04240B01F6283858152C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (588, 118, CAST(N'2025-08-17T15:42:36.140' AS DateTime), CAST(70.80 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.782629 AS Decimal(9, 6)), CAST(-73.998174 AS Decimal(9, 6)), 0xE6100000010C5AF3E32F2DE44240EC6D3315E27F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (589, 118, CAST(N'2025-08-20T11:26:36.140' AS DateTime), CAST(52.88 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E642407C7DAD4B8D7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (590, 118, CAST(N'2025-08-23T07:26:36.140' AS DateTime), CAST(55.44 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.729029 AS Decimal(9, 6)), CAST(-74.051774 AS Decimal(9, 6)), 0xE6100000010CF46A80D250DD42401E32E543508352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (591, 119, CAST(N'2025-08-09T01:02:36.140' AS DateTime), CAST(106.64 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-87.663599 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD5802414022AAF06778EA55C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (592, 119, CAST(N'2025-08-09T02:38:36.140' AS DateTime), CAST(109.20 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.043935 AS Decimal(9, 6)), CAST(-87.637999 AS Decimal(9, 6)), 0xE6100000010C2B137EA99F0541405DF8C1F9D4E855C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (593, 119, CAST(N'2025-08-09T04:30:36.140' AS DateTime), CAST(111.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.069535 AS Decimal(9, 6)), CAST(-87.612399 AS Decimal(9, 6)), 0xE6100000010CB476DB85E60841409946938B31E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (594, 119, CAST(N'2025-08-09T04:30:36.140' AS DateTime), CAST(93.84 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.090335 AS Decimal(9, 6)), CAST(-87.591599 AS Decimal(9, 6)), 0xE6100000010C9357E718900B41402A560DC2DCE555C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (595, 119, CAST(N'2025-08-09T04:46:36.140' AS DateTime), CAST(96.40 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.015935 AS Decimal(9, 6)), CAST(-87.665999 AS Decimal(9, 6)), 0xE6100000010C4EEE77280A024140CC0A45BA9FEA55C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (596, 120, CAST(N'2025-08-09T22:22:36.140' AS DateTime), CAST(311.44 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-71.044684 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE44240E3A9471ADCC251C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (597, 120, CAST(N'2025-08-10T21:18:36.140' AS DateTime), CAST(314.00 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-71.019084 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E842401FF818AC38C151C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (598, 120, CAST(N'2025-08-11T20:30:36.140' AS DateTime), CAST(316.56 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.740229 AS Decimal(9, 6)), CAST(-71.093484 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFDE4240C1AC50A4FBC551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (599, 120, CAST(N'2025-08-12T17:50:36.140' AS DateTime), CAST(298.64 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.761029 AS Decimal(9, 6)), CAST(-71.072684 AS Decimal(9, 6)), 0xE6100000010C5F27F56569E1424051BCCADAA6C451C0, N'Clothing', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (600, 120, CAST(N'2025-08-13T15:26:36.140' AS DateTime), CAST(301.20 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-71.047084 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E442408D0A9C6C03C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (601, 121, CAST(N'2025-08-10T02:38:36.140' AS DateTime), CAST(352.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.784127 AS Decimal(9, 6)), CAST(-80.167988 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCC83D40B587BD50C00A54C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (602, 121, CAST(N'2025-08-11T05:50:36.140' AS DateTime), CAST(354.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.809727 AS Decimal(9, 6)), CAST(-80.142388 AS Decimal(9, 6)), 0xE6100000010C2DB0C7444ACF3D40F1D58EE21C0954C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (603, 121, CAST(N'2025-08-12T09:18:36.140' AS DateTime), CAST(357.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.735327 AS Decimal(9, 6)), CAST(-80.216788 AS Decimal(9, 6)), 0xE6100000010CA5DDE8633EBC3D40938AC6DADF0D54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (604, 121, CAST(N'2025-08-13T10:54:36.140' AS DateTime), CAST(339.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.756127 AS Decimal(9, 6)), CAST(-80.195988 AS Decimal(9, 6)), 0xE6100000010C629F008A91C13D40249A40118B0C54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (605, 121, CAST(N'2025-08-14T12:46:36.140' AS DateTime), CAST(342.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.781727 AS Decimal(9, 6)), CAST(-80.170388 AS Decimal(9, 6)), 0xE6100000010C7366BB421FC83D4060E811A3E70A54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (606, 122, CAST(N'2025-08-09T13:50:36.140' AS DateTime), CAST(229.52 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.047135 AS Decimal(9, 6)), CAST(-80.196788 AS Decimal(9, 6)), 0xE6100000010C9CBF098508064140B20FB22C980C54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (607, 122, CAST(N'2025-08-10T04:14:36.140' AS DateTime), CAST(232.08 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.072735 AS Decimal(9, 6)), CAST(-80.171188 AS Decimal(9, 6)), 0xE6100000010C252367614F094140EE5D83BEF40A54C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (608, 122, CAST(N'2025-08-10T18:54:36.140' AS DateTime), CAST(234.64 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.098335 AS Decimal(9, 6)), CAST(-80.145588 AS Decimal(9, 6)), 0xE6100000010CAD86C43D960C41402AAC5450510954C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (609, 122, CAST(N'2025-08-11T07:42:36.140' AS DateTime), CAST(216.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.019135 AS Decimal(9, 6)), CAST(-80.224788 AS Decimal(9, 6)), 0xE6100000010CBF9A030473024140212235ED620E54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (610, 122, CAST(N'2025-08-11T20:46:36.140' AS DateTime), CAST(219.28 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.044735 AS Decimal(9, 6)), CAST(-80.199188 AS Decimal(9, 6)), 0xE6100000010C48FE60E0B90541405D70067FBF0C54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (611, 123, CAST(N'2025-08-09T18:06:36.140' AS DateTime), CAST(270.48 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.364581 AS Decimal(9, 6)), CAST(-112.069436 AS Decimal(9, 6)), 0xE6100000010C1ADF1797AA2E4540904AB1A371045CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (612, 123, CAST(N'2025-08-10T12:46:36.140' AS DateTime), CAST(273.04 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.390181 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010CA2427573F1314540CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (613, 123, CAST(N'2025-08-11T07:42:36.140' AS DateTime), CAST(275.60 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.315781 AS Decimal(9, 6)), CAST(-112.118236 AS Decimal(9, 6)), 0xE6100000010C5ED905836B2845406E4DBA2D91075CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (614, 123, CAST(N'2025-08-12T00:46:36.140' AS DateTime), CAST(257.68 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.336581 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C3DBA1116152B4540FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (615, 123, CAST(N'2025-08-12T18:06:36.140' AS DateTime), CAST(260.24 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.362181 AS Decimal(9, 6)), CAST(-112.071836 AS Decimal(9, 6)), 0xE6100000010CC51D6FF25B2E45403BAB05F698045CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (616, 124, CAST(N'2025-08-10T15:26:36.140' AS DateTime), CAST(475.28 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-71.106284 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240A305685BCDC651C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (617, 124, CAST(N'2025-08-12T07:26:36.140' AS DateTime), CAST(477.84 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-71.080684 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240DF5339ED29C551C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (618, 124, CAST(N'2025-08-13T23:42:36.140' AS DateTime), CAST(480.40 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-71.055084 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE342401AA20A7F86C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (619, 124, CAST(N'2025-08-15T14:06:36.140' AS DateTime), CAST(462.48 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.799429 AS Decimal(9, 6)), CAST(-71.034284 AS Decimal(9, 6)), 0xE6100000010CAC3C81B053E64240ABB184B531C251C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (620, 124, CAST(N'2025-08-17T04:46:36.140' AS DateTime), CAST(465.04 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-71.108684 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC42404D66BCADF4C651C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (621, 125, CAST(N'2025-08-10T19:42:36.140' AS DateTime), CAST(16.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.737029 AS Decimal(9, 6)), CAST(-118.281483 AS Decimal(9, 6)), 0xE6100000010C0F9A5DF756DE424051D845D103925DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (622, 125, CAST(N'2025-08-12T15:58:36.140' AS DateTime), CAST(18.80 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.762629 AS Decimal(9, 6)), CAST(-118.255883 AS Decimal(9, 6)), 0xE6100000010C97FDBAD39DE142408D26176360905DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (623, 125, CAST(N'2025-08-14T12:30:36.140' AS DateTime), CAST(21.36 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-118.230283 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E44240C974E8F4BC8E5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (624, 125, CAST(N'2025-08-16T07:10:36.140' AS DateTime), CAST(503.44 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-118.209483 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE742405A84622B688D5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (625, 125, CAST(N'2025-08-18T02:06:36.140' AS DateTime), CAST(6.00 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-118.283883 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240FC389A232B925DC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (626, 126, CAST(N'2025-08-10T06:54:36.140' AS DateTime), CAST(393.36 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.639509 AS Decimal(9, 6)), CAST(-87.596399 AS Decimal(9, 6)), 0xE6100000010CB33F506EDBD147407F17B6662BE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (627, 126, CAST(N'2025-08-11T14:22:36.140' AS DateTime), CAST(395.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.565109 AS Decimal(9, 6)), CAST(-87.670799 AS Decimal(9, 6)), 0xE6100000010C6FD6E07D55C8474021CCED5EEEEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (628, 126, CAST(N'2025-08-12T22:06:36.140' AS DateTime), CAST(398.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.590709 AS Decimal(9, 6)), CAST(-87.645199 AS Decimal(9, 6)), 0xE6100000010CF7393E5A9CCB47405D1ABFF04AE955C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (629, 126, CAST(N'2025-08-14T03:58:36.140' AS DateTime), CAST(380.56 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.611509 AS Decimal(9, 6)), CAST(-87.624399 AS Decimal(9, 6)), 0xE6100000010CD61A4AED45CE4740ED293927F6E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (630, 126, CAST(N'2025-08-15T10:06:36.140' AS DateTime), CAST(383.12 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.637109 AS Decimal(9, 6)), CAST(-87.598799 AS Decimal(9, 6)), 0xE6100000010C5F7EA7C98CD1474029780AB952E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (631, 127, CAST(N'2025-08-10T11:10:36.140' AS DateTime), CAST(434.32 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.755676 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010CA12FBDFDB96044400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (632, 127, CAST(N'2025-08-11T22:54:36.140' AS DateTime), CAST(436.88 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.681276 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010C5CC64D0D34574440AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (633, 127, CAST(N'2025-08-13T10:54:36.140' AS DateTime), CAST(439.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.706876 AS Decimal(9, 6)), CAST(-122.425218 AS Decimal(9, 6)), 0xE6100000010CE529ABE97A5A4440EAEA8EC5369B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (634, 127, CAST(N'2025-08-14T21:02:36.140' AS DateTime), CAST(421.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.727676 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010CC40AB77C245D44407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (635, 127, CAST(N'2025-08-16T07:26:36.140' AS DateTime), CAST(424.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.753276 AS Decimal(9, 6)), CAST(-122.378818 AS Decimal(9, 6)), 0xE6100000010C4C6E14596B604440B648DA8D3E985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (636, 128, CAST(N'2025-08-11T23:26:36.140' AS DateTime), CAST(17.68 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.751429 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C0C2252D32EE04240FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (637, 128, CAST(N'2025-08-11T23:26:36.140' AS DateTime), CAST(20.24 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.777029 AS Decimal(9, 6)), CAST(-112.071836 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75E342403BAB05F698045CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (638, 128, CAST(N'2025-08-11T23:42:36.140' AS DateTime), CAST(22.80 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-112.046236 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424076F9D687F5025CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (639, 128, CAST(N'2025-08-14T22:06:36.140' AS DateTime), CAST(504.88 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-112.025436 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E94240070951BEA0015CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (640, 128, CAST(N'2025-08-17T20:46:36.140' AS DateTime), CAST(7.44 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.749029 AS Decimal(9, 6)), CAST(-112.099836 AS Decimal(9, 6)), 0xE6100000010CB760A92EE0DF4240A9BD88B663065CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (641, 129, CAST(N'2025-08-09T03:42:36.140' AS DateTime), CAST(58.64 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.747781 AS Decimal(9, 6)), CAST(-74.019774 AS Decimal(9, 6)), 0xE6100000010CF7915B936EBF3940E9D32AFA438152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (642, 129, CAST(N'2025-08-09T07:58:36.140' AS DateTime), CAST(61.20 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.773381 AS Decimal(9, 6)), CAST(-73.994174 AS Decimal(9, 6)), 0xE6100000010C0859164CFCC539402522FC8BA07F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (643, 129, CAST(N'2025-08-09T12:30:36.140' AS DateTime), CAST(63.76 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.798981 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C1920D1048ACC39406170CD1DFD7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (644, 129, CAST(N'2025-08-09T15:10:36.140' AS DateTime), CAST(45.84 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.719781 AS Decimal(9, 6)), CAST(-74.047774 AS Decimal(9, 6)), 0xE6100000010C3D484F9143B8394058E6ADBA0E8352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (645, 129, CAST(N'2025-08-09T18:06:36.140' AS DateTime), CAST(48.40 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.745381 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C4D0F0A4AD1BE394094347F4C6B8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (646, 130, CAST(N'2025-08-11T14:54:36.140' AS DateTime), CAST(435.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.732229 AS Decimal(9, 6)), CAST(-74.048574 AS Decimal(9, 6)), 0xE6100000010C65170CAEB9DD4240E65B1FD61B8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (647, 130, CAST(N'2025-08-14T06:22:36.140' AS DateTime), CAST(438.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.757829 AS Decimal(9, 6)), CAST(-74.022974 AS Decimal(9, 6)), 0xE6100000010CEE7A698A00E1424022AAF067788152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (648, 130, CAST(N'2025-08-16T22:06:36.140' AS DateTime), CAST(440.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-73.997374 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E442405DF8C1F9D47F52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (649, 130, CAST(N'2025-08-19T11:58:36.140' AS DateTime), CAST(422.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-73.976574 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E64240EE073C30807E52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (650, 130, CAST(N'2025-08-22T02:06:36.140' AS DateTime), CAST(425.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-74.050974 AS Decimal(9, 6)), 0xE6100000010C115663096BDD424090BC7328438352C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (651, 131, CAST(N'2025-08-11T19:10:36.140' AS DateTime), CAST(476.72 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.019135 AS Decimal(9, 6)), CAST(-122.452418 AS Decimal(9, 6)), 0xE6100000010CBF9A030473024140CA87A06AF49C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (652, 131, CAST(N'2025-08-14T14:54:36.140' AS DateTime), CAST(479.28 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.044735 AS Decimal(9, 6)), CAST(-122.426818 AS Decimal(9, 6)), 0xE6100000010C48FE60E0B905414006D671FC509B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (653, 131, CAST(N'2025-08-17T10:54:36.140' AS DateTime), CAST(481.84 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.070335 AS Decimal(9, 6)), CAST(-122.401218 AS Decimal(9, 6)), 0xE6100000010CD061BEBC000941404224438EAD995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (654, 131, CAST(N'2025-08-20T05:02:36.140' AS DateTime), CAST(463.92 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.091135 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CAF42CA4FAA0B4140D333BDC458985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (655, 131, CAST(N'2025-08-22T23:26:36.140' AS DateTime), CAST(466.48 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.016735 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C6AD95A5F2402414075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (656, 132, CAST(N'2025-08-09T16:30:36.140' AS DateTime), CAST(181.52 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.463276 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010CC782C2A04CBB40407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (657, 132, CAST(N'2025-08-10T09:34:36.140' AS DateTime), CAST(184.08 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.488876 AS Decimal(9, 6)), CAST(-122.378818 AS Decimal(9, 6)), 0xE6100000010C4FE61F7D93BE4040B648DA8D3E985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (658, 132, CAST(N'2025-08-11T02:54:36.140' AS DateTime), CAST(186.64 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.414476 AS Decimal(9, 6)), CAST(-122.453218 AS Decimal(9, 6)), 0xE6100000010C0B7DB08C0DB5404059FD1186019D5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (659, 132, CAST(N'2025-08-11T18:22:36.140' AS DateTime), CAST(168.72 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.435276 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB7B74040E90C8CBCAC9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (660, 132, CAST(N'2025-08-12T10:06:36.140' AS DateTime), CAST(171.28 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.460876 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C72C119FCFDBA4040255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (661, 133, CAST(N'2025-08-09T20:46:36.140' AS DateTime), CAST(222.48 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.384581 AS Decimal(9, 6)), CAST(-73.981374 AS Decimal(9, 6)), 0xE6100000010CDCD440F33931454043C9E4D4CE7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (662, 133, CAST(N'2025-08-10T18:06:36.140' AS DateTime), CAST(225.04 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.310181 AS Decimal(9, 6)), CAST(-74.055774 AS Decimal(9, 6)), 0xE6100000010C986BD102B4274540E57D1CCD918352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (663, 133, CAST(N'2025-08-11T15:42:36.140' AS DateTime), CAST(227.60 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.335781 AS Decimal(9, 6)), CAST(-74.030174 AS Decimal(9, 6)), 0xE6100000010C20CF2EDFFA2A454021CCED5EEE8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (664, 133, CAST(N'2025-08-12T11:26:36.140' AS DateTime), CAST(209.68 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.356581 AS Decimal(9, 6)), CAST(-74.009374 AS Decimal(9, 6)), 0xE6100000010CFFAF3A72A42D4540B1DB6795998052C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (665, 133, CAST(N'2025-08-13T07:26:36.140' AS DateTime), CAST(212.24 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.382181 AS Decimal(9, 6)), CAST(-73.983774 AS Decimal(9, 6)), 0xE6100000010C8813984EEB304540ED293927F67E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (666, 134, CAST(N'2025-08-09T07:58:36.140' AS DateTime), CAST(99.60 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.355781 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010CE3C4573B8A2D4540CEFFAB8E1C9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (667, 134, CAST(N'2025-08-09T16:30:36.140' AS DateTime), CAST(102.16 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.381381 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C6B28B517D1304540094E7D2079995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (668, 134, CAST(N'2025-08-10T01:18:36.140' AS DateTime), CAST(104.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.406981 AS Decimal(9, 6)), CAST(-122.372418 AS Decimal(9, 6)), 0xE6100000010CF48B12F417344540459C4EB2D5975EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (669, 134, CAST(N'2025-08-10T08:14:36.140' AS DateTime), CAST(86.80 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.327781 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010C06A051BAF42945403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (670, 134, CAST(N'2025-08-10T15:26:36.140' AS DateTime), CAST(89.36 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.353381 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C8E03AF963B2D4540786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (671, 135, CAST(N'2025-08-09T12:14:36.140' AS DateTime), CAST(140.56 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.718076 AS Decimal(9, 6)), CAST(-122.414018 AS Decimal(9, 6)), 0xE6100000010C710514EAE95B4440247D5A457F9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (672, 135, CAST(N'2025-08-10T01:02:36.140' AS DateTime), CAST(143.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.743676 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010CF96871C6305F444060CB2BD7DB985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (673, 135, CAST(N'2025-08-10T14:06:36.140' AS DateTime), CAST(145.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.669276 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010CB5FF01D6AA554440028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (674, 135, CAST(N'2025-08-11T01:18:36.140' AS DateTime), CAST(127.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.690076 AS Decimal(9, 6)), CAST(-122.442018 AS Decimal(9, 6)), 0xE6100000010C93E00D6954584440938FDD054A9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (675, 135, CAST(N'2025-08-11T12:46:36.140' AS DateTime), CAST(130.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.715676 AS Decimal(9, 6)), CAST(-122.416418 AS Decimal(9, 6)), 0xE6100000010C1C446B459B5B4440CEDDAE97A69A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (676, 136, CAST(N'2025-08-10T09:34:36.140' AS DateTime), CAST(345.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.831413 AS Decimal(9, 6)), CAST(-122.466018 AS Decimal(9, 6)), 0xE6100000010C103CBEBD6BEA44403B56293DD39D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (677, 136, CAST(N'2025-08-11T19:42:36.140' AS DateTime), CAST(347.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.857013 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C999F1B9AB2ED444076A4FACE2F9C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (678, 136, CAST(N'2025-08-13T06:06:36.140' AS DateTime), CAST(350.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.882613 AS Decimal(9, 6)), CAST(-122.414818 AS Decimal(9, 6)), 0xE6100000010C21037976F9F04440B2F2CB608C9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (679, 136, CAST(N'2025-08-14T14:38:36.140' AS DateTime), CAST(332.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.903413 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010C00E48409A3F344404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (680, 136, CAST(N'2025-08-15T23:26:36.140' AS DateTime), CAST(335.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.829013 AS Decimal(9, 6)), CAST(-122.468418 AS Decimal(9, 6)), 0xE6100000010CBC7A15191DEA4440E5B67D8FFA9D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (681, 137, CAST(N'2025-08-10T13:50:36.140' AS DateTime), CAST(386.32 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.737829 AS Decimal(9, 6)), CAST(-87.666799 AS Decimal(9, 6)), 0xE6100000010C2B85402E71DE42405A80B6D5ACEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (682, 137, CAST(N'2025-08-12T04:14:36.140' AS DateTime), CAST(388.88 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-87.641199 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E1424096CE876709E955C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (683, 137, CAST(N'2025-08-13T18:54:36.140' AS DateTime), CAST(391.44 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-87.615599 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE44240D21C59F965E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (684, 137, CAST(N'2025-08-15T07:42:36.140' AS DateTime), CAST(373.52 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.809829 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C1B2D077AA8E74240622CD32F11E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (685, 137, CAST(N'2025-08-16T20:46:36.140' AS DateTime), CAST(376.08 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.735429 AS Decimal(9, 6)), CAST(-87.669199 AS Decimal(9, 6)), 0xE6100000010CD7C3978922DE424005E10A28D4EA55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (686, 138, CAST(N'2025-08-10T01:02:36.140' AS DateTime), CAST(263.44 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-122.385218 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE7424027F56569A7985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (687, 138, CAST(N'2025-08-11T02:38:36.140' AS DateTime), CAST(266.00 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240CAA99D616A9D5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (688, 138, CAST(N'2025-08-12T04:30:36.140' AS DateTime), CAST(268.56 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (689, 138, CAST(N'2025-08-13T04:30:36.140' AS DateTime), CAST(250.64 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-122.413218 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342409607E929729A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (690, 138, CAST(N'2025-08-14T04:46:36.140' AS DateTime), CAST(253.20 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE74240D255BABBCE985EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (691, 139, CAST(N'2025-08-10T05:18:36.140' AS DateTime), CAST(304.40 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.095935 AS Decimal(9, 6)), CAST(-122.288269 AS Decimal(9, 6)), 0xE6100000010C58C51B99470C4140D7DCD1FF72925EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (692, 139, CAST(N'2025-08-11T11:10:36.140' AS DateTime), CAST(306.96 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.021535 AS Decimal(9, 6)), CAST(-122.362669 AS Decimal(9, 6)), 0xE6100000010C145CACA8C1024140799109F835975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (693, 139, CAST(N'2025-08-12T17:18:36.140' AS DateTime), CAST(309.52 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.047135 AS Decimal(9, 6)), CAST(-122.337069 AS Decimal(9, 6)), 0xE6100000010C9CBF098508064140B5DFDA8992955EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (694, 139, CAST(N'2025-08-13T21:34:36.140' AS DateTime), CAST(291.60 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.067935 AS Decimal(9, 6)), CAST(-122.316269 AS Decimal(9, 6)), 0xE6100000010C7BA01518B208414046EF54C03D945EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (695, 139, CAST(N'2025-08-15T02:06:36.140' AS DateTime), CAST(294.16 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.093535 AS Decimal(9, 6)), CAST(-122.290669 AS Decimal(9, 6)), 0xE6100000010C040473F4F80B4140813D26529A925EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (696, 140, CAST(N'2025-08-11T02:38:36.140' AS DateTime), CAST(9.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-122.427618 AS Decimal(9, 6)), 0xE6100000010C259529E620E24240944BE3175E9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (697, 140, CAST(N'2025-08-13T05:50:36.140' AS DateTime), CAST(11.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-122.402018 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240D099B4A9BA995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (698, 140, CAST(N'2025-08-15T09:18:36.140' AS DateTime), CAST(14.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842400CE8853B17985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (699, 140, CAST(N'2025-08-17T10:54:36.140' AS DateTime), CAST(496.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-122.455618 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240035E66D8289D5EC0, N'Gas', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (700, 140, CAST(N'2025-08-19T12:46:36.140' AS DateTime), CAST(498.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-122.430018 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E142403FAC376A859B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (701, 141, CAST(N'2025-08-11T06:54:36.140' AS DateTime), CAST(50.16 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-74.004574 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE342405D1ABFF04A8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (702, 141, CAST(N'2025-08-13T14:22:36.140' AS DateTime), CAST(52.72 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-73.978974 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E6424098689082A77E52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (703, 141, CAST(N'2025-08-15T22:06:36.140' AS DateTime), CAST(55.28 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-74.053374 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD42403B1DC87A6A8352C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (704, 141, CAST(N'2025-08-18T03:58:36.140' AS DateTime), CAST(37.36 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.748229 AS Decimal(9, 6)), CAST(-74.032574 AS Decimal(9, 6)), 0xE6100000010C9B75C6F7C5DF4240CB2C42B1158252C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (705, 141, CAST(N'2025-08-20T10:06:36.140' AS DateTime), CAST(39.92 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.773829 AS Decimal(9, 6)), CAST(-74.006974 AS Decimal(9, 6)), 0xE6100000010C23D923D40CE34240077B1343728052C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (706, 142, CAST(N'2025-08-10T18:06:36.140' AS DateTime), CAST(427.28 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.732927 AS Decimal(9, 6)), CAST(-74.033374 AS Decimal(9, 6)), 0xE6100000010CFB5A971AA1BB3D4059A2B3CC228252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (707, 142, CAST(N'2025-08-12T12:46:36.140' AS DateTime), CAST(429.84 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.758527 AS Decimal(9, 6)), CAST(-74.007774 AS Decimal(9, 6)), 0xE6100000010C0C2252D32EC23D4095F0845E7F8052C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (708, 142, CAST(N'2025-08-14T07:42:36.140' AS DateTime), CAST(432.40 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.784127 AS Decimal(9, 6)), CAST(-73.982174 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCC83D40D13E56F0DB7E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (709, 142, CAST(N'2025-08-16T00:46:36.140' AS DateTime), CAST(414.48 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.804927 AS Decimal(9, 6)), CAST(-73.961374 AS Decimal(9, 6)), 0xE6100000010CDAAA24B20FCE3D40624ED026877D52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (710, 142, CAST(N'2025-08-17T18:06:36.140' AS DateTime), CAST(417.04 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.730527 AS Decimal(9, 6)), CAST(-74.035774 AS Decimal(9, 6)), 0xE6100000010C51D845D103BB3D400403081F4A8252C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (711, 143, CAST(N'2025-08-10T22:22:36.140' AS DateTime), CAST(468.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.860213 AS Decimal(9, 6)), CAST(-118.261483 AS Decimal(9, 6)), 0xE6100000010C0A4CA7751BEE4440705D3123BC905DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (712, 143, CAST(N'2025-08-12T21:18:36.140' AS DateTime), CAST(470.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.885813 AS Decimal(9, 6)), CAST(-118.235883 AS Decimal(9, 6)), 0xE6100000010C92AF045262F14440ACAB02B5188F5DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (713, 143, CAST(N'2025-08-14T20:30:36.140' AS DateTime), CAST(473.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.911413 AS Decimal(9, 6)), CAST(-118.210283 AS Decimal(9, 6)), 0xE6100000010C1B13622EA9F44440E8F9D346758D5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (714, 143, CAST(N'2025-08-16T17:50:36.140' AS DateTime), CAST(455.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.832213 AS Decimal(9, 6)), CAST(-118.289483 AS Decimal(9, 6)), 0xE6100000010C2D27A1F485EA4440DF6FB4E386925DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (715, 143, CAST(N'2025-08-18T15:26:36.140' AS DateTime), CAST(458.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.857813 AS Decimal(9, 6)), CAST(-118.263883 AS Decimal(9, 6)), 0xE6100000010CB58AFED0CCED44401BBE8575E3905DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (716, 144, CAST(N'2025-08-11T19:42:36.140' AS DateTime), CAST(173.04 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.805029 AS Decimal(9, 6)), CAST(-95.339604 AS Decimal(9, 6)), 0xE6100000010C71AAB5300BE74240CF656A12BCD557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (717, 144, CAST(N'2025-08-14T15:58:36.140' AS DateTime), CAST(175.60 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-95.414004 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD4240721AA20A7FDA57C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (718, 144, CAST(N'2025-08-17T12:30:36.140' AS DateTime), CAST(178.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-95.388404 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240AD68739CDBD857C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (719, 144, CAST(N'2025-08-20T07:10:36.140' AS DateTime), CAST(160.24 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.777029 AS Decimal(9, 6)), CAST(-95.367604 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75E342403E78EDD286D757C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (720, 144, CAST(N'2025-08-23T02:06:36.140' AS DateTime), CAST(162.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-95.342004 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE642407AC6BE64E3D557C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (721, 145, CAST(N'2025-08-08T23:58:36.140' AS DateTime), CAST(214.00 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.801381 AS Decimal(9, 6)), CAST(-73.966174 AS Decimal(9, 6)), 0xE6100000010CC2A2224E27CD3940B60F79CBD57D52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (722, 145, CAST(N'2025-08-09T00:30:36.140' AS DateTime), CAST(216.56 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.726981 AS Decimal(9, 6)), CAST(-74.040574 AS Decimal(9, 6)), 0xE6100000010C39D0436D1BBA394059C4B0C3988252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (723, 145, CAST(N'2025-08-09T01:18:36.140' AS DateTime), CAST(219.12 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.752581 AS Decimal(9, 6)), CAST(-74.014974 AS Decimal(9, 6)), 0xE6100000010C4A97FE25A9C0394094128255F58052C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (724, 145, CAST(N'2025-08-12T00:14:36.140' AS DateTime), CAST(201.20 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.773381 AS Decimal(9, 6)), CAST(-73.994174 AS Decimal(9, 6)), 0xE6100000010C0859164CFCC539402522FC8BA07F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (725, 145, CAST(N'2025-08-14T23:26:36.140' AS DateTime), CAST(203.76 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.798981 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C1920D1048ACC39406170CD1DFD7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (726, 146, CAST(N'2025-08-11T11:10:36.140' AS DateTime), CAST(91.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.063135 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CD21DC4CE1408414041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (727, 146, CAST(N'2025-08-13T22:54:36.140' AS DateTime), CAST(93.68 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.088735 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C5A8121AB5B0B41407D94111780985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (728, 146, CAST(N'2025-08-16T10:54:36.140' AS DateTime), CAST(96.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.014335 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010C1618B2BAD50141401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (729, 146, CAST(N'2025-08-18T21:02:36.140' AS DateTime), CAST(78.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.035135 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010CF4F8BD4D7F044140B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (730, 146, CAST(N'2025-08-21T07:26:36.140' AS DateTime), CAST(80.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.060735 AS Decimal(9, 6)), CAST(-122.410818 AS Decimal(9, 6)), 0xE6100000010C7D5C1B2AC6074140ECA694D74A9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (731, 147, CAST(N'2025-08-11T15:26:36.140' AS DateTime), CAST(132.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-95.349204 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E5424079E8BB5B59D657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (732, 147, CAST(N'2025-08-14T07:26:36.140' AS DateTime), CAST(134.64 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.821029 AS Decimal(9, 6)), CAST(-95.323604 AS Decimal(9, 6)), 0xE6100000010CA708707A17E94240B5368DEDB5D457C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (733, 147, CAST(N'2025-08-16T23:42:36.140' AS DateTime), CAST(137.20 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-95.398004 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF424057EBC4E578D957C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (734, 147, CAST(N'2025-08-19T14:06:36.140' AS DateTime), CAST(119.28 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-95.377204 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240E8FA3E1C24D857C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (735, 147, CAST(N'2025-08-22T04:46:36.140' AS DateTime), CAST(121.84 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.793029 AS Decimal(9, 6)), CAST(-95.351604 AS Decimal(9, 6)), 0xE6100000010CC9E369F981E54240234910AE80D657C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (736, 148, CAST(N'2025-08-09T12:46:36.140' AS DateTime), CAST(336.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.707736 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CD619DF1797DA4340AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (737, 148, CAST(N'2025-08-10T02:06:36.140' AS DateTime), CAST(339.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.733336 AS Decimal(9, 6)), CAST(-122.425218 AS Decimal(9, 6)), 0xE6100000010C5F7D3CF4DDDD4340EAEA8EC5369B5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (738, 148, CAST(N'2025-08-10T15:42:36.140' AS DateTime), CAST(342.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.758936 AS Decimal(9, 6)), CAST(-122.399618 AS Decimal(9, 6)), 0xE6100000010CE7E099D024E143402639605793995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (739, 148, CAST(N'2025-08-11T03:26:36.140' AS DateTime), CAST(324.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.779736 AS Decimal(9, 6)), CAST(-122.378818 AS Decimal(9, 6)), 0xE6100000010CC6C1A563CEE34340B648DA8D3E985EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (740, 148, CAST(N'2025-08-11T15:26:36.140' AS DateTime), CAST(326.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.705336 AS Decimal(9, 6)), CAST(-122.453218 AS Decimal(9, 6)), 0xE6100000010C8258367348DA434059FD1186019D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (741, 149, CAST(N'2025-08-09T17:02:36.140' AS DateTime), CAST(377.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.584309 AS Decimal(9, 6)), CAST(-87.651599 AS Decimal(9, 6)), 0xE6100000010C15E126A3CACA4740CEC64ACCB3E955C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (742, 149, CAST(N'2025-08-10T10:38:36.140' AS DateTime), CAST(380.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.609909 AS Decimal(9, 6)), CAST(-87.625999 AS Decimal(9, 6)), 0xE6100000010C9E44847F11CE474009151C5E10E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (743, 149, CAST(N'2025-08-11T04:30:36.140' AS DateTime), CAST(382.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.635509 AS Decimal(9, 6)), CAST(-87.600399 AS Decimal(9, 6)), 0xE6100000010C26A8E15B58D147404563EDEF6CE655C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (744, 149, CAST(N'2025-08-11T20:30:36.140' AS DateTime), CAST(365.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.556309 AS Decimal(9, 6)), CAST(-87.679599 AS Decimal(9, 6)), 0xE6100000010C38BC202235C747403CD9CD8C7EEB55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (745, 149, CAST(N'2025-08-12T12:46:36.140' AS DateTime), CAST(367.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.581909 AS Decimal(9, 6)), CAST(-87.653999 AS Decimal(9, 6)), 0xE6100000010CC11F7EFE7BCA474078279F1EDBE955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (746, 150, CAST(N'2025-08-09T04:14:36.140' AS DateTime), CAST(254.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.810981 AS Decimal(9, 6)), CAST(-71.009484 AS Decimal(9, 6)), 0xE6100000010C69AD68739CCF39407575C7629BC051C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (747, 150, CAST(N'2025-08-09T09:02:36.140' AS DateTime), CAST(257.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.736581 AS Decimal(9, 6)), CAST(-71.083884 AS Decimal(9, 6)), 0xE6100000010CE0DA899290BC3940172AFF5A5EC551C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (748, 150, CAST(N'2025-08-09T14:06:36.140' AS DateTime), CAST(260.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.762181 AS Decimal(9, 6)), CAST(-71.058284 AS Decimal(9, 6)), 0xE6100000010CF1A1444B1EC339405378D0ECBAC351C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (749, 150, CAST(N'2025-08-09T17:18:36.140' AS DateTime), CAST(242.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.782981 AS Decimal(9, 6)), CAST(-71.037484 AS Decimal(9, 6)), 0xE6100000010CAE635C7171C83940E4874A2366C251C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (750, 150, CAST(N'2025-08-09T20:46:36.140' AS DateTime), CAST(244.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.808581 AS Decimal(9, 6)), CAST(-71.011884 AS Decimal(9, 6)), 0xE6100000010CBF2A172AFFCE39401FD61BB5C2C051C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (751, 151, CAST(N'2025-08-09T08:30:36.140' AS DateTime), CAST(295.92 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.837013 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010CD6A9F23D23EB4440581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (752, 151, CAST(N'2025-08-09T17:34:36.140' AS DateTime), CAST(298.48 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.862613 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C5F0D501A6AEE4440946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (753, 151, CAST(N'2025-08-10T02:54:36.140' AS DateTime), CAST(301.04 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.888213 AS Decimal(9, 6)), CAST(-122.409218 AS Decimal(9, 6)), 0xE6100000010CE770ADF6B0F14440CFBBB1A0309A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (754, 151, CAST(N'2025-08-10T10:22:36.140' AS DateTime), CAST(283.12 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.909013 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010CC651B9895AF4444060CB2BD7DB985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (755, 151, CAST(N'2025-08-10T18:06:36.140' AS DateTime), CAST(285.68 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.834613 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010C81E84999D4EA4440028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (756, 152, CAST(N'2025-08-10T05:50:36.140' AS DateTime), CAST(500.72 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-122.412418 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E442400892770E659A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (757, 152, CAST(N'2025-08-11T12:14:36.140' AS DateTime), CAST(503.28 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.807429 AS Decimal(9, 6)), CAST(-122.386818 AS Decimal(9, 6)), 0xE6100000010CC66B5ED559E7424044E048A0C1985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (758, 152, CAST(N'2025-08-12T18:54:36.140' AS DateTime), CAST(5.84 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (759, 152, CAST(N'2025-08-13T23:42:36.140' AS DateTime), CAST(487.92 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE0424076A4FACE2F9C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (760, 152, CAST(N'2025-08-15T04:46:36.140' AS DateTime), CAST(490.48 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.779429 AS Decimal(9, 6)), CAST(-122.414818 AS Decimal(9, 6)), 0xE6100000010CE9465854C4E34240B2F2CB608C9A5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (761, 153, CAST(N'2025-08-10T10:06:36.140' AS DateTime), CAST(41.68 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-122.402818 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE542405E0F26C5C7995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (762, 153, CAST(N'2025-08-11T20:46:36.140' AS DateTime), CAST(44.24 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (763, 153, CAST(N'2025-08-13T07:42:36.140' AS DateTime), CAST(46.80 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (764, 153, CAST(N'2025-08-14T16:46:36.140' AS DateTime), CAST(28.88 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-122.430818 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E14240CD21A985929B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (765, 153, CAST(N'2025-08-16T02:06:36.140' AS DateTime), CAST(31.44 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE4424009707A17EF995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (766, 154, CAST(N'2025-08-09T21:18:36.140' AS DateTime), CAST(418.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.347781 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010CC8957A16842C45405B971AA19F9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (767, 154, CAST(N'2025-08-10T19:10:36.140' AS DateTime), CAST(421.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.373381 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C51F9D7F2CA2F454097E5EB32FC995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (768, 154, CAST(N'2025-08-11T17:18:36.140' AS DateTime), CAST(423.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.398981 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CD95C35CF11334540D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (769, 154, CAST(N'2025-08-12T13:34:36.140' AS DateTime), CAST(406.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.319781 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CEB707495EE284540CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (770, 154, CAST(N'2025-08-13T10:06:36.140' AS DateTime), CAST(408.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.345381 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C74D4D171352C454005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (771, 155, CAST(N'2025-08-10T01:34:36.140' AS DateTime), CAST(459.76 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E24240B114C957029B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (772, 155, CAST(N'2025-08-11T03:42:36.140' AS DateTime), CAST(462.32 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE64240ED629AE95E995EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (773, 155, CAST(N'2025-08-12T06:06:36.140' AS DateTime), CAST(464.88 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E9424029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (774, 155, CAST(N'2025-08-13T06:38:36.140' AS DateTime), CAST(446.96 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF424020274C18CD9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (775, 155, CAST(N'2025-08-14T07:26:36.140' AS DateTime), CAST(449.52 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-122.424418 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242405C751DAA299B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (776, 156, CAST(N'2025-08-10T22:54:36.140' AS DateTime), CAST(164.56 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.820229 AS Decimal(9, 6)), CAST(-118.198283 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDE8424094162EABB08C5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (777, 156, CAST(N'2025-08-12T22:22:36.140' AS DateTime), CAST(167.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-118.272683 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF424036CB65A373915DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (778, 156, CAST(N'2025-08-14T22:06:36.140' AS DateTime), CAST(169.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-118.247083 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424072193735D08F5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (779, 156, CAST(N'2025-08-16T19:58:36.140' AS DateTime), CAST(151.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-118.226283 AS Decimal(9, 6)), 0xE6100000010CADF886C267E542400229B16B7B8E5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (780, 156, CAST(N'2025-08-18T18:06:36.140' AS DateTime), CAST(154.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-118.200683 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842403E7782FDD78C5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (781, 157, CAST(N'2025-08-11T03:10:36.140' AS DateTime), CAST(205.52 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.314981 AS Decimal(9, 6)), CAST(-80.236788 AS Decimal(9, 6)), 0xE6100000010C42EE224C512845407505DB88270F54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (782, 157, CAST(N'2025-08-13T06:54:36.140' AS DateTime), CAST(208.08 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.340581 AS Decimal(9, 6)), CAST(-80.211188 AS Decimal(9, 6)), 0xE6100000010CCA518028982B4540B153AC1A840D54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (783, 157, CAST(N'2025-08-15T10:54:36.140' AS DateTime), CAST(210.64 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.366181 AS Decimal(9, 6)), CAST(-80.185588 AS Decimal(9, 6)), 0xE6100000010C52B5DD04DF2E4540ECA17DACE00B54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (784, 157, CAST(N'2025-08-17T13:02:36.140' AS DateTime), CAST(192.72 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.386981 AS Decimal(9, 6)), CAST(-80.164788 AS Decimal(9, 6)), 0xE6100000010C3196E997883145407DB1F7E28B0A54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (785, 157, CAST(N'2025-08-19T15:26:36.140' AS DateTime), CAST(195.28 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.312581 AS Decimal(9, 6)), CAST(-80.239188 AS Decimal(9, 6)), 0xE6100000010CED2C7AA7022845401F662FDB4E0F54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (786, 158, CAST(N'2025-08-10T14:22:36.140' AS DateTime), CAST(82.64 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.904213 AS Decimal(9, 6)), CAST(-71.032684 AS Decimal(9, 6)), 0xE6100000010C1CCF6740BDF344408FC6A17E17C251C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (787, 158, CAST(N'2025-08-12T05:18:36.140' AS DateTime), CAST(85.20 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.829813 AS Decimal(9, 6)), CAST(-71.107084 AS Decimal(9, 6)), 0xE6100000010CD865F84F37EA4440317BD976DAC651C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (788, 158, CAST(N'2025-08-13T20:30:36.140' AS DateTime), CAST(87.76 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.855413 AS Decimal(9, 6)), CAST(-71.081484 AS Decimal(9, 6)), 0xE6100000010C60C9552C7EED44406DC9AA0837C551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (789, 158, CAST(N'2025-08-15T09:50:36.140' AS DateTime), CAST(69.84 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.876213 AS Decimal(9, 6)), CAST(-71.060684 AS Decimal(9, 6)), 0xE6100000010C3FAA61BF27F04440FDD8243FE2C351C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (790, 158, CAST(N'2025-08-16T23:26:36.140' AS DateTime), CAST(72.40 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.901813 AS Decimal(9, 6)), CAST(-71.035084 AS Decimal(9, 6)), 0xE6100000010CC70DBF9B6EF344403927F6D03EC251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (791, 159, CAST(N'2025-08-10T18:38:36.140' AS DateTime), CAST(123.60 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.748476 AS Decimal(9, 6)), CAST(-122.383618 AS Decimal(9, 6)), 0xE6100000010CA2EBC20FCE5F44400B0A83328D985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (792, 159, CAST(N'2025-08-12T13:50:36.140' AS DateTime), CAST(126.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.674076 AS Decimal(9, 6)), CAST(-122.458018 AS Decimal(9, 6)), 0xE6100000010C5E82531F48564440ADBEBA2A509D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (793, 159, CAST(N'2025-08-14T09:18:36.140' AS DateTime), CAST(128.72 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.699676 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CE6E5B0FB8E594440E90C8CBCAC9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (794, 159, CAST(N'2025-08-16T02:54:36.140' AS DateTime), CAST(110.80 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.720476 AS Decimal(9, 6)), CAST(-122.411618 AS Decimal(9, 6)), 0xE6100000010CC5C6BC8E385C44407A1C06F3579A5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (795, 159, CAST(N'2025-08-17T20:46:36.140' AS DateTime), CAST(113.36 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.746076 AS Decimal(9, 6)), CAST(-122.386018 AS Decimal(9, 6)), 0xE6100000010C4E2A1A6B7F5F4440B66AD784B4985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (796, 160, CAST(N'2025-08-09T06:54:36.140' AS DateTime), CAST(206.96 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-87.660399 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF4240E9D32AFA43EA55C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (797, 160, CAST(N'2025-08-09T14:22:36.140' AS DateTime), CAST(209.52 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-87.634799 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242402522FC8BA0E855C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (798, 160, CAST(N'2025-08-09T22:06:36.140' AS DateTime), CAST(212.08 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-87.609199 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E542406170CD1DFDE655C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (799, 160, CAST(N'2025-08-10T03:58:36.140' AS DateTime), CAST(194.16 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-87.588399 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240F17F4754A8E555C0, N'Grocery', 1)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (800, 160, CAST(N'2025-08-10T10:06:36.140' AS DateTime), CAST(196.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-87.662799 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE424094347F4C6BEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (801, 161, CAST(N'2025-08-09T11:10:36.140' AS DateTime), CAST(247.92 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.031135 AS Decimal(9, 6)), CAST(-112.095036 AS Decimal(9, 6)), 0xE6100000010C67614F3BFC03414054FCDF1115065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (802, 161, CAST(N'2025-08-09T22:54:36.140' AS DateTime), CAST(250.48 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.056735 AS Decimal(9, 6)), CAST(-112.069436 AS Decimal(9, 6)), 0xE6100000010CF0C4AC1743074140904AB1A371045CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (803, 161, CAST(N'2025-08-10T10:54:36.140' AS DateTime), CAST(253.04 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.082335 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010C78280AF4890A4140CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (804, 161, CAST(N'2025-08-10T21:02:36.140' AS DateTime), CAST(235.12 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.003135 AS Decimal(9, 6)), CAST(-112.123036 AS Decimal(9, 6)), 0xE6100000010C8A3C49BA66004140C30E63D2DF075CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (805, 161, CAST(N'2025-08-11T07:26:36.140' AS DateTime), CAST(237.68 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.028735 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C12A0A696AD034140FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (806, 162, CAST(N'2025-08-11T22:22:36.140' AS DateTime), CAST(125.04 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-122.469218 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC4240732CEFAA079E5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (807, 162, CAST(N'2025-08-14T21:18:36.140' AS DateTime), CAST(127.60 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-122.443618 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E04240AF7AC03C649C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (808, 162, CAST(N'2025-08-17T20:30:36.140' AS DateTime), CAST(130.16 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-122.418018 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240EBC891CEC09A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (809, 162, CAST(N'2025-08-20T17:50:36.140' AS DateTime), CAST(112.24 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-122.397218 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642407BD80B056C995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (810, 162, CAST(N'2025-08-23T15:26:36.140' AS DateTime), CAST(114.80 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-122.371618 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE94240B726DD96C8975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (811, 163, CAST(N'2025-08-09T02:38:36.140' AS DateTime), CAST(166.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.672476 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010C26AC8DB113564440CAA99D616A9D5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (812, 163, CAST(N'2025-08-09T05:50:36.140' AS DateTime), CAST(168.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.698076 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010CAE0FEB8D5A59444005F86EF3C69B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (813, 163, CAST(N'2025-08-09T09:18:36.140' AS DateTime), CAST(171.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.723676 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010C3673486AA15C444041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (814, 163, CAST(N'2025-08-09T10:54:36.140' AS DateTime), CAST(153.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F4440D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (815, 163, CAST(N'2025-08-09T12:46:36.140' AS DateTime), CAST(155.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (816, 164, CAST(N'2025-08-09T23:58:36.140' AS DateTime), CAST(370.80 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.746936 AS Decimal(9, 6)), CAST(-95.362004 AS Decimal(9, 6)), 0xE6100000010C3F1A4E999BDF43405B41D3122BD757C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (817, 164, CAST(N'2025-08-11T00:30:36.140' AS DateTime), CAST(373.36 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.772536 AS Decimal(9, 6)), CAST(-95.336404 AS Decimal(9, 6)), 0xE6100000010CC87DAB75E2E24340978FA4A487D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (818, 164, CAST(N'2025-08-12T01:18:36.140' AS DateTime), CAST(375.92 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.698136 AS Decimal(9, 6)), CAST(-95.410804 AS Decimal(9, 6)), 0xE6100000010C83143C855CD943403944DC9C4ADA57C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (819, 164, CAST(N'2025-08-13T00:14:36.140' AS DateTime), CAST(358.00 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.718936 AS Decimal(9, 6)), CAST(-95.390004 AS Decimal(9, 6)), 0xE6100000010C62F5471806DC4340CA5356D3F5D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (820, 164, CAST(N'2025-08-13T23:26:36.140' AS DateTime), CAST(360.56 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.744536 AS Decimal(9, 6)), CAST(-95.364404 AS Decimal(9, 6)), 0xE6100000010CEA58A5F44CDF434005A2276552D757C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (821, 165, CAST(N'2025-08-10T04:14:36.140' AS DateTime), CAST(411.76 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.623509 AS Decimal(9, 6)), CAST(-122.402018 AS Decimal(9, 6)), 0xE6100000010C7EE19524CFCF4740D099B4A9BA995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (822, 165, CAST(N'2025-08-11T09:02:36.140' AS DateTime), CAST(414.32 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.649109 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C0745F30016D347400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (823, 165, CAST(N'2025-08-12T14:06:36.140' AS DateTime), CAST(416.88 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.574709 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CC2DB831090C94740AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (824, 165, CAST(N'2025-08-13T17:18:36.140' AS DateTime), CAST(398.96 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.595509 AS Decimal(9, 6)), CAST(-122.430018 AS Decimal(9, 6)), 0xE6100000010CA1BC8FA339CC47403FAC376A859B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (825, 165, CAST(N'2025-08-14T20:46:36.140' AS DateTime), CAST(401.52 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.621109 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010C2920ED7F80CF47407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (826, 166, CAST(N'2025-08-09T15:26:36.140' AS DateTime), CAST(288.88 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-95.381204 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E14240AE4676A565D857C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (827, 166, CAST(N'2025-08-10T07:26:36.140' AS DateTime), CAST(291.44 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-95.355604 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE44240EA944737C2D657C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (828, 166, CAST(N'2025-08-10T23:42:36.140' AS DateTime), CAST(294.00 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-95.330004 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E8424026E318C91ED557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (829, 166, CAST(N'2025-08-11T14:06:36.140' AS DateTime), CAST(276.08 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.735429 AS Decimal(9, 6)), CAST(-95.409204 AS Decimal(9, 6)), 0xE6100000010CD7C3978922DE42401D59F96530DA57C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (830, 166, CAST(N'2025-08-12T04:46:36.140' AS DateTime), CAST(278.64 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.761029 AS Decimal(9, 6)), CAST(-95.383604 AS Decimal(9, 6)), 0xE6100000010C5F27F56569E1424059A7CAF78CD857C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (831, 167, CAST(N'2025-08-09T19:42:36.140' AS DateTime), CAST(329.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.737336 AS Decimal(9, 6)), CAST(-122.421218 AS Decimal(9, 6)), 0xE6100000010CEC14AB0661DE4340239F573CF59A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (832, 167, CAST(N'2025-08-10T15:58:36.140' AS DateTime), CAST(332.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.762936 AS Decimal(9, 6)), CAST(-122.395618 AS Decimal(9, 6)), 0xE6100000010C757808E3A7E143405FED28CE51995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (833, 167, CAST(N'2025-08-11T12:30:36.140' AS DateTime), CAST(334.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.788536 AS Decimal(9, 6)), CAST(-122.370018 AS Decimal(9, 6)), 0xE6100000010CFDDB65BFEEE443409B3BFA5FAE975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (834, 167, CAST(N'2025-08-12T07:10:36.140' AS DateTime), CAST(317.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.709336 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C0FF0A485CBDA434092B1DAFCBF9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (835, 167, CAST(N'2025-08-13T02:06:36.140' AS DateTime), CAST(319.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.734936 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010C9753026212DE4340CEFFAB8E1C9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (836, 168, CAST(N'2025-08-10T17:02:36.140' AS DateTime), CAST(34.64 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.807781 AS Decimal(9, 6)), CAST(-87.583599 AS Decimal(9, 6)), 0xE6100000010C865451BCCACE39409DBE9EAF59E555C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (837, 168, CAST(N'2025-08-12T10:38:36.140' AS DateTime), CAST(37.20 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.733381 AS Decimal(9, 6)), CAST(-87.657999 AS Decimal(9, 6)), 0xE6100000010CFE8172DBBEBB39403F73D6A71CEA55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (838, 168, CAST(N'2025-08-14T04:30:36.140' AS DateTime), CAST(39.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.758981 AS Decimal(9, 6)), CAST(-87.632399 AS Decimal(9, 6)), 0xE6100000010C0E492D944CC239407BC1A73979E855C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (839, 168, CAST(N'2025-08-15T20:30:36.140' AS DateTime), CAST(21.84 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.779781 AS Decimal(9, 6)), CAST(-87.611599 AS Decimal(9, 6)), 0xE6100000010CCC0A45BA9FC739400BD1217024E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (840, 168, CAST(N'2025-08-17T12:46:36.140' AS DateTime), CAST(24.40 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.805381 AS Decimal(9, 6)), CAST(-87.585999 AS Decimal(9, 6)), 0xE6100000010CDDD1FF722DCE3940471FF30181E555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (841, 169, CAST(N'2025-08-10T21:18:36.140' AS DateTime), CAST(75.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-71.103084 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD42406A2FA2ED98C651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (842, 169, CAST(N'2025-08-12T19:10:36.140' AS DateTime), CAST(78.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-71.077484 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240A67D737FF5C451C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (843, 169, CAST(N'2025-08-14T17:18:36.140' AS DateTime), CAST(80.72 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-71.051884 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E44240E2CB441152C351C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (844, 169, CAST(N'2025-08-16T13:34:36.140' AS DateTime), CAST(62.80 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-71.031084 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424073DBBE47FDC151C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (845, 169, CAST(N'2025-08-18T10:06:36.140' AS DateTime), CAST(65.36 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.728229 AS Decimal(9, 6)), CAST(-71.105484 AS Decimal(9, 6)), 0xE6100000010CD87F9D9B36DD42401590F63FC0C651C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (846, 170, CAST(N'2025-08-10T08:30:36.140' AS DateTime), CAST(452.72 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.739676 AS Decimal(9, 6)), CAST(-112.047036 AS Decimal(9, 6)), 0xE6100000010C6CD102B4AD5E4440056F48A302035CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (847, 170, CAST(N'2025-08-11T17:34:36.140' AS DateTime), CAST(455.28 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.665276 AS Decimal(9, 6)), CAST(-112.121436 AS Decimal(9, 6)), 0xE6100000010C276893C327554440A723809BC5075CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (848, 170, CAST(N'2025-08-13T02:54:36.140' AS DateTime), CAST(457.84 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.690876 AS Decimal(9, 6)), CAST(-112.095836 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6E584440E371512D22065CC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (849, 170, CAST(N'2025-08-14T10:22:36.140' AS DateTime), CAST(439.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.711676 AS Decimal(9, 6)), CAST(-112.075036 AS Decimal(9, 6)), 0xE6100000010C8EACFC32185B44407381CB63CD045CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (850, 170, CAST(N'2025-08-15T18:06:36.140' AS DateTime), CAST(442.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.737276 AS Decimal(9, 6)), CAST(-112.049436 AS Decimal(9, 6)), 0xE6100000010C17105A0F5F5E4440AFCF9CF529035CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (851, 171, CAST(N'2025-08-10T12:46:36.140' AS DateTime), CAST(493.68 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.088735 AS Decimal(9, 6)), CAST(-95.333204 AS Decimal(9, 6)), 0xE6100000010C5A8121AB5B0B41405EB9DE3653D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (852, 171, CAST(N'2025-08-12T02:06:36.140' AS DateTime), CAST(496.24 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.014335 AS Decimal(9, 6)), CAST(-95.407604 AS Decimal(9, 6)), 0xE6100000010C1618B2BAD5014140016E162F16DA57C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (853, 171, CAST(N'2025-08-13T15:42:36.140' AS DateTime), CAST(498.80 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.039935 AS Decimal(9, 6)), CAST(-95.382004 AS Decimal(9, 6)), 0xE6100000010C9E7B0F971C0541403CBCE7C072D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (854, 171, CAST(N'2025-08-15T03:26:36.140' AS DateTime), CAST(480.88 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.060735 AS Decimal(9, 6)), CAST(-95.361204 AS Decimal(9, 6)), 0xE6100000010C7D5C1B2AC6074140CDCB61F71DD757C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (855, 171, CAST(N'2025-08-16T15:26:36.140' AS DateTime), CAST(483.44 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.086335 AS Decimal(9, 6)), CAST(-95.335604 AS Decimal(9, 6)), 0xE6100000010C05C078060D0B4140091A33897AD557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (856, 172, CAST(N'2025-08-11T10:06:36.140' AS DateTime), CAST(198.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.744927 AS Decimal(9, 6)), CAST(-112.089436 AS Decimal(9, 6)), 0xE6100000010C4BE82E89B3BE3D4072C5C551B9055CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (857, 172, CAST(N'2025-08-13T20:46:36.140' AS DateTime), CAST(201.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.770527 AS Decimal(9, 6)), CAST(-112.063836 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141C53D40AD1397E315045CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (858, 172, CAST(N'2025-08-16T07:42:36.140' AS DateTime), CAST(203.60 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.796127 AS Decimal(9, 6)), CAST(-112.038236 AS Decimal(9, 6)), 0xE6100000010C6C76A4FACECB3D40E961687572025CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (859, 172, CAST(N'2025-08-18T16:46:36.140' AS DateTime), CAST(185.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.716927 AS Decimal(9, 6)), CAST(-112.117436 AS Decimal(9, 6)), 0xE6100000010C909E228788B73D40E0D7481284075CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (860, 172, CAST(N'2025-08-21T02:06:36.140' AS DateTime), CAST(188.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.742527 AS Decimal(9, 6)), CAST(-112.091836 AS Decimal(9, 6)), 0xE6100000010CA165DD3F16BE3D401C261AA4E0055CC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (861, 173, CAST(N'2025-08-11T14:22:36.140' AS DateTime), CAST(239.44 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.354181 AS Decimal(9, 6)), CAST(-122.337869 AS Decimal(9, 6)), 0xE6100000010CAAEE91CD552D454043554CA59F955EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (862, 173, CAST(N'2025-08-14T05:18:36.140' AS DateTime), CAST(242.00 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.379781 AS Decimal(9, 6)), CAST(-122.312269 AS Decimal(9, 6)), 0xE6100000010C3352EFA99C3045407FA31D37FC935EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (863, 173, CAST(N'2025-08-16T20:30:36.140' AS DateTime), CAST(244.56 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.405381 AS Decimal(9, 6)), CAST(-122.286669 AS Decimal(9, 6)), 0xE6100000010CBBB54C86E3334540BBF1EEC858925EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (864, 173, CAST(N'2025-08-19T09:50:36.140' AS DateTime), CAST(226.64 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.326181 AS Decimal(9, 6)), CAST(-122.365869 AS Decimal(9, 6)), 0xE6100000010CCDC98B4CC0294540B267CF656A975EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (865, 173, CAST(N'2025-08-21T23:26:36.140' AS DateTime), CAST(229.20 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.351781 AS Decimal(9, 6)), CAST(-122.340269 AS Decimal(9, 6)), 0xE6100000010C562DE928072D4540EEB5A0F7C6955EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (866, 174, CAST(N'2025-08-11T01:34:36.140' AS DateTime), CAST(116.56 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.413676 AS Decimal(9, 6)), CAST(-118.278283 AS Decimal(9, 6)), 0xE6100000010CEF91CD55F3B4404019028063CF915DC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (867, 174, CAST(N'2025-08-13T03:42:36.140' AS DateTime), CAST(119.12 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.439276 AS Decimal(9, 6)), CAST(-118.252683 AS Decimal(9, 6)), 0xE6100000010C77F52A323AB84040555051F52B905DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (868, 174, CAST(N'2025-08-15T06:06:36.140' AS DateTime), CAST(121.68 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.464876 AS Decimal(9, 6)), CAST(-118.227083 AS Decimal(9, 6)), 0xE6100000010CFF58880E81BB4040909E2287888E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (869, 174, CAST(N'2025-08-17T06:38:36.140' AS DateTime), CAST(103.76 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.485676 AS Decimal(9, 6)), CAST(-118.206283 AS Decimal(9, 6)), 0xE6100000010CDE3994A12ABE404021AE9CBD338D5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (870, 174, CAST(N'2025-08-19T07:26:36.140' AS DateTime), CAST(106.32 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.411276 AS Decimal(9, 6)), CAST(-118.280683 AS Decimal(9, 6)), 0xE6100000010C9AD024B1A4B44040C362D4B5F6915DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (871, 175, CAST(N'2025-08-11T05:50:36.140' AS DateTime), CAST(157.52 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.687676 AS Decimal(9, 6)), CAST(-87.654799 AS Decimal(9, 6)), 0xE6100000010C3F1F65C405584440069D103AE8E955C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (872, 175, CAST(N'2025-08-13T12:14:36.140' AS DateTime), CAST(160.08 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.713276 AS Decimal(9, 6)), CAST(-87.629199 AS Decimal(9, 6)), 0xE6100000010CC782C2A04C5B444042EBE1CB44E855C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (873, 175, CAST(N'2025-08-15T18:54:36.140' AS DateTime), CAST(162.64 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.738876 AS Decimal(9, 6)), CAST(-87.603599 AS Decimal(9, 6)), 0xE6100000010C4FE61F7D935E44407E39B35DA1E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (874, 175, CAST(N'2025-08-17T23:42:36.140' AS DateTime), CAST(144.72 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.759676 AS Decimal(9, 6)), CAST(-87.582799 AS Decimal(9, 6)), 0xE6100000010C2EC72B103D6144400E492D944CE555C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (875, 175, CAST(N'2025-08-20T04:46:36.140' AS DateTime), CAST(147.28 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.685276 AS Decimal(9, 6)), CAST(-87.657199 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB7574440B1FD648C0FEA55C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (876, 176, CAST(N'2025-08-09T03:10:36.140' AS DateTime), CAST(362.32 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.471276 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010CE2B19FC552BC4040ED629AE95E995EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (877, 176, CAST(N'2025-08-09T06:54:36.140' AS DateTime), CAST(364.88 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.496876 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010C6A15FDA199BF404029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (878, 176, CAST(N'2025-08-09T10:54:36.140' AS DateTime), CAST(367.44 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.422476 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010C26AC8DB113B64040CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (879, 176, CAST(N'2025-08-09T13:02:36.140' AS DateTime), CAST(349.52 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.443276 AS Decimal(9, 6)), CAST(-122.424418 AS Decimal(9, 6)), 0xE6100000010C048D9944BDB840405C751DAA299B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (880, 176, CAST(N'2025-08-09T15:26:36.140' AS DateTime), CAST(352.08 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.468876 AS Decimal(9, 6)), CAST(-122.398818 AS Decimal(9, 6)), 0xE6100000010C8DF0F62004BC404098C3EE3B86995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (881, 177, CAST(N'2025-08-09T07:26:36.140' AS DateTime), CAST(403.28 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.084735 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010CCDE9B298D80A4140B63176C24B7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (882, 177, CAST(N'2025-08-09T15:26:36.140' AS DateTime), CAST(405.84 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.010335 AS Decimal(9, 6)), CAST(-74.047774 AS Decimal(9, 6)), 0xE6100000010C888043A85201414058E6ADBA0E8352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (883, 177, CAST(N'2025-08-09T23:42:36.140' AS DateTime), CAST(408.40 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.035935 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C11E4A0849904414094347F4C6B8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (884, 177, CAST(N'2025-08-10T06:06:36.140' AS DateTime), CAST(390.48 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.056735 AS Decimal(9, 6)), CAST(-74.001374 AS Decimal(9, 6)), 0xE6100000010CF0C4AC17430741402444F982168052C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (885, 177, CAST(N'2025-08-10T12:46:36.140' AS DateTime), CAST(393.04 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.082335 AS Decimal(9, 6)), CAST(-73.975774 AS Decimal(9, 6)), 0xE6100000010C78280AF4890A41406092CA14737E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (886, 178, CAST(N'2025-08-11T18:38:36.140' AS DateTime), CAST(280.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-87.625999 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE3424009151C5E10E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (887, 178, CAST(N'2025-08-14T13:50:36.140' AS DateTime), CAST(282.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-87.600399 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E642404563EDEF6CE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (888, 178, CAST(N'2025-08-17T09:18:36.140' AS DateTime), CAST(285.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-87.674799 AS Decimal(9, 6)), 0xE6100000010C115663096BDD4240E71725E82FEB55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (889, 178, CAST(N'2025-08-20T02:54:36.140' AS DateTime), CAST(267.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-87.653999 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E0424078279F1EDBE955C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (890, 178, CAST(N'2025-08-22T20:46:36.140' AS DateTime), CAST(270.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-87.628399 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240B47570B037E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (891, 179, CAST(N'2025-08-11T22:54:36.140' AS DateTime), CAST(321.36 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E4424097E5EB32FC995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (892, 179, CAST(N'2025-08-14T22:22:36.140' AS DateTime), CAST(323.92 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (893, 179, CAST(N'2025-08-17T22:06:36.140' AS DateTime), CAST(326.48 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (894, 179, CAST(N'2025-08-20T19:58:36.140' AS DateTime), CAST(308.56 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (895, 179, CAST(N'2025-08-23T18:06:36.140' AS DateTime), CAST(311.12 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E4424041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (896, 180, CAST(N'2025-08-09T20:14:36.140' AS DateTime), CAST(26.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.700536 AS Decimal(9, 6)), CAST(-95.408404 AS Decimal(9, 6)), 0xE6100000010CD8D5E429ABD943408FE3874A23DA57C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (897, 180, CAST(N'2025-08-10T17:02:36.140' AS DateTime), CAST(28.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.726136 AS Decimal(9, 6)), CAST(-95.382804 AS Decimal(9, 6)), 0xE6100000010C60394206F2DC4340CA3159DC7FD857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (898, 180, CAST(N'2025-08-11T14:06:36.140' AS DateTime), CAST(31.28 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.751736 AS Decimal(9, 6)), CAST(-95.357204 AS Decimal(9, 6)), 0xE6100000010CE99C9FE238E0434006802A6EDCD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (899, 180, CAST(N'2025-08-12T09:18:36.140' AS DateTime), CAST(13.36 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.772536 AS Decimal(9, 6)), CAST(-95.336404 AS Decimal(9, 6)), 0xE6100000010CC87DAB75E2E24340978FA4A487D557C0, N'Grocery', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (900, 180, CAST(N'2025-08-13T04:46:36.140' AS DateTime), CAST(15.92 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.698136 AS Decimal(9, 6)), CAST(-95.410804 AS Decimal(9, 6)), 0xE6100000010C83143C855CD943403944DC9C4ADA57C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (901, 181, CAST(N'2025-08-10T00:30:36.140' AS DateTime), CAST(67.12 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-118.272683 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF424036CB65A373915DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (902, 181, CAST(N'2025-08-11T01:34:36.140' AS DateTime), CAST(69.68 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-118.247083 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424072193735D08F5DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (903, 181, CAST(N'2025-08-12T02:54:36.140' AS DateTime), CAST(72.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-118.221483 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E64240AE6708C72C8E5DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (904, 181, CAST(N'2025-08-13T02:22:36.140' AS DateTime), CAST(54.32 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-118.200683 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842403E7782FDD78C5DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (905, 181, CAST(N'2025-08-14T02:06:36.140' AS DateTime), CAST(56.88 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-118.275083 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF4240E02BBAF59A915DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (906, 182, CAST(N'2025-08-09T11:42:36.140' AS DateTime), CAST(444.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.402181 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C4A09C1AA7A3345409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (907, 182, CAST(N'2025-08-09T23:58:36.140' AS DateTime), CAST(446.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.327781 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010C06A051BAF42945403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (908, 182, CAST(N'2025-08-10T12:30:36.140' AS DateTime), CAST(449.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.353381 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C8E03AF963B2D4540786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (909, 182, CAST(N'2025-08-10T23:10:36.140' AS DateTime), CAST(431.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.374181 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C6DE4BA29E52F454009707A17EF995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (910, 182, CAST(N'2025-08-11T10:06:36.140' AS DateTime), CAST(434.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.399781 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010CF54718062C33454044BE4BA94B985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (911, 183, CAST(N'2025-08-09T15:58:36.140' AS DateTime), CAST(485.20 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.712127 AS Decimal(9, 6)), CAST(-71.107084 AS Decimal(9, 6)), 0xE6100000010C3D997FF44DB63D40317BD976DAC651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (912, 183, CAST(N'2025-08-10T08:30:36.140' AS DateTime), CAST(487.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.737727 AS Decimal(9, 6)), CAST(-71.081484 AS Decimal(9, 6)), 0xE6100000010C4E603AADDBBC3D406DC9AA0837C551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (913, 183, CAST(N'2025-08-11T01:18:36.140' AS DateTime), CAST(490.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.763327 AS Decimal(9, 6)), CAST(-71.055884 AS Decimal(9, 6)), 0xE6100000010C5F27F56569C33D40A9177C9A93C351C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (914, 183, CAST(N'2025-08-11T16:14:36.140' AS DateTime), CAST(472.40 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.784127 AS Decimal(9, 6)), CAST(-71.035084 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCC83D403927F6D03EC251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (915, 183, CAST(N'2025-08-12T07:26:36.140' AS DateTime), CAST(474.96 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.809727 AS Decimal(9, 6)), CAST(-71.009484 AS Decimal(9, 6)), 0xE6100000010C2DB0C7444ACF3D407575C7629BC051C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (916, 184, CAST(N'2025-08-10T13:18:36.140' AS DateTime), CAST(190.00 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.760127 AS Decimal(9, 6)), CAST(-74.006174 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97C23D407905A227658052C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (917, 184, CAST(N'2025-08-12T03:10:36.140' AS DateTime), CAST(192.56 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.785727 AS Decimal(9, 6)), CAST(-73.980574 AS Decimal(9, 6)), 0xE6100000010C8E95986725C93D40B55373B9C17E52C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (918, 184, CAST(N'2025-08-13T17:18:36.140' AS DateTime), CAST(195.12 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.711327 AS Decimal(9, 6)), CAST(-74.054974 AS Decimal(9, 6)), 0xE6100000010C05C3B98619B63D405708ABB1848352C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (919, 184, CAST(N'2025-08-15T05:34:36.140' AS DateTime), CAST(177.20 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.732127 AS Decimal(9, 6)), CAST(-74.034174 AS Decimal(9, 6)), 0xE6100000010CC284D1AC6CBB3D40E71725E82F8252C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (920, 184, CAST(N'2025-08-16T18:06:36.140' AS DateTime), CAST(179.76 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.757727 AS Decimal(9, 6)), CAST(-74.008574 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FAC13D402366F6798C8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (921, 185, CAST(N'2025-08-10T17:34:36.140' AS DateTime), CAST(230.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.061535 AS Decimal(9, 6)), CAST(-87.620399 AS Decimal(9, 6)), 0xE6100000010C9947FE60E007414027DE019EB4E755C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (922, 185, CAST(N'2025-08-12T11:42:36.140' AS DateTime), CAST(233.52 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.087135 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C22AB5B3D270B4140622CD32F11E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (923, 185, CAST(N'2025-08-14T06:06:36.140' AS DateTime), CAST(236.08 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.012735 AS Decimal(9, 6)), CAST(-87.669199 AS Decimal(9, 6)), 0xE6100000010CDD41EC4CA101414005E10A28D4EA55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (924, 185, CAST(N'2025-08-15T22:38:36.140' AS DateTime), CAST(218.16 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.033535 AS Decimal(9, 6)), CAST(-87.648399 AS Decimal(9, 6)), 0xE6100000010CBC22F8DF4A04414095F0845E7FE955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (925, 185, CAST(N'2025-08-17T15:26:36.140' AS DateTime), CAST(220.72 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.059135 AS Decimal(9, 6)), CAST(-87.622799 AS Decimal(9, 6)), 0xE6100000010C448655BC91074140D13E56F0DBE755C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (926, 186, CAST(N'2025-08-10T04:46:36.140' AS DateTime), CAST(108.08 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-87.649199 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E042402366F6798CE955C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (927, 186, CAST(N'2025-08-11T10:06:36.140' AS DateTime), CAST(110.64 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-87.623599 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342405FB4C70BE9E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (928, 186, CAST(N'2025-08-12T15:42:36.140' AS DateTime), CAST(113.20 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-87.597999 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE742409B02999D45E655C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (929, 186, CAST(N'2025-08-13T19:26:36.140' AS DateTime), CAST(95.28 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-87.677199 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD42409278793A57EB55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (930, 186, CAST(N'2025-08-14T23:26:36.140' AS DateTime), CAST(97.84 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-87.651599 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240CEC64ACCB3E955C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (931, 187, CAST(N'2025-08-10T09:02:36.140' AS DateTime), CAST(149.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.596309 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CBDA772DA53CC4740B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (932, 187, CAST(N'2025-08-11T18:38:36.140' AS DateTime), CAST(151.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.621909 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C460BD0B69ACF4740EC8497E0D4995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (933, 187, CAST(N'2025-08-13T04:30:36.140' AS DateTime), CAST(154.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.647509 AS Decimal(9, 6)), CAST(-122.378018 AS Decimal(9, 6)), 0xE6100000010CCE6E2D93E1D2474028D3687231985EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (934, 187, CAST(N'2025-08-14T12:30:36.140' AS DateTime), CAST(136.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.568309 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010CE0826C59BEC847401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (935, 187, CAST(N'2025-08-15T20:46:36.140' AS DateTime), CAST(138.80 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.593909 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010C68E6C93505CC47405B971AA19F9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (936, 188, CAST(N'2025-08-11T06:22:36.140' AS DateTime), CAST(353.84 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.813029 AS Decimal(9, 6)), CAST(-71.020684 AS Decimal(9, 6)), 0xE6100000010C8CD9925511E842403BE3FBE252C151C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (937, 188, CAST(N'2025-08-13T13:18:36.140' AS DateTime), CAST(356.40 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-71.095084 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240DD9733DB15C651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (938, 188, CAST(N'2025-08-15T20:30:36.140' AS DateTime), CAST(358.96 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-71.069484 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E1424019E6046D72C451C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (939, 188, CAST(N'2025-08-18T01:50:36.140' AS DateTime), CAST(341.04 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.785029 AS Decimal(9, 6)), CAST(-71.048684 AS Decimal(9, 6)), 0xE6100000010CAFB48CD47BE44240A9F57EA31DC351C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (940, 188, CAST(N'2025-08-20T07:26:36.140' AS DateTime), CAST(343.60 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.810629 AS Decimal(9, 6)), CAST(-71.023084 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2E74240E54350357AC151C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (941, 189, CAST(N'2025-08-11T10:38:36.140' AS DateTime), CAST(394.80 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.496076 AS Decimal(9, 6)), CAST(-122.371618 AS Decimal(9, 6)), 0xE6100000010C4E2A1A6B7FBF4040B726DD96C8975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (942, 189, CAST(N'2025-08-13T21:50:36.140' AS DateTime), CAST(397.36 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.421676 AS Decimal(9, 6)), CAST(-122.446018 AS Decimal(9, 6)), 0xE6100000010C09C1AA7AF9B5404059DB148F8B9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (943, 189, CAST(N'2025-08-16T09:18:36.140' AS DateTime), CAST(399.92 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.447276 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C9224085740B940409529E620E89A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (944, 189, CAST(N'2025-08-18T18:54:36.140' AS DateTime), CAST(382.00 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.468076 AS Decimal(9, 6)), CAST(-122.399618 AS Decimal(9, 6)), 0xE6100000010C710514EAE9BB40402639605793995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (945, 189, CAST(N'2025-08-21T04:46:36.140' AS DateTime), CAST(384.56 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.493676 AS Decimal(9, 6)), CAST(-122.374018 AS Decimal(9, 6)), 0xE6100000010CF96871C630BF4040628731E9EF975EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (946, 190, CAST(N'2025-08-10T21:50:36.140' AS DateTime), CAST(271.92 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.758136 AS Decimal(9, 6)), CAST(-122.400418 AS Decimal(9, 6)), 0xE6100000010CCBF5B6990AE14340B4AED172A0995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (947, 190, CAST(N'2025-08-12T20:14:36.140' AS DateTime), CAST(274.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.783736 AS Decimal(9, 6)), CAST(-122.374818 AS Decimal(9, 6)), 0xE6100000010C5359147651E44340F0FCA204FD975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (948, 190, CAST(N'2025-08-14T18:54:36.140' AS DateTime), CAST(277.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.709336 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C0FF0A485CBDA434092B1DAFCBF9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (949, 190, CAST(N'2025-08-16T15:42:36.140' AS DateTime), CAST(259.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.730136 AS Decimal(9, 6)), CAST(-122.428418 AS Decimal(9, 6)), 0xE6100000010CEED0B01875DD434022C154336B9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (950, 190, CAST(N'2025-08-18T12:46:36.140' AS DateTime), CAST(261.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.755736 AS Decimal(9, 6)), CAST(-122.402818 AS Decimal(9, 6)), 0xE6100000010C76340EF5BBE043405E0F26C5C7995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (951, 191, CAST(N'2025-08-11T02:06:36.140' AS DateTime), CAST(312.88 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E642407C7DAD4B8D7E52C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (952, 191, CAST(N'2025-08-13T04:46:36.140' AS DateTime), CAST(315.44 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.729029 AS Decimal(9, 6)), CAST(-74.051774 AS Decimal(9, 6)), 0xE6100000010CF46A80D250DD42401E32E543508352C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (953, 191, CAST(N'2025-08-15T07:42:36.140' AS DateTime), CAST(318.00 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-74.026174 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E042405A80B6D5AC8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (954, 191, CAST(N'2025-08-17T08:46:36.140' AS DateTime), CAST(300.08 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.775429 AS Decimal(9, 6)), CAST(-74.005374 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141E34240EB8F300C588052C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (955, 191, CAST(N'2025-08-19T10:06:36.140' AS DateTime), CAST(302.64 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-73.979774 AS Decimal(9, 6)), 0xE6100000010CE412471E88E6424027DE019EB47E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (956, 192, CAST(N'2025-08-09T14:22:36.140' AS DateTime), CAST(396.24 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.568309 AS Decimal(9, 6)), CAST(-80.229588 AS Decimal(9, 6)), 0xE6100000010CE0826C59BEC8474076E3DD91B10E54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (957, 192, CAST(N'2025-08-10T05:18:36.140' AS DateTime), CAST(398.80 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.593909 AS Decimal(9, 6)), CAST(-80.203988 AS Decimal(9, 6)), 0xE6100000010C68E6C93505CC4740B131AF230E0D54C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (958, 192, CAST(N'2025-08-10T20:30:36.140' AS DateTime), CAST(401.36 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.619509 AS Decimal(9, 6)), CAST(-80.178388 AS Decimal(9, 6)), 0xE6100000010CF14927124CCF4740ED7F80B56A0B54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (959, 192, CAST(N'2025-08-11T09:50:36.140' AS DateTime), CAST(383.44 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.640309 AS Decimal(9, 6)), CAST(-80.157588 AS Decimal(9, 6)), 0xE6100000010CD02A33A5F5D147407E8FFAEB150A54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (960, 192, CAST(N'2025-08-11T23:26:36.140' AS DateTime), CAST(386.00 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.565909 AS Decimal(9, 6)), CAST(-80.231988 AS Decimal(9, 6)), 0xE6100000010C8BC1C3B46FC84740204432E4D80E54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (961, 193, CAST(N'2025-08-09T18:38:36.140' AS DateTime), CAST(437.20 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.849813 AS Decimal(9, 6)), CAST(-122.447618 AS Decimal(9, 6)), 0xE6100000010C9A5B21ACC6EC444076C6F7C5A59C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (962, 193, CAST(N'2025-08-10T13:50:36.140' AS DateTime), CAST(439.76 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.875413 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010C23BF7E880DF04440B114C957029B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (963, 193, CAST(N'2025-08-11T09:18:36.140' AS DateTime), CAST(442.32 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.901013 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010CAB22DC6454F34440ED629AE95E995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (964, 193, CAST(N'2025-08-12T02:54:36.140' AS DateTime), CAST(424.40 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.921813 AS Decimal(9, 6)), CAST(-122.375618 AS Decimal(9, 6)), 0xE6100000010C8A03E8F7FDF544407E7214200A985EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (965, 193, CAST(N'2025-08-12T20:46:36.140' AS DateTime), CAST(426.96 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.847413 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C469A780778EC444020274C18CD9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (966, 194, CAST(N'2025-08-09T05:50:36.140' AS DateTime), CAST(314.32 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-122.289069 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842406552431B80925EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (967, 194, CAST(N'2025-08-09T12:14:36.140' AS DateTime), CAST(316.88 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-122.363469 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF424007077B1343975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (968, 194, CAST(N'2025-08-09T18:54:36.140' AS DateTime), CAST(319.44 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-122.337869 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE2424043554CA59F955EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (969, 194, CAST(N'2025-08-09T23:42:36.140' AS DateTime), CAST(301.52 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.789829 AS Decimal(9, 6)), CAST(-122.317069 AS Decimal(9, 6)), 0xE6100000010C5837DE1D19E54240D464C6DB4A945EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (970, 194, CAST(N'2025-08-10T04:46:36.140' AS DateTime), CAST(304.08 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.815429 AS Decimal(9, 6)), CAST(-122.291469 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FE8424010B3976DA7925EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (971, 195, CAST(N'2025-08-09T10:06:36.140' AS DateTime), CAST(355.28 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240C9CB9A58E09D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (972, 195, CAST(N'2025-08-09T20:46:36.140' AS DateTime), CAST(357.84 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-122.441218 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240051A6CEA3C9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (973, 195, CAST(N'2025-08-10T07:42:36.140' AS DateTime), CAST(360.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-122.415618 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE3424040683D7C999A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (974, 195, CAST(N'2025-08-10T16:46:36.140' AS DateTime), CAST(342.48 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.799429 AS Decimal(9, 6)), CAST(-122.394818 AS Decimal(9, 6)), 0xE6100000010CAC3C81B053E64240D177B7B244995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (975, 195, CAST(N'2025-08-11T02:06:36.140' AS DateTime), CAST(345.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-122.469218 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC4240732CEFAA079E5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (976, 196, CAST(N'2025-08-10T07:26:36.140' AS DateTime), CAST(60.08 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.775429 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141E34240793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (977, 196, CAST(N'2025-08-11T15:26:36.140' AS DateTime), CAST(62.64 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-122.393218 AS Decimal(9, 6)), 0xE6100000010CE412471E88E64240B58CD47B2A995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (978, 196, CAST(N'2025-08-12T23:42:36.140' AS DateTime), CAST(65.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-122.467618 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424057410C74ED9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (979, 196, CAST(N'2025-08-14T06:06:36.140' AS DateTime), CAST(47.28 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.747429 AS Decimal(9, 6)), CAST(-122.446818 AS Decimal(9, 6)), 0xE6100000010C7E8AE3C0ABDF4240E75086AA989C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (980, 196, CAST(N'2025-08-15T12:46:36.140' AS DateTime), CAST(49.84 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.773029 AS Decimal(9, 6)), CAST(-122.421218 AS Decimal(9, 6)), 0xE6100000010C07EE409DF2E24240239F573CF59A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (981, 197, CAST(N'2025-08-10T11:42:36.140' AS DateTime), CAST(101.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.749336 AS Decimal(9, 6)), CAST(-95.359604 AS Decimal(9, 6)), 0xE6100000010C94DBF63DEADF4340B1E07EC003D757C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (982, 197, CAST(N'2025-08-11T23:58:36.140' AS DateTime), CAST(103.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.774936 AS Decimal(9, 6)), CAST(-95.334004 AS Decimal(9, 6)), 0xE6100000010C1C3F541A31E34340EC2E505260D557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (983, 197, CAST(N'2025-08-13T12:30:36.140' AS DateTime), CAST(106.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.700536 AS Decimal(9, 6)), CAST(-95.408404 AS Decimal(9, 6)), 0xE6100000010CD8D5E429ABD943408FE3874A23DA57C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (984, 197, CAST(N'2025-08-14T23:10:36.140' AS DateTime), CAST(88.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.721336 AS Decimal(9, 6)), CAST(-95.387604 AS Decimal(9, 6)), 0xE6100000010CB7B6F0BC54DC43401FF30181CED857C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (985, 197, CAST(N'2025-08-16T10:06:36.140' AS DateTime), CAST(90.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.746936 AS Decimal(9, 6)), CAST(-95.362004 AS Decimal(9, 6)), 0xE6100000010C3F1A4E999BDF43405B41D3122BD757C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (986, 198, CAST(N'2025-08-09T22:54:36.140' AS DateTime), CAST(478.16 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.720536 AS Decimal(9, 6)), CAST(-74.024574 AS Decimal(9, 6)), 0xE6100000010C9BCB0D863ADC43403E95D39E928152C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (987, 198, CAST(N'2025-08-10T22:22:36.140' AS DateTime), CAST(480.72 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.746136 AS Decimal(9, 6)), CAST(-73.998974 AS Decimal(9, 6)), 0xE6100000010C232F6B6281DF43407AE3A430EF7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (988, 198, CAST(N'2025-08-11T22:06:36.140' AS DateTime), CAST(483.28 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.771736 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010CAB92C83EC8E24340B63176C24B7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (989, 198, CAST(N'2025-08-12T19:58:36.140' AS DateTime), CAST(465.36 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.692536 AS Decimal(9, 6)), CAST(-74.052574 AS Decimal(9, 6)), 0xE6100000010CBDA60705A5D84340ADA7565F5D8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (990, 198, CAST(N'2025-08-13T18:06:36.140' AS DateTime), CAST(467.92 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.718136 AS Decimal(9, 6)), CAST(-74.026974 AS Decimal(9, 6)), 0xE6100000010C460A65E1EBDB4340E8F527F1B98152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (991, 199, CAST(N'2025-08-10T03:10:36.140' AS DateTime), CAST(19.12 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.350981 AS Decimal(9, 6)), CAST(-118.252683 AS Decimal(9, 6)), 0xE6100000010C394206F2EC2C4540555051F52B905DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (992, 199, CAST(N'2025-08-11T06:54:36.140' AS DateTime), CAST(21.68 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.376581 AS Decimal(9, 6)), CAST(-118.227083 AS Decimal(9, 6)), 0xE6100000010CC2A563CE33304540909E2287888E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (993, 199, CAST(N'2025-08-12T10:54:36.140' AS DateTime), CAST(24.24 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.402181 AS Decimal(9, 6)), CAST(-118.201483 AS Decimal(9, 6)), 0xE6100000010C4A09C1AA7A334540CCECF318E58C5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (994, 199, CAST(N'2025-08-13T13:02:36.140' AS DateTime), CAST(6.32 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.322981 AS Decimal(9, 6)), CAST(-118.280683 AS Decimal(9, 6)), 0xE6100000010C5C1D007157294540C362D4B5F6915DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (995, 199, CAST(N'2025-08-14T15:26:36.140' AS DateTime), CAST(8.88 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.348581 AS Decimal(9, 6)), CAST(-118.255083 AS Decimal(9, 6)), 0xE6100000010CE5805D4D9E2C4540FFB0A54753905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (996, 200, CAST(N'2025-08-11T00:30:36.140' AS DateTime), CAST(223.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-87.590799 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE842409CE09BA6CFE555C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (997, 200, CAST(N'2025-08-13T01:34:36.140' AS DateTime), CAST(226.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-87.665199 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE42403E95D39E92EA55C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (998, 200, CAST(N'2025-08-15T02:54:36.140' AS DateTime), CAST(229.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-87.639599 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE142407AE3A430EFE855C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (999, 200, CAST(N'2025-08-17T02:22:36.140' AS DateTime), CAST(211.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-87.618799 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E442400AF31E679AE755C0, N'Restaurant', 1)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1000, 200, CAST(N'2025-08-19T02:06:36.140' AS DateTime), CAST(213.68 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.811429 AS Decimal(9, 6)), CAST(-87.593199 AS Decimal(9, 6)), 0xE6100000010C5303CDE7DCE742404641F0F8F6E555C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1001, 201, CAST(N'2025-08-11T04:46:36.140' AS DateTime), CAST(264.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E9424029B16B7BBB975EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1002, 201, CAST(N'2025-08-13T10:06:36.140' AS DateTime), CAST(267.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.749029 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010CB760A92EE0DF4240CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1003, 201, CAST(N'2025-08-15T15:42:36.140' AS DateTime), CAST(270.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1004, 201, CAST(N'2025-08-17T19:26:36.140' AS DateTime), CAST(252.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-122.398818 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E5424098C3EE3B86995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1005, 201, CAST(N'2025-08-19T23:26:36.140' AS DateTime), CAST(254.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.821029 AS Decimal(9, 6)), CAST(-122.373218 AS Decimal(9, 6)), 0xE6100000010CA708707A17E94240D311C0CDE2975EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1006, 202, CAST(N'2025-08-10T15:58:36.140' AS DateTime), CAST(142.00 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.794629 AS Decimal(9, 6)), CAST(-112.054236 AS Decimal(9, 6)), 0xE6100000010C02BA2F67B6E542400491459A78035CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1007, 202, CAST(N'2025-08-12T08:30:36.140' AS DateTime), CAST(144.56 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.820229 AS Decimal(9, 6)), CAST(-112.028636 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDE8424040DF162CD5015CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1008, 202, CAST(N'2025-08-14T01:18:36.140' AS DateTime), CAST(147.12 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-112.103036 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF4240E2934E2498065CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1009, 202, CAST(N'2025-08-15T16:14:36.140' AS DateTime), CAST(129.20 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-112.082236 AS Decimal(9, 6)), 0xE6100000010C259529E620E2424072A3C85A43055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1010, 202, CAST(N'2025-08-17T07:26:36.140' AS DateTime), CAST(131.76 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-112.056636 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240AEF199EC9F035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1011, 203, CAST(N'2025-08-10T20:14:36.140' AS DateTime), CAST(182.96 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-73.976574 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E64240EE073C30807E52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1012, 203, CAST(N'2025-08-12T17:02:36.140' AS DateTime), CAST(185.52 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-74.050974 AS Decimal(9, 6)), 0xE6100000010C115663096BDD424090BC7328438352C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1013, 203, CAST(N'2025-08-14T14:06:36.140' AS DateTime), CAST(188.08 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-74.025374 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E04240CC0A45BA9F8152C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1014, 203, CAST(N'2025-08-16T09:18:36.140' AS DateTime), CAST(170.16 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-74.004574 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE342405D1ABFF04A8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1015, 203, CAST(N'2025-08-18T04:46:36.140' AS DateTime), CAST(172.72 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-73.978974 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E6424098689082A77E52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1016, 204, CAST(N'2025-08-11T17:34:36.140' AS DateTime), CAST(387.76 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-87.652399 AS Decimal(9, 6)), 0xE6100000010C280D350A49E042405C3CBCE7C0E955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1017, 204, CAST(N'2025-08-14T11:42:36.140' AS DateTime), CAST(390.32 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.777829 AS Decimal(9, 6)), CAST(-87.626799 AS Decimal(9, 6)), 0xE6100000010CB07092E68FE34240988A8D791DE855C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1018, 204, CAST(N'2025-08-17T06:06:36.140' AS DateTime), CAST(392.88 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-87.601199 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E64240D3D85E0B7AE655C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1019, 204, CAST(N'2025-08-19T22:38:36.140' AS DateTime), CAST(374.96 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.824229 AS Decimal(9, 6)), CAST(-87.580399 AS Decimal(9, 6)), 0xE6100000010C18B5FB5580E9424064E8D84125E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1020, 204, CAST(N'2025-08-22T15:26:36.140' AS DateTime), CAST(377.52 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.749829 AS Decimal(9, 6)), CAST(-87.654799 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FADF4240069D103AE8E955C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1021, 205, CAST(N'2025-08-11T21:50:36.140' AS DateTime), CAST(428.72 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.865013 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CB3CEF8BEB8EE4440E90C8CBCAC9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1022, 205, CAST(N'2025-08-14T20:14:36.140' AS DateTime), CAST(431.28 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.890613 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C3C32569BFFF14440255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1023, 205, CAST(N'2025-08-17T18:54:36.140' AS DateTime), CAST(433.84 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.916213 AS Decimal(9, 6)), CAST(-122.381218 AS Decimal(9, 6)), 0xE6100000010CC495B37746F5444061A92EE065985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1024, 205, CAST(N'2025-08-20T15:42:36.140' AS DateTime), CAST(415.92 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.837013 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010CD6A9F23D23EB4440581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1025, 205, CAST(N'2025-08-23T12:46:36.140' AS DateTime), CAST(418.48 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.862613 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C5F0D501A6AEE4440946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1026, 206, CAST(N'2025-08-11T09:02:36.140' AS DateTime), CAST(305.84 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-112.115836 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240C4EC65DB69075CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1027, 206, CAST(N'2025-08-13T18:38:36.140' AS DateTime), CAST(308.40 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.758629 AS Decimal(9, 6)), CAST(-112.090236 AS Decimal(9, 6)), 0xE6100000010C0A664CC11AE14240003B376DC6055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1028, 206, CAST(N'2025-08-16T04:30:36.140' AS DateTime), CAST(310.96 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-112.064636 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E442403B8908FF22045CC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1029, 206, CAST(N'2025-08-18T12:30:36.140' AS DateTime), CAST(293.04 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.805029 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010C71AAB5300BE74240CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1030, 206, CAST(N'2025-08-20T20:46:36.140' AS DateTime), CAST(295.60 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-112.118236 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD42406E4DBA2D91075CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1031, 207, CAST(N'2025-08-11T13:18:36.140' AS DateTime), CAST(346.80 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.416076 AS Decimal(9, 6)), CAST(-74.038174 AS Decimal(9, 6)), 0xE6100000010C435376FA41B54040AE635C71718252C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1032, 207, CAST(N'2025-08-14T03:10:36.140' AS DateTime), CAST(349.36 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.441676 AS Decimal(9, 6)), CAST(-74.012574 AS Decimal(9, 6)), 0xE6100000010CCCB6D3D688B84040EAB12D03CE8052C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1033, 207, CAST(N'2025-08-16T17:18:36.140' AS DateTime), CAST(351.92 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.467276 AS Decimal(9, 6)), CAST(-73.986974 AS Decimal(9, 6)), 0xE6100000010C541A31B3CFBB40402600FF942A7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1034, 207, CAST(N'2025-08-19T05:34:36.140' AS DateTime), CAST(334.00 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.488076 AS Decimal(9, 6)), CAST(-73.966174 AS Decimal(9, 6)), 0xE6100000010C33FB3C4679BE4040B60F79CBD57D52C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1035, 207, CAST(N'2025-08-21T18:06:36.140' AS DateTime), CAST(336.56 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.413676 AS Decimal(9, 6)), CAST(-74.040574 AS Decimal(9, 6)), 0xE6100000010CEF91CD55F3B4404059C4B0C3988252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1036, 208, CAST(N'2025-08-09T10:38:36.140' AS DateTime), CAST(51.60 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.375781 AS Decimal(9, 6)), CAST(-122.316269 AS Decimal(9, 6)), 0xE6100000010CA6BA80971930454046EF54C03D945EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1037, 208, CAST(N'2025-08-09T21:50:36.140' AS DateTime), CAST(54.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.401381 AS Decimal(9, 6)), CAST(-122.290669 AS Decimal(9, 6)), 0xE6100000010C2E1EDE7360334540813D26529A925EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1038, 208, CAST(N'2025-08-10T09:18:36.140' AS DateTime), CAST(56.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.326981 AS Decimal(9, 6)), CAST(-122.365069 AS Decimal(9, 6)), 0xE6100000010CEAB46E83DA29454024F25D4A5D975EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1039, 208, CAST(N'2025-08-10T18:54:36.140' AS DateTime), CAST(38.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.347781 AS Decimal(9, 6)), CAST(-122.344269 AS Decimal(9, 6)), 0xE6100000010CC8957A16842C4540B401D88008965EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1040, 208, CAST(N'2025-08-11T04:46:36.140' AS DateTime), CAST(41.36 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.373381 AS Decimal(9, 6)), CAST(-122.318669 AS Decimal(9, 6)), 0xE6100000010C51F9D7F2CA2F4540F04FA91265945EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1041, 209, CAST(N'2025-08-09T14:54:36.140' AS DateTime), CAST(92.56 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-80.166388 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE64240999CDA19A60A54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1042, 209, CAST(N'2025-08-10T06:22:36.140' AS DateTime), CAST(95.12 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.725829 AS Decimal(9, 6)), CAST(-80.240788 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7DC42403B511212690F54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1043, 209, CAST(N'2025-08-10T22:06:36.140' AS DateTime), CAST(97.68 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.751429 AS Decimal(9, 6)), CAST(-80.215188 AS Decimal(9, 6)), 0xE6100000010C0C2252D32EE04240779FE3A3C50D54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1044, 209, CAST(N'2025-08-11T11:58:36.140' AS DateTime), CAST(79.76 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-80.194388 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E2424008AF5DDA700C54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1045, 209, CAST(N'2025-08-12T02:06:36.140' AS DateTime), CAST(82.32 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-80.168788 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE6424044FD2E6CCD0A54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1046, 210, CAST(N'2025-08-09T02:06:36.140' AS DateTime), CAST(469.68 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-95.373204 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424021AF0793E2D757C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1047, 210, CAST(N'2025-08-09T04:46:36.140' AS DateTime), CAST(472.24 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-95.347604 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642405DFDD8243FD657C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1048, 210, CAST(N'2025-08-09T07:42:36.140' AS DateTime), CAST(474.80 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-95.322004 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE94240994BAAB69BD457C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1049, 210, CAST(N'2025-08-09T08:46:36.140' AS DateTime), CAST(456.88 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-95.401204 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF424090C18A53ADD957C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1050, 210, CAST(N'2025-08-09T10:06:36.140' AS DateTime), CAST(459.44 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-95.375604 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE24240CB0F5CE509D857C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1051, 211, CAST(N'2025-08-09T06:22:36.140' AS DateTime), CAST(10.64 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.718876 AS Decimal(9, 6)), CAST(-73.999774 AS Decimal(9, 6)), 0xE6100000010C8DF0F620045C44400859164CFC7F52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1052, 211, CAST(N'2025-08-09T13:18:36.140' AS DateTime), CAST(13.20 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-73.974174 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F444044A7E7DD587E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1053, 211, CAST(N'2025-08-09T20:30:36.140' AS DateTime), CAST(15.76 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-74.048574 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440E65B1FD61B8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1054, 211, CAST(N'2025-08-10T01:50:36.140' AS DateTime), CAST(497.84 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.690876 AS Decimal(9, 6)), CAST(-74.027774 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6E584440766B990CC78152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1055, 211, CAST(N'2025-08-10T07:26:36.140' AS DateTime), CAST(500.40 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.716476 AS Decimal(9, 6)), CAST(-74.002174 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB55B4440B2B96A9E238052C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1056, 212, CAST(N'2025-08-10T03:42:36.140' AS DateTime), CAST(215.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.729029 AS Decimal(9, 6)), CAST(-118.289483 AS Decimal(9, 6)), 0xE6100000010CF46A80D250DD4240DF6FB4E386925DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1057, 212, CAST(N'2025-08-11T07:58:36.140' AS DateTime), CAST(218.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-118.263883 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E042401BBE8575E3905DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1058, 212, CAST(N'2025-08-12T12:30:36.140' AS DateTime), CAST(220.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.780229 AS Decimal(9, 6)), CAST(-118.238283 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEE34240560C5707408F5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1059, 212, CAST(N'2025-08-13T15:10:36.140' AS DateTime), CAST(202.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-118.217483 AS Decimal(9, 6)), 0xE6100000010CE412471E88E64240E71BD13DEB8D5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1060, 212, CAST(N'2025-08-14T18:06:36.140' AS DateTime), CAST(205.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-118.291883 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424089D00836AE925DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1061, 213, CAST(N'2025-08-10T07:58:36.140' AS DateTime), CAST(256.40 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.702936 AS Decimal(9, 6)), CAST(-74.042174 AS Decimal(9, 6)), 0xE6100000010C2D978DCEF9D9434075AF93FAB28252C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1062, 213, CAST(N'2025-08-11T16:30:36.140' AS DateTime), CAST(258.96 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.728536 AS Decimal(9, 6)), CAST(-74.016574 AS Decimal(9, 6)), 0xE6100000010CB5FAEAAA40DD4340B1FD648C0F8152C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1063, 213, CAST(N'2025-08-13T01:18:36.140' AS DateTime), CAST(261.52 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.754136 AS Decimal(9, 6)), CAST(-73.990974 AS Decimal(9, 6)), 0xE6100000010C3E5E488787E04340EC4B361E6C7F52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1064, 213, CAST(N'2025-08-14T08:14:36.140' AS DateTime), CAST(243.60 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.774936 AS Decimal(9, 6)), CAST(-73.970174 AS Decimal(9, 6)), 0xE6100000010C1C3F541A31E343407D5BB054177E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1065, 213, CAST(N'2025-08-15T15:26:36.140' AS DateTime), CAST(246.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.700536 AS Decimal(9, 6)), CAST(-74.044574 AS Decimal(9, 6)), 0xE6100000010CD8D5E429ABD943401F10E84CDA8252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1066, 214, CAST(N'2025-08-09T19:10:36.140' AS DateTime), CAST(133.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.087135 AS Decimal(9, 6)), CAST(-80.156788 AS Decimal(9, 6)), 0xE6100000010C22AB5B3D270B4140F01989D0080A54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1067, 214, CAST(N'2025-08-10T14:54:36.140' AS DateTime), CAST(136.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.012735 AS Decimal(9, 6)), CAST(-80.231188 AS Decimal(9, 6)), 0xE6100000010CDD41EC4CA101414092CEC0C8CB0E54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1068, 214, CAST(N'2025-08-11T10:54:36.140' AS DateTime), CAST(138.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.038335 AS Decimal(9, 6)), CAST(-80.205588 AS Decimal(9, 6)), 0xE6100000010C65A54929E8044140CE1C925A280D54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1069, 214, CAST(N'2025-08-12T05:02:36.140' AS DateTime), CAST(120.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.059135 AS Decimal(9, 6)), CAST(-80.184788 AS Decimal(9, 6)), 0xE6100000010C448655BC910741405E2C0C91D30B54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1070, 214, CAST(N'2025-08-12T23:26:36.140' AS DateTime), CAST(123.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.084735 AS Decimal(9, 6)), CAST(-80.159188 AS Decimal(9, 6)), 0xE6100000010CCDE9B298D80A41409A7ADD22300A54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1071, 215, CAST(N'2025-08-09T23:26:36.140' AS DateTime), CAST(174.48 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.819429 AS Decimal(9, 6)), CAST(-118.199083 AS Decimal(9, 6)), 0xE6100000010C6E32AA0CE3E84240228C9FC6BD8C5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1072, 215, CAST(N'2025-08-10T23:26:36.140' AS DateTime), CAST(177.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-118.273483 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF4240C440D7BE80915DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1073, 215, CAST(N'2025-08-11T23:42:36.140' AS DateTime), CAST(179.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.770629 AS Decimal(9, 6)), CAST(-118.247883 AS Decimal(9, 6)), 0xE6100000010CB22C98F8A3E24240008FA850DD8F5DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1074, 215, CAST(N'2025-08-12T22:06:36.140' AS DateTime), CAST(161.68 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-118.227083 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE54240909E2287888E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1075, 215, CAST(N'2025-08-13T20:46:36.140' AS DateTime), CAST(164.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-118.201483 AS Decimal(9, 6)), 0xE6100000010C1971016894E84240CCECF318E58C5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1076, 216, CAST(N'2025-08-10T20:46:36.140' AS DateTime), CAST(379.28 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-71.066284 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240E00F3FFF3DC451C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1077, 216, CAST(N'2025-08-12T18:06:36.140' AS DateTime), CAST(381.84 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.793029 AS Decimal(9, 6)), CAST(-71.040684 AS Decimal(9, 6)), 0xE6100000010CC9E369F981E542401C5E10919AC251C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1078, 216, CAST(N'2025-08-14T15:42:36.140' AS DateTime), CAST(384.40 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.818629 AS Decimal(9, 6)), CAST(-71.015084 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8E8424058ACE122F7C051C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1079, 216, CAST(N'2025-08-16T11:26:36.140' AS DateTime), CAST(366.48 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-71.094284 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE42404F22C2BF08C651C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1080, 216, CAST(N'2025-08-18T07:26:36.140' AS DateTime), CAST(369.04 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-71.068684 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE142408B70935165C451C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1081, 217, CAST(N'2025-08-11T01:02:36.140' AS DateTime), CAST(420.24 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.763781 AS Decimal(9, 6)), CAST(-122.329869 AS Decimal(9, 6)), 0xE6100000010C624ED02687C33940B6BDDD921C955EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1082, 217, CAST(N'2025-08-13T02:38:36.140' AS DateTime), CAST(422.80 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.789381 AS Decimal(9, 6)), CAST(-122.304269 AS Decimal(9, 6)), 0xE6100000010C72158BDF14CA3940F20BAF2479935EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1083, 217, CAST(N'2025-08-15T04:30:36.140' AS DateTime), CAST(425.36 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.714981 AS Decimal(9, 6)), CAST(-122.378669 AS Decimal(9, 6)), 0xE6100000010CEA42ACFE08B7394094C0E61C3C985EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1084, 217, CAST(N'2025-08-17T04:30:36.140' AS DateTime), CAST(407.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.735781 AS Decimal(9, 6)), CAST(-122.357869 AS Decimal(9, 6)), 0xE6100000010CA704C4245CBC394024D06053E7965EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1085, 217, CAST(N'2025-08-19T04:46:36.140' AS DateTime), CAST(410.00 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.761381 AS Decimal(9, 6)), CAST(-122.332269 AS Decimal(9, 6)), 0xE6100000010CB8CB7EDDE9C23940601E32E543955EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1086, 218, CAST(N'2025-08-10T12:14:36.140' AS DateTime), CAST(297.36 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.851413 AS Decimal(9, 6)), CAST(-122.446018 AS Decimal(9, 6)), 0xE6100000010CD331E719FBEC444059DB148F8B9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1087, 218, CAST(N'2025-08-12T01:02:36.140' AS DateTime), CAST(299.92 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.877013 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C5B9544F641F044409529E620E89A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1088, 218, CAST(N'2025-08-13T14:06:36.140' AS DateTime), CAST(302.48 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.902613 AS Decimal(9, 6)), CAST(-122.394818 AS Decimal(9, 6)), 0xE6100000010CE4F8A1D288F34440D177B7B244995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1089, 218, CAST(N'2025-08-15T01:18:36.140' AS DateTime), CAST(284.56 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.923413 AS Decimal(9, 6)), CAST(-122.374018 AS Decimal(9, 6)), 0xE6100000010CC2D9AD6532F64440628731E9EF975EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1090, 218, CAST(N'2025-08-16T12:46:36.140' AS DateTime), CAST(287.12 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.849013 AS Decimal(9, 6)), CAST(-122.448418 AS Decimal(9, 6)), 0xE6100000010C7E703E75ACEC4440043C69E1B29C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1091, 219, CAST(N'2025-08-10T16:30:36.140' AS DateTime), CAST(338.32 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.757829 AS Decimal(9, 6)), CAST(-118.260683 AS Decimal(9, 6)), 0xE6100000010CEE7A698A00E14240E2E7BF07AF905DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1092, 219, CAST(N'2025-08-12T09:34:36.140' AS DateTime), CAST(340.88 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-118.235083 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E442401E3691990B8F5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1093, 219, CAST(N'2025-08-14T02:54:36.140' AS DateTime), CAST(343.44 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-118.209483 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE742405A84622B688D5DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1094, 219, CAST(N'2025-08-15T18:22:36.140' AS DateTime), CAST(325.52 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-118.288683 AS Decimal(9, 6)), 0xE6100000010C115663096BDD424051FA42C879925DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1095, 219, CAST(N'2025-08-17T10:06:36.140' AS DateTime), CAST(328.08 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-118.263083 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E042408C48145AD6905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1096, 220, CAST(N'2025-08-11T13:50:36.140' AS DateTime), CAST(43.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.743676 AS Decimal(9, 6)), CAST(-118.212683 AS Decimal(9, 6)), 0xE6100000010CF96871C6305F4440925A28999C8D5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1097, 220, CAST(N'2025-08-14T04:14:36.140' AS DateTime), CAST(45.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.669276 AS Decimal(9, 6)), CAST(-118.287083 AS Decimal(9, 6)), 0xE6100000010CB5FF01D6AA554440340F60915F925DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1098, 220, CAST(N'2025-08-16T18:54:36.140' AS DateTime), CAST(48.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.694876 AS Decimal(9, 6)), CAST(-118.261483 AS Decimal(9, 6)), 0xE6100000010C3D635FB2F1584440705D3123BC905DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1099, 220, CAST(N'2025-08-19T07:42:36.140' AS DateTime), CAST(30.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.715676 AS Decimal(9, 6)), CAST(-118.240683 AS Decimal(9, 6)), 0xE6100000010C1C446B459B5B4440016DAB59678F5DC0, N'Restaurant', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1100, 220, CAST(N'2025-08-21T20:46:36.140' AS DateTime), CAST(32.88 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.741276 AS Decimal(9, 6)), CAST(-118.215083 AS Decimal(9, 6)), 0xE6100000010CA4A7C821E25E44403DBB7CEBC38D5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1101, 221, CAST(N'2025-08-11T18:06:36.140' AS DateTime), CAST(84.08 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.815429 AS Decimal(9, 6)), CAST(-87.589199 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FE842407FF5B86FB5E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1102, 221, CAST(N'2025-08-14T12:46:36.140' AS DateTime), CAST(86.64 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.741029 AS Decimal(9, 6)), CAST(-87.663599 AS Decimal(9, 6)), 0xE6100000010C9C31CC09DADE424022AAF06778EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1103, 221, CAST(N'2025-08-17T07:42:36.140' AS DateTime), CAST(89.20 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-87.637999 AS Decimal(9, 6)), 0xE6100000010C259529E620E242405DF8C1F9D4E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1104, 221, CAST(N'2025-08-20T00:46:36.140' AS DateTime), CAST(71.28 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.787429 AS Decimal(9, 6)), CAST(-87.617199 AS Decimal(9, 6)), 0xE6100000010C04763579CAE44240EE073C3080E755C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1105, 221, CAST(N'2025-08-22T18:06:36.140' AS DateTime), CAST(73.84 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.813029 AS Decimal(9, 6)), CAST(-87.591599 AS Decimal(9, 6)), 0xE6100000010C8CD9925511E842402A560DC2DCE555C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1106, 222, CAST(N'2025-08-11T05:18:36.140' AS DateTime), CAST(461.20 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-73.994174 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E442402522FC8BA07F52C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1107, 222, CAST(N'2025-08-13T11:10:36.140' AS DateTime), CAST(463.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E742406170CD1DFD7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1108, 222, CAST(N'2025-08-15T17:18:36.140' AS DateTime), CAST(466.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.737829 AS Decimal(9, 6)), CAST(-74.042974 AS Decimal(9, 6)), 0xE6100000010C2B85402E71DE424003250516C08252C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1109, 222, CAST(N'2025-08-17T21:34:36.140' AS DateTime), CAST(448.40 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.758629 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C0A664CC11AE1424094347F4C6B8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1110, 222, CAST(N'2025-08-20T02:06:36.140' AS DateTime), CAST(450.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-73.996574 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E44240CF8250DEC77F52C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1111, 223, CAST(N'2025-08-11T09:34:36.140' AS DateTime), CAST(502.16 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.796229 AS Decimal(9, 6)), CAST(-73.984574 AS Decimal(9, 6)), 0xE6100000010C3A90F5D4EAE542407B9FAA42037F52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1112, 223, CAST(N'2025-08-13T19:42:36.140' AS DateTime), CAST(504.72 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.821829 AS Decimal(9, 6)), CAST(-73.958974 AS Decimal(9, 6)), 0xE6100000010CC3F352B131E94240B7ED7BD45F7D52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1113, 223, CAST(N'2025-08-16T06:06:36.140' AS DateTime), CAST(7.28 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.747429 AS Decimal(9, 6)), CAST(-74.033374 AS Decimal(9, 6)), 0xE6100000010C7E8AE3C0ABDF424059A2B3CC228252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1114, 223, CAST(N'2025-08-18T14:38:36.140' AS DateTime), CAST(489.36 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.768229 AS Decimal(9, 6)), CAST(-74.012574 AS Decimal(9, 6)), 0xE6100000010C5D6BEF5355E24240EAB12D03CE8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1115, 223, CAST(N'2025-08-20T23:26:36.140' AS DateTime), CAST(491.92 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.793829 AS Decimal(9, 6)), CAST(-73.986974 AS Decimal(9, 6)), 0xE6100000010CE6CE4C309CE542402600FF942A7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1116, 224, CAST(N'2025-08-09T21:50:36.140' AS DateTime), CAST(85.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.007135 AS Decimal(9, 6)), CAST(-122.464418 AS Decimal(9, 6)), 0xE6100000010C17D4B7CCE90041401E6B4606B99D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1117, 224, CAST(N'2025-08-10T20:14:36.140' AS DateTime), CAST(88.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.032735 AS Decimal(9, 6)), CAST(-122.438818 AS Decimal(9, 6)), 0xE6100000010CA03715A9300441405AB91798159C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1118, 224, CAST(N'2025-08-11T18:54:36.140' AS DateTime), CAST(90.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.058335 AS Decimal(9, 6)), CAST(-122.413218 AS Decimal(9, 6)), 0xE6100000010C289B7285770741409607E929729A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1119, 224, CAST(N'2025-08-12T15:42:36.140' AS DateTime), CAST(72.72 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.079135 AS Decimal(9, 6)), CAST(-122.392418 AS Decimal(9, 6)), 0xE6100000010C077C7E18210A4140271763601D995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1120, 224, CAST(N'2025-08-13T12:46:36.140' AS DateTime), CAST(75.28 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.004735 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CC2120F289B004140C9CB9A58E09D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1121, 225, CAST(N'2025-08-10T02:06:36.140' AS DateTime), CAST(126.48 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.726181 AS Decimal(9, 6)), CAST(-87.665199 AS Decimal(9, 6)), 0xE6100000010C01FA7DFFE6B939403E95D39E92EA55C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1122, 225, CAST(N'2025-08-11T04:46:36.140' AS DateTime), CAST(129.04 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.751781 AS Decimal(9, 6)), CAST(-87.639599 AS Decimal(9, 6)), 0xE6100000010C12C138B874C039407AE3A430EFE855C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1123, 225, CAST(N'2025-08-12T07:42:36.140' AS DateTime), CAST(131.60 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.777381 AS Decimal(9, 6)), CAST(-87.613999 AS Decimal(9, 6)), 0xE6100000010C2288F37002C73940B63176C24BE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1124, 225, CAST(N'2025-08-13T08:46:36.140' AS DateTime), CAST(113.68 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.798181 AS Decimal(9, 6)), CAST(-87.593199 AS Decimal(9, 6)), 0xE6100000010CE0490B9755CC39404641F0F8F6E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1125, 225, CAST(N'2025-08-14T10:06:36.140' AS DateTime), CAST(116.24 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.723781 AS Decimal(9, 6)), CAST(-87.667599 AS Decimal(9, 6)), 0xE6100000010C57772CB649B93940E8F527F1B9EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1126, 226, CAST(N'2025-08-09T13:18:36.140' AS DateTime), CAST(503.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.797381 AS Decimal(9, 6)), CAST(-122.383618 AS Decimal(9, 6)), 0xE6100000010CA873452921CC39400B0A83328D985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1127, 226, CAST(N'2025-08-10T03:10:36.140' AS DateTime), CAST(6.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.722981 AS Decimal(9, 6)), CAST(-122.458018 AS Decimal(9, 6)), 0xE6100000010C1FA1664815B93940ADBEBA2A509D5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1128, 226, CAST(N'2025-08-10T17:18:36.140' AS DateTime), CAST(8.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.748581 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010C30682101A3BF3940E90C8CBCAC9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1129, 226, CAST(N'2025-08-11T05:34:36.140' AS DateTime), CAST(490.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.769381 AS Decimal(9, 6)), CAST(-122.411618 AS Decimal(9, 6)), 0xE6100000010CED293927F6C439407A1C06F3579A5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1130, 226, CAST(N'2025-08-11T18:06:36.140' AS DateTime), CAST(493.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.794981 AS Decimal(9, 6)), CAST(-122.386018 AS Decimal(9, 6)), 0xE6100000010CFEF0F3DF83CB3940B66AD784B4985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1131, 227, CAST(N'2025-08-09T17:34:36.140' AS DateTime), CAST(44.56 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.405381 AS Decimal(9, 6)), CAST(-104.944850 AS Decimal(9, 6)), 0xE6100000010CBBB54C86E33345400A68226C783C5AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1132, 227, CAST(N'2025-08-10T11:42:36.140' AS DateTime), CAST(47.12 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.330981 AS Decimal(9, 6)), CAST(-105.019250 AS Decimal(9, 6)), 0xE6100000010C774CDD955D2A4540AC1C5A643B415AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1133, 227, CAST(N'2025-08-11T06:06:36.140' AS DateTime), CAST(49.68 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.356581 AS Decimal(9, 6)), CAST(-104.993650 AS Decimal(9, 6)), 0xE6100000010CFFAF3A72A42D4540E86A2BF6973F5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1134, 227, CAST(N'2025-08-11T22:38:36.140' AS DateTime), CAST(31.76 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.377381 AS Decimal(9, 6)), CAST(-104.972850 AS Decimal(9, 6)), 0xE6100000010CDE9046054E304540787AA52C433E5AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1135, 227, CAST(N'2025-08-12T15:26:36.140' AS DateTime), CAST(34.32 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.402981 AS Decimal(9, 6)), CAST(-104.947250 AS Decimal(9, 6)), 0xE6100000010C66F4A3E194334540B4C876BE9F3C5AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1136, 228, CAST(N'2025-08-10T14:54:36.140' AS DateTime), CAST(249.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.706076 AS Decimal(9, 6)), CAST(-122.338669 AS Decimal(9, 6)), 0xE6100000010CC93EC8B2605A4440D1CABDC0AC955EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1137, 228, CAST(N'2025-08-12T06:22:36.140' AS DateTime), CAST(251.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.731676 AS Decimal(9, 6)), CAST(-122.313069 AS Decimal(9, 6)), 0xE6100000010C51A2258FA75D44400D198F5209945EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1138, 228, CAST(N'2025-08-13T22:06:36.140' AS DateTime), CAST(254.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.757276 AS Decimal(9, 6)), CAST(-122.287469 AS Decimal(9, 6)), 0xE6100000010CD905836BEE604440496760E465925EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1139, 228, CAST(N'2025-08-15T11:58:36.140' AS DateTime), CAST(236.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.678076 AS Decimal(9, 6)), CAST(-122.366669 AS Decimal(9, 6)), 0xE6100000010CEB19C231CB56444040DD408177975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1140, 228, CAST(N'2025-08-17T02:06:36.140' AS DateTime), CAST(239.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.703676 AS Decimal(9, 6)), CAST(-122.341069 AS Decimal(9, 6)), 0xE6100000010C747D1F0E125A44407C2B1213D4955EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1141, 229, CAST(N'2025-08-10T19:10:36.140' AS DateTime), CAST(290.32 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.451276 AS Decimal(9, 6)), CAST(-122.416418 AS Decimal(9, 6)), 0xE6100000010C1FBC7669C3B94040CEDDAE97A69A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1142, 229, CAST(N'2025-08-12T14:54:36.140' AS DateTime), CAST(292.88 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.476876 AS Decimal(9, 6)), CAST(-122.390818 AS Decimal(9, 6)), 0xE6100000010CA71FD4450ABD40400A2C802903995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1143, 229, CAST(N'2025-08-14T10:54:36.140' AS DateTime), CAST(295.44 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.402476 AS Decimal(9, 6)), CAST(-122.465218 AS Decimal(9, 6)), 0xE6100000010C63B6645584B34040ACE0B721C69D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1144, 229, CAST(N'2025-08-16T05:02:36.140' AS DateTime), CAST(277.52 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.423276 AS Decimal(9, 6)), CAST(-122.444418 AS Decimal(9, 6)), 0xE6100000010C429770E82DB640403DF03158719C5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1145, 229, CAST(N'2025-08-17T23:26:36.140' AS DateTime), CAST(280.08 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.448876 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010CCAFACDC474B94040793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1146, 230, CAST(N'2025-08-10T06:22:36.140' AS DateTime), CAST(167.44 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.580309 AS Decimal(9, 6)), CAST(-87.655599 AS Decimal(9, 6)), 0xE6100000010C8849B89047CA474094128255F5E955C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1147, 230, CAST(N'2025-08-11T13:18:36.140' AS DateTime), CAST(170.00 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.605909 AS Decimal(9, 6)), CAST(-87.629999 AS Decimal(9, 6)), 0xE6100000010C10AD156D8ECD4740D06053E751E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1148, 230, CAST(N'2025-08-12T20:30:36.140' AS DateTime), CAST(172.56 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.631509 AS Decimal(9, 6)), CAST(-87.604399 AS Decimal(9, 6)), 0xE6100000010C99107349D5D047400CAF2479AEE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1149, 230, CAST(N'2025-08-14T01:50:36.140' AS DateTime), CAST(154.64 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.652309 AS Decimal(9, 6)), CAST(-87.583599 AS Decimal(9, 6)), 0xE6100000010C78F17EDC7ED347409DBE9EAF59E555C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1150, 230, CAST(N'2025-08-15T07:26:36.140' AS DateTime), CAST(157.20 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.577909 AS Decimal(9, 6)), CAST(-87.657999 AS Decimal(9, 6)), 0xE6100000010C33880FECF8C947403F73D6A71CEA55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1151, 231, CAST(N'2025-08-10T10:38:36.140' AS DateTime), CAST(208.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.861813 AS Decimal(9, 6)), CAST(-122.435618 AS Decimal(9, 6)), 0xE6100000010C42226DE34FEE444022E3512AE19B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1152, 231, CAST(N'2025-08-11T21:50:36.140' AS DateTime), CAST(210.96 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.887413 AS Decimal(9, 6)), CAST(-122.410018 AS Decimal(9, 6)), 0xE6100000010CCB85CABF96F144405D3123BC3D9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1153, 231, CAST(N'2025-08-13T09:18:36.140' AS DateTime), CAST(213.52 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.913013 AS Decimal(9, 6)), CAST(-122.384418 AS Decimal(9, 6)), 0xE6100000010C53E9279CDDF44440997FF44D9A985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1154, 231, CAST(N'2025-08-14T18:54:36.140' AS DateTime), CAST(195.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.833813 AS Decimal(9, 6)), CAST(-122.463618 AS Decimal(9, 6)), 0xE6100000010C65FD6662BAEA444090F5D4EAAB9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1155, 231, CAST(N'2025-08-16T04:46:36.140' AS DateTime), CAST(198.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.859413 AS Decimal(9, 6)), CAST(-122.438018 AS Decimal(9, 6)), 0xE6100000010CEE60C43E01EE4440CC43A67C089C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1156, 232, CAST(N'2025-08-11T07:58:36.140' AS DateTime), CAST(413.20 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F4440D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1157, 232, CAST(N'2025-08-13T16:30:36.140' AS DateTime), CAST(415.76 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1158, 232, CAST(N'2025-08-16T01:18:36.140' AS DateTime), CAST(418.32 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.695676 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010C594E42E90B594440B058C345EE9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1159, 232, CAST(N'2025-08-18T08:14:36.140' AS DateTime), CAST(400.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.716476 AS Decimal(9, 6)), CAST(-122.415618 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB55B444040683D7C999A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1160, 232, CAST(N'2025-08-20T15:26:36.140' AS DateTime), CAST(402.96 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.742076 AS Decimal(9, 6)), CAST(-122.390018 AS Decimal(9, 6)), 0xE6100000010CC092AB58FC5E44407CB60E0EF6985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1161, 233, CAST(N'2025-08-11T12:14:36.140' AS DateTime), CAST(454.16 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-87.588399 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240F17F4754A8E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1162, 233, CAST(N'2025-08-14T01:02:36.140' AS DateTime), CAST(456.72 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-87.662799 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE424094347F4C6BEA55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1163, 233, CAST(N'2025-08-16T14:06:36.140' AS DateTime), CAST(459.28 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-87.637199 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240CF8250DEC7E855C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1164, 233, CAST(N'2025-08-19T01:18:36.140' AS DateTime), CAST(441.36 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-87.616399 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E442406092CA1473E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1165, 233, CAST(N'2025-08-21T12:46:36.140' AS DateTime), CAST(443.92 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-87.590799 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE842409CE09BA6CFE555C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1166, 234, CAST(N'2025-08-10T23:26:36.140' AS DateTime), CAST(331.28 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.618709 AS Decimal(9, 6)), CAST(-118.231083 AS Decimal(9, 6)), 0xE6100000010CD55E44DB31CF474057EA5910CA8E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1167, 234, CAST(N'2025-08-12T23:26:36.140' AS DateTime), CAST(333.84 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.644309 AS Decimal(9, 6)), CAST(-118.205483 AS Decimal(9, 6)), 0xE6100000010C5DC2A1B778D2474093382BA2268D5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1168, 234, CAST(N'2025-08-14T23:42:36.140' AS DateTime), CAST(336.40 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.569909 AS Decimal(9, 6)), CAST(-118.279883 AS Decimal(9, 6)), 0xE6100000010C195932C7F2C8474035ED629AE9915DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1169, 234, CAST(N'2025-08-16T22:06:36.140' AS DateTime), CAST(318.48 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.590709 AS Decimal(9, 6)), CAST(-118.259083 AS Decimal(9, 6)), 0xE6100000010CF7393E5A9CCB4740C6FCDCD094905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1170, 234, CAST(N'2025-08-18T20:46:36.140' AS DateTime), CAST(321.04 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.616309 AS Decimal(9, 6)), CAST(-118.233483 AS Decimal(9, 6)), 0xE6100000010C809D9B36E3CE4740024BAE62F18E5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1171, 235, CAST(N'2025-08-11T03:42:36.140' AS DateTime), CAST(372.24 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-104.968050 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E6424024B9FC87F43D5AC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1172, 235, CAST(N'2025-08-13T07:58:36.140' AS DateTime), CAST(374.80 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-104.942450 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE942405F07CE19513C5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1173, 235, CAST(N'2025-08-15T12:30:36.140' AS DateTime), CAST(377.36 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.748229 AS Decimal(9, 6)), CAST(-105.016850 AS Decimal(9, 6)), 0xE6100000010C9B75C6F7C5DF424002BC051214415AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1174, 235, CAST(N'2025-08-17T15:10:36.140' AS DateTime), CAST(359.44 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-104.996050 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE2424092CB7F48BF3F5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1175, 235, CAST(N'2025-08-19T18:06:36.140' AS DateTime), CAST(362.00 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.794629 AS Decimal(9, 6)), CAST(-104.970450 AS Decimal(9, 6)), 0xE6100000010C02BA2F67B6E54240CE1951DA1B3E5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1176, 236, CAST(N'2025-08-09T01:02:36.140' AS DateTime), CAST(77.04 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF424092B1DAFCBF9C5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1177, 236, CAST(N'2025-08-09T02:38:36.140' AS DateTime), CAST(79.60 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.770629 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010CB22C98F8A3E24240CEFFAB8E1C9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1178, 236, CAST(N'2025-08-09T04:30:36.140' AS DateTime), CAST(82.16 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.796229 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C3A90F5D4EAE54240094E7D2079995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1179, 236, CAST(N'2025-08-09T04:30:36.140' AS DateTime), CAST(64.24 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1180, 236, CAST(N'2025-08-09T04:46:36.140' AS DateTime), CAST(66.80 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1181, 1, CAST(N'2025-08-10T21:56:40.857' AS DateTime), CAST(301.52 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.067135 AS Decimal(9, 6)), CAST(-95.354804 AS Decimal(9, 6)), 0xE6100000010C5FB532E1970841405C1FD61BB5D657C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1182, 1, CAST(N'2025-08-12T20:20:40.857' AS DateTime), CAST(304.08 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.092735 AS Decimal(9, 6)), CAST(-95.329204 AS Decimal(9, 6)), 0xE6100000010CE71890BDDE0B4140986DA7AD11D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1183, 1, CAST(N'2025-08-14T19:00:40.857' AS DateTime), CAST(306.64 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-95.403604 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD580241403A22DFA5D4D957C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1184, 1, CAST(N'2025-08-16T15:48:40.857' AS DateTime), CAST(288.72 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.039135 AS Decimal(9, 6)), CAST(-95.382804 AS Decimal(9, 6)), 0xE6100000010C82902C6002054140CA3159DC7FD857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1185, 1, CAST(N'2025-08-18T12:52:40.857' AS DateTime), CAST(291.28 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.064735 AS Decimal(9, 6)), CAST(-95.357204 AS Decimal(9, 6)), 0xE6100000010C0AF4893C4908414006802A6EDCD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1186, 2, CAST(N'2025-08-10T09:08:40.857' AS DateTime), CAST(178.64 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.761029 AS Decimal(9, 6)), CAST(-122.433218 AS Decimal(9, 6)), 0xE6100000010C5F27F56569E142407782FDD7B99B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1187, 2, CAST(N'2025-08-11T18:44:40.857' AS DateTime), CAST(181.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-122.407618 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E44240B3D0CE69169A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1188, 2, CAST(N'2025-08-13T04:36:40.857' AS DateTime), CAST(183.76 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-122.382018 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E74240EF1EA0FB72985EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1189, 2, CAST(N'2025-08-14T12:36:40.857' AS DateTime), CAST(165.84 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1190, 2, CAST(N'2025-08-15T20:52:40.857' AS DateTime), CAST(168.40 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.758629 AS Decimal(9, 6)), CAST(-122.435618 AS Decimal(9, 6)), 0xE6100000010C0A664CC11AE1424022E3512AE19B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1191, 3, CAST(N'2025-08-10T13:24:40.857' AS DateTime), CAST(219.60 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.601909 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010C8315A75A0BCD4740CEFFAB8E1C9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1192, 3, CAST(N'2025-08-12T03:16:40.857' AS DateTime), CAST(222.16 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.627509 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C0C79043752D04740094E7D2079995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1193, 3, CAST(N'2025-08-13T17:24:40.857' AS DateTime), CAST(224.72 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.653109 AS Decimal(9, 6)), CAST(-122.372418 AS Decimal(9, 6)), 0xE6100000010C94DC611399D34740459C4EB2D5975EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1194, 3, CAST(N'2025-08-15T05:40:40.857' AS DateTime), CAST(206.80 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.573909 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CA6F0A0D975C947403C122F4FE79C5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1195, 3, CAST(N'2025-08-16T18:12:40.857' AS DateTime), CAST(209.36 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(47.599509 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C2E54FEB5BCCC4740786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1196, 4, CAST(N'2025-08-11T10:44:40.857' AS DateTime), CAST(424.40 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.804127 AS Decimal(9, 6)), CAST(-71.015084 AS Decimal(9, 6)), 0xE6100000010CA2D45E44DBCD3D4058ACE122F7C051C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1197, 4, CAST(N'2025-08-13T21:56:40.857' AS DateTime), CAST(426.96 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.729727 AS Decimal(9, 6)), CAST(-71.089484 AS Decimal(9, 6)), 0xE6100000010C19028063CFBA3D40FA60191BBAC551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1198, 4, CAST(N'2025-08-16T09:24:40.857' AS DateTime), CAST(429.52 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.755327 AS Decimal(9, 6)), CAST(-71.063884 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DC13D4036AFEAAC16C451C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1199, 4, CAST(N'2025-08-18T19:00:40.857' AS DateTime), CAST(411.60 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.776127 AS Decimal(9, 6)), CAST(-71.043084 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0C63D40C6BE64E3C1C251C0, N'Gas', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1200, 4, CAST(N'2025-08-21T04:52:40.857' AS DateTime), CAST(414.16 AS Decimal(18, 2)), N'Arizona', N'Phoenix', N'USA', CAST(29.801727 AS Decimal(9, 6)), CAST(-71.017484 AS Decimal(9, 6)), 0xE6100000010CF8510DFB3DCD3D40020D36751EC151C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1201, 5, CAST(N'2025-08-11T15:00:40.857' AS DateTime), CAST(465.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.728229 AS Decimal(9, 6)), CAST(-87.676399 AS Decimal(9, 6)), 0xE6100000010CD87F9D9B36DD42400403081F4AEB55C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1202, 5, CAST(N'2025-08-14T06:28:40.857' AS DateTime), CAST(467.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-87.650799 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE042404051D9B0A6E955C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1203, 5, CAST(N'2025-08-16T22:12:40.857' AS DateTime), CAST(470.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.779429 AS Decimal(9, 6)), CAST(-87.625199 AS Decimal(9, 6)), 0xE6100000010CE9465854C4E342407B9FAA4203E855C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1204, 5, CAST(N'2025-08-19T12:04:40.857' AS DateTime), CAST(452.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-87.604399 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642400CAF2479AEE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1205, 5, CAST(N'2025-08-22T02:12:40.857' AS DateTime), CAST(455.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.725829 AS Decimal(9, 6)), CAST(-87.678799 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7DC4240AE635C7171EB55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1206, 6, CAST(N'2025-08-11T02:12:40.857' AS DateTime), CAST(342.48 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.630709 AS Decimal(9, 6)), CAST(-118.219083 AS Decimal(9, 6)), 0xE6100000010C7D259012BBD047400307B474058E5DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1207, 6, CAST(N'2025-08-13T04:52:40.857' AS DateTime), CAST(345.04 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.556309 AS Decimal(9, 6)), CAST(-118.293483 AS Decimal(9, 6)), 0xE6100000010C38BC202235C74740A5BBEB6CC8925DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1208, 6, CAST(N'2025-08-15T07:48:40.857' AS DateTime), CAST(347.60 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.581909 AS Decimal(9, 6)), CAST(-118.267883 AS Decimal(9, 6)), 0xE6100000010CC11F7EFE7BCA4740E109BDFE24915DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1209, 6, CAST(N'2025-08-17T08:52:40.857' AS DateTime), CAST(329.68 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.602709 AS Decimal(9, 6)), CAST(-118.247083 AS Decimal(9, 6)), 0xE6100000010C9F008A9125CD474072193735D08F5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1210, 6, CAST(N'2025-08-19T10:12:40.857' AS DateTime), CAST(332.24 AS Decimal(18, 2)), N'Arizona', N'Los Angeles', N'USA', CAST(47.628309 AS Decimal(9, 6)), CAST(-118.221483 AS Decimal(9, 6)), 0xE6100000010C2864E76D6CD04740AE6708C72C8E5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1211, 7, CAST(N'2025-08-11T06:28:40.857' AS DateTime), CAST(383.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-122.385218 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE7424027F56569A7985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1212, 7, CAST(N'2025-08-13T13:24:40.857' AS DateTime), CAST(386.00 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1213, 7, CAST(N'2025-08-15T20:36:40.857' AS DateTime), CAST(388.56 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1214, 7, CAST(N'2025-08-18T01:56:40.857' AS DateTime), CAST(370.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-122.413218 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342409607E929729A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1215, 7, CAST(N'2025-08-20T07:32:40.857' AS DateTime), CAST(373.20 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE74240D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1216, 8, CAST(N'2025-08-09T03:48:40.857' AS DateTime), CAST(88.24 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.342181 AS Decimal(9, 6)), CAST(-87.647599 AS Decimal(9, 6)), 0xE6100000010C02284696CC2B4540077B134372E955C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1217, 8, CAST(N'2025-08-09T08:04:40.857' AS DateTime), CAST(90.80 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.367781 AS Decimal(9, 6)), CAST(-87.621999 AS Decimal(9, 6)), 0xE6100000010C8B8BA372132F454043C9E4D4CEE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1218, 8, CAST(N'2025-08-09T12:36:40.857' AS DateTime), CAST(93.36 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.393381 AS Decimal(9, 6)), CAST(-87.596399 AS Decimal(9, 6)), 0xE6100000010C13EF004F5A3245407F17B6662BE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1219, 8, CAST(N'2025-08-09T15:16:40.857' AS DateTime), CAST(75.44 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.314181 AS Decimal(9, 6)), CAST(-87.675599 AS Decimal(9, 6)), 0xE6100000010C2503401537284540768D96033DEB55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1220, 8, CAST(N'2025-08-09T18:12:40.857' AS DateTime), CAST(78.00 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(42.339781 AS Decimal(9, 6)), CAST(-87.649999 AS Decimal(9, 6)), 0xE6100000010CAE669DF17D2B4540B1DB679599E955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1221, 9, CAST(N'2025-08-09T08:04:40.857' AS DateTime), CAST(129.20 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-95.378004 AS Decimal(9, 6)), 0xE6100000010C259529E620E242407670B03731D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1222, 9, CAST(N'2025-08-09T16:36:40.857' AS DateTime), CAST(131.76 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-95.352404 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240B2BE81C98DD657C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1223, 9, CAST(N'2025-08-10T01:24:40.857' AS DateTime), CAST(134.32 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-95.326804 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE84240ED0C535BEAD457C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1224, 9, CAST(N'2025-08-10T08:20:40.857' AS DateTime), CAST(116.40 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-95.406004 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240E48233F8FBD957C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1225, 9, CAST(N'2025-08-10T15:32:40.857' AS DateTime), CAST(118.96 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-95.380404 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E1424020D1048A58D857C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1226, 10, CAST(N'2025-08-11T19:16:40.857' AS DateTime), CAST(6.32 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.322981 AS Decimal(9, 6)), CAST(-74.042974 AS Decimal(9, 6)), 0xE6100000010C5C1D00715729454003250516C08252C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1227, 10, CAST(N'2025-08-14T15:00:40.857' AS DateTime), CAST(8.88 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.348581 AS Decimal(9, 6)), CAST(-74.017374 AS Decimal(9, 6)), 0xE6100000010CE5805D4D9E2C45403F73D6A71C8152C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1228, 10, CAST(N'2025-08-17T11:00:40.857' AS DateTime), CAST(11.44 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.374181 AS Decimal(9, 6)), CAST(-73.991774 AS Decimal(9, 6)), 0xE6100000010C6DE4BA29E52F45407BC1A739797F52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1229, 10, CAST(N'2025-08-20T05:08:40.857' AS DateTime), CAST(493.52 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.394981 AS Decimal(9, 6)), CAST(-73.970974 AS Decimal(9, 6)), 0xE6100000010C4CC5C6BC8E3245400BD12170247E52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1230, 10, CAST(N'2025-08-22T23:32:40.857' AS DateTime), CAST(496.08 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(42.320581 AS Decimal(9, 6)), CAST(-74.045374 AS Decimal(9, 6)), 0xE6100000010C075C57CC08294540AD855968E78252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1231, 11, CAST(N'2025-08-11T23:32:40.857' AS DateTime), CAST(47.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.685276 AS Decimal(9, 6)), CAST(-80.219188 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB75744403EEB1A2D070E54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1232, 11, CAST(N'2025-08-11T23:32:40.857' AS DateTime), CAST(49.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.710876 AS Decimal(9, 6)), CAST(-80.193588 AS Decimal(9, 6)), 0xE6100000010C72C119FCFD5A44407A39ECBE630C54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1233, 11, CAST(N'2025-08-11T23:48:40.857' AS DateTime), CAST(52.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.736476 AS Decimal(9, 6)), CAST(-80.167988 AS Decimal(9, 6)), 0xE6100000010CFB2477D8445E4440B587BD50C00A54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1234, 11, CAST(N'2025-08-14T22:12:40.857' AS DateTime), CAST(34.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.757276 AS Decimal(9, 6)), CAST(-80.147188 AS Decimal(9, 6)), 0xE6100000010CD905836BEE604440469737876B0954C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1235, 11, CAST(N'2025-08-17T20:52:40.857' AS DateTime), CAST(37.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.682876 AS Decimal(9, 6)), CAST(-80.221588 AS Decimal(9, 6)), 0xE6100000010C959C137B68574440E84B6F7F2E0E54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1236, 12, CAST(N'2025-08-09T20:52:40.857' AS DateTime), CAST(252.08 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.468876 AS Decimal(9, 6)), CAST(-104.969650 AS Decimal(9, 6)), 0xE6100000010C8DF0F62004BC404040A4DFBE0E3E5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1237, 12, CAST(N'2025-08-10T18:12:40.857' AS DateTime), CAST(254.64 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.494476 AS Decimal(9, 6)), CAST(-104.944050 AS Decimal(9, 6)), 0xE6100000010C155454FD4ABF40407CF2B0506B3C5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1238, 12, CAST(N'2025-08-11T15:48:40.857' AS DateTime), CAST(257.20 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.420076 AS Decimal(9, 6)), CAST(-105.018450 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5B540401EA7E8482E415AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1239, 12, CAST(N'2025-08-12T11:32:40.857' AS DateTime), CAST(239.28 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.440876 AS Decimal(9, 6)), CAST(-104.997650 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6EB84040AEB6627FD93F5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1240, 12, CAST(N'2025-08-13T07:32:40.857' AS DateTime), CAST(241.84 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(33.466476 AS Decimal(9, 6)), CAST(-104.972050 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB5BB4040EA043411363E5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1241, 13, CAST(N'2025-08-10T01:08:40.857' AS DateTime), CAST(293.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.805029 AS Decimal(9, 6)), CAST(-122.389218 AS Decimal(9, 6)), 0xE6100000010C71AAB5300BE74240EE409DF2E8985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1242, 13, CAST(N'2025-08-11T02:44:40.857' AS DateTime), CAST(295.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-122.463618 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD424090F5D4EAAB9D5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1243, 13, CAST(N'2025-08-12T04:36:40.857' AS DateTime), CAST(298.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-122.438018 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240CC43A67C089C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1244, 13, CAST(N'2025-08-13T04:36:40.857' AS DateTime), CAST(280.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.777029 AS Decimal(9, 6)), CAST(-122.417218 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75E342405D5320B3B39A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1245, 13, CAST(N'2025-08-14T04:52:40.857' AS DateTime), CAST(282.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-122.391618 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424098A1F14410995EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1246, 14, CAST(N'2025-08-09T12:20:40.857' AS DateTime), CAST(170.16 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-122.418018 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240EBC891CEC09A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1247, 14, CAST(N'2025-08-10T01:08:40.857' AS DateTime), CAST(172.72 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-122.392418 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E64240271763601D995EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1248, 14, CAST(N'2025-08-10T14:12:40.857' AS DateTime), CAST(175.28 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240C9CB9A58E09D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1249, 14, CAST(N'2025-08-11T01:24:40.857' AS DateTime), CAST(157.36 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.748229 AS Decimal(9, 6)), CAST(-122.446018 AS Decimal(9, 6)), 0xE6100000010C9B75C6F7C5DF424059DB148F8B9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1250, 14, CAST(N'2025-08-11T12:52:40.857' AS DateTime), CAST(159.92 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.773829 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C23D923D40CE342409529E620E89A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1251, 15, CAST(N'2025-08-09T16:36:40.857' AS DateTime), CAST(211.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.771327 AS Decimal(9, 6)), CAST(-95.358804 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75C53D40236B0DA5F6D657C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1252, 15, CAST(N'2025-08-10T09:40:40.857' AS DateTime), CAST(213.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.796927 AS Decimal(9, 6)), CAST(-95.333204 AS Decimal(9, 6)), 0xE6100000010CA54C6A6803CC3D405EB9DE3653D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1253, 15, CAST(N'2025-08-11T03:00:40.857' AS DateTime), CAST(216.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.722527 AS Decimal(9, 6)), CAST(-95.407604 AS Decimal(9, 6)), 0xE6100000010C1C7A8B87F7B83D40016E162F16DA57C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1254, 15, CAST(N'2025-08-11T18:28:40.857' AS DateTime), CAST(198.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.743327 AS Decimal(9, 6)), CAST(-95.386804 AS Decimal(9, 6)), 0xE6100000010CDA3BA3AD4ABE3D40917D9065C1D857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1255, 15, CAST(N'2025-08-12T10:12:40.857' AS DateTime), CAST(200.88 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.768927 AS Decimal(9, 6)), CAST(-95.361204 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8C43D40CDCB61F71DD757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1256, 16, CAST(N'2025-08-10T13:56:40.857' AS DateTime), CAST(415.92 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.719327 AS Decimal(9, 6)), CAST(-95.410804 AS Decimal(9, 6)), 0xE6100000010C3A2174D025B83D403944DC9C4ADA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1257, 16, CAST(N'2025-08-12T04:20:40.857' AS DateTime), CAST(418.48 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.744927 AS Decimal(9, 6)), CAST(-95.385204 AS Decimal(9, 6)), 0xE6100000010C4BE82E89B3BE3D407592AD2EA7D857C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1258, 16, CAST(N'2025-08-13T19:00:40.857' AS DateTime), CAST(421.04 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.770527 AS Decimal(9, 6)), CAST(-95.359604 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141C53D40B1E07EC003D757C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1259, 16, CAST(N'2025-08-15T07:48:40.857' AS DateTime), CAST(403.12 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.791327 AS Decimal(9, 6)), CAST(-95.338804 AS Decimal(9, 6)), 0xE6100000010C1971016894CA3D4041F0F8F6AED557C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1260, 16, CAST(N'2025-08-16T20:52:40.857' AS DateTime), CAST(405.68 AS Decimal(18, 2)), N'California', N'Boston', N'USA', CAST(29.716927 AS Decimal(9, 6)), CAST(-95.413204 AS Decimal(9, 6)), 0xE6100000010C909E228788B73D40E3A430EF71DA57C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1261, 17, CAST(N'2025-08-10T18:12:40.857' AS DateTime), CAST(456.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.416876 AS Decimal(9, 6)), CAST(-87.661199 AS Decimal(9, 6)), 0xE6100000010C603E59315CB5404077499C1551EA55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1262, 17, CAST(N'2025-08-12T12:52:40.857' AS DateTime), CAST(459.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.442476 AS Decimal(9, 6)), CAST(-87.635599 AS Decimal(9, 6)), 0xE6100000010CE8A1B60DA3B84040B3976DA7ADE855C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1263, 17, CAST(N'2025-08-14T07:48:40.857' AS DateTime), CAST(462.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.468076 AS Decimal(9, 6)), CAST(-87.609999 AS Decimal(9, 6)), 0xE6100000010C710514EAE9BB4040EFE53E390AE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1264, 17, CAST(N'2025-08-16T00:52:40.857' AS DateTime), CAST(444.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.488876 AS Decimal(9, 6)), CAST(-87.589199 AS Decimal(9, 6)), 0xE6100000010C4FE61F7D93BE40407FF5B86FB5E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1265, 17, CAST(N'2025-08-17T18:12:40.857' AS DateTime), CAST(446.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.414476 AS Decimal(9, 6)), CAST(-87.663599 AS Decimal(9, 6)), 0xE6100000010C0B7DB08C0DB5404022AAF06778EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1266, 18, CAST(N'2025-08-10T05:24:40.857' AS DateTime), CAST(334.00 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-71.019084 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E842401FF818AC38C151C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1267, 18, CAST(N'2025-08-11T11:16:40.857' AS DateTime), CAST(336.56 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.740229 AS Decimal(9, 6)), CAST(-71.093484 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFDE4240C1AC50A4FBC551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1268, 18, CAST(N'2025-08-12T17:24:40.857' AS DateTime), CAST(339.12 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.765829 AS Decimal(9, 6)), CAST(-71.067884 AS Decimal(9, 6)), 0xE6100000010C08AA46AF06E24240FDFA213658C451C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1269, 18, CAST(N'2025-08-13T21:40:40.857' AS DateTime), CAST(321.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-71.047084 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E442408D0A9C6C03C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1270, 18, CAST(N'2025-08-15T02:12:40.857' AS DateTime), CAST(323.76 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-71.021484 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E74240C9586DFE5FC151C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1271, 19, CAST(N'2025-08-10T09:40:40.857' AS DateTime), CAST(374.96 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.824229 AS Decimal(9, 6)), CAST(-95.320404 AS Decimal(9, 6)), 0xE6100000010C18B5FB5580E942407C60C77F81D457C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1272, 19, CAST(N'2025-08-11T19:48:40.857' AS DateTime), CAST(377.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.749829 AS Decimal(9, 6)), CAST(-95.394804 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FADF42401E15FF7744D957C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1273, 19, CAST(N'2025-08-13T06:12:40.857' AS DateTime), CAST(380.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.775429 AS Decimal(9, 6)), CAST(-95.369204 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141E342405A63D009A1D757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1274, 19, CAST(N'2025-08-14T14:44:40.857' AS DateTime), CAST(362.16 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.796229 AS Decimal(9, 6)), CAST(-95.348404 AS Decimal(9, 6)), 0xE6100000010C3A90F5D4EAE54240EB724A404CD657C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1275, 19, CAST(N'2025-08-15T23:32:40.857' AS DateTime), CAST(364.72 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.821829 AS Decimal(9, 6)), CAST(-95.322804 AS Decimal(9, 6)), 0xE6100000010CC3F352B131E9424027C11BD2A8D457C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1276, 20, CAST(N'2025-08-11T07:00:40.857' AS DateTime), CAST(79.76 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E24240B114C957029B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1277, 20, CAST(N'2025-08-13T14:28:40.857' AS DateTime), CAST(82.32 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE64240ED629AE95E995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1278, 20, CAST(N'2025-08-15T22:12:40.857' AS DateTime), CAST(84.88 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E9424029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1279, 20, CAST(N'2025-08-18T04:04:40.857' AS DateTime), CAST(66.96 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF424020274C18CD9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1280, 20, CAST(N'2025-08-20T10:12:40.857' AS DateTime), CAST(69.52 AS Decimal(18, 2)), N'New York', N'Phoenix', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-122.424418 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242405C751DAA299B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1281, 21, CAST(N'2025-08-11T11:16:40.857' AS DateTime), CAST(120.72 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-122.412418 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E442400892770E659A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1282, 21, CAST(N'2025-08-13T23:00:40.857' AS DateTime), CAST(123.28 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.807429 AS Decimal(9, 6)), CAST(-122.386818 AS Decimal(9, 6)), 0xE6100000010CC66B5ED559E7424044E048A0C1985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1283, 21, CAST(N'2025-08-16T11:00:40.857' AS DateTime), CAST(125.84 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1284, 21, CAST(N'2025-08-18T21:08:40.857' AS DateTime), CAST(107.92 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE0424076A4FACE2F9C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1285, 21, CAST(N'2025-08-21T07:32:40.857' AS DateTime), CAST(110.48 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.779429 AS Decimal(9, 6)), CAST(-122.414818 AS Decimal(9, 6)), 0xE6100000010CE9465854C4E34240B2F2CB608C9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1286, 22, CAST(N'2025-08-10T22:28:40.857' AS DateTime), CAST(497.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.426476 AS Decimal(9, 6)), CAST(-122.441218 AS Decimal(9, 6)), 0xE6100000010CB343FCC396B64040051A6CEA3C9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1287, 22, CAST(N'2025-08-12T21:24:40.857' AS DateTime), CAST(500.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.452076 AS Decimal(9, 6)), CAST(-122.415618 AS Decimal(9, 6)), 0xE6100000010C3BA759A0DDB9404040683D7C999A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1288, 22, CAST(N'2025-08-14T20:36:40.857' AS DateTime), CAST(502.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.477676 AS Decimal(9, 6)), CAST(-122.390018 AS Decimal(9, 6)), 0xE6100000010CC40AB77C24BD40407CB60E0EF6985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1289, 22, CAST(N'2025-08-16T17:56:40.857' AS DateTime), CAST(485.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.398476 AS Decimal(9, 6)), CAST(-122.469218 AS Decimal(9, 6)), 0xE6100000010CD61EF64201B34040732CEFAA079E5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1290, 22, CAST(N'2025-08-18T15:32:40.857' AS DateTime), CAST(487.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(33.424076 AS Decimal(9, 6)), CAST(-122.443618 AS Decimal(9, 6)), 0xE6100000010C5E82531F48B64040AF7AC03C649C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1291, 23, CAST(N'2025-08-11T02:44:40.857' AS DateTime), CAST(38.80 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.762629 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010C97FDBAD39DE142405B971AA19F9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1292, 23, CAST(N'2025-08-13T05:56:40.857' AS DateTime), CAST(41.36 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E4424097E5EB32FC995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1293, 23, CAST(N'2025-08-15T09:24:40.857' AS DateTime), CAST(43.92 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1294, 23, CAST(N'2025-08-17T11:00:40.857' AS DateTime), CAST(26.00 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1295, 23, CAST(N'2025-08-19T12:52:40.857' AS DateTime), CAST(28.56 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1296, 24, CAST(N'2025-08-09T00:04:40.857' AS DateTime), CAST(243.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.797381 AS Decimal(9, 6)), CAST(-80.155988 AS Decimal(9, 6)), 0xE6100000010CA873452921CC394061A417B5FB0954C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1297, 24, CAST(N'2025-08-09T00:36:40.857' AS DateTime), CAST(246.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.722981 AS Decimal(9, 6)), CAST(-80.230388 AS Decimal(9, 6)), 0xE6100000010C1FA1664815B9394004594FADBE0E54C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1298, 24, CAST(N'2025-08-09T01:24:40.857' AS DateTime), CAST(248.72 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.748581 AS Decimal(9, 6)), CAST(-80.204788 AS Decimal(9, 6)), 0xE6100000010C30682101A3BF39403FA7203F1B0D54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1299, 24, CAST(N'2025-08-12T00:20:40.857' AS DateTime), CAST(230.80 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.769381 AS Decimal(9, 6)), CAST(-80.183988 AS Decimal(9, 6)), 0xE6100000010CED293927F6C43940D0B69A75C60B54C0, N'Gas', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1300, 24, CAST(N'2025-08-14T23:32:40.857' AS DateTime), CAST(233.36 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(25.794981 AS Decimal(9, 6)), CAST(-80.158388 AS Decimal(9, 6)), 0xE6100000010CFEF0F3DF83CB39400C056C07230A54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1301, 25, CAST(N'2025-08-09T04:20:40.857' AS DateTime), CAST(284.56 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.820229 AS Decimal(9, 6)), CAST(-95.324404 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDE8424043ACFE08C3D457C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1302, 25, CAST(N'2025-08-09T09:08:40.857' AS DateTime), CAST(287.12 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-95.398804 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF4240E560360186D957C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1303, 25, CAST(N'2025-08-09T14:12:40.857' AS DateTime), CAST(289.68 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-95.373204 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424021AF0793E2D757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1304, 25, CAST(N'2025-08-09T17:24:40.857' AS DateTime), CAST(271.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-95.352404 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240B2BE81C98DD657C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1305, 25, CAST(N'2025-08-09T20:52:40.857' AS DateTime), CAST(274.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-95.326804 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE84240ED0C535BEAD457C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1306, 26, CAST(N'2025-08-11T15:32:40.857' AS DateTime), CAST(161.68 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-122.402818 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE542405E0F26C5C7995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1307, 26, CAST(N'2025-08-14T07:32:40.857' AS DateTime), CAST(164.24 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1308, 26, CAST(N'2025-08-16T23:48:40.857' AS DateTime), CAST(166.80 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1309, 26, CAST(N'2025-08-19T14:12:40.857' AS DateTime), CAST(148.88 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-122.430818 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E14240CD21A985929B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1310, 26, CAST(N'2025-08-22T04:52:40.857' AS DateTime), CAST(151.44 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE4424009707A17EF995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1311, 27, CAST(N'2025-08-11T19:48:40.857' AS DateTime), CAST(202.64 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-87.603599 AS Decimal(9, 6)), 0xE6100000010CE412471E88E642407E39B35DA1E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1312, 27, CAST(N'2025-08-14T16:04:40.857' AS DateTime), CAST(205.20 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-87.677999 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424020EEEA5564EB55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1313, 27, CAST(N'2025-08-17T12:36:40.857' AS DateTime), CAST(207.76 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-87.652399 AS Decimal(9, 6)), 0xE6100000010C280D350A49E042405C3CBCE7C0E955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1314, 27, CAST(N'2025-08-20T07:16:40.857' AS DateTime), CAST(189.84 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.773029 AS Decimal(9, 6)), CAST(-87.631599 AS Decimal(9, 6)), 0xE6100000010C07EE409DF2E24240EC4B361E6CE855C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1315, 27, CAST(N'2025-08-23T02:12:40.857' AS DateTime), CAST(192.40 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.798629 AS Decimal(9, 6)), CAST(-87.605999 AS Decimal(9, 6)), 0xE6100000010C8F519E7939E64240289A07B0C8E655C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1316, 28, CAST(N'2025-08-09T17:08:40.857' AS DateTime), CAST(407.44 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.852213 AS Decimal(9, 6)), CAST(-80.217588 AS Decimal(9, 6)), 0xE6100000010CEF1CCA5015ED4440220038F6EC0D54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1317, 28, CAST(N'2025-08-10T10:44:40.857' AS DateTime), CAST(410.00 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.877813 AS Decimal(9, 6)), CAST(-80.191988 AS Decimal(9, 6)), 0xE6100000010C7880272D5CF044405D4E0988490C54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1318, 28, CAST(N'2025-08-11T04:36:40.857' AS DateTime), CAST(412.56 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.903413 AS Decimal(9, 6)), CAST(-80.166388 AS Decimal(9, 6)), 0xE6100000010C00E48409A3F34440999CDA19A60A54C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1319, 28, CAST(N'2025-08-11T20:36:40.857' AS DateTime), CAST(394.64 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.924213 AS Decimal(9, 6)), CAST(-80.145588 AS Decimal(9, 6)), 0xE6100000010CDFC4909C4CF644402AAC5450510954C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1320, 28, CAST(N'2025-08-12T12:52:40.857' AS DateTime), CAST(397.20 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.849813 AS Decimal(9, 6)), CAST(-80.219988 AS Decimal(9, 6)), 0xE6100000010C9A5B21ACC6EC4440CC608C48140E54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1321, 29, CAST(N'2025-08-09T21:24:40.857' AS DateTime), CAST(448.40 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.722936 AS Decimal(9, 6)), CAST(-95.386004 AS Decimal(9, 6)), 0xE6100000010CEF8CB62A89DC434003081F4AB4D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1322, 29, CAST(N'2025-08-10T19:16:40.857' AS DateTime), CAST(450.96 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.748536 AS Decimal(9, 6)), CAST(-95.360404 AS Decimal(9, 6)), 0xE6100000010C78F01307D0DF43403F56F0DB10D757C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1323, 29, CAST(N'2025-08-11T17:24:40.857' AS DateTime), CAST(453.52 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.774136 AS Decimal(9, 6)), CAST(-95.334804 AS Decimal(9, 6)), 0xE6100000010C005471E316E343407BA4C16D6DD557C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1324, 29, CAST(N'2025-08-12T13:40:40.857' AS DateTime), CAST(435.60 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.694936 AS Decimal(9, 6)), CAST(-95.414004 AS Decimal(9, 6)), 0xE6100000010C1268B0A9F3D84340721AA20A7FDA57C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1325, 29, CAST(N'2025-08-13T10:12:40.857' AS DateTime), CAST(438.16 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(39.720536 AS Decimal(9, 6)), CAST(-95.388404 AS Decimal(9, 6)), 0xE6100000010C9BCB0D863ADC4340AD68739CDBD857C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1326, 30, CAST(N'2025-08-09T08:36:40.857' AS DateTime), CAST(325.52 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.667676 AS Decimal(9, 6)), CAST(-118.288683 AS Decimal(9, 6)), 0xE6100000010C7C293C687655444051FA42C879925DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1327, 30, CAST(N'2025-08-09T17:40:40.857' AS DateTime), CAST(328.08 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.693276 AS Decimal(9, 6)), CAST(-118.263083 AS Decimal(9, 6)), 0xE6100000010C048D9944BD5844408C48145AD6905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1328, 30, CAST(N'2025-08-10T03:00:40.857' AS DateTime), CAST(330.64 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.718876 AS Decimal(9, 6)), CAST(-118.237483 AS Decimal(9, 6)), 0xE6100000010C8DF0F620045C4440C896E5EB328F5DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1329, 30, CAST(N'2025-08-10T10:28:40.857' AS DateTime), CAST(312.72 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.739676 AS Decimal(9, 6)), CAST(-118.216683 AS Decimal(9, 6)), 0xE6100000010C6CD102B4AD5E444059A65F22DE8D5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1330, 30, CAST(N'2025-08-10T18:12:40.857' AS DateTime), CAST(315.28 AS Decimal(18, 2)), N'New York', N'Chicago', N'USA', CAST(40.665276 AS Decimal(9, 6)), CAST(-118.291083 AS Decimal(9, 6)), 0xE6100000010C276893C327554440FB5A971AA1925DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1331, 31, CAST(N'2025-08-09T12:52:40.857' AS DateTime), CAST(366.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.726181 AS Decimal(9, 6)), CAST(-71.094284 AS Decimal(9, 6)), 0xE6100000010C01FA7DFFE6B939404F22C2BF08C651C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1332, 31, CAST(N'2025-08-10T02:12:40.857' AS DateTime), CAST(369.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.751781 AS Decimal(9, 6)), CAST(-71.068684 AS Decimal(9, 6)), 0xE6100000010C12C138B874C039408B70935165C451C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1333, 31, CAST(N'2025-08-10T15:48:40.857' AS DateTime), CAST(371.60 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.777381 AS Decimal(9, 6)), CAST(-71.043084 AS Decimal(9, 6)), 0xE6100000010C2288F37002C73940C6BE64E3C1C251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1334, 31, CAST(N'2025-08-11T03:32:40.857' AS DateTime), CAST(353.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.798181 AS Decimal(9, 6)), CAST(-71.022284 AS Decimal(9, 6)), 0xE6100000010CE0490B9755CC394057CEDE196DC151C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1335, 31, CAST(N'2025-08-11T15:32:40.857' AS DateTime), CAST(356.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.723781 AS Decimal(9, 6)), CAST(-71.096684 AS Decimal(9, 6)), 0xE6100000010C57772CB649B93940F982161230C651C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1336, 32, CAST(N'2025-08-11T01:08:40.857' AS DateTime), CAST(449.84 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.358181 AS Decimal(9, 6)), CAST(-122.333869 AS Decimal(9, 6)), 0xE6100000010C388600E0D82D45407D09151C5E955EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1337, 32, CAST(N'2025-08-13T02:44:40.857' AS DateTime), CAST(452.40 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.383781 AS Decimal(9, 6)), CAST(-122.308269 AS Decimal(9, 6)), 0xE6100000010CC0E95DBC1F314540B857E6ADBA935EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1338, 32, CAST(N'2025-08-15T04:36:40.857' AS DateTime), CAST(454.96 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.409381 AS Decimal(9, 6)), CAST(-122.282669 AS Decimal(9, 6)), 0xE6100000010C494DBB9866344540F4A5B73F17925EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1339, 32, CAST(N'2025-08-17T04:36:40.857' AS DateTime), CAST(437.04 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.330181 AS Decimal(9, 6)), CAST(-122.361869 AS Decimal(9, 6)), 0xE6100000010C5B61FA5E432A4540EB1B98DC28975EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1340, 32, CAST(N'2025-08-19T04:52:40.857' AS DateTime), CAST(439.60 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(42.355781 AS Decimal(9, 6)), CAST(-122.336269 AS Decimal(9, 6)), 0xE6100000010CE3C4573B8A2D4540276A696E85955EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1341, 33, CAST(N'2025-08-11T05:24:40.857' AS DateTime), CAST(490.80 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.782629 AS Decimal(9, 6)), CAST(-87.621999 AS Decimal(9, 6)), 0xE6100000010C5AF3E32F2DE4424043C9E4D4CEE755C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1342, 33, CAST(N'2025-08-13T11:16:40.857' AS DateTime), CAST(493.36 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.808229 AS Decimal(9, 6)), CAST(-87.596399 AS Decimal(9, 6)), 0xE6100000010CE256410C74E742407F17B6662BE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1343, 33, CAST(N'2025-08-15T17:24:40.857' AS DateTime), CAST(495.92 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.733829 AS Decimal(9, 6)), CAST(-87.670799 AS Decimal(9, 6)), 0xE6100000010C9EEDD11BEEDD424021CCED5EEEEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1344, 33, CAST(N'2025-08-17T21:40:40.857' AS DateTime), CAST(478.00 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-87.649999 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E04240B1DB679599E955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1345, 33, CAST(N'2025-08-20T02:12:40.857' AS DateTime), CAST(480.56 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(37.780229 AS Decimal(9, 6)), CAST(-87.624399 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEE34240ED293927F6E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1346, 34, CAST(N'2025-08-10T16:36:40.857' AS DateTime), CAST(367.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.718136 AS Decimal(9, 6)), CAST(-95.390804 AS Decimal(9, 6)), 0xE6100000010C460A65E1EBDB434058C9C7EE02D957C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1347, 34, CAST(N'2025-08-12T09:40:40.857' AS DateTime), CAST(370.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.743736 AS Decimal(9, 6)), CAST(-95.365204 AS Decimal(9, 6)), 0xE6100000010CCE6DC2BD32DF4340941799805FD757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1348, 34, CAST(N'2025-08-14T03:00:40.857' AS DateTime), CAST(373.04 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.769336 AS Decimal(9, 6)), CAST(-95.339604 AS Decimal(9, 6)), 0xE6100000010C57D11F9A79E24340CF656A12BCD557C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1349, 34, CAST(N'2025-08-15T18:28:40.857' AS DateTime), CAST(355.12 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.690136 AS Decimal(9, 6)), CAST(-95.418804 AS Decimal(9, 6)), 0xE6100000010C69E55E6056D84340C6DB4AAFCDDA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1350, 34, CAST(N'2025-08-17T10:12:40.857' AS DateTime), CAST(357.68 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(39.715736 AS Decimal(9, 6)), CAST(-95.393204 AS Decimal(9, 6)), 0xE6100000010CF148BC3C9DDB4340022A1C412AD957C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1351, 35, CAST(N'2025-08-10T20:52:40.857' AS DateTime), CAST(408.88 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.701276 AS Decimal(9, 6)), CAST(-122.430818 AS Decimal(9, 6)), 0xE6100000010C1FBC7669C3594440CD21A985929B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1352, 35, CAST(N'2025-08-12T18:12:40.857' AS DateTime), CAST(411.44 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.726876 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010CA71FD4450A5D444009707A17EF995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1353, 35, CAST(N'2025-08-14T15:48:40.857' AS DateTime), CAST(414.00 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.752476 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010C308331225160444044BE4BA94B985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1354, 35, CAST(N'2025-08-16T11:32:40.857' AS DateTime), CAST(396.08 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.673276 AS Decimal(9, 6)), CAST(-122.458818 AS Decimal(9, 6)), 0xE6100000010C429770E82D5644403B342C465D9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1355, 35, CAST(N'2025-08-18T07:32:40.857' AS DateTime), CAST(398.64 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(40.698876 AS Decimal(9, 6)), CAST(-122.433218 AS Decimal(9, 6)), 0xE6100000010CCAFACDC4745944407782FDD7B99B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1356, 36, CAST(N'2025-08-11T18:12:40.857' AS DateTime), CAST(113.68 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.642709 AS Decimal(9, 6)), CAST(-95.333204 AS Decimal(9, 6)), 0xE6100000010C25ECDB4944D247405EB9DE3653D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1357, 36, CAST(N'2025-08-14T12:52:40.857' AS DateTime), CAST(116.24 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.568309 AS Decimal(9, 6)), CAST(-95.407604 AS Decimal(9, 6)), 0xE6100000010CE0826C59BEC84740016E162F16DA57C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1358, 36, CAST(N'2025-08-17T07:48:40.857' AS DateTime), CAST(118.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.593909 AS Decimal(9, 6)), CAST(-95.382004 AS Decimal(9, 6)), 0xE6100000010C68E6C93505CC47403CBCE7C072D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1359, 36, CAST(N'2025-08-20T00:52:40.857' AS DateTime), CAST(100.88 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.614709 AS Decimal(9, 6)), CAST(-95.361204 AS Decimal(9, 6)), 0xE6100000010C47C7D5C8AECE4740CDCB61F71DD757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1360, 36, CAST(N'2025-08-22T18:12:40.857' AS DateTime), CAST(103.44 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(47.640309 AS Decimal(9, 6)), CAST(-95.335604 AS Decimal(9, 6)), 0xE6100000010CD02A33A5F5D14740091A33897AD557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1361, 37, CAST(N'2025-08-11T22:28:40.857' AS DateTime), CAST(154.64 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.924213 AS Decimal(9, 6)), CAST(-87.583599 AS Decimal(9, 6)), 0xE6100000010CDFC4909C4CF644409DBE9EAF59E555C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1362, 37, CAST(N'2025-08-14T21:24:40.857' AS DateTime), CAST(157.20 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.849813 AS Decimal(9, 6)), CAST(-87.657999 AS Decimal(9, 6)), 0xE6100000010C9A5B21ACC6EC44403F73D6A71CEA55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1363, 37, CAST(N'2025-08-17T20:36:40.857' AS DateTime), CAST(159.76 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.875413 AS Decimal(9, 6)), CAST(-87.632399 AS Decimal(9, 6)), 0xE6100000010C23BF7E880DF044407BC1A73979E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1364, 37, CAST(N'2025-08-20T17:56:40.857' AS DateTime), CAST(141.84 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.896213 AS Decimal(9, 6)), CAST(-87.611599 AS Decimal(9, 6)), 0xE6100000010C02A08A1BB7F244400BD1217024E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1365, 37, CAST(N'2025-08-23T15:32:40.857' AS DateTime), CAST(144.40 AS Decimal(18, 2)), N'Arizona', N'Boston', N'USA', CAST(41.921813 AS Decimal(9, 6)), CAST(-87.585999 AS Decimal(9, 6)), 0xE6100000010C8A03E8F7FDF54440471FF30181E555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1366, 38, CAST(N'2025-08-11T09:40:40.857' AS DateTime), CAST(31.76 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.623509 AS Decimal(9, 6)), CAST(-122.402018 AS Decimal(9, 6)), 0xE6100000010C7EE19524CFCF4740D099B4A9BA995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1367, 38, CAST(N'2025-08-13T19:48:40.857' AS DateTime), CAST(34.32 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.649109 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C0745F30016D347400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1368, 38, CAST(N'2025-08-16T06:12:40.857' AS DateTime), CAST(36.88 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.574709 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CC2DB831090C94740AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1369, 38, CAST(N'2025-08-18T14:44:40.857' AS DateTime), CAST(18.96 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.595509 AS Decimal(9, 6)), CAST(-122.430018 AS Decimal(9, 6)), 0xE6100000010CA1BC8FA339CC47403FAC376A859B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1370, 38, CAST(N'2025-08-20T23:32:40.857' AS DateTime), CAST(21.52 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(47.621109 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010C2920ED7F80CF47407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1371, 39, CAST(N'2025-08-11T13:56:40.857' AS DateTime), CAST(72.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-122.392418 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E64240271763601D995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1372, 39, CAST(N'2025-08-14T04:20:40.857' AS DateTime), CAST(75.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240C9CB9A58E09D5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1373, 39, CAST(N'2025-08-16T19:00:40.857' AS DateTime), CAST(77.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-122.441218 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240051A6CEA3C9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1374, 39, CAST(N'2025-08-19T07:48:40.857' AS DateTime), CAST(59.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.773829 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C23D923D40CE342409529E620E89A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1375, 39, CAST(N'2025-08-21T20:52:40.857' AS DateTime), CAST(62.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.799429 AS Decimal(9, 6)), CAST(-122.394818 AS Decimal(9, 6)), 0xE6100000010CAC3C81B053E64240D177B7B244995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1376, 40, CAST(N'2025-08-09T11:16:40.857' AS DateTime), CAST(277.52 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.853013 AS Decimal(9, 6)), CAST(-80.216788 AS Decimal(9, 6)), 0xE6100000010C0B08AD872FED4440938AC6DADF0D54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1377, 40, CAST(N'2025-08-09T23:00:40.857' AS DateTime), CAST(280.08 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.878613 AS Decimal(9, 6)), CAST(-80.191188 AS Decimal(9, 6)), 0xE6100000010C946B0A6476F04440CFD8976C3C0C54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1378, 40, CAST(N'2025-08-10T11:00:40.857' AS DateTime), CAST(282.64 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.904213 AS Decimal(9, 6)), CAST(-80.165588 AS Decimal(9, 6)), 0xE6100000010C1CCF6740BDF344400B2769FE980A54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1379, 40, CAST(N'2025-08-10T21:08:40.857' AS DateTime), CAST(264.72 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.925013 AS Decimal(9, 6)), CAST(-80.144788 AS Decimal(9, 6)), 0xE6100000010CFBAF73D366F644409C36E334440954C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1380, 40, CAST(N'2025-08-11T07:32:40.857' AS DateTime), CAST(267.28 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(41.850613 AS Decimal(9, 6)), CAST(-80.219188 AS Decimal(9, 6)), 0xE6100000010CB74604E3E0EC44403EEB1A2D070E54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1381, 41, CAST(N'2025-08-09T15:32:40.857' AS DateTime), CAST(318.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.746181 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C86E5CFB705BF3940946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1382, 41, CAST(N'2025-08-10T07:32:40.857' AS DateTime), CAST(321.04 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.771781 AS Decimal(9, 6)), CAST(-122.409218 AS Decimal(9, 6)), 0xE6100000010C97AC8A7093C53940CFBBB1A0309A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1383, 41, CAST(N'2025-08-10T23:48:40.857' AS DateTime), CAST(323.60 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.797381 AS Decimal(9, 6)), CAST(-122.383618 AS Decimal(9, 6)), 0xE6100000010CA873452921CC39400B0A83328D985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1384, 41, CAST(N'2025-08-11T14:12:40.857' AS DateTime), CAST(305.68 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.718181 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010CCC9BC3B5DAB73940028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1385, 41, CAST(N'2025-08-12T04:52:40.857' AS DateTime), CAST(308.24 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(25.743781 AS Decimal(9, 6)), CAST(-122.437218 AS Decimal(9, 6)), 0xE6100000010CDC627E6E68BE39403ECE3461FB9B5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1386, 42, CAST(N'2025-08-09T02:44:40.857' AS DateTime), CAST(195.60 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.716127 AS Decimal(9, 6)), CAST(-95.414004 AS Decimal(9, 6)), 0xE6100000010C58C85C1954B73D40721AA20A7FDA57C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1387, 42, CAST(N'2025-08-09T05:56:40.857' AS DateTime), CAST(198.16 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.741727 AS Decimal(9, 6)), CAST(-95.388404 AS Decimal(9, 6)), 0xE6100000010C698F17D2E1BD3D40AD68739CDBD857C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1388, 42, CAST(N'2025-08-09T09:24:40.857' AS DateTime), CAST(200.72 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.767327 AS Decimal(9, 6)), CAST(-95.362804 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FC43D40E9B6442E38D757C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1389, 42, CAST(N'2025-08-09T11:00:40.857' AS DateTime), CAST(182.80 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.788127 AS Decimal(9, 6)), CAST(-95.342004 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2C93D407AC6BE64E3D557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1390, 42, CAST(N'2025-08-09T12:52:40.857' AS DateTime), CAST(185.36 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.713727 AS Decimal(9, 6)), CAST(-95.416404 AS Decimal(9, 6)), 0xE6100000010CAE450BD0B6B63D401C7BF65CA6DA57C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1391, 43, CAST(N'2025-08-09T07:00:40.857' AS DateTime), CAST(236.56 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.726981 AS Decimal(9, 6)), CAST(-74.040574 AS Decimal(9, 6)), 0xE6100000010C39D0436D1BBA394059C4B0C3988252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1392, 43, CAST(N'2025-08-09T14:28:40.857' AS DateTime), CAST(239.12 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.752581 AS Decimal(9, 6)), CAST(-74.014974 AS Decimal(9, 6)), 0xE6100000010C4A97FE25A9C0394094128255F58052C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1393, 43, CAST(N'2025-08-09T22:12:40.857' AS DateTime), CAST(241.68 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.778181 AS Decimal(9, 6)), CAST(-73.989374 AS Decimal(9, 6)), 0xE6100000010C5B5EB9DE36C73940D06053E7517F52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1394, 43, CAST(N'2025-08-10T04:04:40.857' AS DateTime), CAST(223.76 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.798981 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C1920D1048ACC39406170CD1DFD7D52C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1395, 43, CAST(N'2025-08-10T10:12:40.857' AS DateTime), CAST(226.32 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.724581 AS Decimal(9, 6)), CAST(-74.042974 AS Decimal(9, 6)), 0xE6100000010C904DF2237EB9394003250516C08252C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1396, 44, CAST(N'2025-08-10T04:20:40.857' AS DateTime), CAST(441.36 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E4424097E5EB32FC995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1397, 44, CAST(N'2025-08-11T09:08:40.857' AS DateTime), CAST(443.92 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1398, 44, CAST(N'2025-08-12T14:12:40.857' AS DateTime), CAST(446.48 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1399, 44, CAST(N'2025-08-13T17:24:40.857' AS DateTime), CAST(428.56 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1400, 44, CAST(N'2025-08-14T20:52:40.857' AS DateTime), CAST(431.12 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E4424041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1401, 45, CAST(N'2025-08-10T08:36:40.857' AS DateTime), CAST(482.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.735676 AS Decimal(9, 6)), CAST(-95.346804 AS Decimal(9, 6)), 0xE6100000010CDE3994A12A5E4440CF87670932D657C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1402, 45, CAST(N'2025-08-11T17:40:40.857' AS DateTime), CAST(484.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.761276 AS Decimal(9, 6)), CAST(-95.321204 AS Decimal(9, 6)), 0xE6100000010C679DF17D716144400AD6389B8ED457C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1403, 45, CAST(N'2025-08-13T03:00:40.857' AS DateTime), CAST(487.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.686876 AS Decimal(9, 6)), CAST(-95.395604 AS Decimal(9, 6)), 0xE6100000010C2234828DEB574440AD8A709351D957C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1404, 45, CAST(N'2025-08-14T10:28:40.857' AS DateTime), CAST(469.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.707676 AS Decimal(9, 6)), CAST(-95.374804 AS Decimal(9, 6)), 0xE6100000010C01158E20955A44403D9AEAC9FCD757C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1405, 45, CAST(N'2025-08-15T18:12:40.857' AS DateTime), CAST(472.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.733276 AS Decimal(9, 6)), CAST(-95.349204 AS Decimal(9, 6)), 0xE6100000010C8978EBFCDB5D444079E8BB5B59D657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1406, 46, CAST(N'2025-08-09T19:48:40.857' AS DateTime), CAST(359.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.046335 AS Decimal(9, 6)), CAST(-74.011774 AS Decimal(9, 6)), 0xE6100000010C80D4264EEE0541405C3CBCE7C08052C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1407, 46, CAST(N'2025-08-10T16:04:40.857' AS DateTime), CAST(362.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.071935 AS Decimal(9, 6)), CAST(-73.986174 AS Decimal(9, 6)), 0xE6100000010C0938842A35094140988A8D791D7F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1408, 46, CAST(N'2025-08-11T12:36:40.857' AS DateTime), CAST(364.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.097535 AS Decimal(9, 6)), CAST(-73.960574 AS Decimal(9, 6)), 0xE6100000010C919BE1067C0C4140D3D85E0B7A7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1409, 46, CAST(N'2025-08-12T07:16:40.857' AS DateTime), CAST(346.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-74.039774 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD58024140CA4E3FA88B8252C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1410, 46, CAST(N'2025-08-13T02:12:40.857' AS DateTime), CAST(349.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.043935 AS Decimal(9, 6)), CAST(-74.014174 AS Decimal(9, 6)), 0xE6100000010C2B137EA99F054140069D103AE88052C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1411, 47, CAST(N'2025-08-10T00:04:40.857' AS DateTime), CAST(400.40 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-71.055084 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE342401AA20A7F86C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1412, 47, CAST(N'2025-08-11T00:36:40.857' AS DateTime), CAST(402.96 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-71.029484 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E6424056F0DB10E3C151C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1413, 47, CAST(N'2025-08-12T01:24:40.857' AS DateTime), CAST(405.52 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-71.103884 AS Decimal(9, 6)), 0xE6100000010C115663096BDD4240F8A41309A6C651C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1414, 47, CAST(N'2025-08-13T00:20:40.857' AS DateTime), CAST(387.60 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-71.083084 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E0424089B48D3F51C551C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1415, 47, CAST(N'2025-08-13T23:32:40.857' AS DateTime), CAST(390.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-71.057484 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240C5025FD1ADC351C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1416, 48, CAST(N'2025-08-10T21:24:40.857' AS DateTime), CAST(105.20 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-118.291883 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424089D00836AE925DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1417, 48, CAST(N'2025-08-12T19:16:40.857' AS DateTime), CAST(107.76 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-118.266283 AS Decimal(9, 6)), 0xE6100000010C280D350A49E04240C51EDAC70A915DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1418, 48, CAST(N'2025-08-14T17:24:40.857' AS DateTime), CAST(110.32 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.777829 AS Decimal(9, 6)), CAST(-118.240683 AS Decimal(9, 6)), 0xE6100000010CB07092E68FE34240016DAB59678F5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1419, 48, CAST(N'2025-08-16T13:40:40.857' AS DateTime), CAST(92.40 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.798629 AS Decimal(9, 6)), CAST(-118.219883 AS Decimal(9, 6)), 0xE6100000010C8F519E7939E64240917C2590128E5DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1420, 48, CAST(N'2025-08-18T10:12:40.857' AS DateTime), CAST(94.96 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(37.824229 AS Decimal(9, 6)), CAST(-118.194283 AS Decimal(9, 6)), 0xE6100000010C18B5FB5580E94240CDCAF6216F8C5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1421, 49, CAST(N'2025-08-11T01:40:40.857' AS DateTime), CAST(146.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.013535 AS Decimal(9, 6)), CAST(-122.458018 AS Decimal(9, 6)), 0xE6100000010CF92CCF83BB014140ADBEBA2A509D5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1422, 49, CAST(N'2025-08-13T03:48:40.857' AS DateTime), CAST(148.72 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.039135 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010C82902C6002054140E90C8CBCAC9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1423, 49, CAST(N'2025-08-15T06:12:40.857' AS DateTime), CAST(151.28 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.064735 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C0AF4893C49084140255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1424, 49, CAST(N'2025-08-17T06:44:40.857' AS DateTime), CAST(133.36 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.085535 AS Decimal(9, 6)), CAST(-122.386018 AS Decimal(9, 6)), 0xE6100000010CE9D495CFF20A4140B66AD784B4985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1425, 49, CAST(N'2025-08-19T07:32:40.857' AS DateTime), CAST(135.92 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(34.011135 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010CA56B26DF6C014140581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1426, 50, CAST(N'2025-08-10T12:52:40.857' AS DateTime), CAST(23.28 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.792927 AS Decimal(9, 6)), CAST(-112.041436 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDCA3D4022382EE3A6025CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1427, 50, CAST(N'2025-08-12T02:12:40.857' AS DateTime), CAST(25.84 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.718527 AS Decimal(9, 6)), CAST(-112.115836 AS Decimal(9, 6)), 0xE6100000010C024BAE62F1B73D40C4EC65DB69075CC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1428, 50, CAST(N'2025-08-13T15:48:40.857' AS DateTime), CAST(28.40 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.744127 AS Decimal(9, 6)), CAST(-112.090236 AS Decimal(9, 6)), 0xE6100000010C1212691B7FBE3D40003B376DC6055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1429, 50, CAST(N'2025-08-15T03:32:40.857' AS DateTime), CAST(10.48 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.764927 AS Decimal(9, 6)), CAST(-112.069436 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2C33D40904AB1A371045CC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1430, 50, CAST(N'2025-08-16T15:32:40.857' AS DateTime), CAST(13.04 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(29.790527 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FCA3D40CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1431, 51, CAST(N'2025-08-10T17:08:40.857' AS DateTime), CAST(64.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1432, 51, CAST(N'2025-08-12T10:44:40.857' AS DateTime), CAST(66.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1433, 51, CAST(N'2025-08-14T04:36:40.857' AS DateTime), CAST(69.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.768229 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C5D6BEF5355E24240786000E1439B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1434, 51, CAST(N'2025-08-15T20:36:40.857' AS DateTime), CAST(51.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE4424009707A17EF995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1435, 51, CAST(N'2025-08-17T12:52:40.857' AS DateTime), CAST(54.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E8424044BE4BA94B985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1436, 52, CAST(N'2025-08-11T14:28:40.857' AS DateTime), CAST(269.04 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1437, 52, CAST(N'2025-08-14T05:24:40.857' AS DateTime), CAST(271.60 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.790629 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C7522C15433E54240EC8497E0D4995EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1438, 52, CAST(N'2025-08-16T20:36:40.857' AS DateTime), CAST(274.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-122.378018 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE8424028D3687231985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1439, 52, CAST(N'2025-08-19T09:56:40.857' AS DateTime), CAST(256.24 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.737029 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010C0F9A5DF756DE42401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1440, 52, CAST(N'2025-08-21T23:32:40.857' AS DateTime), CAST(258.80 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.762629 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010C97FDBAD39DE142405B971AA19F9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1441, 53, CAST(N'2025-08-11T18:44:40.857' AS DateTime), CAST(310.00 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1442, 53, CAST(N'2025-08-14T13:56:40.857' AS DateTime), CAST(312.56 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1443, 53, CAST(N'2025-08-17T09:24:40.857' AS DateTime), CAST(315.12 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.725829 AS Decimal(9, 6)), CAST(-122.468418 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7DC4240E5B67D8FFA9D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1444, 53, CAST(N'2025-08-20T03:00:40.857' AS DateTime), CAST(297.20 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-122.447618 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF424076C6F7C5A59C5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1445, 53, CAST(N'2025-08-22T20:52:40.857' AS DateTime), CAST(299.76 AS Decimal(18, 2)), N'Florida', N'Houston', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E24240B114C957029B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1446, 54, CAST(N'2025-08-11T05:56:40.857' AS DateTime), CAST(187.12 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-122.448418 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF4240043C69E1B29C5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1447, 54, CAST(N'2025-08-13T12:20:40.857' AS DateTime), CAST(189.68 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-122.422818 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE24240408A3A730F9B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1448, 54, CAST(N'2025-08-15T19:00:40.857' AS DateTime), CAST(192.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-122.397218 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642407BD80B056C995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1449, 54, CAST(N'2025-08-17T23:48:40.857' AS DateTime), CAST(174.32 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1450, 54, CAST(N'2025-08-20T04:52:40.857' AS DateTime), CAST(176.88 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF4240AE9CBD33DA9C5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1451, 55, CAST(N'2025-08-11T10:12:40.857' AS DateTime), CAST(228.08 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.693276 AS Decimal(9, 6)), CAST(-74.025374 AS Decimal(9, 6)), 0xE6100000010C048D9944BD584440CC0A45BA9F8152C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1452, 55, CAST(N'2025-08-13T20:52:40.857' AS DateTime), CAST(230.64 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.718876 AS Decimal(9, 6)), CAST(-73.999774 AS Decimal(9, 6)), 0xE6100000010C8DF0F620045C44400859164CFC7F52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1453, 55, CAST(N'2025-08-16T07:48:40.857' AS DateTime), CAST(233.20 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-73.974174 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F444044A7E7DD587E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1454, 55, CAST(N'2025-08-18T16:52:40.857' AS DateTime), CAST(215.28 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.665276 AS Decimal(9, 6)), CAST(-74.053374 AS Decimal(9, 6)), 0xE6100000010C276893C3275544403B1DC87A6A8352C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1455, 55, CAST(N'2025-08-21T02:12:40.857' AS DateTime), CAST(217.84 AS Decimal(18, 2)), N'Massachusetts', N'Los Angeles', N'USA', CAST(40.690876 AS Decimal(9, 6)), CAST(-74.027774 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6E584440766B990CC78152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1456, 56, CAST(N'2025-08-09T07:32:40.857' AS DateTime), CAST(432.88 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.906613 AS Decimal(9, 6)), CAST(-122.390818 AS Decimal(9, 6)), 0xE6100000010C719010E50BF444400A2C802903995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1457, 56, CAST(N'2025-08-09T15:32:40.857' AS DateTime), CAST(435.44 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.832213 AS Decimal(9, 6)), CAST(-122.465218 AS Decimal(9, 6)), 0xE6100000010C2D27A1F485EA4440ACE0B721C69D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1458, 56, CAST(N'2025-08-09T23:48:40.857' AS DateTime), CAST(438.00 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.857813 AS Decimal(9, 6)), CAST(-122.439618 AS Decimal(9, 6)), 0xE6100000010CB58AFED0CCED4440E82E89B3229C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1459, 56, CAST(N'2025-08-10T06:12:40.857' AS DateTime), CAST(420.08 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.878613 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010C946B0A6476F04440793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1460, 56, CAST(N'2025-08-10T12:52:40.857' AS DateTime), CAST(422.64 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(41.904213 AS Decimal(9, 6)), CAST(-122.393218 AS Decimal(9, 6)), 0xE6100000010C1CCF6740BDF34440B58CD47B2A995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1461, 57, CAST(N'2025-08-09T11:48:40.857' AS DateTime), CAST(473.84 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.777336 AS Decimal(9, 6)), CAST(-122.293869 AS Decimal(9, 6)), 0xE6100000010C7100FDBE7FE34340BA13ECBFCE925EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1462, 57, CAST(N'2025-08-10T00:04:40.857' AS DateTime), CAST(476.40 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.702936 AS Decimal(9, 6)), CAST(-122.368269 AS Decimal(9, 6)), 0xE6100000010C2D978DCEF9D943405CC823B891975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1463, 57, CAST(N'2025-08-10T12:36:40.857' AS DateTime), CAST(478.96 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.728536 AS Decimal(9, 6)), CAST(-122.342669 AS Decimal(9, 6)), 0xE6100000010CB5FAEAAA40DD43409816F549EE955EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1464, 57, CAST(N'2025-08-10T23:16:40.857' AS DateTime), CAST(461.04 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.749336 AS Decimal(9, 6)), CAST(-122.321869 AS Decimal(9, 6)), 0xE6100000010C94DBF63DEADF434029266F8099945EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1465, 57, CAST(N'2025-08-11T10:12:40.857' AS DateTime), CAST(463.60 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.774936 AS Decimal(9, 6)), CAST(-122.296269 AS Decimal(9, 6)), 0xE6100000010C1C3F541A31E3434064744012F6925EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1466, 58, CAST(N'2025-08-11T23:00:40.857' AS DateTime), CAST(350.96 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-122.410018 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E442405D3123BC3D9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1467, 58, CAST(N'2025-08-14T22:28:40.857' AS DateTime), CAST(353.52 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.809829 AS Decimal(9, 6)), CAST(-122.384418 AS Decimal(9, 6)), 0xE6100000010C1B2D077AA8E74240997FF44D9A985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1468, 58, CAST(N'2025-08-17T22:12:40.857' AS DateTime), CAST(356.08 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.735429 AS Decimal(9, 6)), CAST(-122.458818 AS Decimal(9, 6)), 0xE6100000010CD7C3978922DE42403B342C465D9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1469, 58, CAST(N'2025-08-20T20:04:40.857' AS DateTime), CAST(338.16 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-122.438018 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240CC43A67C089C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1470, 58, CAST(N'2025-08-23T18:12:40.857' AS DateTime), CAST(340.72 AS Decimal(18, 2)), N'Massachusetts', N'New York', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-122.412418 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E442400892770E659A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1471, 59, CAST(N'2025-08-09T03:16:40.857' AS DateTime), CAST(391.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.793829 AS Decimal(9, 6)), CAST(-87.610799 AS Decimal(9, 6)), 0xE6100000010CE6CE4C309CE542407D5BB05417E755C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1472, 59, CAST(N'2025-08-09T07:00:40.857' AS DateTime), CAST(394.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.819429 AS Decimal(9, 6)), CAST(-87.585199 AS Decimal(9, 6)), 0xE6100000010C6E32AA0CE3E84240B9A981E673E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1473, 59, CAST(N'2025-08-09T11:00:40.857' AS DateTime), CAST(397.04 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-87.659599 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF42405B5EB9DE36EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1474, 59, CAST(N'2025-08-09T13:08:40.857' AS DateTime), CAST(379.12 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.765829 AS Decimal(9, 6)), CAST(-87.638799 AS Decimal(9, 6)), 0xE6100000010C08AA46AF06E24240EC6D3315E2E855C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1475, 59, CAST(N'2025-08-09T15:32:40.857' AS DateTime), CAST(381.68 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-87.613199 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE5424027BC04A73EE755C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1476, 60, CAST(N'2025-08-10T00:36:40.857' AS DateTime), CAST(96.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.845013 AS Decimal(9, 6)), CAST(-122.452418 AS Decimal(9, 6)), 0xE6100000010CF1D8CF6229EC4440CA87A06AF49C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1477, 60, CAST(N'2025-08-11T01:40:40.857' AS DateTime), CAST(99.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.870613 AS Decimal(9, 6)), CAST(-122.426818 AS Decimal(9, 6)), 0xE6100000010C793C2D3F70EF444006D671FC509B5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1478, 60, CAST(N'2025-08-12T03:00:40.857' AS DateTime), CAST(101.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.896213 AS Decimal(9, 6)), CAST(-122.401218 AS Decimal(9, 6)), 0xE6100000010C02A08A1BB7F244404224438EAD995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1479, 60, CAST(N'2025-08-13T02:28:40.857' AS DateTime), CAST(83.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.917013 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CE08096AE60F54440D333BDC458985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1480, 60, CAST(N'2025-08-14T02:12:40.857' AS DateTime), CAST(86.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.842613 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C9C1727BEDAEB444075E8F4BC1B9D5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1481, 61, CAST(N'2025-08-10T04:52:40.857' AS DateTime), CAST(137.68 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.715736 AS Decimal(9, 6)), CAST(-122.442818 AS Decimal(9, 6)), 0xE6100000010CF148BC3C9DDB434021054F21579C5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1482, 61, CAST(N'2025-08-11T10:12:40.857' AS DateTime), CAST(140.24 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.741336 AS Decimal(9, 6)), CAST(-122.417218 AS Decimal(9, 6)), 0xE6100000010C79AC1919E4DE43405D5320B3B39A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1483, 61, CAST(N'2025-08-12T15:48:40.857' AS DateTime), CAST(142.80 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.766936 AS Decimal(9, 6)), CAST(-122.391618 AS Decimal(9, 6)), 0xE6100000010C021077F52AE2434098A1F14410995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1484, 61, CAST(N'2025-08-13T19:32:40.857' AS DateTime), CAST(124.88 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.787736 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CE1F08288D4E4434029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1485, 61, CAST(N'2025-08-14T23:32:40.857' AS DateTime), CAST(127.44 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(39.713336 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010C9C8713984EDB4340CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1486, 62, CAST(N'2025-08-09T16:04:40.857' AS DateTime), CAST(14.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.809381 AS Decimal(9, 6)), CAST(-87.581999 AS Decimal(9, 6)), 0xE6100000010CF700DD9733CF394080D3BB783FE555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1487, 62, CAST(N'2025-08-10T08:36:40.857' AS DateTime), CAST(17.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.734981 AS Decimal(9, 6)), CAST(-87.656399 AS Decimal(9, 6)), 0xE6100000010C6F2EFEB627BC39402288F37002EA55C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1488, 62, CAST(N'2025-08-11T01:24:40.857' AS DateTime), CAST(19.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.760581 AS Decimal(9, 6)), CAST(-87.630799 AS Decimal(9, 6)), 0xE6100000010C7FF5B86FB5C239405ED6C4025FE855C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1489, 62, CAST(N'2025-08-11T16:20:40.857' AS DateTime), CAST(502.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.781381 AS Decimal(9, 6)), CAST(-87.609999 AS Decimal(9, 6)), 0xE6100000010C3DB7D09508C83940EFE53E390AE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1490, 62, CAST(N'2025-08-12T07:32:40.857' AS DateTime), CAST(504.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.806981 AS Decimal(9, 6)), CAST(-87.584399 AS Decimal(9, 6)), 0xE6100000010C4E7E8B4E96CE39402B3410CB66E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1491, 63, CAST(N'2025-08-09T20:20:40.857' AS DateTime), CAST(55.76 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.732229 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010C65170CAEB9DD4240740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1492, 63, CAST(N'2025-08-10T17:08:40.857' AS DateTime), CAST(58.32 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.757829 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010CEE7A698A00E14240B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1493, 63, CAST(N'2025-08-11T14:12:40.857' AS DateTime), CAST(60.88 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-122.410818 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E44240ECA694D74A9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1494, 63, CAST(N'2025-08-12T09:24:40.857' AS DateTime), CAST(42.96 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-122.390018 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E642407CB60E0EF6985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1495, 63, CAST(N'2025-08-13T04:52:40.857' AS DateTime), CAST(45.52 AS Decimal(18, 2)), N'Arizona', N'Miami', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-122.464418 AS Decimal(9, 6)), 0xE6100000010C115663096BDD42401E6B4606B99D5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1496, 64, CAST(N'2025-08-11T08:36:40.857' AS DateTime), CAST(139.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.439276 AS Decimal(9, 6)), CAST(-95.378804 AS Decimal(9, 6)), 0xE6100000010C77F52A323AB8404004E621533ED857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1497, 64, CAST(N'2025-08-13T17:40:40.857' AS DateTime), CAST(141.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.464876 AS Decimal(9, 6)), CAST(-95.353204 AS Decimal(9, 6)), 0xE6100000010CFF58880E81BB40404034F3E49AD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1498, 64, CAST(N'2025-08-16T03:00:40.857' AS DateTime), CAST(144.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.490476 AS Decimal(9, 6)), CAST(-95.327604 AS Decimal(9, 6)), 0xE6100000010C88BCE5EAC7BE40407B82C476F7D457C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1499, 64, CAST(N'2025-08-18T10:28:40.857' AS DateTime), CAST(126.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.411276 AS Decimal(9, 6)), CAST(-95.406804 AS Decimal(9, 6)), 0xE6100000010C9AD024B1A4B4404072F8A41309DA57C0, N'Restaurant', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1500, 64, CAST(N'2025-08-20T18:12:40.857' AS DateTime), CAST(128.88 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(33.436876 AS Decimal(9, 6)), CAST(-95.381204 AS Decimal(9, 6)), 0xE6100000010C2234828DEBB74040AE4676A565D857C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1501, 65, CAST(N'2025-08-11T12:52:40.857' AS DateTime), CAST(180.08 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.052735 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010C622D3E05C0064140793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1502, 65, CAST(N'2025-08-14T02:12:40.857' AS DateTime), CAST(182.64 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.078335 AS Decimal(9, 6)), CAST(-122.393218 AS Decimal(9, 6)), 0xE6100000010CEB909BE1060A4140B58CD47B2A995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1503, 65, CAST(N'2025-08-16T15:48:40.857' AS DateTime), CAST(185.20 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.003935 AS Decimal(9, 6)), CAST(-122.467618 AS Decimal(9, 6)), 0xE6100000010CA6272CF18000414057410C74ED9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1504, 65, CAST(N'2025-08-19T03:32:40.857' AS DateTime), CAST(167.28 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.024735 AS Decimal(9, 6)), CAST(-122.446818 AS Decimal(9, 6)), 0xE6100000010C850838842A034140E75086AA989C5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1505, 65, CAST(N'2025-08-21T15:32:40.857' AS DateTime), CAST(169.84 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(34.050335 AS Decimal(9, 6)), CAST(-122.421218 AS Decimal(9, 6)), 0xE6100000010C0D6C956071064140239F573CF59A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1506, 66, CAST(N'2025-08-11T00:04:40.857' AS DateTime), CAST(57.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-74.034174 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF4240E71725E82F8252C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1507, 66, CAST(N'2025-08-13T00:36:40.857' AS DateTime), CAST(59.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-74.008574 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E242402366F6798C8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1508, 66, CAST(N'2025-08-15T01:24:40.857' AS DateTime), CAST(62.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-73.982974 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE642405FB4C70BE97E52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1509, 66, CAST(N'2025-08-17T00:20:40.857' AS DateTime), CAST(44.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.818629 AS Decimal(9, 6)), CAST(-73.962174 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8E84240F0C34142947D52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1510, 66, CAST(N'2025-08-18T23:32:40.857' AS DateTime), CAST(46.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-74.036574 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF42409278793A578252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1511, 67, CAST(N'2025-08-11T04:20:40.857' AS DateTime), CAST(98.16 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.741727 AS Decimal(9, 6)), CAST(-74.024574 AS Decimal(9, 6)), 0xE6100000010C698F17D2E1BD3D403E95D39E928152C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1512, 67, CAST(N'2025-08-13T09:08:40.857' AS DateTime), CAST(100.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.767327 AS Decimal(9, 6)), CAST(-73.998974 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FC43D407AE3A430EF7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1513, 67, CAST(N'2025-08-15T14:12:40.857' AS DateTime), CAST(103.28 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.792927 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDCA3D40B63176C24B7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1514, 67, CAST(N'2025-08-17T17:24:40.857' AS DateTime), CAST(85.36 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.713727 AS Decimal(9, 6)), CAST(-74.052574 AS Decimal(9, 6)), 0xE6100000010CAE450BD0B6B63D40ADA7565F5D8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1515, 67, CAST(N'2025-08-19T20:52:40.857' AS DateTime), CAST(87.92 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.739327 AS Decimal(9, 6)), CAST(-74.026974 AS Decimal(9, 6)), 0xE6100000010CBF0CC68844BD3D40E8F527F1B98152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1516, 68, CAST(N'2025-08-09T01:40:40.857' AS DateTime), CAST(302.96 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-87.600399 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E642404563EDEF6CE655C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1517, 68, CAST(N'2025-08-09T03:48:40.857' AS DateTime), CAST(305.52 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-87.674799 AS Decimal(9, 6)), 0xE6100000010C115663096BDD4240E71725E82FEB55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1518, 68, CAST(N'2025-08-09T06:12:40.857' AS DateTime), CAST(308.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-87.649199 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E042402366F6798CE955C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1519, 68, CAST(N'2025-08-09T06:44:40.857' AS DateTime), CAST(290.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-87.628399 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240B47570B037E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1520, 68, CAST(N'2025-08-09T07:32:40.857' AS DateTime), CAST(292.72 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-87.602799 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E64240F0C3414294E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1521, 69, CAST(N'2025-08-09T05:56:40.857' AS DateTime), CAST(343.92 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1522, 69, CAST(N'2025-08-09T12:20:40.857' AS DateTime), CAST(346.48 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1523, 69, CAST(N'2025-08-09T19:00:40.857' AS DateTime), CAST(349.04 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1524, 69, CAST(N'2025-08-09T23:48:40.857' AS DateTime), CAST(331.12 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E4424041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1525, 69, CAST(N'2025-08-10T04:52:40.857' AS DateTime), CAST(333.68 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(37.811429 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C5303CDE7DCE742407D94111780985EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1526, 70, CAST(N'2025-08-11T17:08:40.857' AS DateTime), CAST(221.04 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.785029 AS Decimal(9, 6)), CAST(-122.321869 AS Decimal(9, 6)), 0xE6100000010CAFB48CD47BE4424029266F8099945EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1527, 70, CAST(N'2025-08-14T10:44:40.857' AS DateTime), CAST(223.60 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.810629 AS Decimal(9, 6)), CAST(-122.296269 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2E7424064744012F6925EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1528, 70, CAST(N'2025-08-17T04:36:40.857' AS DateTime), CAST(226.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.736229 AS Decimal(9, 6)), CAST(-122.370669 AS Decimal(9, 6)), 0xE6100000010CF3AE7AC03CDE42400729780AB9975EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1529, 70, CAST(N'2025-08-19T20:36:40.857' AS DateTime), CAST(208.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.757029 AS Decimal(9, 6)), CAST(-122.349869 AS Decimal(9, 6)), 0xE6100000010CD28F8653E6E042409738F24064965EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1530, 70, CAST(N'2025-08-22T12:52:40.857' AS DateTime), CAST(210.80 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.782629 AS Decimal(9, 6)), CAST(-122.324269 AS Decimal(9, 6)), 0xE6100000010C5AF3E32F2DE44240D386C3D2C0945EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1531, 71, CAST(N'2025-08-11T21:24:40.857' AS DateTime), CAST(262.00 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.897813 AS Decimal(9, 6)), CAST(-112.054236 AS Decimal(9, 6)), 0xE6100000010C3A765089EBF244400491459A78035CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1532, 71, CAST(N'2025-08-14T19:16:40.857' AS DateTime), CAST(264.56 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.923413 AS Decimal(9, 6)), CAST(-112.028636 AS Decimal(9, 6)), 0xE6100000010CC2D9AD6532F6444040DF162CD5015CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1533, 71, CAST(N'2025-08-17T17:24:40.857' AS DateTime), CAST(267.12 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.849013 AS Decimal(9, 6)), CAST(-112.103036 AS Decimal(9, 6)), 0xE6100000010C7E703E75ACEC4440E2934E2498065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1534, 71, CAST(N'2025-08-20T13:40:40.857' AS DateTime), CAST(249.20 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.869813 AS Decimal(9, 6)), CAST(-112.082236 AS Decimal(9, 6)), 0xE6100000010C5D514A0856EF444072A3C85A43055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1535, 71, CAST(N'2025-08-23T10:12:40.857' AS DateTime), CAST(251.76 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(41.895413 AS Decimal(9, 6)), CAST(-112.056636 AS Decimal(9, 6)), 0xE6100000010CE5B4A7E49CF24440AEF199EC9F035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1536, 72, CAST(N'2025-08-09T18:44:40.857' AS DateTime), CAST(466.80 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1537, 72, CAST(N'2025-08-10T13:56:40.857' AS DateTime), CAST(469.36 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.768229 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C5D6BEF5355E24240786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1538, 72, CAST(N'2025-08-11T09:24:40.857' AS DateTime), CAST(471.92 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.793829 AS Decimal(9, 6)), CAST(-122.400418 AS Decimal(9, 6)), 0xE6100000010CE6CE4C309CE54240B4AED172A0995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1539, 72, CAST(N'2025-08-12T03:00:40.857' AS DateTime), CAST(454.00 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E8424044BE4BA94B985EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1540, 72, CAST(N'2025-08-12T20:52:40.857' AS DateTime), CAST(456.56 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.740229 AS Decimal(9, 6)), CAST(-122.454018 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFDE4240E77283A10E9D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1541, 73, CAST(N'2025-08-09T23:00:40.857' AS DateTime), CAST(7.76 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.737727 AS Decimal(9, 6)), CAST(-74.028574 AS Decimal(9, 6)), 0xE6100000010C4E603AADDBBC3D4005E10A28D48152C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1542, 73, CAST(N'2025-08-10T22:28:40.857' AS DateTime), CAST(10.32 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.763327 AS Decimal(9, 6)), CAST(-74.002974 AS Decimal(9, 6)), 0xE6100000010C5F27F56569C33D40402FDCB9308052C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1543, 73, CAST(N'2025-08-11T22:12:40.857' AS DateTime), CAST(12.88 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.788927 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7C93D407C7DAD4B8D7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1544, 73, CAST(N'2025-08-12T20:04:40.857' AS DateTime), CAST(494.96 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.809727 AS Decimal(9, 6)), CAST(-73.956574 AS Decimal(9, 6)), 0xE6100000010C2DB0C7444ACF3D400D8D2782387D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1545, 73, CAST(N'2025-08-13T18:12:40.857' AS DateTime), CAST(497.52 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(29.735327 AS Decimal(9, 6)), CAST(-74.030974 AS Decimal(9, 6)), 0xE6100000010CA5DDE8633EBC3D40AF415F7AFB8152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1546, 74, CAST(N'2025-08-09T10:12:40.857' AS DateTime), CAST(384.88 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.926613 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010C348639419BF6444029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1547, 74, CAST(N'2025-08-09T20:52:40.857' AS DateTime), CAST(387.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.852213 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010CEF1CCA5015ED4440CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1548, 74, CAST(N'2025-08-10T07:48:40.857' AS DateTime), CAST(390.00 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.877813 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C7880272D5CF0444007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1549, 74, CAST(N'2025-08-10T16:52:40.857' AS DateTime), CAST(372.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.898613 AS Decimal(9, 6)), CAST(-122.398818 AS Decimal(9, 6)), 0xE6100000010C566133C005F3444098C3EE3B86995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1550, 74, CAST(N'2025-08-11T02:12:40.857' AS DateTime), CAST(374.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.924213 AS Decimal(9, 6)), CAST(-122.373218 AS Decimal(9, 6)), 0xE6100000010CDFC4909C4CF64440D311C0CDE2975EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1551, 75, CAST(N'2025-08-09T14:28:40.857' AS DateTime), CAST(425.84 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.718527 AS Decimal(9, 6)), CAST(-74.047774 AS Decimal(9, 6)), 0xE6100000010C024BAE62F1B73D4058E6ADBA0E8352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1552, 75, CAST(N'2025-08-10T05:24:40.857' AS DateTime), CAST(428.40 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.744127 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C1212691B7FBE3D4094347F4C6B8152C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1553, 75, CAST(N'2025-08-10T20:36:40.857' AS DateTime), CAST(430.96 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.769727 AS Decimal(9, 6)), CAST(-73.996574 AS Decimal(9, 6)), 0xE6100000010C23D923D40CC53D40CF8250DEC77F52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1554, 75, CAST(N'2025-08-11T09:56:40.857' AS DateTime), CAST(413.04 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.790527 AS Decimal(9, 6)), CAST(-73.975774 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FCA3D406092CA14737E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1555, 75, CAST(N'2025-08-11T23:32:40.857' AS DateTime), CAST(415.60 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(29.716127 AS Decimal(9, 6)), CAST(-74.050174 AS Decimal(9, 6)), 0xE6100000010C58C85C1954B73D400247020D368352C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1556, 76, CAST(N'2025-08-10T11:48:40.857' AS DateTime), CAST(130.64 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-80.185588 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E34240ECA17DACE00B54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1557, 76, CAST(N'2025-08-12T00:04:40.857' AS DateTime), CAST(133.20 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-80.159988 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE7424028F04E3E3D0A54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1558, 76, CAST(N'2025-08-13T12:36:40.857' AS DateTime), CAST(135.76 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.732229 AS Decimal(9, 6)), CAST(-80.234388 AS Decimal(9, 6)), 0xE6100000010C65170CAEB9DD4240CAA48636000F54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1559, 76, CAST(N'2025-08-14T23:16:40.857' AS DateTime), CAST(117.84 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-80.213588 AS Decimal(9, 6)), 0xE6100000010C44F8174163E042405BB4006DAB0D54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1560, 76, CAST(N'2025-08-16T10:12:40.857' AS DateTime), CAST(120.40 AS Decimal(18, 2)), N'Massachusetts', N'Phoenix', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-80.187988 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE342409702D2FE070C54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1561, 77, CAST(N'2025-08-10T16:04:40.857' AS DateTime), CAST(171.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.728476 AS Decimal(9, 6)), CAST(-112.058236 AS Decimal(9, 6)), 0xE6100000010CE0F599B33E5D4440CADC7C23BA035CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1562, 77, CAST(N'2025-08-12T08:36:40.857' AS DateTime), CAST(174.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.754076 AS Decimal(9, 6)), CAST(-112.032636 AS Decimal(9, 6)), 0xE6100000010C6859F78F85604440062B4EB516025CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1563, 77, CAST(N'2025-08-14T01:24:40.857' AS DateTime), CAST(176.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.679676 AS Decimal(9, 6)), CAST(-112.107036 AS Decimal(9, 6)), 0xE6100000010C24F0879FFF564440A8DF85ADD9065CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1564, 77, CAST(N'2025-08-15T16:20:40.857' AS DateTime), CAST(158.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.700476 AS Decimal(9, 6)), CAST(-112.086236 AS Decimal(9, 6)), 0xE6100000010C03D19332A959444039EFFFE384055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1565, 77, CAST(N'2025-08-17T07:32:40.857' AS DateTime), CAST(161.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.726076 AS Decimal(9, 6)), CAST(-112.060636 AS Decimal(9, 6)), 0xE6100000010C8B34F10EF05C4440753DD175E1035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1566, 78, CAST(N'2025-08-10T03:16:40.857' AS DateTime), CAST(48.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.747327 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CF46A80D250BF3D40E90C8CBCAC9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1567, 78, CAST(N'2025-08-11T07:00:40.857' AS DateTime), CAST(51.28 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.772927 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEC53D40255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1568, 78, CAST(N'2025-08-12T11:00:40.857' AS DateTime), CAST(53.84 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.798527 AS Decimal(9, 6)), CAST(-122.381218 AS Decimal(9, 6)), 0xE6100000010C16F9F5436CCC3D4061A92EE065985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1569, 78, CAST(N'2025-08-13T13:08:40.857' AS DateTime), CAST(35.92 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.719327 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010C3A2174D025B83D40581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1570, 78, CAST(N'2025-08-14T15:32:40.857' AS DateTime), CAST(38.48 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.744927 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C4BE82E89B3BE3D40946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1571, 79, CAST(N'2025-08-10T07:32:40.857' AS DateTime), CAST(89.68 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-122.422818 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE24240408A3A730F9B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1572, 79, CAST(N'2025-08-11T15:32:40.857' AS DateTime), CAST(92.24 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-122.397218 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642407BD80B056C995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1573, 79, CAST(N'2025-08-12T23:48:40.857' AS DateTime), CAST(94.80 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-122.371618 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE94240B726DD96C8975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1574, 79, CAST(N'2025-08-14T06:12:40.857' AS DateTime), CAST(76.88 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF4240AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1575, 79, CAST(N'2025-08-15T12:52:40.857' AS DateTime), CAST(79.44 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-122.425218 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE24240EAEA8EC5369B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1576, 80, CAST(N'2025-08-11T04:52:40.857' AS DateTime), CAST(294.48 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.819429 AS Decimal(9, 6)), CAST(-104.945650 AS Decimal(9, 6)), 0xE6100000010C6E32AA0CE3E8424098DD9387853C5AC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1577, 80, CAST(N'2025-08-13T10:12:40.857' AS DateTime), CAST(297.04 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-105.020050 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF42403A92CB7F48415AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1578, 80, CAST(N'2025-08-15T15:48:40.857' AS DateTime), CAST(299.60 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.770629 AS Decimal(9, 6)), CAST(-104.994450 AS Decimal(9, 6)), 0xE6100000010CB22C98F8A3E2424076E09C11A53F5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1579, 80, CAST(N'2025-08-17T19:32:40.857' AS DateTime), CAST(281.68 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-104.973650 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE5424007F01648503E5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1580, 80, CAST(N'2025-08-19T23:32:40.857' AS DateTime), CAST(284.24 AS Decimal(18, 2)), N'Illinois', N'Miami', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-104.948050 AS Decimal(9, 6)), 0xE6100000010C1971016894E84240423EE8D9AC3C5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1581, 81, CAST(N'2025-08-11T09:08:40.857' AS DateTime), CAST(335.44 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.714527 AS Decimal(9, 6)), CAST(-122.377869 AS Decimal(9, 6)), 0xE6100000010CE71BD13DEBB63D40064B75012F985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1582, 81, CAST(N'2025-08-13T18:44:40.857' AS DateTime), CAST(338.00 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.740127 AS Decimal(9, 6)), CAST(-122.352269 AS Decimal(9, 6)), 0xE6100000010CF8E28BF678BD3D40429946938B965EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1583, 81, CAST(N'2025-08-16T04:36:40.857' AS DateTime), CAST(340.56 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.765727 AS Decimal(9, 6)), CAST(-122.326669 AS Decimal(9, 6)), 0xE6100000010C08AA46AF06C43D407DE71725E8945EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1584, 81, CAST(N'2025-08-18T12:36:40.857' AS DateTime), CAST(322.64 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.786527 AS Decimal(9, 6)), CAST(-122.305869 AS Decimal(9, 6)), 0xE6100000010CC66B5ED559C93D400EF7915B93935EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1585, 81, CAST(N'2025-08-20T20:52:40.857' AS DateTime), CAST(325.20 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(29.712127 AS Decimal(9, 6)), CAST(-122.380269 AS Decimal(9, 6)), 0xE6100000010C3D997FF44DB63D40B0ABC95356985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1586, 82, CAST(N'2025-08-10T20:20:40.857' AS DateTime), CAST(212.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.785727 AS Decimal(9, 6)), CAST(-112.048636 AS Decimal(9, 6)), 0xE6100000010C8E95986725C93D40215A2BDA1C035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1587, 82, CAST(N'2025-08-12T17:08:40.857' AS DateTime), CAST(215.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.711327 AS Decimal(9, 6)), CAST(-112.123036 AS Decimal(9, 6)), 0xE6100000010C05C3B98619B63D40C30E63D2DF075CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1588, 82, CAST(N'2025-08-14T14:12:40.857' AS DateTime), CAST(217.68 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.736927 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C168A743FA7BC3D40FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1589, 82, CAST(N'2025-08-16T09:24:40.857' AS DateTime), CAST(199.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.757727 AS Decimal(9, 6)), CAST(-112.076636 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FAC13D408F6CAE9AE7045CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1590, 82, CAST(N'2025-08-18T04:52:40.857' AS DateTime), CAST(202.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.783327 AS Decimal(9, 6)), CAST(-112.051036 AS Decimal(9, 6)), 0xE6100000010CE412471E88C83D40CBBA7F2C44035CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1591, 83, CAST(N'2025-08-11T00:36:40.857' AS DateTime), CAST(253.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.483276 AS Decimal(9, 6)), CAST(-73.970974 AS Decimal(9, 6)), 0xE6100000010C8978EBFCDBBD40400BD12170247E52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1592, 83, CAST(N'2025-08-13T01:40:40.857' AS DateTime), CAST(256.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.408876 AS Decimal(9, 6)), CAST(-74.045374 AS Decimal(9, 6)), 0xE6100000010C450F7C0C56B44040AD855968E78252C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1593, 83, CAST(N'2025-08-15T03:00:40.857' AS DateTime), CAST(258.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.434476 AS Decimal(9, 6)), CAST(-74.019774 AS Decimal(9, 6)), 0xE6100000010CCD72D9E89CB74040E9D32AFA438152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1594, 83, CAST(N'2025-08-17T02:28:40.857' AS DateTime), CAST(240.72 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.455276 AS Decimal(9, 6)), CAST(-73.998974 AS Decimal(9, 6)), 0xE6100000010CAC53E57B46BA40407AE3A430EF7F52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1595, 83, CAST(N'2025-08-19T02:12:40.857' AS DateTime), CAST(243.28 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(33.480876 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010C35B742588DBD4040B63176C24B7E52C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1596, 84, CAST(N'2025-08-11T21:56:40.857' AS DateTime), CAST(458.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.342981 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010C1F1329CDE62B4540B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1597, 84, CAST(N'2025-08-14T20:20:40.857' AS DateTime), CAST(460.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.368581 AS Decimal(9, 6)), CAST(-122.410818 AS Decimal(9, 6)), 0xE6100000010CA77686A92D2F4540ECA694D74A9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1598, 84, CAST(N'2025-08-17T19:00:40.857' AS DateTime), CAST(463.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.394181 AS Decimal(9, 6)), CAST(-122.385218 AS Decimal(9, 6)), 0xE6100000010C30DAE3857432454027F56569A7985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1599, 84, CAST(N'2025-08-20T15:48:40.857' AS DateTime), CAST(445.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.314981 AS Decimal(9, 6)), CAST(-122.464418 AS Decimal(9, 6)), 0xE6100000010C42EE224C512845401E6B4606B99D5EC0, N'Restaurant', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1600, 84, CAST(N'2025-08-23T12:52:40.857' AS DateTime), CAST(448.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.340581 AS Decimal(9, 6)), CAST(-122.438818 AS Decimal(9, 6)), 0xE6100000010CCA518028982B45405AB91798159C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1601, 85, CAST(N'2025-08-09T02:12:40.857' AS DateTime), CAST(499.28 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.752927 AS Decimal(9, 6)), CAST(-74.013374 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFC03D4078279F1EDB8052C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1602, 85, CAST(N'2025-08-09T04:52:40.857' AS DateTime), CAST(501.84 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.778527 AS Decimal(9, 6)), CAST(-73.987774 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DC73D40B47570B0377F52C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1603, 85, CAST(N'2025-08-09T07:48:40.857' AS DateTime), CAST(504.40 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.804127 AS Decimal(9, 6)), CAST(-73.962174 AS Decimal(9, 6)), 0xE6100000010CA2D45E44DBCD3D40F0C34142947D52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1604, 85, CAST(N'2025-08-09T08:52:40.857' AS DateTime), CAST(486.48 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.724927 AS Decimal(9, 6)), CAST(-74.041374 AS Decimal(9, 6)), 0xE6100000010CC6FCDCD094B93D40E73922DFA58252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1605, 85, CAST(N'2025-08-09T10:12:40.857' AS DateTime), CAST(489.04 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(29.750527 AS Decimal(9, 6)), CAST(-74.015774 AS Decimal(9, 6)), 0xE6100000010CD7C3978922C03D402288F370028152C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1606, 86, CAST(N'2025-08-11T13:24:40.857' AS DateTime), CAST(376.40 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-122.368269 AS Decimal(9, 6)), 0xE6100000010C487023658BDE42405CC823B891975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1607, 86, CAST(N'2025-08-14T03:16:40.857' AS DateTime), CAST(378.96 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-122.342669 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E142409816F549EE955EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1608, 86, CAST(N'2025-08-16T17:24:40.857' AS DateTime), CAST(381.52 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.789829 AS Decimal(9, 6)), CAST(-122.317069 AS Decimal(9, 6)), 0xE6100000010C5837DE1D19E54240D464C6DB4A945EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1609, 86, CAST(N'2025-08-19T05:40:40.857' AS DateTime), CAST(363.60 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.810629 AS Decimal(9, 6)), CAST(-122.296269 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2E7424064744012F6925EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1610, 86, CAST(N'2025-08-21T18:12:40.857' AS DateTime), CAST(366.16 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.736229 AS Decimal(9, 6)), CAST(-122.370669 AS Decimal(9, 6)), 0xE6100000010CF3AE7AC03CDE42400729780AB9975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1611, 87, CAST(N'2025-08-11T17:40:40.857' AS DateTime), CAST(417.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.686076 AS Decimal(9, 6)), CAST(-112.100636 AS Decimal(9, 6)), 0xE6100000010C06499F56D15744403733FAD170065CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1612, 87, CAST(N'2025-08-14T11:48:40.857' AS DateTime), CAST(419.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.711676 AS Decimal(9, 6)), CAST(-112.075036 AS Decimal(9, 6)), 0xE6100000010C8EACFC32185B44407381CB63CD045CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1613, 87, CAST(N'2025-08-17T06:12:40.857' AS DateTime), CAST(422.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.737276 AS Decimal(9, 6)), CAST(-112.049436 AS Decimal(9, 6)), 0xE6100000010C17105A0F5F5E4440AFCF9CF529035CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1614, 87, CAST(N'2025-08-19T22:44:40.857' AS DateTime), CAST(404.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.758076 AS Decimal(9, 6)), CAST(-112.028636 AS Decimal(9, 6)), 0xE6100000010CF6F065A20861444040DF162CD5015CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1615, 87, CAST(N'2025-08-22T15:32:40.857' AS DateTime), CAST(407.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.683676 AS Decimal(9, 6)), CAST(-112.103036 AS Decimal(9, 6)), 0xE6100000010CB187F6B182574440E2934E2498065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1616, 88, CAST(N'2025-08-09T15:00:40.857' AS DateTime), CAST(122.16 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.073535 AS Decimal(9, 6)), CAST(-112.052636 AS Decimal(9, 6)), 0xE6100000010C410E4A9869094140E8A562635E035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1617, 88, CAST(N'2025-08-10T06:28:40.857' AS DateTime), CAST(124.72 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.099135 AS Decimal(9, 6)), CAST(-112.027036 AS Decimal(9, 6)), 0xE6100000010CC971A774B00C414023F433F5BA015CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1618, 88, CAST(N'2025-08-10T22:12:40.857' AS DateTime), CAST(127.28 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.024735 AS Decimal(9, 6)), CAST(-112.101436 AS Decimal(9, 6)), 0xE6100000010C850838842A034140C6A86BED7D065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1619, 88, CAST(N'2025-08-11T12:04:40.857' AS DateTime), CAST(109.36 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.045535 AS Decimal(9, 6)), CAST(-112.080636 AS Decimal(9, 6)), 0xE6100000010C64E94317D405414056B8E52329055CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1620, 88, CAST(N'2025-08-12T02:12:40.857' AS DateTime), CAST(111.92 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(34.071135 AS Decimal(9, 6)), CAST(-112.055036 AS Decimal(9, 6)), 0xE6100000010CEC4CA1F31A0941409206B7B585035CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1621, 89, CAST(N'2025-08-09T19:16:40.857' AS DateTime), CAST(163.12 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.805829 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010C8E95986725E7424060CB2BD7DB985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1622, 89, CAST(N'2025-08-10T15:00:40.857' AS DateTime), CAST(165.68 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.731429 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010C492C29779FDD4240028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1623, 89, CAST(N'2025-08-11T11:00:40.857' AS DateTime), CAST(168.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.757029 AS Decimal(9, 6)), CAST(-122.437218 AS Decimal(9, 6)), 0xE6100000010CD28F8653E6E042403ECE3461FB9B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1624, 89, CAST(N'2025-08-12T05:08:40.857' AS DateTime), CAST(150.32 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.777829 AS Decimal(9, 6)), CAST(-122.416418 AS Decimal(9, 6)), 0xE6100000010CB07092E68FE34240CEDDAE97A69A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1625, 89, CAST(N'2025-08-12T23:32:40.857' AS DateTime), CAST(152.88 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-122.390818 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E642400A2C802903995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1626, 90, CAST(N'2025-08-09T06:28:40.857' AS DateTime), CAST(40.24 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.762527 AS Decimal(9, 6)), CAST(-74.003774 AS Decimal(9, 6)), 0xE6100000010C26512FF834C33D40CFA44DD53D8052C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1627, 90, CAST(N'2025-08-09T13:24:40.857' AS DateTime), CAST(42.80 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.788127 AS Decimal(9, 6)), CAST(-73.978174 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2C93D400AF31E679A7E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1628, 90, CAST(N'2025-08-09T20:36:40.857' AS DateTime), CAST(45.36 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.713727 AS Decimal(9, 6)), CAST(-74.052574 AS Decimal(9, 6)), 0xE6100000010CAE450BD0B6B63D40ADA7565F5D8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1629, 90, CAST(N'2025-08-10T01:56:40.857' AS DateTime), CAST(27.44 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.734527 AS Decimal(9, 6)), CAST(-74.031774 AS Decimal(9, 6)), 0xE6100000010C6C0723F609BC3D403DB7D095088252C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1630, 90, CAST(N'2025-08-10T07:32:40.857' AS DateTime), CAST(30.00 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(29.760127 AS Decimal(9, 6)), CAST(-74.006174 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97C23D407905A227658052C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1631, 91, CAST(N'2025-08-09T10:44:40.857' AS DateTime), CAST(81.20 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.460076 AS Decimal(9, 6)), CAST(-95.358004 AS Decimal(9, 6)), 0xE6100000010C56D636C5E3BA404094F59B89E9D657C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1632, 91, CAST(N'2025-08-09T21:56:40.857' AS DateTime), CAST(83.76 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.485676 AS Decimal(9, 6)), CAST(-95.332404 AS Decimal(9, 6)), 0xE6100000010CDE3994A12ABE4040D0436D1B46D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1633, 91, CAST(N'2025-08-10T09:24:40.857' AS DateTime), CAST(86.32 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.411276 AS Decimal(9, 6)), CAST(-95.406804 AS Decimal(9, 6)), 0xE6100000010C9AD024B1A4B4404072F8A41309DA57C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1634, 91, CAST(N'2025-08-10T19:00:40.857' AS DateTime), CAST(68.40 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.432076 AS Decimal(9, 6)), CAST(-95.386004 AS Decimal(9, 6)), 0xE6100000010C79B130444EB7404003081F4AB4D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1635, 91, CAST(N'2025-08-11T04:52:40.857' AS DateTime), CAST(70.96 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(33.457676 AS Decimal(9, 6)), CAST(-95.360404 AS Decimal(9, 6)), 0xE6100000010C01158E2095BA40403F56F0DB10D757C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1636, 92, CAST(N'2025-08-10T08:04:40.857' AS DateTime), CAST(286.00 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.720127 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010C73F7393E5AB83D40CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1637, 92, CAST(N'2025-08-11T16:36:40.857' AS DateTime), CAST(288.56 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.745727 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7BE3D4005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1638, 92, CAST(N'2025-08-13T01:24:40.857' AS DateTime), CAST(291.12 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.771327 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75C53D4041464085239A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1639, 92, CAST(N'2025-08-14T08:20:40.857' AS DateTime), CAST(273.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.792127 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8CA3D40D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1640, 92, CAST(N'2025-08-15T15:32:40.857' AS DateTime), CAST(275.76 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(29.717727 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010CC974E8F4BCB73D40740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1641, 93, CAST(N'2025-08-10T12:20:40.857' AS DateTime), CAST(326.96 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-112.104636 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF4240FE7E315BB2065CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1642, 93, CAST(N'2025-08-12T01:08:40.857' AS DateTime), CAST(329.52 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-112.079036 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242403ACD02ED0E055CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1643, 93, CAST(N'2025-08-13T14:12:40.857' AS DateTime), CAST(332.08 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-112.053436 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E54240761BD47E6B035CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1644, 93, CAST(N'2025-08-15T01:24:40.857' AS DateTime), CAST(314.16 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-112.032636 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240062B4EB516025CC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1645, 93, CAST(N'2025-08-16T12:52:40.857' AS DateTime), CAST(316.72 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-112.107036 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE4240A8DF85ADD9065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1646, 94, CAST(N'2025-08-09T23:32:40.857' AS DateTime), CAST(204.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.092735 AS Decimal(9, 6)), CAST(-95.329204 AS Decimal(9, 6)), 0xE6100000010CE71890BDDE0B4140986DA7AD11D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1647, 94, CAST(N'2025-08-10T23:32:40.857' AS DateTime), CAST(206.64 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-95.403604 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD580241403A22DFA5D4D957C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1648, 94, CAST(N'2025-08-11T23:48:40.857' AS DateTime), CAST(209.20 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.043935 AS Decimal(9, 6)), CAST(-95.378004 AS Decimal(9, 6)), 0xE6100000010C2B137EA99F0541407670B03731D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1649, 94, CAST(N'2025-08-12T22:12:40.857' AS DateTime), CAST(191.28 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.064735 AS Decimal(9, 6)), CAST(-95.357204 AS Decimal(9, 6)), 0xE6100000010C0AF4893C4908414006802A6EDCD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1650, 94, CAST(N'2025-08-13T20:52:40.857' AS DateTime), CAST(193.84 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.090335 AS Decimal(9, 6)), CAST(-95.331604 AS Decimal(9, 6)), 0xE6100000010C9357E718900B414042CEFBFF38D557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1651, 95, CAST(N'2025-08-10T03:48:40.857' AS DateTime), CAST(245.04 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-87.679599 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC42403CD9CD8C7EEB55C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1652, 95, CAST(N'2025-08-11T08:04:40.857' AS DateTime), CAST(247.60 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-87.653999 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E0424078279F1EDBE955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1653, 95, CAST(N'2025-08-12T12:36:40.857' AS DateTime), CAST(250.16 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-87.628399 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240B47570B037E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1654, 95, CAST(N'2025-08-13T15:16:40.857' AS DateTime), CAST(232.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-87.607599 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642404485EAE6E2E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1655, 95, CAST(N'2025-08-14T18:12:40.857' AS DateTime), CAST(234.80 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-87.581999 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE9424080D3BB783FE555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1656, 96, CAST(N'2025-08-11T16:04:40.857' AS DateTime), CAST(328.40 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.744127 AS Decimal(9, 6)), CAST(-87.645999 AS Decimal(9, 6)), 0xE6100000010C1212691B7FBE3D40EB8F300C58E955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1657, 96, CAST(N'2025-08-14T08:36:40.857' AS DateTime), CAST(330.96 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.769727 AS Decimal(9, 6)), CAST(-87.620399 AS Decimal(9, 6)), 0xE6100000010C23D923D40CC53D4027DE019EB4E755C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1658, 96, CAST(N'2025-08-17T01:24:40.857' AS DateTime), CAST(333.52 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.795327 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C34A0DE8C9ACB3D40622CD32F11E655C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1659, 96, CAST(N'2025-08-19T16:20:40.857' AS DateTime), CAST(315.60 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.716127 AS Decimal(9, 6)), CAST(-87.673999 AS Decimal(9, 6)), 0xE6100000010C58C85C1954B73D4059A2B3CC22EB55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1660, 96, CAST(N'2025-08-22T07:32:40.857' AS DateTime), CAST(318.16 AS Decimal(18, 2)), N'Colorado', N'San Francisco', N'USA', CAST(29.741727 AS Decimal(9, 6)), CAST(-87.648399 AS Decimal(9, 6)), 0xE6100000010C698F17D2E1BD3D4095F0845E7FE955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1661, 97, CAST(N'2025-08-11T20:20:40.857' AS DateTime), CAST(369.36 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.871413 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C952710768AEF4440786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1662, 97, CAST(N'2025-08-14T17:08:40.857' AS DateTime), CAST(371.92 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.897013 AS Decimal(9, 6)), CAST(-122.400418 AS Decimal(9, 6)), 0xE6100000010C1E8B6D52D1F24440B4AED172A0995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1663, 97, CAST(N'2025-08-17T14:12:40.857' AS DateTime), CAST(374.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.922613 AS Decimal(9, 6)), CAST(-122.374818 AS Decimal(9, 6)), 0xE6100000010CA6EECA2E18F64440F0FCA204FD975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1664, 97, CAST(N'2025-08-20T09:24:40.857' AS DateTime), CAST(356.56 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.843413 AS Decimal(9, 6)), CAST(-122.454018 AS Decimal(9, 6)), 0xE6100000010CB8020AF5F4EB4440E77283A10E9D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1665, 97, CAST(N'2025-08-23T04:52:40.857' AS DateTime), CAST(359.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.869013 AS Decimal(9, 6)), CAST(-122.428418 AS Decimal(9, 6)), 0xE6100000010C416667D13BEF444022C154336B9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1666, 98, CAST(N'2025-08-11T07:32:40.857' AS DateTime), CAST(246.48 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1667, 98, CAST(N'2025-08-13T15:32:40.857' AS DateTime), CAST(249.04 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1668, 98, CAST(N'2025-08-15T23:48:40.857' AS DateTime), CAST(251.60 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.790629 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C7522C15433E54240EC8497E0D4995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1669, 98, CAST(N'2025-08-18T06:12:40.857' AS DateTime), CAST(233.68 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.811429 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C5303CDE7DCE742407D94111780985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1670, 98, CAST(N'2025-08-20T12:52:40.857' AS DateTime), CAST(236.24 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.737029 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010C0F9A5DF756DE42401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1671, 99, CAST(N'2025-08-11T11:48:40.857' AS DateTime), CAST(287.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.749029 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010CB760A92EE0DF4240CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1672, 99, CAST(N'2025-08-14T00:04:40.857' AS DateTime), CAST(290.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1673, 99, CAST(N'2025-08-16T12:36:40.857' AS DateTime), CAST(292.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1674, 99, CAST(N'2025-08-18T23:16:40.857' AS DateTime), CAST(274.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.821029 AS Decimal(9, 6)), CAST(-122.373218 AS Decimal(9, 6)), 0xE6100000010CA708707A17E94240D311C0CDE2975EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1675, 99, CAST(N'2025-08-21T10:12:40.857' AS DateTime), CAST(277.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-122.447618 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF424076C6F7C5A59C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1676, 100, CAST(N'2025-08-09T09:08:40.857' AS DateTime), CAST(492.24 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.900213 AS Decimal(9, 6)), CAST(-87.607599 AS Decimal(9, 6)), 0xE6100000010C8F37F92D3AF344404485EAE6E2E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1677, 100, CAST(N'2025-08-09T18:44:40.857' AS DateTime), CAST(494.80 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.925813 AS Decimal(9, 6)), CAST(-87.581999 AS Decimal(9, 6)), 0xE6100000010C179B560A81F6444080D3BB783FE555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1678, 100, CAST(N'2025-08-10T04:36:40.857' AS DateTime), CAST(497.36 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.851413 AS Decimal(9, 6)), CAST(-87.656399 AS Decimal(9, 6)), 0xE6100000010CD331E719FBEC44402288F37002EA55C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1679, 100, CAST(N'2025-08-10T12:36:40.857' AS DateTime), CAST(479.44 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.872213 AS Decimal(9, 6)), CAST(-87.635599 AS Decimal(9, 6)), 0xE6100000010CB212F3ACA4EF4440B3976DA7ADE855C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1680, 100, CAST(N'2025-08-10T20:52:40.857' AS DateTime), CAST(482.00 AS Decimal(18, 2)), N'Florida', N'Chicago', N'USA', CAST(41.897813 AS Decimal(9, 6)), CAST(-87.609999 AS Decimal(9, 6)), 0xE6100000010C3A765089EBF24440EFE53E390AE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1681, 101, CAST(N'2025-08-09T13:24:40.857' AS DateTime), CAST(33.20 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-95.338004 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F4440B37A87DBA1D557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1682, 101, CAST(N'2025-08-10T03:16:40.857' AS DateTime), CAST(35.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-95.412404 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440552FBFD364DA57C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1683, 101, CAST(N'2025-08-10T17:24:40.857' AS DateTime), CAST(38.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.695676 AS Decimal(9, 6)), CAST(-95.386804 AS Decimal(9, 6)), 0xE6100000010C594E42E90B594440917D9065C1D857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1684, 101, CAST(N'2025-08-11T05:40:40.857' AS DateTime), CAST(20.40 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.716476 AS Decimal(9, 6)), CAST(-95.366004 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB55B4440228D0A9C6CD757C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1685, 101, CAST(N'2025-08-11T18:12:40.857' AS DateTime), CAST(22.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.742076 AS Decimal(9, 6)), CAST(-95.340404 AS Decimal(9, 6)), 0xE6100000010CC092AB58FC5E44405EDBDB2DC9D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1686, 102, CAST(N'2025-08-09T00:36:40.857' AS DateTime), CAST(410.32 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.451276 AS Decimal(9, 6)), CAST(-74.002974 AS Decimal(9, 6)), 0xE6100000010C1FBC7669C3B94040402FDCB9308052C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1687, 102, CAST(N'2025-08-09T01:40:40.857' AS DateTime), CAST(412.88 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.476876 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010CA71FD4450ABD40407C7DAD4B8D7E52C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1688, 102, CAST(N'2025-08-09T03:00:40.857' AS DateTime), CAST(415.44 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.402476 AS Decimal(9, 6)), CAST(-74.051774 AS Decimal(9, 6)), 0xE6100000010C63B6645584B340401E32E543508352C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1689, 102, CAST(N'2025-08-12T02:28:40.857' AS DateTime), CAST(397.52 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.423276 AS Decimal(9, 6)), CAST(-74.030974 AS Decimal(9, 6)), 0xE6100000010C429770E82DB64040AF415F7AFB8152C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1690, 102, CAST(N'2025-08-15T02:12:40.857' AS DateTime), CAST(400.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(33.448876 AS Decimal(9, 6)), CAST(-74.005374 AS Decimal(9, 6)), 0xE6100000010CCAFACDC474B94040EB8F300C588052C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1691, 103, CAST(N'2025-08-09T04:52:40.857' AS DateTime), CAST(451.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.787429 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C04763579CAE44240255B5D4E099A5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1692, 103, CAST(N'2025-08-09T10:12:40.857' AS DateTime), CAST(453.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.813029 AS Decimal(9, 6)), CAST(-122.381218 AS Decimal(9, 6)), 0xE6100000010C8CD9925511E8424061A92EE065985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1693, 103, CAST(N'2025-08-09T15:48:40.857' AS DateTime), CAST(456.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-122.455618 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240035E66D8289D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1694, 103, CAST(N'2025-08-09T19:32:40.857' AS DateTime), CAST(438.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.759429 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C26512FF834E14240946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1695, 103, CAST(N'2025-08-09T23:32:40.857' AS DateTime), CAST(441.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.785029 AS Decimal(9, 6)), CAST(-122.409218 AS Decimal(9, 6)), 0xE6100000010CAFB48CD47BE44240CFBBB1A0309A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1696, 104, CAST(N'2025-08-10T02:12:40.857' AS DateTime), CAST(156.08 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.699736 AS Decimal(9, 6)), CAST(-122.458818 AS Decimal(9, 6)), 0xE6100000010CBCEA01F390D943403B342C465D9D5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1697, 104, CAST(N'2025-08-11T04:52:40.857' AS DateTime), CAST(158.64 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.725336 AS Decimal(9, 6)), CAST(-122.433218 AS Decimal(9, 6)), 0xE6100000010C444E5FCFD7DC43407782FDD7B99B5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1698, 104, CAST(N'2025-08-12T07:48:40.857' AS DateTime), CAST(161.20 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.750936 AS Decimal(9, 6)), CAST(-122.407618 AS Decimal(9, 6)), 0xE6100000010CCDB1BCAB1EE04340B3D0CE69169A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1699, 104, CAST(N'2025-08-13T08:52:40.857' AS DateTime), CAST(143.28 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.771736 AS Decimal(9, 6)), CAST(-122.386818 AS Decimal(9, 6)), 0xE6100000010CAB92C83EC8E2434044E048A0C1985EC0, N'Electronics', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1700, 104, CAST(N'2025-08-14T10:12:40.857' AS DateTime), CAST(145.84 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(39.697336 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C6729594E42D94340E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1701, 105, CAST(N'2025-08-10T06:28:40.857' AS DateTime), CAST(197.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.848213 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C62855B3E92EC444092B1DAFCBF9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1702, 105, CAST(N'2025-08-11T13:24:40.857' AS DateTime), CAST(199.60 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.873813 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010CEAE8B81AD9EF4440CEFFAB8E1C9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1703, 105, CAST(N'2025-08-12T20:36:40.857' AS DateTime), CAST(202.16 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.899413 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C734C16F71FF34440094E7D2079995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1704, 105, CAST(N'2025-08-14T01:56:40.857' AS DateTime), CAST(184.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.920213 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C512D228AC9F544409A5DF75624985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1705, 105, CAST(N'2025-08-15T07:32:40.857' AS DateTime), CAST(186.80 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(41.845813 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010C0DC4B29943EC44403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1706, 106, CAST(N'2025-08-09T17:40:40.857' AS DateTime), CAST(74.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-112.032636 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240062B4EB516025CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1707, 106, CAST(N'2025-08-10T11:48:40.857' AS DateTime), CAST(76.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-112.107036 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE4240A8DF85ADD9065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1708, 106, CAST(N'2025-08-11T06:12:40.857' AS DateTime), CAST(79.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-112.081436 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240E42D573F36055CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1709, 106, CAST(N'2025-08-11T22:44:40.857' AS DateTime), CAST(61.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-112.060636 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E44240753DD175E1035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1710, 106, CAST(N'2025-08-12T15:32:40.857' AS DateTime), CAST(63.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-112.035036 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240B18BA2073E025CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1711, 107, CAST(N'2025-08-09T21:56:40.857' AS DateTime), CAST(115.12 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.829013 AS Decimal(9, 6)), CAST(-71.107884 AS Decimal(9, 6)), 0xE6100000010CBC7A15191DEA4440BFF04A92E7C651C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1712, 107, CAST(N'2025-08-10T20:20:40.857' AS DateTime), CAST(117.68 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.854613 AS Decimal(9, 6)), CAST(-71.082284 AS Decimal(9, 6)), 0xE6100000010C44DE72F563ED4440FB3E1C2444C551C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1713, 107, CAST(N'2025-08-11T19:00:40.857' AS DateTime), CAST(120.24 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.880213 AS Decimal(9, 6)), CAST(-71.056684 AS Decimal(9, 6)), 0xE6100000010CCC41D0D1AAF04440378DEDB5A0C351C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1714, 107, CAST(N'2025-08-12T15:48:40.857' AS DateTime), CAST(102.32 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.901013 AS Decimal(9, 6)), CAST(-71.035884 AS Decimal(9, 6)), 0xE6100000010CAB22DC6454F34440C79C67EC4BC251C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1715, 107, CAST(N'2025-08-13T12:52:40.857' AS DateTime), CAST(104.88 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(41.926613 AS Decimal(9, 6)), CAST(-71.010284 AS Decimal(9, 6)), 0xE6100000010C348639419BF6444003EB387EA8C051C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1716, 108, CAST(N'2025-08-10T19:16:40.857' AS DateTime), CAST(319.92 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.877013 AS Decimal(9, 6)), CAST(-95.370804 AS Decimal(9, 6)), 0xE6100000010C5B9544F641F04440774EB340BBD757C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1717, 108, CAST(N'2025-08-12T15:00:40.857' AS DateTime), CAST(322.48 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.902613 AS Decimal(9, 6)), CAST(-95.345204 AS Decimal(9, 6)), 0xE6100000010CE4F8A1D288F34440B29C84D217D657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1718, 108, CAST(N'2025-08-14T11:00:40.857' AS DateTime), CAST(325.04 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.828213 AS Decimal(9, 6)), CAST(-95.419604 AS Decimal(9, 6)), 0xE6100000010C9F8F32E202EA44405551BCCADADA57C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1719, 108, CAST(N'2025-08-16T05:08:40.857' AS DateTime), CAST(307.12 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.849013 AS Decimal(9, 6)), CAST(-95.398804 AS Decimal(9, 6)), 0xE6100000010C7E703E75ACEC4440E560360186D957C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1720, 108, CAST(N'2025-08-17T23:32:40.857' AS DateTime), CAST(309.68 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(41.874613 AS Decimal(9, 6)), CAST(-95.373204 AS Decimal(9, 6)), 0xE6100000010C06D49B51F3EF444021AF0793E2D757C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1721, 109, CAST(N'2025-08-10T23:32:40.857' AS DateTime), CAST(360.88 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-71.050284 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E44240C6E061DA37C351C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1722, 109, CAST(N'2025-08-12T23:32:40.857' AS DateTime), CAST(363.44 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-71.024684 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE74240012F336C94C151C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1723, 109, CAST(N'2025-08-14T23:48:40.857' AS DateTime), CAST(366.00 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-71.099084 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240A4E36A6457C651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1724, 109, CAST(N'2025-08-16T22:12:40.857' AS DateTime), CAST(348.08 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-71.078284 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E0424034F3E49A02C551C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1725, 109, CAST(N'2025-08-18T20:52:40.857' AS DateTime), CAST(350.64 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-71.052684 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342407041B62C5FC351C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1726, 110, CAST(N'2025-08-10T10:44:40.857' AS DateTime), CAST(238.00 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-122.439618 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E04240E82E89B3229C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1727, 110, CAST(N'2025-08-11T21:56:40.857' AS DateTime), CAST(240.56 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.780229 AS Decimal(9, 6)), CAST(-122.414018 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEE34240247D5A457F9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1728, 110, CAST(N'2025-08-13T09:24:40.857' AS DateTime), CAST(243.12 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.805829 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010C8E95986725E7424060CB2BD7DB985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1729, 110, CAST(N'2025-08-14T19:00:40.857' AS DateTime), CAST(225.20 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-122.467618 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424057410C74ED9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1730, 110, CAST(N'2025-08-16T04:52:40.857' AS DateTime), CAST(227.76 AS Decimal(18, 2)), N'Washington', N'Chicago', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-122.442018 AS Decimal(9, 6)), 0xE6100000010C280D350A49E04240938FDD054A9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1731, 111, CAST(N'2025-08-10T15:00:40.857' AS DateTime), CAST(278.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.702076 AS Decimal(9, 6)), CAST(-118.254283 AS Decimal(9, 6)), 0xE6100000010C3BA759A0DD594440713B342C46905DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1732, 111, CAST(N'2025-08-12T06:28:40.857' AS DateTime), CAST(281.52 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.727676 AS Decimal(9, 6)), CAST(-118.228683 AS Decimal(9, 6)), 0xE6100000010CC40AB77C245D4440AD8905BEA28E5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1733, 111, CAST(N'2025-08-13T22:12:40.857' AS DateTime), CAST(284.08 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.753276 AS Decimal(9, 6)), CAST(-118.203083 AS Decimal(9, 6)), 0xE6100000010C4C6E14596B604440E9D7D64FFF8C5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1734, 111, CAST(N'2025-08-15T12:04:40.857' AS DateTime), CAST(266.16 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.674076 AS Decimal(9, 6)), CAST(-118.282283 AS Decimal(9, 6)), 0xE6100000010C5E82531F48564440E04DB7EC10925DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1735, 111, CAST(N'2025-08-17T02:12:40.857' AS DateTime), CAST(268.72 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(40.699676 AS Decimal(9, 6)), CAST(-118.256683 AS Decimal(9, 6)), 0xE6100000010CE6E5B0FB8E5944401B9C887E6D905DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1736, 112, CAST(N'2025-08-11T12:20:40.857' AS DateTime), CAST(483.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-87.592399 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E74240B8CB7EDDE9E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1737, 112, CAST(N'2025-08-14T01:08:40.857' AS DateTime), CAST(486.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.737829 AS Decimal(9, 6)), CAST(-87.666799 AS Decimal(9, 6)), 0xE6100000010C2B85402E71DE42405A80B6D5ACEA55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1738, 112, CAST(N'2025-08-16T14:12:40.857' AS DateTime), CAST(488.88 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-87.641199 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E1424096CE876709E955C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1739, 112, CAST(N'2025-08-19T01:24:40.857' AS DateTime), CAST(470.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-87.620399 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E4424027DE019EB4E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1740, 112, CAST(N'2025-08-21T12:52:40.857' AS DateTime), CAST(473.52 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.809829 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C1B2D077AA8E74240622CD32F11E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1741, 113, CAST(N'2025-08-11T16:36:40.857' AS DateTime), CAST(24.72 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.759676 AS Decimal(9, 6)), CAST(-104.943250 AS Decimal(9, 6)), 0xE6100000010C2EC72B103D614440EE7C3F355E3C5AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1742, 113, CAST(N'2025-08-14T09:40:40.857' AS DateTime), CAST(27.28 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.685276 AS Decimal(9, 6)), CAST(-105.017650 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB75744409031772D21415AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1743, 113, CAST(N'2025-08-17T03:00:40.857' AS DateTime), CAST(29.84 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.710876 AS Decimal(9, 6)), CAST(-104.992050 AS Decimal(9, 6)), 0xE6100000010C72C119FCFD5A4440CC7F48BF7D3F5AC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1744, 113, CAST(N'2025-08-19T18:28:40.857' AS DateTime), CAST(11.92 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.731676 AS Decimal(9, 6)), CAST(-104.971250 AS Decimal(9, 6)), 0xE6100000010C51A2258FA75D44405C8FC2F5283E5AC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1745, 113, CAST(N'2025-08-22T10:12:40.857' AS DateTime), CAST(14.48 AS Decimal(18, 2)), N'Washington', N'Phoenix', N'USA', CAST(40.757276 AS Decimal(9, 6)), CAST(-104.945650 AS Decimal(9, 6)), 0xE6100000010CD905836BEE60444098DD9387853C5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1746, 114, CAST(N'2025-08-11T03:48:40.857' AS DateTime), CAST(401.84 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.793029 AS Decimal(9, 6)), CAST(-122.401218 AS Decimal(9, 6)), 0xE6100000010CC9E369F981E542404224438EAD995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1747, 114, CAST(N'2025-08-13T08:04:40.857' AS DateTime), CAST(404.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.818629 AS Decimal(9, 6)), CAST(-122.375618 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8E842407E7214200A985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1748, 114, CAST(N'2025-08-15T12:36:40.857' AS DateTime), CAST(406.96 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF424020274C18CD9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1749, 114, CAST(N'2025-08-17T15:16:40.857' AS DateTime), CAST(389.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE14240B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1750, 114, CAST(N'2025-08-19T18:12:40.857' AS DateTime), CAST(391.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.790629 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C7522C15433E54240EC8497E0D4995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1751, 115, CAST(N'2025-08-11T08:04:40.857' AS DateTime), CAST(442.80 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-122.391618 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424098A1F14410995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1752, 115, CAST(N'2025-08-13T16:36:40.857' AS DateTime), CAST(445.36 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.728229 AS Decimal(9, 6)), CAST(-122.466018 AS Decimal(9, 6)), 0xE6100000010CD87F9D9B36DD42403B56293DD39D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1753, 115, CAST(N'2025-08-16T01:24:40.857' AS DateTime), CAST(447.92 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE0424076A4FACE2F9C5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1754, 115, CAST(N'2025-08-18T08:20:40.857' AS DateTime), CAST(430.00 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1755, 115, CAST(N'2025-08-20T15:32:40.857' AS DateTime), CAST(432.56 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE642404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1756, 116, CAST(N'2025-08-09T05:24:40.857' AS DateTime), CAST(147.60 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.424076 AS Decimal(9, 6)), CAST(-105.014450 AS Decimal(9, 6)), 0xE6100000010C5E82531F48B64040575BB1BFEC405AC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1757, 116, CAST(N'2025-08-09T11:16:40.857' AS DateTime), CAST(150.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.449676 AS Decimal(9, 6)), CAST(-104.988850 AS Decimal(9, 6)), 0xE6100000010CE6E5B0FB8EB9404093A98251493F5AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1758, 116, CAST(N'2025-08-09T17:24:40.857' AS DateTime), CAST(152.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.475276 AS Decimal(9, 6)), CAST(-104.963250 AS Decimal(9, 6)), 0xE6100000010C6F490ED8D5BC4040CFF753E3A53D5AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1759, 116, CAST(N'2025-08-09T21:40:40.857' AS DateTime), CAST(134.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.496076 AS Decimal(9, 6)), CAST(-104.942450 AS Decimal(9, 6)), 0xE6100000010C4E2A1A6B7FBF40405F07CE19513C5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1760, 116, CAST(N'2025-08-10T02:12:40.857' AS DateTime), CAST(137.36 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.421676 AS Decimal(9, 6)), CAST(-105.016850 AS Decimal(9, 6)), 0xE6100000010C09C1AA7AF9B5404002BC051214415AC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1761, 117, CAST(N'2025-08-09T09:40:40.857' AS DateTime), CAST(188.56 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.591509 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C14252191B6CB474005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1762, 117, CAST(N'2025-08-09T19:48:40.857' AS DateTime), CAST(191.12 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.617109 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010C9C887E6DFDCE474041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1763, 117, CAST(N'2025-08-10T06:12:40.857' AS DateTime), CAST(193.68 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.642709 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C25ECDB4944D247407D94111780985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1764, 117, CAST(N'2025-08-10T14:44:40.857' AS DateTime), CAST(175.76 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.563509 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010C37001B1021C84740740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1765, 117, CAST(N'2025-08-10T23:32:40.857' AS DateTime), CAST(178.32 AS Decimal(18, 2)), N'Texas', N'Houston', N'USA', CAST(47.589109 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010CBF6378EC67CB4740B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1766, 118, CAST(N'2025-08-11T20:52:40.857' AS DateTime), CAST(65.68 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.731429 AS Decimal(9, 6)), CAST(-74.049374 AS Decimal(9, 6)), 0xE6100000010C492C29779FDD424074D190F1288352C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1767, 118, CAST(N'2025-08-14T18:12:40.857' AS DateTime), CAST(68.24 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.757029 AS Decimal(9, 6)), CAST(-74.023774 AS Decimal(9, 6)), 0xE6100000010CD28F8653E6E04240B01F6283858152C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1768, 118, CAST(N'2025-08-17T15:48:40.857' AS DateTime), CAST(70.80 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.782629 AS Decimal(9, 6)), CAST(-73.998174 AS Decimal(9, 6)), 0xE6100000010C5AF3E32F2DE44240EC6D3315E27F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1769, 118, CAST(N'2025-08-20T11:32:40.857' AS DateTime), CAST(52.88 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E642407C7DAD4B8D7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1770, 118, CAST(N'2025-08-23T07:32:40.857' AS DateTime), CAST(55.44 AS Decimal(18, 2)), N'Washington', N'Los Angeles', N'USA', CAST(37.729029 AS Decimal(9, 6)), CAST(-74.051774 AS Decimal(9, 6)), 0xE6100000010CF46A80D250DD42401E32E543508352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1771, 119, CAST(N'2025-08-09T01:08:40.857' AS DateTime), CAST(106.64 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.018335 AS Decimal(9, 6)), CAST(-87.663599 AS Decimal(9, 6)), 0xE6100000010CA3AF20CD5802414022AAF06778EA55C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1772, 119, CAST(N'2025-08-09T02:44:40.857' AS DateTime), CAST(109.20 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.043935 AS Decimal(9, 6)), CAST(-87.637999 AS Decimal(9, 6)), 0xE6100000010C2B137EA99F0541405DF8C1F9D4E855C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1773, 119, CAST(N'2025-08-09T04:36:40.857' AS DateTime), CAST(111.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.069535 AS Decimal(9, 6)), CAST(-87.612399 AS Decimal(9, 6)), 0xE6100000010CB476DB85E60841409946938B31E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1774, 119, CAST(N'2025-08-09T04:36:40.857' AS DateTime), CAST(93.84 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.090335 AS Decimal(9, 6)), CAST(-87.591599 AS Decimal(9, 6)), 0xE6100000010C9357E718900B41402A560DC2DCE555C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1775, 119, CAST(N'2025-08-09T04:52:40.857' AS DateTime), CAST(96.40 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.015935 AS Decimal(9, 6)), CAST(-87.665999 AS Decimal(9, 6)), 0xE6100000010C4EEE77280A024140CC0A45BA9FEA55C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1776, 120, CAST(N'2025-08-09T22:28:40.857' AS DateTime), CAST(311.44 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-71.044684 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE44240E3A9471ADCC251C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1777, 120, CAST(N'2025-08-10T21:24:40.857' AS DateTime), CAST(314.00 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-71.019084 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E842401FF818AC38C151C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1778, 120, CAST(N'2025-08-11T20:36:40.857' AS DateTime), CAST(316.56 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.740229 AS Decimal(9, 6)), CAST(-71.093484 AS Decimal(9, 6)), 0xE6100000010C8046E9D2BFDE4240C1AC50A4FBC551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1779, 120, CAST(N'2025-08-12T17:56:40.857' AS DateTime), CAST(298.64 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.761029 AS Decimal(9, 6)), CAST(-71.072684 AS Decimal(9, 6)), 0xE6100000010C5F27F56569E1424051BCCADAA6C451C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1780, 120, CAST(N'2025-08-13T15:32:40.857' AS DateTime), CAST(301.20 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-71.047084 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E442408D0A9C6C03C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1781, 121, CAST(N'2025-08-10T02:44:40.857' AS DateTime), CAST(352.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.784127 AS Decimal(9, 6)), CAST(-80.167988 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCC83D40B587BD50C00A54C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1782, 121, CAST(N'2025-08-11T05:56:40.857' AS DateTime), CAST(354.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.809727 AS Decimal(9, 6)), CAST(-80.142388 AS Decimal(9, 6)), 0xE6100000010C2DB0C7444ACF3D40F1D58EE21C0954C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1783, 121, CAST(N'2025-08-12T09:24:40.857' AS DateTime), CAST(357.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.735327 AS Decimal(9, 6)), CAST(-80.216788 AS Decimal(9, 6)), 0xE6100000010CA5DDE8633EBC3D40938AC6DADF0D54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1784, 121, CAST(N'2025-08-13T11:00:40.857' AS DateTime), CAST(339.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.756127 AS Decimal(9, 6)), CAST(-80.195988 AS Decimal(9, 6)), 0xE6100000010C629F008A91C13D40249A40118B0C54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1785, 121, CAST(N'2025-08-14T12:52:40.857' AS DateTime), CAST(342.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(29.781727 AS Decimal(9, 6)), CAST(-80.170388 AS Decimal(9, 6)), 0xE6100000010C7366BB421FC83D4060E811A3E70A54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1786, 122, CAST(N'2025-08-09T13:56:40.857' AS DateTime), CAST(229.52 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.047135 AS Decimal(9, 6)), CAST(-80.196788 AS Decimal(9, 6)), 0xE6100000010C9CBF098508064140B20FB22C980C54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1787, 122, CAST(N'2025-08-10T04:20:40.857' AS DateTime), CAST(232.08 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.072735 AS Decimal(9, 6)), CAST(-80.171188 AS Decimal(9, 6)), 0xE6100000010C252367614F094140EE5D83BEF40A54C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1788, 122, CAST(N'2025-08-10T19:00:40.857' AS DateTime), CAST(234.64 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.098335 AS Decimal(9, 6)), CAST(-80.145588 AS Decimal(9, 6)), 0xE6100000010CAD86C43D960C41402AAC5450510954C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1789, 122, CAST(N'2025-08-11T07:48:40.857' AS DateTime), CAST(216.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.019135 AS Decimal(9, 6)), CAST(-80.224788 AS Decimal(9, 6)), 0xE6100000010CBF9A030473024140212235ED620E54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1790, 122, CAST(N'2025-08-11T20:52:40.857' AS DateTime), CAST(219.28 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(34.044735 AS Decimal(9, 6)), CAST(-80.199188 AS Decimal(9, 6)), 0xE6100000010C48FE60E0B90541405D70067FBF0C54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1791, 123, CAST(N'2025-08-09T18:12:40.857' AS DateTime), CAST(270.48 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.364581 AS Decimal(9, 6)), CAST(-112.069436 AS Decimal(9, 6)), 0xE6100000010C1ADF1797AA2E4540904AB1A371045CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1792, 123, CAST(N'2025-08-10T12:52:40.857' AS DateTime), CAST(273.04 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.390181 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010CA2427573F1314540CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1793, 123, CAST(N'2025-08-11T07:48:40.857' AS DateTime), CAST(275.60 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.315781 AS Decimal(9, 6)), CAST(-112.118236 AS Decimal(9, 6)), 0xE6100000010C5ED905836B2845406E4DBA2D91075CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1794, 123, CAST(N'2025-08-12T00:52:40.857' AS DateTime), CAST(257.68 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.336581 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C3DBA1116152B4540FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1795, 123, CAST(N'2025-08-12T18:12:40.857' AS DateTime), CAST(260.24 AS Decimal(18, 2)), N'New York', N'Houston', N'USA', CAST(42.362181 AS Decimal(9, 6)), CAST(-112.071836 AS Decimal(9, 6)), 0xE6100000010CC51D6FF25B2E45403BAB05F698045CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1796, 124, CAST(N'2025-08-10T15:32:40.857' AS DateTime), CAST(475.28 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-71.106284 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240A305685BCDC651C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1797, 124, CAST(N'2025-08-12T07:32:40.857' AS DateTime), CAST(477.84 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-71.080684 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240DF5339ED29C551C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1798, 124, CAST(N'2025-08-13T23:48:40.857' AS DateTime), CAST(480.40 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-71.055084 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE342401AA20A7F86C351C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1799, 124, CAST(N'2025-08-15T14:12:40.857' AS DateTime), CAST(462.48 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.799429 AS Decimal(9, 6)), CAST(-71.034284 AS Decimal(9, 6)), 0xE6100000010CAC3C81B053E64240ABB184B531C251C0, N'Electronics', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1800, 124, CAST(N'2025-08-17T04:52:40.857' AS DateTime), CAST(465.04 AS Decimal(18, 2)), N'Massachusetts', N'Miami', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-71.108684 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC42404D66BCADF4C651C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1801, 125, CAST(N'2025-08-10T19:48:40.857' AS DateTime), CAST(16.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.737029 AS Decimal(9, 6)), CAST(-118.281483 AS Decimal(9, 6)), 0xE6100000010C0F9A5DF756DE424051D845D103925DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1802, 125, CAST(N'2025-08-12T16:04:40.857' AS DateTime), CAST(18.80 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.762629 AS Decimal(9, 6)), CAST(-118.255883 AS Decimal(9, 6)), 0xE6100000010C97FDBAD39DE142408D26176360905DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1803, 125, CAST(N'2025-08-14T12:36:40.857' AS DateTime), CAST(21.36 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-118.230283 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E44240C974E8F4BC8E5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1804, 125, CAST(N'2025-08-16T07:16:40.857' AS DateTime), CAST(503.44 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-118.209483 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE742405A84622B688D5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1805, 125, CAST(N'2025-08-18T02:12:40.857' AS DateTime), CAST(6.00 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-118.283883 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240FC389A232B925DC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1806, 126, CAST(N'2025-08-10T07:00:40.857' AS DateTime), CAST(393.36 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.639509 AS Decimal(9, 6)), CAST(-87.596399 AS Decimal(9, 6)), 0xE6100000010CB33F506EDBD147407F17B6662BE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1807, 126, CAST(N'2025-08-11T14:28:40.857' AS DateTime), CAST(395.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.565109 AS Decimal(9, 6)), CAST(-87.670799 AS Decimal(9, 6)), 0xE6100000010C6FD6E07D55C8474021CCED5EEEEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1808, 126, CAST(N'2025-08-12T22:12:40.857' AS DateTime), CAST(398.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.590709 AS Decimal(9, 6)), CAST(-87.645199 AS Decimal(9, 6)), 0xE6100000010CF7393E5A9CCB47405D1ABFF04AE955C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1809, 126, CAST(N'2025-08-14T04:04:40.857' AS DateTime), CAST(380.56 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.611509 AS Decimal(9, 6)), CAST(-87.624399 AS Decimal(9, 6)), 0xE6100000010CD61A4AED45CE4740ED293927F6E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1810, 126, CAST(N'2025-08-15T10:12:40.857' AS DateTime), CAST(383.12 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(47.637109 AS Decimal(9, 6)), CAST(-87.598799 AS Decimal(9, 6)), 0xE6100000010C5F7EA7C98CD1474029780AB952E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1811, 127, CAST(N'2025-08-10T11:16:40.857' AS DateTime), CAST(434.32 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.755676 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010CA12FBDFDB96044400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1812, 127, CAST(N'2025-08-11T23:00:40.857' AS DateTime), CAST(436.88 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.681276 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010C5CC64D0D34574440AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1813, 127, CAST(N'2025-08-13T11:00:40.857' AS DateTime), CAST(439.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.706876 AS Decimal(9, 6)), CAST(-122.425218 AS Decimal(9, 6)), 0xE6100000010CE529ABE97A5A4440EAEA8EC5369B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1814, 127, CAST(N'2025-08-14T21:08:40.857' AS DateTime), CAST(421.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.727676 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010CC40AB77C245D44407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1815, 127, CAST(N'2025-08-16T07:32:40.857' AS DateTime), CAST(424.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(40.753276 AS Decimal(9, 6)), CAST(-122.378818 AS Decimal(9, 6)), 0xE6100000010C4C6E14596B604440B648DA8D3E985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1816, 128, CAST(N'2025-08-11T23:32:40.857' AS DateTime), CAST(17.68 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.751429 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C0C2252D32EE04240FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1817, 128, CAST(N'2025-08-11T23:32:40.857' AS DateTime), CAST(20.24 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.777029 AS Decimal(9, 6)), CAST(-112.071836 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75E342403BAB05F698045CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1818, 128, CAST(N'2025-08-11T23:48:40.857' AS DateTime), CAST(22.80 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-112.046236 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424076F9D687F5025CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1819, 128, CAST(N'2025-08-14T22:12:40.857' AS DateTime), CAST(504.88 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-112.025436 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E94240070951BEA0015CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1820, 128, CAST(N'2025-08-17T20:52:40.857' AS DateTime), CAST(7.44 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.749029 AS Decimal(9, 6)), CAST(-112.099836 AS Decimal(9, 6)), 0xE6100000010CB760A92EE0DF4240A9BD88B663065CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1821, 129, CAST(N'2025-08-09T03:48:40.857' AS DateTime), CAST(58.64 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.747781 AS Decimal(9, 6)), CAST(-74.019774 AS Decimal(9, 6)), 0xE6100000010CF7915B936EBF3940E9D32AFA438152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1822, 129, CAST(N'2025-08-09T08:04:40.857' AS DateTime), CAST(61.20 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.773381 AS Decimal(9, 6)), CAST(-73.994174 AS Decimal(9, 6)), 0xE6100000010C0859164CFCC539402522FC8BA07F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1823, 129, CAST(N'2025-08-09T12:36:40.857' AS DateTime), CAST(63.76 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.798981 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C1920D1048ACC39406170CD1DFD7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1824, 129, CAST(N'2025-08-09T15:16:40.857' AS DateTime), CAST(45.84 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.719781 AS Decimal(9, 6)), CAST(-74.047774 AS Decimal(9, 6)), 0xE6100000010C3D484F9143B8394058E6ADBA0E8352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1825, 129, CAST(N'2025-08-09T18:12:40.857' AS DateTime), CAST(48.40 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(25.745381 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C4D0F0A4AD1BE394094347F4C6B8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1826, 130, CAST(N'2025-08-11T15:00:40.857' AS DateTime), CAST(435.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.732229 AS Decimal(9, 6)), CAST(-74.048574 AS Decimal(9, 6)), 0xE6100000010C65170CAEB9DD4240E65B1FD61B8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1827, 130, CAST(N'2025-08-14T06:28:40.857' AS DateTime), CAST(438.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.757829 AS Decimal(9, 6)), CAST(-74.022974 AS Decimal(9, 6)), 0xE6100000010CEE7A698A00E1424022AAF067788152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1828, 130, CAST(N'2025-08-16T22:12:40.857' AS DateTime), CAST(440.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-73.997374 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E442405DF8C1F9D47F52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1829, 130, CAST(N'2025-08-19T12:04:40.857' AS DateTime), CAST(422.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-73.976574 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E64240EE073C30807E52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1830, 130, CAST(N'2025-08-22T02:12:40.857' AS DateTime), CAST(425.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-74.050974 AS Decimal(9, 6)), 0xE6100000010C115663096BDD424090BC7328438352C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1831, 131, CAST(N'2025-08-11T19:16:40.857' AS DateTime), CAST(476.72 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.019135 AS Decimal(9, 6)), CAST(-122.452418 AS Decimal(9, 6)), 0xE6100000010CBF9A030473024140CA87A06AF49C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1832, 131, CAST(N'2025-08-14T15:00:40.857' AS DateTime), CAST(479.28 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.044735 AS Decimal(9, 6)), CAST(-122.426818 AS Decimal(9, 6)), 0xE6100000010C48FE60E0B905414006D671FC509B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1833, 131, CAST(N'2025-08-17T11:00:40.857' AS DateTime), CAST(481.84 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.070335 AS Decimal(9, 6)), CAST(-122.401218 AS Decimal(9, 6)), 0xE6100000010CD061BEBC000941404224438EAD995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1834, 131, CAST(N'2025-08-20T05:08:40.857' AS DateTime), CAST(463.92 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.091135 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CAF42CA4FAA0B4140D333BDC458985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1835, 131, CAST(N'2025-08-22T23:32:40.857' AS DateTime), CAST(466.48 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(34.016735 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C6AD95A5F2402414075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1836, 132, CAST(N'2025-08-09T16:36:40.857' AS DateTime), CAST(181.52 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.463276 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010CC782C2A04CBB40407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1837, 132, CAST(N'2025-08-10T09:40:40.857' AS DateTime), CAST(184.08 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.488876 AS Decimal(9, 6)), CAST(-122.378818 AS Decimal(9, 6)), 0xE6100000010C4FE61F7D93BE4040B648DA8D3E985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1838, 132, CAST(N'2025-08-11T03:00:40.857' AS DateTime), CAST(186.64 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.414476 AS Decimal(9, 6)), CAST(-122.453218 AS Decimal(9, 6)), 0xE6100000010C0B7DB08C0DB5404059FD1186019D5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1839, 132, CAST(N'2025-08-11T18:28:40.857' AS DateTime), CAST(168.72 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.435276 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB7B74040E90C8CBCAC9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1840, 132, CAST(N'2025-08-12T10:12:40.857' AS DateTime), CAST(171.28 AS Decimal(18, 2)), N'Arizona', N'Seattle', N'USA', CAST(33.460876 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C72C119FCFDBA4040255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1841, 133, CAST(N'2025-08-09T20:52:40.857' AS DateTime), CAST(222.48 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.384581 AS Decimal(9, 6)), CAST(-73.981374 AS Decimal(9, 6)), 0xE6100000010CDCD440F33931454043C9E4D4CE7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1842, 133, CAST(N'2025-08-10T18:12:40.857' AS DateTime), CAST(225.04 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.310181 AS Decimal(9, 6)), CAST(-74.055774 AS Decimal(9, 6)), 0xE6100000010C986BD102B4274540E57D1CCD918352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1843, 133, CAST(N'2025-08-11T15:48:40.857' AS DateTime), CAST(227.60 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.335781 AS Decimal(9, 6)), CAST(-74.030174 AS Decimal(9, 6)), 0xE6100000010C20CF2EDFFA2A454021CCED5EEE8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1844, 133, CAST(N'2025-08-12T11:32:40.857' AS DateTime), CAST(209.68 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.356581 AS Decimal(9, 6)), CAST(-74.009374 AS Decimal(9, 6)), 0xE6100000010CFFAF3A72A42D4540B1DB6795998052C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1845, 133, CAST(N'2025-08-13T07:32:40.857' AS DateTime), CAST(212.24 AS Decimal(18, 2)), N'New York', N'Boston', N'USA', CAST(42.382181 AS Decimal(9, 6)), CAST(-73.983774 AS Decimal(9, 6)), 0xE6100000010C8813984EEB304540ED293927F67E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1846, 134, CAST(N'2025-08-09T08:04:40.857' AS DateTime), CAST(99.60 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.355781 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010CE3C4573B8A2D4540CEFFAB8E1C9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1847, 134, CAST(N'2025-08-09T16:36:40.857' AS DateTime), CAST(102.16 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.381381 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C6B28B517D1304540094E7D2079995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1848, 134, CAST(N'2025-08-10T01:24:40.857' AS DateTime), CAST(104.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.406981 AS Decimal(9, 6)), CAST(-122.372418 AS Decimal(9, 6)), 0xE6100000010CF48B12F417344540459C4EB2D5975EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1849, 134, CAST(N'2025-08-10T08:20:40.857' AS DateTime), CAST(86.80 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.327781 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010C06A051BAF42945403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1850, 134, CAST(N'2025-08-10T15:32:40.857' AS DateTime), CAST(89.36 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(42.353381 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C8E03AF963B2D4540786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1851, 135, CAST(N'2025-08-09T12:20:40.857' AS DateTime), CAST(140.56 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.718076 AS Decimal(9, 6)), CAST(-122.414018 AS Decimal(9, 6)), 0xE6100000010C710514EAE95B4440247D5A457F9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1852, 135, CAST(N'2025-08-10T01:08:40.857' AS DateTime), CAST(143.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.743676 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010CF96871C6305F444060CB2BD7DB985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1853, 135, CAST(N'2025-08-10T14:12:40.857' AS DateTime), CAST(145.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.669276 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010CB5FF01D6AA554440028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1854, 135, CAST(N'2025-08-11T01:24:40.857' AS DateTime), CAST(127.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.690076 AS Decimal(9, 6)), CAST(-122.442018 AS Decimal(9, 6)), 0xE6100000010C93E00D6954584440938FDD054A9C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1855, 135, CAST(N'2025-08-11T12:52:40.857' AS DateTime), CAST(130.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.715676 AS Decimal(9, 6)), CAST(-122.416418 AS Decimal(9, 6)), 0xE6100000010C1C446B459B5B4440CEDDAE97A69A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1856, 136, CAST(N'2025-08-10T09:40:40.857' AS DateTime), CAST(345.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.831413 AS Decimal(9, 6)), CAST(-122.466018 AS Decimal(9, 6)), 0xE6100000010C103CBEBD6BEA44403B56293DD39D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1857, 136, CAST(N'2025-08-11T19:48:40.857' AS DateTime), CAST(347.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.857013 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C999F1B9AB2ED444076A4FACE2F9C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1858, 136, CAST(N'2025-08-13T06:12:40.857' AS DateTime), CAST(350.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.882613 AS Decimal(9, 6)), CAST(-122.414818 AS Decimal(9, 6)), 0xE6100000010C21037976F9F04440B2F2CB608C9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1859, 136, CAST(N'2025-08-14T14:44:40.857' AS DateTime), CAST(332.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.903413 AS Decimal(9, 6)), CAST(-122.394018 AS Decimal(9, 6)), 0xE6100000010C00E48409A3F344404302469737995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1860, 136, CAST(N'2025-08-15T23:32:40.857' AS DateTime), CAST(335.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.829013 AS Decimal(9, 6)), CAST(-122.468418 AS Decimal(9, 6)), 0xE6100000010CBC7A15191DEA4440E5B67D8FFA9D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1861, 137, CAST(N'2025-08-10T13:56:40.857' AS DateTime), CAST(386.32 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.737829 AS Decimal(9, 6)), CAST(-87.666799 AS Decimal(9, 6)), 0xE6100000010C2B85402E71DE42405A80B6D5ACEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1862, 137, CAST(N'2025-08-12T04:20:40.857' AS DateTime), CAST(388.88 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-87.641199 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E1424096CE876709E955C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1863, 137, CAST(N'2025-08-13T19:00:40.857' AS DateTime), CAST(391.44 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-87.615599 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE44240D21C59F965E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1864, 137, CAST(N'2025-08-15T07:48:40.857' AS DateTime), CAST(373.52 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.809829 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C1B2D077AA8E74240622CD32F11E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1865, 137, CAST(N'2025-08-16T20:52:40.857' AS DateTime), CAST(376.08 AS Decimal(18, 2)), N'Colorado', N'Seattle', N'USA', CAST(37.735429 AS Decimal(9, 6)), CAST(-87.669199 AS Decimal(9, 6)), 0xE6100000010CD7C3978922DE424005E10A28D4EA55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1866, 138, CAST(N'2025-08-10T01:08:40.857' AS DateTime), CAST(263.44 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-122.385218 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE7424027F56569A7985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1867, 138, CAST(N'2025-08-11T02:44:40.857' AS DateTime), CAST(266.00 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.734629 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CBAD8B45208DE4240CAA99D616A9D5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1868, 138, CAST(N'2025-08-12T04:36:40.857' AS DateTime), CAST(268.56 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1869, 138, CAST(N'2025-08-13T04:36:40.857' AS DateTime), CAST(250.64 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-122.413218 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342409607E929729A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1870, 138, CAST(N'2025-08-14T04:52:40.857' AS DateTime), CAST(253.20 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE74240D255BABBCE985EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1871, 139, CAST(N'2025-08-10T05:24:40.857' AS DateTime), CAST(304.40 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.095935 AS Decimal(9, 6)), CAST(-122.288269 AS Decimal(9, 6)), 0xE6100000010C58C51B99470C4140D7DCD1FF72925EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1872, 139, CAST(N'2025-08-11T11:16:40.857' AS DateTime), CAST(306.96 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.021535 AS Decimal(9, 6)), CAST(-122.362669 AS Decimal(9, 6)), 0xE6100000010C145CACA8C1024140799109F835975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1873, 139, CAST(N'2025-08-12T17:24:40.857' AS DateTime), CAST(309.52 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.047135 AS Decimal(9, 6)), CAST(-122.337069 AS Decimal(9, 6)), 0xE6100000010C9CBF098508064140B5DFDA8992955EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1874, 139, CAST(N'2025-08-13T21:40:40.857' AS DateTime), CAST(291.60 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.067935 AS Decimal(9, 6)), CAST(-122.316269 AS Decimal(9, 6)), 0xE6100000010C7BA01518B208414046EF54C03D945EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1875, 139, CAST(N'2025-08-15T02:12:40.857' AS DateTime), CAST(294.16 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(34.093535 AS Decimal(9, 6)), CAST(-122.290669 AS Decimal(9, 6)), 0xE6100000010C040473F4F80B4140813D26529A925EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1876, 140, CAST(N'2025-08-11T02:44:40.857' AS DateTime), CAST(9.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-122.427618 AS Decimal(9, 6)), 0xE6100000010C259529E620E24240944BE3175E9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1877, 140, CAST(N'2025-08-13T05:56:40.857' AS DateTime), CAST(11.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-122.402018 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240D099B4A9BA995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1878, 140, CAST(N'2025-08-15T09:24:40.857' AS DateTime), CAST(14.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842400CE8853B17985EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1879, 140, CAST(N'2025-08-17T11:00:40.857' AS DateTime), CAST(496.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-122.455618 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240035E66D8289D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1880, 140, CAST(N'2025-08-19T12:52:40.857' AS DateTime), CAST(498.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-122.430018 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E142403FAC376A859B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1881, 141, CAST(N'2025-08-11T07:00:40.857' AS DateTime), CAST(50.16 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-74.004574 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE342405D1ABFF04A8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1882, 141, CAST(N'2025-08-13T14:28:40.857' AS DateTime), CAST(52.72 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-73.978974 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E6424098689082A77E52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1883, 141, CAST(N'2025-08-15T22:12:40.857' AS DateTime), CAST(55.28 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-74.053374 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD42403B1DC87A6A8352C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1884, 141, CAST(N'2025-08-18T04:04:40.857' AS DateTime), CAST(37.36 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.748229 AS Decimal(9, 6)), CAST(-74.032574 AS Decimal(9, 6)), 0xE6100000010C9B75C6F7C5DF4240CB2C42B1158252C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1885, 141, CAST(N'2025-08-20T10:12:40.857' AS DateTime), CAST(39.92 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.773829 AS Decimal(9, 6)), CAST(-74.006974 AS Decimal(9, 6)), 0xE6100000010C23D923D40CE34240077B1343728052C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1886, 142, CAST(N'2025-08-10T18:12:40.857' AS DateTime), CAST(427.28 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.732927 AS Decimal(9, 6)), CAST(-74.033374 AS Decimal(9, 6)), 0xE6100000010CFB5A971AA1BB3D4059A2B3CC228252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1887, 142, CAST(N'2025-08-12T12:52:40.857' AS DateTime), CAST(429.84 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.758527 AS Decimal(9, 6)), CAST(-74.007774 AS Decimal(9, 6)), 0xE6100000010C0C2252D32EC23D4095F0845E7F8052C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1888, 142, CAST(N'2025-08-14T07:48:40.857' AS DateTime), CAST(432.40 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.784127 AS Decimal(9, 6)), CAST(-73.982174 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCC83D40D13E56F0DB7E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1889, 142, CAST(N'2025-08-16T00:52:40.857' AS DateTime), CAST(414.48 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.804927 AS Decimal(9, 6)), CAST(-73.961374 AS Decimal(9, 6)), 0xE6100000010CDAAA24B20FCE3D40624ED026877D52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1890, 142, CAST(N'2025-08-17T18:12:40.857' AS DateTime), CAST(417.04 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(29.730527 AS Decimal(9, 6)), CAST(-74.035774 AS Decimal(9, 6)), 0xE6100000010C51D845D103BB3D400403081F4A8252C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1891, 143, CAST(N'2025-08-10T22:28:40.857' AS DateTime), CAST(468.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.860213 AS Decimal(9, 6)), CAST(-118.261483 AS Decimal(9, 6)), 0xE6100000010C0A4CA7751BEE4440705D3123BC905DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1892, 143, CAST(N'2025-08-12T21:24:40.857' AS DateTime), CAST(470.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.885813 AS Decimal(9, 6)), CAST(-118.235883 AS Decimal(9, 6)), 0xE6100000010C92AF045262F14440ACAB02B5188F5DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1893, 143, CAST(N'2025-08-14T20:36:40.857' AS DateTime), CAST(473.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.911413 AS Decimal(9, 6)), CAST(-118.210283 AS Decimal(9, 6)), 0xE6100000010C1B13622EA9F44440E8F9D346758D5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1894, 143, CAST(N'2025-08-16T17:56:40.857' AS DateTime), CAST(455.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.832213 AS Decimal(9, 6)), CAST(-118.289483 AS Decimal(9, 6)), 0xE6100000010C2D27A1F485EA4440DF6FB4E386925DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1895, 143, CAST(N'2025-08-18T15:32:40.857' AS DateTime), CAST(458.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(41.857813 AS Decimal(9, 6)), CAST(-118.263883 AS Decimal(9, 6)), 0xE6100000010CB58AFED0CCED44401BBE8575E3905DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1896, 144, CAST(N'2025-08-11T19:48:40.857' AS DateTime), CAST(173.04 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.805029 AS Decimal(9, 6)), CAST(-95.339604 AS Decimal(9, 6)), 0xE6100000010C71AAB5300BE74240CF656A12BCD557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1897, 144, CAST(N'2025-08-14T16:04:40.857' AS DateTime), CAST(175.60 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-95.414004 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD4240721AA20A7FDA57C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1898, 144, CAST(N'2025-08-17T12:36:40.857' AS DateTime), CAST(178.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-95.388404 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240AD68739CDBD857C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1899, 144, CAST(N'2025-08-20T07:16:40.857' AS DateTime), CAST(160.24 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.777029 AS Decimal(9, 6)), CAST(-95.367604 AS Decimal(9, 6)), 0xE6100000010C9485AFAF75E342403E78EDD286D757C0, N'Clothing', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1900, 144, CAST(N'2025-08-23T02:12:40.857' AS DateTime), CAST(162.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-95.342004 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE642407AC6BE64E3D557C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1901, 145, CAST(N'2025-08-09T00:04:40.857' AS DateTime), CAST(214.00 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.801381 AS Decimal(9, 6)), CAST(-73.966174 AS Decimal(9, 6)), 0xE6100000010CC2A2224E27CD3940B60F79CBD57D52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1902, 145, CAST(N'2025-08-09T00:36:40.857' AS DateTime), CAST(216.56 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.726981 AS Decimal(9, 6)), CAST(-74.040574 AS Decimal(9, 6)), 0xE6100000010C39D0436D1BBA394059C4B0C3988252C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1903, 145, CAST(N'2025-08-09T01:24:40.857' AS DateTime), CAST(219.12 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.752581 AS Decimal(9, 6)), CAST(-74.014974 AS Decimal(9, 6)), 0xE6100000010C4A97FE25A9C0394094128255F58052C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1904, 145, CAST(N'2025-08-12T00:20:40.857' AS DateTime), CAST(201.20 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.773381 AS Decimal(9, 6)), CAST(-73.994174 AS Decimal(9, 6)), 0xE6100000010C0859164CFCC539402522FC8BA07F52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1905, 145, CAST(N'2025-08-14T23:32:40.857' AS DateTime), CAST(203.76 AS Decimal(18, 2)), N'New York', N'New York', N'USA', CAST(25.798981 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C1920D1048ACC39406170CD1DFD7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1906, 146, CAST(N'2025-08-11T11:16:40.857' AS DateTime), CAST(91.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.063135 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CD21DC4CE1408414041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1907, 146, CAST(N'2025-08-13T23:00:40.857' AS DateTime), CAST(93.68 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.088735 AS Decimal(9, 6)), CAST(-122.382818 AS Decimal(9, 6)), 0xE6100000010C5A8121AB5B0B41407D94111780985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1908, 146, CAST(N'2025-08-16T11:00:40.857' AS DateTime), CAST(96.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.014335 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010C1618B2BAD50141401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1909, 146, CAST(N'2025-08-18T21:08:40.857' AS DateTime), CAST(78.32 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.035135 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010CF4F8BD4D7F044140B058C345EE9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1910, 146, CAST(N'2025-08-21T07:32:40.857' AS DateTime), CAST(80.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.060735 AS Decimal(9, 6)), CAST(-122.410818 AS Decimal(9, 6)), 0xE6100000010C7D5C1B2AC6074140ECA694D74A9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1911, 147, CAST(N'2025-08-11T15:32:40.857' AS DateTime), CAST(132.08 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-95.349204 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E5424079E8BB5B59D657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1912, 147, CAST(N'2025-08-14T07:32:40.857' AS DateTime), CAST(134.64 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.821029 AS Decimal(9, 6)), CAST(-95.323604 AS Decimal(9, 6)), 0xE6100000010CA708707A17E94240B5368DEDB5D457C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1913, 147, CAST(N'2025-08-16T23:48:40.857' AS DateTime), CAST(137.20 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.746629 AS Decimal(9, 6)), CAST(-95.398004 AS Decimal(9, 6)), 0xE6100000010C629F008A91DF424057EBC4E578D957C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1914, 147, CAST(N'2025-08-19T14:12:40.857' AS DateTime), CAST(119.28 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-95.377204 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240E8FA3E1C24D857C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1915, 147, CAST(N'2025-08-22T04:52:40.857' AS DateTime), CAST(121.84 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.793029 AS Decimal(9, 6)), CAST(-95.351604 AS Decimal(9, 6)), 0xE6100000010CC9E369F981E54240234910AE80D657C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1916, 148, CAST(N'2025-08-09T12:52:40.857' AS DateTime), CAST(336.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.707736 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CD619DF1797DA4340AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1917, 148, CAST(N'2025-08-10T02:12:40.857' AS DateTime), CAST(339.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.733336 AS Decimal(9, 6)), CAST(-122.425218 AS Decimal(9, 6)), 0xE6100000010C5F7D3CF4DDDD4340EAEA8EC5369B5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1918, 148, CAST(N'2025-08-10T15:48:40.857' AS DateTime), CAST(342.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.758936 AS Decimal(9, 6)), CAST(-122.399618 AS Decimal(9, 6)), 0xE6100000010CE7E099D024E143402639605793995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1919, 148, CAST(N'2025-08-11T03:32:40.857' AS DateTime), CAST(324.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.779736 AS Decimal(9, 6)), CAST(-122.378818 AS Decimal(9, 6)), 0xE6100000010CC6C1A563CEE34340B648DA8D3E985EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1920, 148, CAST(N'2025-08-11T15:32:40.857' AS DateTime), CAST(326.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.705336 AS Decimal(9, 6)), CAST(-122.453218 AS Decimal(9, 6)), 0xE6100000010C8258367348DA434059FD1186019D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1921, 149, CAST(N'2025-08-09T17:08:40.857' AS DateTime), CAST(377.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.584309 AS Decimal(9, 6)), CAST(-87.651599 AS Decimal(9, 6)), 0xE6100000010C15E126A3CACA4740CEC64ACCB3E955C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1922, 149, CAST(N'2025-08-10T10:44:40.857' AS DateTime), CAST(380.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.609909 AS Decimal(9, 6)), CAST(-87.625999 AS Decimal(9, 6)), 0xE6100000010C9E44847F11CE474009151C5E10E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1923, 149, CAST(N'2025-08-11T04:36:40.857' AS DateTime), CAST(382.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.635509 AS Decimal(9, 6)), CAST(-87.600399 AS Decimal(9, 6)), 0xE6100000010C26A8E15B58D147404563EDEF6CE655C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1924, 149, CAST(N'2025-08-11T20:36:40.857' AS DateTime), CAST(365.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.556309 AS Decimal(9, 6)), CAST(-87.679599 AS Decimal(9, 6)), 0xE6100000010C38BC202235C747403CD9CD8C7EEB55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1925, 149, CAST(N'2025-08-12T12:52:40.857' AS DateTime), CAST(367.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(47.581909 AS Decimal(9, 6)), CAST(-87.653999 AS Decimal(9, 6)), 0xE6100000010CC11F7EFE7BCA474078279F1EDBE955C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1926, 150, CAST(N'2025-08-09T04:20:40.857' AS DateTime), CAST(254.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.810981 AS Decimal(9, 6)), CAST(-71.009484 AS Decimal(9, 6)), 0xE6100000010C69AD68739CCF39407575C7629BC051C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1927, 150, CAST(N'2025-08-09T09:08:40.857' AS DateTime), CAST(257.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.736581 AS Decimal(9, 6)), CAST(-71.083884 AS Decimal(9, 6)), 0xE6100000010CE0DA899290BC3940172AFF5A5EC551C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1928, 150, CAST(N'2025-08-09T14:12:40.857' AS DateTime), CAST(260.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.762181 AS Decimal(9, 6)), CAST(-71.058284 AS Decimal(9, 6)), 0xE6100000010CF1A1444B1EC339405378D0ECBAC351C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1929, 150, CAST(N'2025-08-09T17:24:40.857' AS DateTime), CAST(242.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.782981 AS Decimal(9, 6)), CAST(-71.037484 AS Decimal(9, 6)), 0xE6100000010CAE635C7171C83940E4874A2366C251C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1930, 150, CAST(N'2025-08-09T20:52:40.857' AS DateTime), CAST(244.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.808581 AS Decimal(9, 6)), CAST(-71.011884 AS Decimal(9, 6)), 0xE6100000010CBF2A172AFFCE39401FD61BB5C2C051C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1931, 151, CAST(N'2025-08-09T08:36:40.857' AS DateTime), CAST(295.92 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.837013 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010CD6A9F23D23EB4440581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1932, 151, CAST(N'2025-08-09T17:40:40.857' AS DateTime), CAST(298.48 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.862613 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C5F0D501A6AEE4440946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1933, 151, CAST(N'2025-08-10T03:00:40.857' AS DateTime), CAST(301.04 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.888213 AS Decimal(9, 6)), CAST(-122.409218 AS Decimal(9, 6)), 0xE6100000010CE770ADF6B0F14440CFBBB1A0309A5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1934, 151, CAST(N'2025-08-10T10:28:40.857' AS DateTime), CAST(283.12 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.909013 AS Decimal(9, 6)), CAST(-122.388418 AS Decimal(9, 6)), 0xE6100000010CC651B9895AF4444060CB2BD7DB985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1935, 151, CAST(N'2025-08-10T18:12:40.857' AS DateTime), CAST(285.68 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.834613 AS Decimal(9, 6)), CAST(-122.462818 AS Decimal(9, 6)), 0xE6100000010C81E84999D4EA4440028063CF9E9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1936, 152, CAST(N'2025-08-10T05:56:40.857' AS DateTime), CAST(500.72 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-122.412418 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E442400892770E659A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1937, 152, CAST(N'2025-08-11T12:20:40.857' AS DateTime), CAST(503.28 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.807429 AS Decimal(9, 6)), CAST(-122.386818 AS Decimal(9, 6)), 0xE6100000010CC66B5ED559E7424044E048A0C1985EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1938, 152, CAST(N'2025-08-12T19:00:40.857' AS DateTime), CAST(5.84 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-122.461218 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240E6948098849D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1939, 152, CAST(N'2025-08-13T23:48:40.857' AS DateTime), CAST(487.92 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.753829 AS Decimal(9, 6)), CAST(-122.440418 AS Decimal(9, 6)), 0xE6100000010C61E3FA777DE0424076A4FACE2F9C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1940, 152, CAST(N'2025-08-15T04:52:40.857' AS DateTime), CAST(490.48 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(37.779429 AS Decimal(9, 6)), CAST(-122.414818 AS Decimal(9, 6)), 0xE6100000010CE9465854C4E34240B2F2CB608C9A5EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1941, 153, CAST(N'2025-08-10T10:12:40.857' AS DateTime), CAST(41.68 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-122.402818 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE542405E0F26C5C7995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1942, 153, CAST(N'2025-08-11T20:52:40.857' AS DateTime), CAST(44.24 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1943, 153, CAST(N'2025-08-13T07:48:40.857' AS DateTime), CAST(46.80 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1944, 153, CAST(N'2025-08-14T16:52:40.857' AS DateTime), CAST(28.88 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-122.430818 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E14240CD21A985929B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1945, 153, CAST(N'2025-08-16T02:12:40.857' AS DateTime), CAST(31.44 AS Decimal(18, 2)), N'Florida', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE4424009707A17EF995EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1946, 154, CAST(N'2025-08-09T21:24:40.857' AS DateTime), CAST(418.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.347781 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010CC8957A16842C45405B971AA19F9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1947, 154, CAST(N'2025-08-10T19:16:40.857' AS DateTime), CAST(421.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.373381 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C51F9D7F2CA2F454097E5EB32FC995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1948, 154, CAST(N'2025-08-11T17:24:40.857' AS DateTime), CAST(423.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.398981 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CD95C35CF11334540D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1949, 154, CAST(N'2025-08-12T13:40:40.857' AS DateTime), CAST(406.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.319781 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010CEB707495EE284540CAA99D616A9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1950, 154, CAST(N'2025-08-13T10:12:40.857' AS DateTime), CAST(408.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.345381 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C74D4D171352C454005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1951, 155, CAST(N'2025-08-10T01:40:40.857' AS DateTime), CAST(459.76 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E24240B114C957029B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1952, 155, CAST(N'2025-08-11T03:48:40.857' AS DateTime), CAST(462.32 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE64240ED629AE95E995EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1953, 155, CAST(N'2025-08-12T06:12:40.857' AS DateTime), CAST(464.88 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E9424029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1954, 155, CAST(N'2025-08-13T06:44:40.857' AS DateTime), CAST(446.96 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF424020274C18CD9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1955, 155, CAST(N'2025-08-14T07:32:40.857' AS DateTime), CAST(449.52 AS Decimal(18, 2)), N'Illinois', N'Seattle', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-122.424418 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242405C751DAA299B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1956, 156, CAST(N'2025-08-10T23:00:40.857' AS DateTime), CAST(164.56 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.820229 AS Decimal(9, 6)), CAST(-118.198283 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDE8424094162EABB08C5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1957, 156, CAST(N'2025-08-12T22:28:40.857' AS DateTime), CAST(167.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-118.272683 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF424036CB65A373915DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1958, 156, CAST(N'2025-08-14T22:12:40.857' AS DateTime), CAST(169.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-118.247083 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424072193735D08F5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1959, 156, CAST(N'2025-08-16T20:04:40.857' AS DateTime), CAST(151.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-118.226283 AS Decimal(9, 6)), 0xE6100000010CADF886C267E542400229B16B7B8E5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1960, 156, CAST(N'2025-08-18T18:12:40.857' AS DateTime), CAST(154.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-118.200683 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842403E7782FDD78C5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1961, 157, CAST(N'2025-08-11T03:16:40.857' AS DateTime), CAST(205.52 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.314981 AS Decimal(9, 6)), CAST(-80.236788 AS Decimal(9, 6)), 0xE6100000010C42EE224C512845407505DB88270F54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1962, 157, CAST(N'2025-08-13T07:00:40.857' AS DateTime), CAST(208.08 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.340581 AS Decimal(9, 6)), CAST(-80.211188 AS Decimal(9, 6)), 0xE6100000010CCA518028982B4540B153AC1A840D54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1963, 157, CAST(N'2025-08-15T11:00:40.857' AS DateTime), CAST(210.64 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.366181 AS Decimal(9, 6)), CAST(-80.185588 AS Decimal(9, 6)), 0xE6100000010C52B5DD04DF2E4540ECA17DACE00B54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1964, 157, CAST(N'2025-08-17T13:08:40.857' AS DateTime), CAST(192.72 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.386981 AS Decimal(9, 6)), CAST(-80.164788 AS Decimal(9, 6)), 0xE6100000010C3196E997883145407DB1F7E28B0A54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1965, 157, CAST(N'2025-08-19T15:32:40.857' AS DateTime), CAST(195.28 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(42.312581 AS Decimal(9, 6)), CAST(-80.239188 AS Decimal(9, 6)), 0xE6100000010CED2C7AA7022845401F662FDB4E0F54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1966, 158, CAST(N'2025-08-10T14:28:40.857' AS DateTime), CAST(82.64 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.904213 AS Decimal(9, 6)), CAST(-71.032684 AS Decimal(9, 6)), 0xE6100000010C1CCF6740BDF344408FC6A17E17C251C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1967, 158, CAST(N'2025-08-12T05:24:40.857' AS DateTime), CAST(85.20 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.829813 AS Decimal(9, 6)), CAST(-71.107084 AS Decimal(9, 6)), 0xE6100000010CD865F84F37EA4440317BD976DAC651C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1968, 158, CAST(N'2025-08-13T20:36:40.857' AS DateTime), CAST(87.76 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.855413 AS Decimal(9, 6)), CAST(-71.081484 AS Decimal(9, 6)), 0xE6100000010C60C9552C7EED44406DC9AA0837C551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1969, 158, CAST(N'2025-08-15T09:56:40.857' AS DateTime), CAST(69.84 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.876213 AS Decimal(9, 6)), CAST(-71.060684 AS Decimal(9, 6)), 0xE6100000010C3FAA61BF27F04440FDD8243FE2C351C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1970, 158, CAST(N'2025-08-16T23:32:40.857' AS DateTime), CAST(72.40 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(41.901813 AS Decimal(9, 6)), CAST(-71.035084 AS Decimal(9, 6)), 0xE6100000010CC70DBF9B6EF344403927F6D03EC251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1971, 159, CAST(N'2025-08-10T18:44:40.857' AS DateTime), CAST(123.60 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.748476 AS Decimal(9, 6)), CAST(-122.383618 AS Decimal(9, 6)), 0xE6100000010CA2EBC20FCE5F44400B0A83328D985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1972, 159, CAST(N'2025-08-12T13:56:40.857' AS DateTime), CAST(126.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.674076 AS Decimal(9, 6)), CAST(-122.458018 AS Decimal(9, 6)), 0xE6100000010C5E82531F48564440ADBEBA2A509D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1973, 159, CAST(N'2025-08-14T09:24:40.857' AS DateTime), CAST(128.72 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.699676 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CE6E5B0FB8E594440E90C8CBCAC9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1974, 159, CAST(N'2025-08-16T03:00:40.857' AS DateTime), CAST(110.80 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.720476 AS Decimal(9, 6)), CAST(-122.411618 AS Decimal(9, 6)), 0xE6100000010CC5C6BC8E385C44407A1C06F3579A5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1975, 159, CAST(N'2025-08-17T20:52:40.857' AS DateTime), CAST(113.36 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.746076 AS Decimal(9, 6)), CAST(-122.386018 AS Decimal(9, 6)), 0xE6100000010C4E2A1A6B7F5F4440B66AD784B4985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1976, 160, CAST(N'2025-08-09T07:00:40.857' AS DateTime), CAST(206.96 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.744229 AS Decimal(9, 6)), CAST(-87.660399 AS Decimal(9, 6)), 0xE6100000010C0DDE57E542DF4240E9D32AFA43EA55C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1977, 160, CAST(N'2025-08-09T14:28:40.857' AS DateTime), CAST(209.52 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.769829 AS Decimal(9, 6)), CAST(-87.634799 AS Decimal(9, 6)), 0xE6100000010C9641B5C189E242402522FC8BA0E855C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1978, 160, CAST(N'2025-08-09T22:12:40.857' AS DateTime), CAST(212.08 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-87.609199 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E542406170CD1DFDE655C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1979, 160, CAST(N'2025-08-10T04:04:40.857' AS DateTime), CAST(194.16 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-87.588399 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240F17F4754A8E555C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1980, 160, CAST(N'2025-08-10T10:12:40.857' AS DateTime), CAST(196.72 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-87.662799 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE424094347F4C6BEA55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1981, 161, CAST(N'2025-08-09T11:16:40.857' AS DateTime), CAST(247.92 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.031135 AS Decimal(9, 6)), CAST(-112.095036 AS Decimal(9, 6)), 0xE6100000010C67614F3BFC03414054FCDF1115065CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1982, 161, CAST(N'2025-08-09T23:00:40.857' AS DateTime), CAST(250.48 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.056735 AS Decimal(9, 6)), CAST(-112.069436 AS Decimal(9, 6)), 0xE6100000010CF0C4AC1743074140904AB1A371045CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1983, 161, CAST(N'2025-08-10T11:00:40.857' AS DateTime), CAST(253.04 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.082335 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010C78280AF4890A4140CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1984, 161, CAST(N'2025-08-10T21:08:40.857' AS DateTime), CAST(235.12 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.003135 AS Decimal(9, 6)), CAST(-112.123036 AS Decimal(9, 6)), 0xE6100000010C8A3C49BA66004140C30E63D2DF075CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1985, 161, CAST(N'2025-08-11T07:32:40.857' AS DateTime), CAST(237.68 AS Decimal(18, 2)), N'New York', N'San Francisco', N'USA', CAST(34.028735 AS Decimal(9, 6)), CAST(-112.097436 AS Decimal(9, 6)), 0xE6100000010C12A0A696AD034140FF5C34643C065CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1986, 162, CAST(N'2025-08-11T22:28:40.857' AS DateTime), CAST(125.04 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-122.469218 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC4240732CEFAA079E5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1987, 162, CAST(N'2025-08-14T21:24:40.857' AS DateTime), CAST(127.60 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-122.443618 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E04240AF7AC03C649C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1988, 162, CAST(N'2025-08-17T20:36:40.857' AS DateTime), CAST(130.16 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-122.418018 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240EBC891CEC09A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1989, 162, CAST(N'2025-08-20T17:56:40.857' AS DateTime), CAST(112.24 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-122.397218 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642407BD80B056C995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1990, 162, CAST(N'2025-08-23T15:32:40.857' AS DateTime), CAST(114.80 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-122.371618 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE94240B726DD96C8975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1991, 163, CAST(N'2025-08-09T02:44:40.857' AS DateTime), CAST(166.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.672476 AS Decimal(9, 6)), CAST(-122.459618 AS Decimal(9, 6)), 0xE6100000010C26AC8DB113564440CAA99D616A9D5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1992, 163, CAST(N'2025-08-09T05:56:40.857' AS DateTime), CAST(168.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.698076 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010CAE0FEB8D5A59444005F86EF3C69B5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1993, 163, CAST(N'2025-08-09T09:24:40.857' AS DateTime), CAST(171.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.723676 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010C3673486AA15C444041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1994, 163, CAST(N'2025-08-09T11:00:40.857' AS DateTime), CAST(153.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F4440D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1995, 163, CAST(N'2025-08-09T12:52:40.857' AS DateTime), CAST(155.76 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1996, 164, CAST(N'2025-08-10T00:04:40.857' AS DateTime), CAST(370.80 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.746936 AS Decimal(9, 6)), CAST(-95.362004 AS Decimal(9, 6)), 0xE6100000010C3F1A4E999BDF43405B41D3122BD757C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1997, 164, CAST(N'2025-08-11T00:36:40.857' AS DateTime), CAST(373.36 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.772536 AS Decimal(9, 6)), CAST(-95.336404 AS Decimal(9, 6)), 0xE6100000010CC87DAB75E2E24340978FA4A487D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1998, 164, CAST(N'2025-08-12T01:24:40.857' AS DateTime), CAST(375.92 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.698136 AS Decimal(9, 6)), CAST(-95.410804 AS Decimal(9, 6)), 0xE6100000010C83143C855CD943403944DC9C4ADA57C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (1999, 164, CAST(N'2025-08-13T00:20:40.857' AS DateTime), CAST(358.00 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.718936 AS Decimal(9, 6)), CAST(-95.390004 AS Decimal(9, 6)), 0xE6100000010C62F5471806DC4340CA5356D3F5D857C0, N'Gas', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2000, 164, CAST(N'2025-08-13T23:32:40.857' AS DateTime), CAST(360.56 AS Decimal(18, 2)), N'Arizona', N'Houston', N'USA', CAST(39.744536 AS Decimal(9, 6)), CAST(-95.364404 AS Decimal(9, 6)), 0xE6100000010CEA58A5F44CDF434005A2276552D757C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2001, 165, CAST(N'2025-08-10T04:20:40.857' AS DateTime), CAST(411.76 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.623509 AS Decimal(9, 6)), CAST(-122.402018 AS Decimal(9, 6)), 0xE6100000010C7EE19524CFCF4740D099B4A9BA995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2002, 165, CAST(N'2025-08-11T09:08:40.857' AS DateTime), CAST(414.32 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.649109 AS Decimal(9, 6)), CAST(-122.376418 AS Decimal(9, 6)), 0xE6100000010C0745F30016D347400CE8853B17985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2003, 165, CAST(N'2025-08-12T14:12:40.857' AS DateTime), CAST(416.88 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.574709 AS Decimal(9, 6)), CAST(-122.450818 AS Decimal(9, 6)), 0xE6100000010CC2DB831090C94740AE9CBD33DA9C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2004, 165, CAST(N'2025-08-13T17:24:40.857' AS DateTime), CAST(398.96 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.595509 AS Decimal(9, 6)), CAST(-122.430018 AS Decimal(9, 6)), 0xE6100000010CA1BC8FA339CC47403FAC376A859B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2005, 165, CAST(N'2025-08-14T20:52:40.857' AS DateTime), CAST(401.52 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(47.621109 AS Decimal(9, 6)), CAST(-122.404418 AS Decimal(9, 6)), 0xE6100000010C2920ED7F80CF47407BFA08FCE1995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2006, 166, CAST(N'2025-08-09T15:32:40.857' AS DateTime), CAST(288.88 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.763429 AS Decimal(9, 6)), CAST(-95.381204 AS Decimal(9, 6)), 0xE6100000010CB4E89D0AB8E14240AE4676A565D857C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2007, 166, CAST(N'2025-08-10T07:32:40.857' AS DateTime), CAST(291.44 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.789029 AS Decimal(9, 6)), CAST(-95.355604 AS Decimal(9, 6)), 0xE6100000010C3C4CFBE6FEE44240EA944737C2D657C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2008, 166, CAST(N'2025-08-10T23:48:40.857' AS DateTime), CAST(294.00 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.814629 AS Decimal(9, 6)), CAST(-95.330004 AS Decimal(9, 6)), 0xE6100000010CC4AF58C345E8424026E318C91ED557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2009, 166, CAST(N'2025-08-11T14:12:40.857' AS DateTime), CAST(276.08 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.735429 AS Decimal(9, 6)), CAST(-95.409204 AS Decimal(9, 6)), 0xE6100000010CD7C3978922DE42401D59F96530DA57C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2010, 166, CAST(N'2025-08-12T04:52:40.857' AS DateTime), CAST(278.64 AS Decimal(18, 2)), N'Illinois', N'San Francisco', N'USA', CAST(37.761029 AS Decimal(9, 6)), CAST(-95.383604 AS Decimal(9, 6)), 0xE6100000010C5F27F56569E1424059A7CAF78CD857C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2011, 167, CAST(N'2025-08-09T19:48:40.857' AS DateTime), CAST(329.84 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.737336 AS Decimal(9, 6)), CAST(-122.421218 AS Decimal(9, 6)), 0xE6100000010CEC14AB0661DE4340239F573CF59A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2012, 167, CAST(N'2025-08-10T16:04:40.857' AS DateTime), CAST(332.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.762936 AS Decimal(9, 6)), CAST(-122.395618 AS Decimal(9, 6)), 0xE6100000010C757808E3A7E143405FED28CE51995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2013, 167, CAST(N'2025-08-11T12:36:40.857' AS DateTime), CAST(334.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.788536 AS Decimal(9, 6)), CAST(-122.370018 AS Decimal(9, 6)), 0xE6100000010CFDDB65BFEEE443409B3BFA5FAE975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2014, 167, CAST(N'2025-08-12T07:16:40.857' AS DateTime), CAST(317.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.709336 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C0FF0A485CBDA434092B1DAFCBF9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2015, 167, CAST(N'2025-08-13T02:12:40.857' AS DateTime), CAST(319.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.734936 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010C9753026212DE4340CEFFAB8E1C9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2016, 168, CAST(N'2025-08-10T17:08:40.857' AS DateTime), CAST(34.64 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.807781 AS Decimal(9, 6)), CAST(-87.583599 AS Decimal(9, 6)), 0xE6100000010C865451BCCACE39409DBE9EAF59E555C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2017, 168, CAST(N'2025-08-12T10:44:40.857' AS DateTime), CAST(37.20 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.733381 AS Decimal(9, 6)), CAST(-87.657999 AS Decimal(9, 6)), 0xE6100000010CFE8172DBBEBB39403F73D6A71CEA55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2018, 168, CAST(N'2025-08-14T04:36:40.857' AS DateTime), CAST(39.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.758981 AS Decimal(9, 6)), CAST(-87.632399 AS Decimal(9, 6)), 0xE6100000010C0E492D944CC239407BC1A73979E855C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2019, 168, CAST(N'2025-08-15T20:36:40.857' AS DateTime), CAST(21.84 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.779781 AS Decimal(9, 6)), CAST(-87.611599 AS Decimal(9, 6)), 0xE6100000010CCC0A45BA9FC739400BD1217024E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2020, 168, CAST(N'2025-08-17T12:52:40.857' AS DateTime), CAST(24.40 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(25.805381 AS Decimal(9, 6)), CAST(-87.585999 AS Decimal(9, 6)), 0xE6100000010CDDD1FF722DCE3940471FF30181E555C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2021, 169, CAST(N'2025-08-10T21:24:40.857' AS DateTime), CAST(75.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-71.103084 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD42406A2FA2ED98C651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2022, 169, CAST(N'2025-08-12T19:16:40.857' AS DateTime), CAST(78.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.756229 AS Decimal(9, 6)), CAST(-71.077484 AS Decimal(9, 6)), 0xE6100000010CB5A4A31CCCE04240A67D737FF5C451C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2023, 169, CAST(N'2025-08-14T17:24:40.857' AS DateTime), CAST(80.72 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.781829 AS Decimal(9, 6)), CAST(-71.051884 AS Decimal(9, 6)), 0xE6100000010C3E0801F912E44240E2CB441152C351C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2024, 169, CAST(N'2025-08-16T13:40:40.857' AS DateTime), CAST(62.80 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.802629 AS Decimal(9, 6)), CAST(-71.031084 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCE6424073DBBE47FDC151C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2025, 169, CAST(N'2025-08-18T10:12:40.857' AS DateTime), CAST(65.36 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.728229 AS Decimal(9, 6)), CAST(-71.105484 AS Decimal(9, 6)), 0xE6100000010CD87F9D9B36DD42401590F63FC0C651C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2026, 170, CAST(N'2025-08-10T08:36:40.857' AS DateTime), CAST(452.72 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.739676 AS Decimal(9, 6)), CAST(-112.047036 AS Decimal(9, 6)), 0xE6100000010C6CD102B4AD5E4440056F48A302035CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2027, 170, CAST(N'2025-08-11T17:40:40.857' AS DateTime), CAST(455.28 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.665276 AS Decimal(9, 6)), CAST(-112.121436 AS Decimal(9, 6)), 0xE6100000010C276893C327554440A723809BC5075CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2028, 170, CAST(N'2025-08-13T03:00:40.857' AS DateTime), CAST(457.84 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.690876 AS Decimal(9, 6)), CAST(-112.095836 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6E584440E371512D22065CC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2029, 170, CAST(N'2025-08-14T10:28:40.857' AS DateTime), CAST(439.92 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.711676 AS Decimal(9, 6)), CAST(-112.075036 AS Decimal(9, 6)), 0xE6100000010C8EACFC32185B44407381CB63CD045CC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2030, 170, CAST(N'2025-08-15T18:12:40.857' AS DateTime), CAST(442.48 AS Decimal(18, 2)), N'Massachusetts', N'San Francisco', N'USA', CAST(40.737276 AS Decimal(9, 6)), CAST(-112.049436 AS Decimal(9, 6)), 0xE6100000010C17105A0F5F5E4440AFCF9CF529035CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2031, 171, CAST(N'2025-08-10T12:52:40.857' AS DateTime), CAST(493.68 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.088735 AS Decimal(9, 6)), CAST(-95.333204 AS Decimal(9, 6)), 0xE6100000010C5A8121AB5B0B41405EB9DE3653D557C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2032, 171, CAST(N'2025-08-12T02:12:40.857' AS DateTime), CAST(496.24 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.014335 AS Decimal(9, 6)), CAST(-95.407604 AS Decimal(9, 6)), 0xE6100000010C1618B2BAD5014140016E162F16DA57C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2033, 171, CAST(N'2025-08-13T15:48:40.857' AS DateTime), CAST(498.80 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.039935 AS Decimal(9, 6)), CAST(-95.382004 AS Decimal(9, 6)), 0xE6100000010C9E7B0F971C0541403CBCE7C072D857C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2034, 171, CAST(N'2025-08-15T03:32:40.857' AS DateTime), CAST(480.88 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.060735 AS Decimal(9, 6)), CAST(-95.361204 AS Decimal(9, 6)), 0xE6100000010C7D5C1B2AC6074140CDCB61F71DD757C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2035, 171, CAST(N'2025-08-16T15:32:40.857' AS DateTime), CAST(483.44 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(34.086335 AS Decimal(9, 6)), CAST(-95.335604 AS Decimal(9, 6)), 0xE6100000010C05C078060D0B4140091A33897AD557C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2036, 172, CAST(N'2025-08-11T10:12:40.857' AS DateTime), CAST(198.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.744927 AS Decimal(9, 6)), CAST(-112.089436 AS Decimal(9, 6)), 0xE6100000010C4BE82E89B3BE3D4072C5C551B9055CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2037, 172, CAST(N'2025-08-13T20:52:40.857' AS DateTime), CAST(201.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.770527 AS Decimal(9, 6)), CAST(-112.063836 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141C53D40AD1397E315045CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2038, 172, CAST(N'2025-08-16T07:48:40.857' AS DateTime), CAST(203.60 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.796127 AS Decimal(9, 6)), CAST(-112.038236 AS Decimal(9, 6)), 0xE6100000010C6C76A4FACECB3D40E961687572025CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2039, 172, CAST(N'2025-08-18T16:52:40.857' AS DateTime), CAST(185.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.716927 AS Decimal(9, 6)), CAST(-112.117436 AS Decimal(9, 6)), 0xE6100000010C909E228788B73D40E0D7481284075CC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2040, 172, CAST(N'2025-08-21T02:12:40.857' AS DateTime), CAST(188.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.742527 AS Decimal(9, 6)), CAST(-112.091836 AS Decimal(9, 6)), 0xE6100000010CA165DD3F16BE3D401C261AA4E0055CC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2041, 173, CAST(N'2025-08-11T14:28:40.857' AS DateTime), CAST(239.44 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.354181 AS Decimal(9, 6)), CAST(-122.337869 AS Decimal(9, 6)), 0xE6100000010CAAEE91CD552D454043554CA59F955EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2042, 173, CAST(N'2025-08-14T05:24:40.857' AS DateTime), CAST(242.00 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.379781 AS Decimal(9, 6)), CAST(-122.312269 AS Decimal(9, 6)), 0xE6100000010C3352EFA99C3045407FA31D37FC935EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2043, 173, CAST(N'2025-08-16T20:36:40.857' AS DateTime), CAST(244.56 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.405381 AS Decimal(9, 6)), CAST(-122.286669 AS Decimal(9, 6)), 0xE6100000010CBBB54C86E3334540BBF1EEC858925EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2044, 173, CAST(N'2025-08-19T09:56:40.857' AS DateTime), CAST(226.64 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.326181 AS Decimal(9, 6)), CAST(-122.365869 AS Decimal(9, 6)), 0xE6100000010CCDC98B4CC0294540B267CF656A975EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2045, 173, CAST(N'2025-08-21T23:32:40.857' AS DateTime), CAST(229.20 AS Decimal(18, 2)), N'Texas', N'Phoenix', N'USA', CAST(42.351781 AS Decimal(9, 6)), CAST(-122.340269 AS Decimal(9, 6)), 0xE6100000010C562DE928072D4540EEB5A0F7C6955EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2046, 174, CAST(N'2025-08-11T01:40:40.857' AS DateTime), CAST(116.56 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.413676 AS Decimal(9, 6)), CAST(-118.278283 AS Decimal(9, 6)), 0xE6100000010CEF91CD55F3B4404019028063CF915DC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2047, 174, CAST(N'2025-08-13T03:48:40.857' AS DateTime), CAST(119.12 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.439276 AS Decimal(9, 6)), CAST(-118.252683 AS Decimal(9, 6)), 0xE6100000010C77F52A323AB84040555051F52B905DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2048, 174, CAST(N'2025-08-15T06:12:40.857' AS DateTime), CAST(121.68 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.464876 AS Decimal(9, 6)), CAST(-118.227083 AS Decimal(9, 6)), 0xE6100000010CFF58880E81BB4040909E2287888E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2049, 174, CAST(N'2025-08-17T06:44:40.857' AS DateTime), CAST(103.76 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.485676 AS Decimal(9, 6)), CAST(-118.206283 AS Decimal(9, 6)), 0xE6100000010CDE3994A12ABE404021AE9CBD338D5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2050, 174, CAST(N'2025-08-19T07:32:40.857' AS DateTime), CAST(106.32 AS Decimal(18, 2)), N'Florida', N'Miami', N'USA', CAST(33.411276 AS Decimal(9, 6)), CAST(-118.280683 AS Decimal(9, 6)), 0xE6100000010C9AD024B1A4B44040C362D4B5F6915DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2051, 175, CAST(N'2025-08-11T05:56:40.857' AS DateTime), CAST(157.52 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.687676 AS Decimal(9, 6)), CAST(-87.654799 AS Decimal(9, 6)), 0xE6100000010C3F1F65C405584440069D103AE8E955C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2052, 175, CAST(N'2025-08-13T12:20:40.857' AS DateTime), CAST(160.08 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.713276 AS Decimal(9, 6)), CAST(-87.629199 AS Decimal(9, 6)), 0xE6100000010CC782C2A04C5B444042EBE1CB44E855C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2053, 175, CAST(N'2025-08-15T19:00:40.857' AS DateTime), CAST(162.64 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.738876 AS Decimal(9, 6)), CAST(-87.603599 AS Decimal(9, 6)), 0xE6100000010C4FE61F7D935E44407E39B35DA1E655C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2054, 175, CAST(N'2025-08-17T23:48:40.857' AS DateTime), CAST(144.72 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.759676 AS Decimal(9, 6)), CAST(-87.582799 AS Decimal(9, 6)), 0xE6100000010C2EC72B103D6144400E492D944CE555C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2055, 175, CAST(N'2025-08-20T04:52:40.857' AS DateTime), CAST(147.28 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(40.685276 AS Decimal(9, 6)), CAST(-87.657199 AS Decimal(9, 6)), 0xE6100000010CEA5DBC1FB7574440B1FD648C0FEA55C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2056, 176, CAST(N'2025-08-09T03:16:40.857' AS DateTime), CAST(362.32 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.471276 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010CE2B19FC552BC4040ED629AE95E995EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2057, 176, CAST(N'2025-08-09T07:00:40.857' AS DateTime), CAST(364.88 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.496876 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010C6A15FDA199BF404029B16B7BBB975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2058, 176, CAST(N'2025-08-09T11:00:40.857' AS DateTime), CAST(367.44 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.422476 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010C26AC8DB113B64040CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2059, 176, CAST(N'2025-08-09T13:08:40.857' AS DateTime), CAST(349.52 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.443276 AS Decimal(9, 6)), CAST(-122.424418 AS Decimal(9, 6)), 0xE6100000010C048D9944BDB840405C751DAA299B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2060, 176, CAST(N'2025-08-09T15:32:40.857' AS DateTime), CAST(352.08 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(33.468876 AS Decimal(9, 6)), CAST(-122.398818 AS Decimal(9, 6)), 0xE6100000010C8DF0F62004BC404098C3EE3B86995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2061, 177, CAST(N'2025-08-09T07:32:40.857' AS DateTime), CAST(403.28 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.084735 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010CCDE9B298D80A4140B63176C24B7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2062, 177, CAST(N'2025-08-09T15:32:40.857' AS DateTime), CAST(405.84 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.010335 AS Decimal(9, 6)), CAST(-74.047774 AS Decimal(9, 6)), 0xE6100000010C888043A85201414058E6ADBA0E8352C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2063, 177, CAST(N'2025-08-09T23:48:40.857' AS DateTime), CAST(408.40 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.035935 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C11E4A0849904414094347F4C6B8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2064, 177, CAST(N'2025-08-10T06:12:40.857' AS DateTime), CAST(390.48 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.056735 AS Decimal(9, 6)), CAST(-74.001374 AS Decimal(9, 6)), 0xE6100000010CF0C4AC17430741402444F982168052C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2065, 177, CAST(N'2025-08-10T12:52:40.857' AS DateTime), CAST(393.04 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(34.082335 AS Decimal(9, 6)), CAST(-73.975774 AS Decimal(9, 6)), 0xE6100000010C78280AF4890A41406092CA14737E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2066, 178, CAST(N'2025-08-11T18:44:40.857' AS DateTime), CAST(280.40 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-87.625999 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE3424009151C5E10E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2067, 178, CAST(N'2025-08-14T13:56:40.857' AS DateTime), CAST(282.96 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-87.600399 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E642404563EDEF6CE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2068, 178, CAST(N'2025-08-17T09:24:40.857' AS DateTime), CAST(285.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-87.674799 AS Decimal(9, 6)), 0xE6100000010C115663096BDD4240E71725E82FEB55C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2069, 178, CAST(N'2025-08-20T03:00:40.857' AS DateTime), CAST(267.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.750629 AS Decimal(9, 6)), CAST(-87.653999 AS Decimal(9, 6)), 0xE6100000010CF0366F9C14E0424078279F1EDBE955C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2070, 178, CAST(N'2025-08-22T20:52:40.857' AS DateTime), CAST(270.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-87.628399 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE34240B47570B037E855C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2071, 179, CAST(N'2025-08-11T23:00:40.857' AS DateTime), CAST(321.36 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-122.406018 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E4424097E5EB32FC995EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2072, 179, CAST(N'2025-08-14T22:28:40.857' AS DateTime), CAST(323.92 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-122.380418 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE84240D333BDC458985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2073, 179, CAST(N'2025-08-17T22:12:40.857' AS DateTime), CAST(326.48 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-122.454818 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE424075E8F4BC1B9D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2074, 179, CAST(N'2025-08-20T20:04:40.857' AS DateTime), CAST(308.56 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.760229 AS Decimal(9, 6)), CAST(-122.434018 AS Decimal(9, 6)), 0xE6100000010C433C122F4FE1424005F86EF3C69B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2075, 179, CAST(N'2025-08-23T18:12:40.857' AS DateTime), CAST(311.12 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-122.408418 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E4424041464085239A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2076, 180, CAST(N'2025-08-09T20:20:40.857' AS DateTime), CAST(26.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.700536 AS Decimal(9, 6)), CAST(-95.408404 AS Decimal(9, 6)), 0xE6100000010CD8D5E429ABD943408FE3874A23DA57C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2077, 180, CAST(N'2025-08-10T17:08:40.857' AS DateTime), CAST(28.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.726136 AS Decimal(9, 6)), CAST(-95.382804 AS Decimal(9, 6)), 0xE6100000010C60394206F2DC4340CA3159DC7FD857C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2078, 180, CAST(N'2025-08-11T14:12:40.857' AS DateTime), CAST(31.28 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.751736 AS Decimal(9, 6)), CAST(-95.357204 AS Decimal(9, 6)), 0xE6100000010CE99C9FE238E0434006802A6EDCD657C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2079, 180, CAST(N'2025-08-12T09:24:40.857' AS DateTime), CAST(13.36 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.772536 AS Decimal(9, 6)), CAST(-95.336404 AS Decimal(9, 6)), 0xE6100000010CC87DAB75E2E24340978FA4A487D557C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2080, 180, CAST(N'2025-08-13T04:52:40.857' AS DateTime), CAST(15.92 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(39.698136 AS Decimal(9, 6)), CAST(-95.410804 AS Decimal(9, 6)), 0xE6100000010C83143C855CD943403944DC9C4ADA57C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2081, 181, CAST(N'2025-08-10T00:36:40.857' AS DateTime), CAST(67.12 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-118.272683 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF424036CB65A373915DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2082, 181, CAST(N'2025-08-11T01:40:40.857' AS DateTime), CAST(69.68 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-118.247083 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424072193735D08F5DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2083, 181, CAST(N'2025-08-12T03:00:40.857' AS DateTime), CAST(72.24 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-118.221483 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E64240AE6708C72C8E5DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2084, 181, CAST(N'2025-08-13T02:28:40.857' AS DateTime), CAST(54.32 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-118.200683 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842403E7782FDD78C5DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2085, 181, CAST(N'2025-08-14T02:12:40.857' AS DateTime), CAST(56.88 AS Decimal(18, 2)), N'California', N'Phoenix', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-118.275083 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF4240E02BBAF59A915DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2086, 182, CAST(N'2025-08-09T11:48:40.857' AS DateTime), CAST(444.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.402181 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C4A09C1AA7A3345409A5DF75624985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2087, 182, CAST(N'2025-08-10T00:04:40.857' AS DateTime), CAST(446.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.327781 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010C06A051BAF42945403C122F4FE79C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2088, 182, CAST(N'2025-08-10T12:36:40.857' AS DateTime), CAST(449.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.353381 AS Decimal(9, 6)), CAST(-122.426018 AS Decimal(9, 6)), 0xE6100000010C8E03AF963B2D4540786000E1439B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2089, 182, CAST(N'2025-08-10T23:16:40.857' AS DateTime), CAST(431.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.374181 AS Decimal(9, 6)), CAST(-122.405218 AS Decimal(9, 6)), 0xE6100000010C6DE4BA29E52F454009707A17EF995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2090, 182, CAST(N'2025-08-11T10:12:40.857' AS DateTime), CAST(434.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(42.399781 AS Decimal(9, 6)), CAST(-122.379618 AS Decimal(9, 6)), 0xE6100000010CF54718062C33454044BE4BA94B985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2091, 183, CAST(N'2025-08-09T16:04:40.857' AS DateTime), CAST(485.20 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.712127 AS Decimal(9, 6)), CAST(-71.107084 AS Decimal(9, 6)), 0xE6100000010C3D997FF44DB63D40317BD976DAC651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2092, 183, CAST(N'2025-08-10T08:36:40.857' AS DateTime), CAST(487.76 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.737727 AS Decimal(9, 6)), CAST(-71.081484 AS Decimal(9, 6)), 0xE6100000010C4E603AADDBBC3D406DC9AA0837C551C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2093, 183, CAST(N'2025-08-11T01:24:40.857' AS DateTime), CAST(490.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.763327 AS Decimal(9, 6)), CAST(-71.055884 AS Decimal(9, 6)), 0xE6100000010C5F27F56569C33D40A9177C9A93C351C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2094, 183, CAST(N'2025-08-11T16:20:40.857' AS DateTime), CAST(472.40 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.784127 AS Decimal(9, 6)), CAST(-71.035084 AS Decimal(9, 6)), 0xE6100000010C1DE90C8CBCC83D403927F6D03EC251C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2095, 183, CAST(N'2025-08-12T07:32:40.857' AS DateTime), CAST(474.96 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(29.809727 AS Decimal(9, 6)), CAST(-71.009484 AS Decimal(9, 6)), 0xE6100000010C2DB0C7444ACF3D407575C7629BC051C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2096, 184, CAST(N'2025-08-10T13:24:40.857' AS DateTime), CAST(190.00 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.760127 AS Decimal(9, 6)), CAST(-74.006174 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97C23D407905A227658052C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2097, 184, CAST(N'2025-08-12T03:16:40.857' AS DateTime), CAST(192.56 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.785727 AS Decimal(9, 6)), CAST(-73.980574 AS Decimal(9, 6)), 0xE6100000010C8E95986725C93D40B55373B9C17E52C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2098, 184, CAST(N'2025-08-13T17:24:40.857' AS DateTime), CAST(195.12 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.711327 AS Decimal(9, 6)), CAST(-74.054974 AS Decimal(9, 6)), 0xE6100000010C05C3B98619B63D405708ABB1848352C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2099, 184, CAST(N'2025-08-15T05:40:40.857' AS DateTime), CAST(177.20 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.732127 AS Decimal(9, 6)), CAST(-74.034174 AS Decimal(9, 6)), 0xE6100000010CC284D1AC6CBB3D40E71725E82F8252C0, N'Gas', 1)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2100, 184, CAST(N'2025-08-16T18:12:40.857' AS DateTime), CAST(179.76 AS Decimal(18, 2)), N'Colorado', N'Phoenix', N'USA', CAST(29.757727 AS Decimal(9, 6)), CAST(-74.008574 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FAC13D402366F6798C8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2101, 185, CAST(N'2025-08-10T17:40:40.857' AS DateTime), CAST(230.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.061535 AS Decimal(9, 6)), CAST(-87.620399 AS Decimal(9, 6)), 0xE6100000010C9947FE60E007414027DE019EB4E755C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2102, 185, CAST(N'2025-08-12T11:48:40.857' AS DateTime), CAST(233.52 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.087135 AS Decimal(9, 6)), CAST(-87.594799 AS Decimal(9, 6)), 0xE6100000010C22AB5B3D270B4140622CD32F11E655C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2103, 185, CAST(N'2025-08-14T06:12:40.857' AS DateTime), CAST(236.08 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.012735 AS Decimal(9, 6)), CAST(-87.669199 AS Decimal(9, 6)), 0xE6100000010CDD41EC4CA101414005E10A28D4EA55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2104, 185, CAST(N'2025-08-15T22:44:40.857' AS DateTime), CAST(218.16 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.033535 AS Decimal(9, 6)), CAST(-87.648399 AS Decimal(9, 6)), 0xE6100000010CBC22F8DF4A04414095F0845E7FE955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2105, 185, CAST(N'2025-08-17T15:32:40.857' AS DateTime), CAST(220.72 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(34.059135 AS Decimal(9, 6)), CAST(-87.622799 AS Decimal(9, 6)), 0xE6100000010C448655BC91074140D13E56F0DBE755C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2106, 186, CAST(N'2025-08-10T04:52:40.857' AS DateTime), CAST(108.08 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-87.649199 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E042402366F6798CE955C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2107, 186, CAST(N'2025-08-11T10:12:40.857' AS DateTime), CAST(110.64 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.781029 AS Decimal(9, 6)), CAST(-87.623599 AS Decimal(9, 6)), 0xE6100000010C211D1EC2F8E342405FB4C70BE9E755C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2108, 186, CAST(N'2025-08-12T15:48:40.857' AS DateTime), CAST(113.20 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.806629 AS Decimal(9, 6)), CAST(-87.597999 AS Decimal(9, 6)), 0xE6100000010CAA807B9E3FE742409B02999D45E655C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2109, 186, CAST(N'2025-08-13T19:32:40.857' AS DateTime), CAST(95.28 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-87.677199 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD42409278793A57EB55C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2110, 186, CAST(N'2025-08-14T23:32:40.857' AS DateTime), CAST(97.84 AS Decimal(18, 2)), N'Texas', N'Chicago', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-87.651599 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240CEC64ACCB3E955C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2111, 187, CAST(N'2025-08-10T09:08:40.857' AS DateTime), CAST(149.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.596309 AS Decimal(9, 6)), CAST(-122.429218 AS Decimal(9, 6)), 0xE6100000010CBDA772DA53CC4740B136C64E789B5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2112, 187, CAST(N'2025-08-11T18:44:40.857' AS DateTime), CAST(151.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.621909 AS Decimal(9, 6)), CAST(-122.403618 AS Decimal(9, 6)), 0xE6100000010C460BD0B69ACF4740EC8497E0D4995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2113, 187, CAST(N'2025-08-13T04:36:40.857' AS DateTime), CAST(154.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.647509 AS Decimal(9, 6)), CAST(-122.378018 AS Decimal(9, 6)), 0xE6100000010CCE6E2D93E1D2474028D3687231985EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2114, 187, CAST(N'2025-08-14T12:36:40.857' AS DateTime), CAST(136.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.568309 AS Decimal(9, 6)), CAST(-122.457218 AS Decimal(9, 6)), 0xE6100000010CE0826C59BEC847401F49490F439D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2115, 187, CAST(N'2025-08-15T20:52:40.857' AS DateTime), CAST(138.80 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.593909 AS Decimal(9, 6)), CAST(-122.431618 AS Decimal(9, 6)), 0xE6100000010C68E6C93505CC47405B971AA19F9B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2116, 188, CAST(N'2025-08-11T06:28:40.857' AS DateTime), CAST(353.84 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.813029 AS Decimal(9, 6)), CAST(-71.020684 AS Decimal(9, 6)), 0xE6100000010C8CD9925511E842403BE3FBE252C151C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2117, 188, CAST(N'2025-08-13T13:24:40.857' AS DateTime), CAST(356.40 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.738629 AS Decimal(9, 6)), CAST(-71.095084 AS Decimal(9, 6)), 0xE6100000010C487023658BDE4240DD9733DB15C651C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2118, 188, CAST(N'2025-08-15T20:36:40.857' AS DateTime), CAST(358.96 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.764229 AS Decimal(9, 6)), CAST(-71.069484 AS Decimal(9, 6)), 0xE6100000010CD0D38041D2E1424019E6046D72C451C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2119, 188, CAST(N'2025-08-18T01:56:40.857' AS DateTime), CAST(341.04 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.785029 AS Decimal(9, 6)), CAST(-71.048684 AS Decimal(9, 6)), 0xE6100000010CAFB48CD47BE44240A9F57EA31DC351C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2120, 188, CAST(N'2025-08-20T07:32:40.857' AS DateTime), CAST(343.60 AS Decimal(18, 2)), N'Illinois', N'Chicago', N'USA', CAST(37.810629 AS Decimal(9, 6)), CAST(-71.023084 AS Decimal(9, 6)), 0xE6100000010C3718EAB0C2E74240E54350357AC151C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2121, 189, CAST(N'2025-08-11T10:44:40.857' AS DateTime), CAST(394.80 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.496076 AS Decimal(9, 6)), CAST(-122.371618 AS Decimal(9, 6)), 0xE6100000010C4E2A1A6B7FBF4040B726DD96C8975EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2122, 189, CAST(N'2025-08-13T21:56:40.857' AS DateTime), CAST(397.36 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.421676 AS Decimal(9, 6)), CAST(-122.446018 AS Decimal(9, 6)), 0xE6100000010C09C1AA7AF9B5404059DB148F8B9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2123, 189, CAST(N'2025-08-16T09:24:40.857' AS DateTime), CAST(399.92 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.447276 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C9224085740B940409529E620E89A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2124, 189, CAST(N'2025-08-18T19:00:40.857' AS DateTime), CAST(382.00 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.468076 AS Decimal(9, 6)), CAST(-122.399618 AS Decimal(9, 6)), 0xE6100000010C710514EAE9BB40402639605793995EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2125, 189, CAST(N'2025-08-21T04:52:40.857' AS DateTime), CAST(384.56 AS Decimal(18, 2)), N'Florida', N'Seattle', N'USA', CAST(33.493676 AS Decimal(9, 6)), CAST(-122.374018 AS Decimal(9, 6)), 0xE6100000010CF96871C630BF4040628731E9EF975EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2126, 190, CAST(N'2025-08-10T21:56:40.857' AS DateTime), CAST(271.92 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.758136 AS Decimal(9, 6)), CAST(-122.400418 AS Decimal(9, 6)), 0xE6100000010CCBF5B6990AE14340B4AED172A0995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2127, 190, CAST(N'2025-08-12T20:20:40.857' AS DateTime), CAST(274.48 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.783736 AS Decimal(9, 6)), CAST(-122.374818 AS Decimal(9, 6)), 0xE6100000010C5359147651E44340F0FCA204FD975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2128, 190, CAST(N'2025-08-14T19:00:40.857' AS DateTime), CAST(277.04 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.709336 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C0FF0A485CBDA434092B1DAFCBF9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2129, 190, CAST(N'2025-08-16T15:48:40.857' AS DateTime), CAST(259.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.730136 AS Decimal(9, 6)), CAST(-122.428418 AS Decimal(9, 6)), 0xE6100000010CEED0B01875DD434022C154336B9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2130, 190, CAST(N'2025-08-18T12:52:40.857' AS DateTime), CAST(261.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(39.755736 AS Decimal(9, 6)), CAST(-122.402818 AS Decimal(9, 6)), 0xE6100000010C76340EF5BBE043405E0F26C5C7995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2131, 191, CAST(N'2025-08-11T02:12:40.857' AS DateTime), CAST(312.88 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-73.977374 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E642407C7DAD4B8D7E52C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2132, 191, CAST(N'2025-08-13T04:52:40.857' AS DateTime), CAST(315.44 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.729029 AS Decimal(9, 6)), CAST(-74.051774 AS Decimal(9, 6)), 0xE6100000010CF46A80D250DD42401E32E543508352C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2133, 191, CAST(N'2025-08-15T07:48:40.857' AS DateTime), CAST(318.00 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-74.026174 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E042405A80B6D5AC8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2134, 191, CAST(N'2025-08-17T08:52:40.857' AS DateTime), CAST(300.08 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.775429 AS Decimal(9, 6)), CAST(-74.005374 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141E34240EB8F300C588052C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2135, 191, CAST(N'2025-08-19T10:12:40.857' AS DateTime), CAST(302.64 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-73.979774 AS Decimal(9, 6)), 0xE6100000010CE412471E88E6424027DE019EB47E52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2136, 192, CAST(N'2025-08-09T14:28:40.857' AS DateTime), CAST(396.24 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.568309 AS Decimal(9, 6)), CAST(-80.229588 AS Decimal(9, 6)), 0xE6100000010CE0826C59BEC8474076E3DD91B10E54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2137, 192, CAST(N'2025-08-10T05:24:40.857' AS DateTime), CAST(398.80 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.593909 AS Decimal(9, 6)), CAST(-80.203988 AS Decimal(9, 6)), 0xE6100000010C68E6C93505CC4740B131AF230E0D54C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2138, 192, CAST(N'2025-08-10T20:36:40.857' AS DateTime), CAST(401.36 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.619509 AS Decimal(9, 6)), CAST(-80.178388 AS Decimal(9, 6)), 0xE6100000010CF14927124CCF4740ED7F80B56A0B54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2139, 192, CAST(N'2025-08-11T09:56:40.857' AS DateTime), CAST(383.44 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.640309 AS Decimal(9, 6)), CAST(-80.157588 AS Decimal(9, 6)), 0xE6100000010CD02A33A5F5D147407E8FFAEB150A54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2140, 192, CAST(N'2025-08-11T23:32:40.857' AS DateTime), CAST(386.00 AS Decimal(18, 2)), N'Texas', N'San Francisco', N'USA', CAST(47.565909 AS Decimal(9, 6)), CAST(-80.231988 AS Decimal(9, 6)), 0xE6100000010C8BC1C3B46FC84740204432E4D80E54C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2141, 193, CAST(N'2025-08-09T18:44:40.857' AS DateTime), CAST(437.20 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.849813 AS Decimal(9, 6)), CAST(-122.447618 AS Decimal(9, 6)), 0xE6100000010C9A5B21ACC6EC444076C6F7C5A59C5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2142, 193, CAST(N'2025-08-10T13:56:40.857' AS DateTime), CAST(439.76 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.875413 AS Decimal(9, 6)), CAST(-122.422018 AS Decimal(9, 6)), 0xE6100000010C23BF7E880DF04440B114C957029B5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2143, 193, CAST(N'2025-08-11T09:24:40.857' AS DateTime), CAST(442.32 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.901013 AS Decimal(9, 6)), CAST(-122.396418 AS Decimal(9, 6)), 0xE6100000010CAB22DC6454F34440ED629AE95E995EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2144, 193, CAST(N'2025-08-12T03:00:40.857' AS DateTime), CAST(424.40 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.921813 AS Decimal(9, 6)), CAST(-122.375618 AS Decimal(9, 6)), 0xE6100000010C8A03E8F7FDF544407E7214200A985EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2145, 193, CAST(N'2025-08-12T20:52:40.857' AS DateTime), CAST(426.96 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(41.847413 AS Decimal(9, 6)), CAST(-122.450018 AS Decimal(9, 6)), 0xE6100000010C469A780778EC444020274C18CD9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2146, 194, CAST(N'2025-08-09T05:56:40.857' AS DateTime), CAST(314.32 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.817829 AS Decimal(9, 6)), CAST(-122.289069 AS Decimal(9, 6)), 0xE6100000010C365CE49EAEE842406552431B80925EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2147, 194, CAST(N'2025-08-09T12:20:40.857' AS DateTime), CAST(316.88 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-122.363469 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF424007077B1343975EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2148, 194, CAST(N'2025-08-09T19:00:40.857' AS DateTime), CAST(319.44 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-122.337869 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE2424043554CA59F955EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2149, 194, CAST(N'2025-08-09T23:48:40.857' AS DateTime), CAST(301.52 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.789829 AS Decimal(9, 6)), CAST(-122.317069 AS Decimal(9, 6)), 0xE6100000010C5837DE1D19E54240D464C6DB4A945EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2150, 194, CAST(N'2025-08-10T04:52:40.857' AS DateTime), CAST(304.08 AS Decimal(18, 2)), N'Washington', N'New York', N'USA', CAST(37.815429 AS Decimal(9, 6)), CAST(-122.291469 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FE8424010B3976DA7925EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2151, 195, CAST(N'2025-08-09T10:12:40.857' AS DateTime), CAST(355.28 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.727429 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CBC94BA641CDD4240C9CB9A58E09D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2152, 195, CAST(N'2025-08-09T20:52:40.857' AS DateTime), CAST(357.84 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.753029 AS Decimal(9, 6)), CAST(-122.441218 AS Decimal(9, 6)), 0xE6100000010C44F8174163E04240051A6CEA3C9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2153, 195, CAST(N'2025-08-10T07:48:40.857' AS DateTime), CAST(360.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.778629 AS Decimal(9, 6)), CAST(-122.415618 AS Decimal(9, 6)), 0xE6100000010CCD5B751DAAE3424040683D7C999A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2154, 195, CAST(N'2025-08-10T16:52:40.857' AS DateTime), CAST(342.48 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.799429 AS Decimal(9, 6)), CAST(-122.394818 AS Decimal(9, 6)), 0xE6100000010CAC3C81B053E64240D177B7B244995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2155, 195, CAST(N'2025-08-11T02:12:40.857' AS DateTime), CAST(345.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.725029 AS Decimal(9, 6)), CAST(-122.469218 AS Decimal(9, 6)), 0xE6100000010C67D311C0CDDC4240732CEFAA079E5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2156, 196, CAST(N'2025-08-10T07:32:40.857' AS DateTime), CAST(60.08 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.775429 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010C5CAFE94141E34240793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2157, 196, CAST(N'2025-08-11T15:32:40.857' AS DateTime), CAST(62.64 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-122.393218 AS Decimal(9, 6)), 0xE6100000010CE412471E88E64240B58CD47B2A995EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2158, 196, CAST(N'2025-08-12T23:48:40.857' AS DateTime), CAST(65.20 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-122.467618 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424057410C74ED9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2159, 196, CAST(N'2025-08-14T06:12:40.857' AS DateTime), CAST(47.28 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.747429 AS Decimal(9, 6)), CAST(-122.446818 AS Decimal(9, 6)), 0xE6100000010C7E8AE3C0ABDF4240E75086AA989C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2160, 196, CAST(N'2025-08-15T12:52:40.857' AS DateTime), CAST(49.84 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.773029 AS Decimal(9, 6)), CAST(-122.421218 AS Decimal(9, 6)), 0xE6100000010C07EE409DF2E24240239F573CF59A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2161, 197, CAST(N'2025-08-10T11:48:40.857' AS DateTime), CAST(101.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.749336 AS Decimal(9, 6)), CAST(-95.359604 AS Decimal(9, 6)), 0xE6100000010C94DBF63DEADF4340B1E07EC003D757C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2162, 197, CAST(N'2025-08-12T00:04:40.857' AS DateTime), CAST(103.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.774936 AS Decimal(9, 6)), CAST(-95.334004 AS Decimal(9, 6)), 0xE6100000010C1C3F541A31E34340EC2E505260D557C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2163, 197, CAST(N'2025-08-13T12:36:40.857' AS DateTime), CAST(106.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.700536 AS Decimal(9, 6)), CAST(-95.408404 AS Decimal(9, 6)), 0xE6100000010CD8D5E429ABD943408FE3874A23DA57C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2164, 197, CAST(N'2025-08-14T23:16:40.857' AS DateTime), CAST(88.24 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.721336 AS Decimal(9, 6)), CAST(-95.387604 AS Decimal(9, 6)), 0xE6100000010CB7B6F0BC54DC43401FF30181CED857C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2165, 197, CAST(N'2025-08-16T10:12:40.857' AS DateTime), CAST(90.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(39.746936 AS Decimal(9, 6)), CAST(-95.362004 AS Decimal(9, 6)), 0xE6100000010C3F1A4E999BDF43405B41D3122BD757C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2166, 198, CAST(N'2025-08-09T23:00:40.857' AS DateTime), CAST(478.16 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.720536 AS Decimal(9, 6)), CAST(-74.024574 AS Decimal(9, 6)), 0xE6100000010C9BCB0D863ADC43403E95D39E928152C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2167, 198, CAST(N'2025-08-10T22:28:40.857' AS DateTime), CAST(480.72 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.746136 AS Decimal(9, 6)), CAST(-73.998974 AS Decimal(9, 6)), 0xE6100000010C232F6B6281DF43407AE3A430EF7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2168, 198, CAST(N'2025-08-11T22:12:40.857' AS DateTime), CAST(483.28 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.771736 AS Decimal(9, 6)), CAST(-73.973374 AS Decimal(9, 6)), 0xE6100000010CAB92C83EC8E24340B63176C24B7E52C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2169, 198, CAST(N'2025-08-12T20:04:40.857' AS DateTime), CAST(465.36 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.692536 AS Decimal(9, 6)), CAST(-74.052574 AS Decimal(9, 6)), 0xE6100000010CBDA60705A5D84340ADA7565F5D8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2170, 198, CAST(N'2025-08-13T18:12:40.857' AS DateTime), CAST(467.92 AS Decimal(18, 2)), N'Massachusetts', N'Houston', N'USA', CAST(39.718136 AS Decimal(9, 6)), CAST(-74.026974 AS Decimal(9, 6)), 0xE6100000010C460A65E1EBDB4340E8F527F1B98152C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2171, 199, CAST(N'2025-08-10T03:16:40.857' AS DateTime), CAST(19.12 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.350981 AS Decimal(9, 6)), CAST(-118.252683 AS Decimal(9, 6)), 0xE6100000010C394206F2EC2C4540555051F52B905DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2172, 199, CAST(N'2025-08-11T07:00:40.857' AS DateTime), CAST(21.68 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.376581 AS Decimal(9, 6)), CAST(-118.227083 AS Decimal(9, 6)), 0xE6100000010CC2A563CE33304540909E2287888E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2173, 199, CAST(N'2025-08-12T11:00:40.857' AS DateTime), CAST(24.24 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.402181 AS Decimal(9, 6)), CAST(-118.201483 AS Decimal(9, 6)), 0xE6100000010C4A09C1AA7A334540CCECF318E58C5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2174, 199, CAST(N'2025-08-13T13:08:40.857' AS DateTime), CAST(6.32 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.322981 AS Decimal(9, 6)), CAST(-118.280683 AS Decimal(9, 6)), 0xE6100000010C5C1D007157294540C362D4B5F6915DC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2175, 199, CAST(N'2025-08-14T15:32:40.857' AS DateTime), CAST(8.88 AS Decimal(18, 2)), N'Illinois', N'Phoenix', N'USA', CAST(42.348581 AS Decimal(9, 6)), CAST(-118.255083 AS Decimal(9, 6)), 0xE6100000010CE5805D4D9E2C4540FFB0A54753905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2176, 200, CAST(N'2025-08-11T00:36:40.857' AS DateTime), CAST(223.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-87.590799 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE842409CE09BA6CFE555C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2177, 200, CAST(N'2025-08-13T01:40:40.857' AS DateTime), CAST(226.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-87.665199 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE42403E95D39E92EA55C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2178, 200, CAST(N'2025-08-15T03:00:40.857' AS DateTime), CAST(229.04 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-87.639599 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE142407AE3A430EFE855C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2179, 200, CAST(N'2025-08-17T02:28:40.857' AS DateTime), CAST(211.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.785829 AS Decimal(9, 6)), CAST(-87.618799 AS Decimal(9, 6)), 0xE6100000010CCB9F6F0B96E442400AF31E679AE755C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2180, 200, CAST(N'2025-08-19T02:12:40.857' AS DateTime), CAST(213.68 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.811429 AS Decimal(9, 6)), CAST(-87.593199 AS Decimal(9, 6)), 0xE6100000010C5303CDE7DCE742404641F0F8F6E555C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2181, 201, CAST(N'2025-08-11T04:52:40.857' AS DateTime), CAST(264.88 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.823429 AS Decimal(9, 6)), CAST(-122.370818 AS Decimal(9, 6)), 0xE6100000010CFBC9181F66E9424029B16B7BBB975EC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2182, 201, CAST(N'2025-08-13T10:12:40.857' AS DateTime), CAST(267.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.749029 AS Decimal(9, 6)), CAST(-122.445218 AS Decimal(9, 6)), 0xE6100000010CB760A92EE0DF4240CB65A3737E9C5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2183, 201, CAST(N'2025-08-15T15:48:40.857' AS DateTime), CAST(270.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.774629 AS Decimal(9, 6)), CAST(-122.419618 AS Decimal(9, 6)), 0xE6100000010C3FC4060B27E3424007B47405DB9A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2184, 201, CAST(N'2025-08-17T19:32:40.857' AS DateTime), CAST(252.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.795429 AS Decimal(9, 6)), CAST(-122.398818 AS Decimal(9, 6)), 0xE6100000010C1EA5129ED0E5424098C3EE3B86995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2185, 201, CAST(N'2025-08-19T23:32:40.857' AS DateTime), CAST(254.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.821029 AS Decimal(9, 6)), CAST(-122.373218 AS Decimal(9, 6)), 0xE6100000010CA708707A17E94240D311C0CDE2975EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2186, 202, CAST(N'2025-08-10T16:04:40.857' AS DateTime), CAST(142.00 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.794629 AS Decimal(9, 6)), CAST(-112.054236 AS Decimal(9, 6)), 0xE6100000010C02BA2F67B6E542400491459A78035CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2187, 202, CAST(N'2025-08-12T08:36:40.857' AS DateTime), CAST(144.56 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.820229 AS Decimal(9, 6)), CAST(-112.028636 AS Decimal(9, 6)), 0xE6100000010C8A1D8D43FDE8424040DF162CD5015CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2188, 202, CAST(N'2025-08-14T01:24:40.857' AS DateTime), CAST(147.12 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.745829 AS Decimal(9, 6)), CAST(-112.103036 AS Decimal(9, 6)), 0xE6100000010C46B41D5377DF4240E2934E2498065CC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2189, 202, CAST(N'2025-08-15T16:20:40.857' AS DateTime), CAST(129.20 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-112.082236 AS Decimal(9, 6)), 0xE6100000010C259529E620E2424072A3C85A43055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2190, 202, CAST(N'2025-08-17T07:32:40.857' AS DateTime), CAST(131.76 AS Decimal(18, 2)), N'Illinois', N'Boston', N'USA', CAST(37.792229 AS Decimal(9, 6)), CAST(-112.056636 AS Decimal(9, 6)), 0xE6100000010CADF886C267E54240AEF199EC9F035CC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2191, 203, CAST(N'2025-08-10T20:20:40.857' AS DateTime), CAST(182.96 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.804229 AS Decimal(9, 6)), CAST(-73.976574 AS Decimal(9, 6)), 0xE6100000010C55BFD2F9F0E64240EE073C30807E52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2192, 203, CAST(N'2025-08-12T17:08:40.857' AS DateTime), CAST(185.52 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-74.050974 AS Decimal(9, 6)), 0xE6100000010C115663096BDD424090BC7328438352C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2193, 203, CAST(N'2025-08-14T14:12:40.857' AS DateTime), CAST(188.08 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-74.025374 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E04240CC0A45BA9F8152C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2194, 203, CAST(N'2025-08-16T09:24:40.857' AS DateTime), CAST(170.16 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.776229 AS Decimal(9, 6)), CAST(-74.004574 AS Decimal(9, 6)), 0xE6100000010C789ACC785BE342405D1ABFF04A8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2195, 203, CAST(N'2025-08-18T04:52:40.857' AS DateTime), CAST(172.72 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(37.801829 AS Decimal(9, 6)), CAST(-73.978974 AS Decimal(9, 6)), 0xE6100000010C00FE2955A2E6424098689082A77E52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2196, 204, CAST(N'2025-08-11T17:40:40.857' AS DateTime), CAST(387.76 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.752229 AS Decimal(9, 6)), CAST(-87.652399 AS Decimal(9, 6)), 0xE6100000010C280D350A49E042405C3CBCE7C0E955C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2197, 204, CAST(N'2025-08-14T11:48:40.857' AS DateTime), CAST(390.32 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.777829 AS Decimal(9, 6)), CAST(-87.626799 AS Decimal(9, 6)), 0xE6100000010CB07092E68FE34240988A8D791DE855C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2198, 204, CAST(N'2025-08-17T06:12:40.857' AS DateTime), CAST(392.88 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.803429 AS Decimal(9, 6)), CAST(-87.601199 AS Decimal(9, 6)), 0xE6100000010C39D4EFC2D6E64240D3D85E0B7AE655C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2199, 204, CAST(N'2025-08-19T22:44:40.857' AS DateTime), CAST(374.96 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.824229 AS Decimal(9, 6)), CAST(-87.580399 AS Decimal(9, 6)), 0xE6100000010C18B5FB5580E9424064E8D84125E555C0, N'Grocery', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2200, 204, CAST(N'2025-08-22T15:32:40.857' AS DateTime), CAST(377.52 AS Decimal(18, 2)), N'Colorado', N'Denver', N'USA', CAST(37.749829 AS Decimal(9, 6)), CAST(-87.654799 AS Decimal(9, 6)), 0xE6100000010CD34B8C65FADF4240069D103AE8E955C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2201, 205, CAST(N'2025-08-11T21:56:40.857' AS DateTime), CAST(428.72 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.865013 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010CB3CEF8BEB8EE4440E90C8CBCAC9B5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2202, 205, CAST(N'2025-08-14T20:20:40.857' AS DateTime), CAST(431.28 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.890613 AS Decimal(9, 6)), CAST(-122.406818 AS Decimal(9, 6)), 0xE6100000010C3C32569BFFF14440255B5D4E099A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2203, 205, CAST(N'2025-08-17T19:00:40.857' AS DateTime), CAST(433.84 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.916213 AS Decimal(9, 6)), CAST(-122.381218 AS Decimal(9, 6)), 0xE6100000010CC495B37746F5444061A92EE065985EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2204, 205, CAST(N'2025-08-20T15:48:40.857' AS DateTime), CAST(415.92 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.837013 AS Decimal(9, 6)), CAST(-122.460418 AS Decimal(9, 6)), 0xE6100000010CD6A9F23D23EB4440581F0F7D779D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2205, 205, CAST(N'2025-08-23T12:52:40.857' AS DateTime), CAST(418.48 AS Decimal(18, 2)), N'Florida', N'Los Angeles', N'USA', CAST(41.862613 AS Decimal(9, 6)), CAST(-122.434818 AS Decimal(9, 6)), 0xE6100000010C5F0D501A6AEE4440946DE00ED49B5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2206, 206, CAST(N'2025-08-11T09:08:40.857' AS DateTime), CAST(305.84 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.733029 AS Decimal(9, 6)), CAST(-112.115836 AS Decimal(9, 6)), 0xE6100000010C8202EFE4D3DD4240C4EC65DB69075CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2207, 206, CAST(N'2025-08-13T18:44:40.857' AS DateTime), CAST(308.40 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.758629 AS Decimal(9, 6)), CAST(-112.090236 AS Decimal(9, 6)), 0xE6100000010C0A664CC11AE14240003B376DC6055CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2208, 206, CAST(N'2025-08-16T04:36:40.857' AS DateTime), CAST(310.96 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-112.064636 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E442403B8908FF22045CC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2209, 206, CAST(N'2025-08-18T12:36:40.857' AS DateTime), CAST(293.04 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.805029 AS Decimal(9, 6)), CAST(-112.043836 AS Decimal(9, 6)), 0xE6100000010C71AAB5300BE74240CC988235CE025CC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2210, 206, CAST(N'2025-08-20T20:52:40.857' AS DateTime), CAST(295.60 AS Decimal(18, 2)), N'New York', N'Los Angeles', N'USA', CAST(37.730629 AS Decimal(9, 6)), CAST(-112.118236 AS Decimal(9, 6)), 0xE6100000010C2D41464085DD42406E4DBA2D91075CC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2211, 207, CAST(N'2025-08-11T13:24:40.857' AS DateTime), CAST(346.80 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.416076 AS Decimal(9, 6)), CAST(-74.038174 AS Decimal(9, 6)), 0xE6100000010C435376FA41B54040AE635C71718252C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2212, 207, CAST(N'2025-08-14T03:16:40.857' AS DateTime), CAST(349.36 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.441676 AS Decimal(9, 6)), CAST(-74.012574 AS Decimal(9, 6)), 0xE6100000010CCCB6D3D688B84040EAB12D03CE8052C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2213, 207, CAST(N'2025-08-16T17:24:40.857' AS DateTime), CAST(351.92 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.467276 AS Decimal(9, 6)), CAST(-73.986974 AS Decimal(9, 6)), 0xE6100000010C541A31B3CFBB40402600FF942A7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2214, 207, CAST(N'2025-08-19T05:40:40.857' AS DateTime), CAST(334.00 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.488076 AS Decimal(9, 6)), CAST(-73.966174 AS Decimal(9, 6)), 0xE6100000010C33FB3C4679BE4040B60F79CBD57D52C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2215, 207, CAST(N'2025-08-21T18:12:40.857' AS DateTime), CAST(336.56 AS Decimal(18, 2)), N'Arizona', N'San Francisco', N'USA', CAST(33.413676 AS Decimal(9, 6)), CAST(-74.040574 AS Decimal(9, 6)), 0xE6100000010CEF91CD55F3B4404059C4B0C3988252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2216, 208, CAST(N'2025-08-09T10:44:40.857' AS DateTime), CAST(51.60 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.375781 AS Decimal(9, 6)), CAST(-122.316269 AS Decimal(9, 6)), 0xE6100000010CA6BA80971930454046EF54C03D945EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2217, 208, CAST(N'2025-08-09T21:56:40.857' AS DateTime), CAST(54.16 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.401381 AS Decimal(9, 6)), CAST(-122.290669 AS Decimal(9, 6)), 0xE6100000010C2E1EDE7360334540813D26529A925EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2218, 208, CAST(N'2025-08-10T09:24:40.857' AS DateTime), CAST(56.72 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.326981 AS Decimal(9, 6)), CAST(-122.365069 AS Decimal(9, 6)), 0xE6100000010CEAB46E83DA29454024F25D4A5D975EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2219, 208, CAST(N'2025-08-10T19:00:40.857' AS DateTime), CAST(38.80 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.347781 AS Decimal(9, 6)), CAST(-122.344269 AS Decimal(9, 6)), 0xE6100000010CC8957A16842C4540B401D88008965EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2220, 208, CAST(N'2025-08-11T04:52:40.857' AS DateTime), CAST(41.36 AS Decimal(18, 2)), N'Washington', N'San Francisco', N'USA', CAST(42.373381 AS Decimal(9, 6)), CAST(-122.318669 AS Decimal(9, 6)), 0xE6100000010C51F9D7F2CA2F4540F04FA91265945EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2221, 209, CAST(N'2025-08-09T15:00:40.857' AS DateTime), CAST(92.56 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.800229 AS Decimal(9, 6)), CAST(-80.166388 AS Decimal(9, 6)), 0xE6100000010CC82764E76DE64240999CDA19A60A54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2222, 209, CAST(N'2025-08-10T06:28:40.857' AS DateTime), CAST(95.12 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.725829 AS Decimal(9, 6)), CAST(-80.240788 AS Decimal(9, 6)), 0xE6100000010C83BEF4F6E7DC42403B511212690F54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2223, 209, CAST(N'2025-08-10T22:12:40.857' AS DateTime), CAST(97.68 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.751429 AS Decimal(9, 6)), CAST(-80.215188 AS Decimal(9, 6)), 0xE6100000010C0C2252D32EE04240779FE3A3C50D54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2224, 209, CAST(N'2025-08-11T12:04:40.857' AS DateTime), CAST(79.76 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.772229 AS Decimal(9, 6)), CAST(-80.194388 AS Decimal(9, 6)), 0xE6100000010CEB025E66D8E2424008AF5DDA700C54C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2225, 209, CAST(N'2025-08-12T02:12:40.857' AS DateTime), CAST(82.32 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.797829 AS Decimal(9, 6)), CAST(-80.168788 AS Decimal(9, 6)), 0xE6100000010C7366BB421FE6424044FD2E6CCD0A54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2226, 210, CAST(N'2025-08-09T02:12:40.857' AS DateTime), CAST(469.68 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.771429 AS Decimal(9, 6)), CAST(-95.373204 AS Decimal(9, 6)), 0xE6100000010CCE177B2FBEE2424021AF0793E2D757C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2227, 210, CAST(N'2025-08-09T04:52:40.857' AS DateTime), CAST(472.24 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-95.347604 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E642405DFDD8243FD657C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2228, 210, CAST(N'2025-08-09T07:48:40.857' AS DateTime), CAST(474.80 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-95.322004 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE94240994BAAB69BD457C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2229, 210, CAST(N'2025-08-09T08:52:40.857' AS DateTime), CAST(456.88 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.743429 AS Decimal(9, 6)), CAST(-95.401204 AS Decimal(9, 6)), 0xE6100000010CF1F274AE28DF424090C18A53ADD957C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2230, 210, CAST(N'2025-08-09T10:12:40.857' AS DateTime), CAST(459.44 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-95.375604 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE24240CB0F5CE509D857C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2231, 211, CAST(N'2025-08-09T06:28:40.857' AS DateTime), CAST(10.64 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.718876 AS Decimal(9, 6)), CAST(-73.999774 AS Decimal(9, 6)), 0xE6100000010C8DF0F620045C44400859164CFC7F52C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2232, 211, CAST(N'2025-08-09T13:24:40.857' AS DateTime), CAST(13.20 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-73.974174 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F444044A7E7DD587E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2233, 211, CAST(N'2025-08-09T20:36:40.857' AS DateTime), CAST(15.76 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-74.048574 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440E65B1FD61B8352C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2234, 211, CAST(N'2025-08-10T01:56:40.857' AS DateTime), CAST(497.84 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.690876 AS Decimal(9, 6)), CAST(-74.027774 AS Decimal(9, 6)), 0xE6100000010CB0CBF09F6E584440766B990CC78152C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2235, 211, CAST(N'2025-08-10T07:32:40.857' AS DateTime), CAST(500.40 AS Decimal(18, 2)), N'California', N'Denver', N'USA', CAST(40.716476 AS Decimal(9, 6)), CAST(-74.002174 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB55B4440B2B96A9E238052C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2236, 212, CAST(N'2025-08-10T03:48:40.857' AS DateTime), CAST(215.44 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.729029 AS Decimal(9, 6)), CAST(-118.289483 AS Decimal(9, 6)), 0xE6100000010CF46A80D250DD4240DF6FB4E386925DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2237, 212, CAST(N'2025-08-11T08:04:40.857' AS DateTime), CAST(218.00 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.754629 AS Decimal(9, 6)), CAST(-118.263883 AS Decimal(9, 6)), 0xE6100000010C7DCEDDAE97E042401BBE8575E3905DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2238, 212, CAST(N'2025-08-12T12:36:40.857' AS DateTime), CAST(220.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.780229 AS Decimal(9, 6)), CAST(-118.238283 AS Decimal(9, 6)), 0xE6100000010C05323B8BDEE34240560C5707408F5DC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2239, 212, CAST(N'2025-08-13T15:16:40.857' AS DateTime), CAST(202.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.801029 AS Decimal(9, 6)), CAST(-118.217483 AS Decimal(9, 6)), 0xE6100000010CE412471E88E64240E71BD13DEB8D5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2240, 212, CAST(N'2025-08-14T18:12:40.857' AS DateTime), CAST(205.20 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(37.726629 AS Decimal(9, 6)), CAST(-118.291883 AS Decimal(9, 6)), 0xE6100000010CA0A9D72D02DD424089D00836AE925DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2241, 213, CAST(N'2025-08-10T08:04:40.857' AS DateTime), CAST(256.40 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.702936 AS Decimal(9, 6)), CAST(-74.042174 AS Decimal(9, 6)), 0xE6100000010C2D978DCEF9D9434075AF93FAB28252C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2242, 213, CAST(N'2025-08-11T16:36:40.857' AS DateTime), CAST(258.96 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.728536 AS Decimal(9, 6)), CAST(-74.016574 AS Decimal(9, 6)), 0xE6100000010CB5FAEAAA40DD4340B1FD648C0F8152C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2243, 213, CAST(N'2025-08-13T01:24:40.857' AS DateTime), CAST(261.52 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.754136 AS Decimal(9, 6)), CAST(-73.990974 AS Decimal(9, 6)), 0xE6100000010C3E5E488787E04340EC4B361E6C7F52C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2244, 213, CAST(N'2025-08-14T08:20:40.857' AS DateTime), CAST(243.60 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.774936 AS Decimal(9, 6)), CAST(-73.970174 AS Decimal(9, 6)), 0xE6100000010C1C3F541A31E343407D5BB054177E52C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2245, 213, CAST(N'2025-08-15T15:32:40.857' AS DateTime), CAST(246.16 AS Decimal(18, 2)), N'California', N'Houston', N'USA', CAST(39.700536 AS Decimal(9, 6)), CAST(-74.044574 AS Decimal(9, 6)), 0xE6100000010CD8D5E429ABD943401F10E84CDA8252C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2246, 214, CAST(N'2025-08-09T19:16:40.857' AS DateTime), CAST(133.52 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.087135 AS Decimal(9, 6)), CAST(-80.156788 AS Decimal(9, 6)), 0xE6100000010C22AB5B3D270B4140F01989D0080A54C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2247, 214, CAST(N'2025-08-10T15:00:40.857' AS DateTime), CAST(136.08 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.012735 AS Decimal(9, 6)), CAST(-80.231188 AS Decimal(9, 6)), 0xE6100000010CDD41EC4CA101414092CEC0C8CB0E54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2248, 214, CAST(N'2025-08-11T11:00:40.857' AS DateTime), CAST(138.64 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.038335 AS Decimal(9, 6)), CAST(-80.205588 AS Decimal(9, 6)), 0xE6100000010C65A54929E8044140CE1C925A280D54C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2249, 214, CAST(N'2025-08-12T05:08:40.857' AS DateTime), CAST(120.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.059135 AS Decimal(9, 6)), CAST(-80.184788 AS Decimal(9, 6)), 0xE6100000010C448655BC910741405E2C0C91D30B54C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2250, 214, CAST(N'2025-08-12T23:32:40.857' AS DateTime), CAST(123.28 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(34.084735 AS Decimal(9, 6)), CAST(-80.159188 AS Decimal(9, 6)), 0xE6100000010CCDE9B298D80A41409A7ADD22300A54C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2251, 215, CAST(N'2025-08-09T23:32:40.857' AS DateTime), CAST(174.48 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.819429 AS Decimal(9, 6)), CAST(-118.199083 AS Decimal(9, 6)), 0xE6100000010C6E32AA0CE3E84240228C9FC6BD8C5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2252, 215, CAST(N'2025-08-10T23:32:40.857' AS DateTime), CAST(177.04 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-118.273483 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF4240C440D7BE80915DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2253, 215, CAST(N'2025-08-11T23:48:40.857' AS DateTime), CAST(179.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.770629 AS Decimal(9, 6)), CAST(-118.247883 AS Decimal(9, 6)), 0xE6100000010CB22C98F8A3E24240008FA850DD8F5DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2254, 215, CAST(N'2025-08-12T22:12:40.857' AS DateTime), CAST(161.68 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.791429 AS Decimal(9, 6)), CAST(-118.227083 AS Decimal(9, 6)), 0xE6100000010C910DA48B4DE54240909E2287888E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2255, 215, CAST(N'2025-08-13T20:52:40.857' AS DateTime), CAST(164.24 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-118.201483 AS Decimal(9, 6)), 0xE6100000010C1971016894E84240CCECF318E58C5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2256, 216, CAST(N'2025-08-10T20:52:40.857' AS DateTime), CAST(379.28 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-71.066284 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240E00F3FFF3DC451C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2257, 216, CAST(N'2025-08-12T18:12:40.857' AS DateTime), CAST(381.84 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.793029 AS Decimal(9, 6)), CAST(-71.040684 AS Decimal(9, 6)), 0xE6100000010CC9E369F981E542401C5E10919AC251C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2258, 216, CAST(N'2025-08-14T15:48:40.857' AS DateTime), CAST(384.40 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.818629 AS Decimal(9, 6)), CAST(-71.015084 AS Decimal(9, 6)), 0xE6100000010C5247C7D5C8E8424058ACE122F7C051C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2259, 216, CAST(N'2025-08-16T11:32:40.857' AS DateTime), CAST(366.48 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.739429 AS Decimal(9, 6)), CAST(-71.094284 AS Decimal(9, 6)), 0xE6100000010C645B069CA5DE42404F22C2BF08C651C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2260, 216, CAST(N'2025-08-18T07:32:40.857' AS DateTime), CAST(369.04 AS Decimal(18, 2)), N'Arizona', N'New York', N'USA', CAST(37.765029 AS Decimal(9, 6)), CAST(-71.068684 AS Decimal(9, 6)), 0xE6100000010CECBE6378ECE142408B70935165C451C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2261, 217, CAST(N'2025-08-11T01:08:40.857' AS DateTime), CAST(420.24 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.763781 AS Decimal(9, 6)), CAST(-122.329869 AS Decimal(9, 6)), 0xE6100000010C624ED02687C33940B6BDDD921C955EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2262, 217, CAST(N'2025-08-13T02:44:40.857' AS DateTime), CAST(422.80 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.789381 AS Decimal(9, 6)), CAST(-122.304269 AS Decimal(9, 6)), 0xE6100000010C72158BDF14CA3940F20BAF2479935EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2263, 217, CAST(N'2025-08-15T04:36:40.857' AS DateTime), CAST(425.36 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.714981 AS Decimal(9, 6)), CAST(-122.378669 AS Decimal(9, 6)), 0xE6100000010CEA42ACFE08B7394094C0E61C3C985EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2264, 217, CAST(N'2025-08-17T04:36:40.857' AS DateTime), CAST(407.44 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.735781 AS Decimal(9, 6)), CAST(-122.357869 AS Decimal(9, 6)), 0xE6100000010CA704C4245CBC394024D06053E7965EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2265, 217, CAST(N'2025-08-19T04:52:40.857' AS DateTime), CAST(410.00 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(25.761381 AS Decimal(9, 6)), CAST(-122.332269 AS Decimal(9, 6)), 0xE6100000010CB8CB7EDDE9C23940601E32E543955EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2266, 218, CAST(N'2025-08-10T12:20:40.857' AS DateTime), CAST(297.36 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.851413 AS Decimal(9, 6)), CAST(-122.446018 AS Decimal(9, 6)), 0xE6100000010CD331E719FBEC444059DB148F8B9C5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2267, 218, CAST(N'2025-08-12T01:08:40.857' AS DateTime), CAST(299.92 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.877013 AS Decimal(9, 6)), CAST(-122.420418 AS Decimal(9, 6)), 0xE6100000010C5B9544F641F044409529E620E89A5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2268, 218, CAST(N'2025-08-13T14:12:40.857' AS DateTime), CAST(302.48 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.902613 AS Decimal(9, 6)), CAST(-122.394818 AS Decimal(9, 6)), 0xE6100000010CE4F8A1D288F34440D177B7B244995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2269, 218, CAST(N'2025-08-15T01:24:40.857' AS DateTime), CAST(284.56 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.923413 AS Decimal(9, 6)), CAST(-122.374018 AS Decimal(9, 6)), 0xE6100000010CC2D9AD6532F64440628731E9EF975EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2270, 218, CAST(N'2025-08-16T12:52:40.857' AS DateTime), CAST(287.12 AS Decimal(18, 2)), N'New York', N'Seattle', N'USA', CAST(41.849013 AS Decimal(9, 6)), CAST(-122.448418 AS Decimal(9, 6)), 0xE6100000010C7E703E75ACEC4440043C69E1B29C5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2271, 219, CAST(N'2025-08-10T16:36:40.857' AS DateTime), CAST(338.32 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.757829 AS Decimal(9, 6)), CAST(-118.260683 AS Decimal(9, 6)), 0xE6100000010CEE7A698A00E14240E2E7BF07AF905DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2272, 219, CAST(N'2025-08-12T09:40:40.857' AS DateTime), CAST(340.88 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.783429 AS Decimal(9, 6)), CAST(-118.235083 AS Decimal(9, 6)), 0xE6100000010C76DEC66647E442401E3691990B8F5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2273, 219, CAST(N'2025-08-14T03:00:40.857' AS DateTime), CAST(343.44 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.809029 AS Decimal(9, 6)), CAST(-118.209483 AS Decimal(9, 6)), 0xE6100000010CFF4124438EE742405A84622B688D5DC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2274, 219, CAST(N'2025-08-15T18:28:40.857' AS DateTime), CAST(325.52 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.729829 AS Decimal(9, 6)), CAST(-118.288683 AS Decimal(9, 6)), 0xE6100000010C115663096BDD424051FA42C879925DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2275, 219, CAST(N'2025-08-17T10:12:40.857' AS DateTime), CAST(328.08 AS Decimal(18, 2)), N'Washington', N'Seattle', N'USA', CAST(37.755429 AS Decimal(9, 6)), CAST(-118.263083 AS Decimal(9, 6)), 0xE6100000010C99B9C0E5B1E042408C48145AD6905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2276, 220, CAST(N'2025-08-11T13:56:40.857' AS DateTime), CAST(43.12 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.743676 AS Decimal(9, 6)), CAST(-118.212683 AS Decimal(9, 6)), 0xE6100000010CF96871C6305F4440925A28999C8D5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2277, 220, CAST(N'2025-08-14T04:20:40.857' AS DateTime), CAST(45.68 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.669276 AS Decimal(9, 6)), CAST(-118.287083 AS Decimal(9, 6)), 0xE6100000010CB5FF01D6AA554440340F60915F925DC0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2278, 220, CAST(N'2025-08-16T19:00:40.857' AS DateTime), CAST(48.24 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.694876 AS Decimal(9, 6)), CAST(-118.261483 AS Decimal(9, 6)), 0xE6100000010C3D635FB2F1584440705D3123BC905DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2279, 220, CAST(N'2025-08-19T07:48:40.857' AS DateTime), CAST(30.32 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.715676 AS Decimal(9, 6)), CAST(-118.240683 AS Decimal(9, 6)), 0xE6100000010C1C446B459B5B4440016DAB59678F5DC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2280, 220, CAST(N'2025-08-21T20:52:40.857' AS DateTime), CAST(32.88 AS Decimal(18, 2)), N'California', N'Chicago', N'USA', CAST(40.741276 AS Decimal(9, 6)), CAST(-118.215083 AS Decimal(9, 6)), 0xE6100000010CA4A7C821E25E44403DBB7CEBC38D5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2281, 221, CAST(N'2025-08-11T18:12:40.857' AS DateTime), CAST(84.08 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.815429 AS Decimal(9, 6)), CAST(-87.589199 AS Decimal(9, 6)), 0xE6100000010CE19A3BFA5FE842407FF5B86FB5E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2282, 221, CAST(N'2025-08-14T12:52:40.857' AS DateTime), CAST(86.64 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.741029 AS Decimal(9, 6)), CAST(-87.663599 AS Decimal(9, 6)), 0xE6100000010C9C31CC09DADE424022AAF06778EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2283, 221, CAST(N'2025-08-17T07:48:40.857' AS DateTime), CAST(89.20 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.766629 AS Decimal(9, 6)), CAST(-87.637999 AS Decimal(9, 6)), 0xE6100000010C259529E620E242405DF8C1F9D4E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2284, 221, CAST(N'2025-08-20T00:52:40.857' AS DateTime), CAST(71.28 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.787429 AS Decimal(9, 6)), CAST(-87.617199 AS Decimal(9, 6)), 0xE6100000010C04763579CAE44240EE073C3080E755C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2285, 221, CAST(N'2025-08-22T18:12:40.857' AS DateTime), CAST(73.84 AS Decimal(18, 2)), N'California', N'Miami', N'USA', CAST(37.813029 AS Decimal(9, 6)), CAST(-87.591599 AS Decimal(9, 6)), 0xE6100000010C8CD9925511E842402A560DC2DCE555C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2286, 222, CAST(N'2025-08-11T05:24:40.857' AS DateTime), CAST(461.20 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.786629 AS Decimal(9, 6)), CAST(-73.994174 AS Decimal(9, 6)), 0xE6100000010CE78A5242B0E442402522FC8BA07F52C0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2287, 222, CAST(N'2025-08-13T11:16:40.857' AS DateTime), CAST(463.76 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.812229 AS Decimal(9, 6)), CAST(-73.968574 AS Decimal(9, 6)), 0xE6100000010C70EEAF1EF7E742406170CD1DFD7D52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2288, 222, CAST(N'2025-08-15T17:24:40.857' AS DateTime), CAST(466.32 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.737829 AS Decimal(9, 6)), CAST(-74.042974 AS Decimal(9, 6)), 0xE6100000010C2B85402E71DE424003250516C08252C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2289, 222, CAST(N'2025-08-17T21:40:40.857' AS DateTime), CAST(448.40 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.758629 AS Decimal(9, 6)), CAST(-74.022174 AS Decimal(9, 6)), 0xE6100000010C0A664CC11AE1424094347F4C6B8152C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2290, 222, CAST(N'2025-08-20T02:12:40.857' AS DateTime), CAST(450.96 AS Decimal(18, 2)), N'California', N'Seattle', N'USA', CAST(37.784229 AS Decimal(9, 6)), CAST(-73.996574 AS Decimal(9, 6)), 0xE6100000010C93C9A99D61E44240CF8250DEC77F52C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2291, 223, CAST(N'2025-08-11T09:40:40.857' AS DateTime), CAST(502.16 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.796229 AS Decimal(9, 6)), CAST(-73.984574 AS Decimal(9, 6)), 0xE6100000010C3A90F5D4EAE542407B9FAA42037F52C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2292, 223, CAST(N'2025-08-13T19:48:40.857' AS DateTime), CAST(504.72 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.821829 AS Decimal(9, 6)), CAST(-73.958974 AS Decimal(9, 6)), 0xE6100000010CC3F352B131E94240B7ED7BD45F7D52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2293, 223, CAST(N'2025-08-16T06:12:40.857' AS DateTime), CAST(7.28 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.747429 AS Decimal(9, 6)), CAST(-74.033374 AS Decimal(9, 6)), 0xE6100000010C7E8AE3C0ABDF424059A2B3CC228252C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2294, 223, CAST(N'2025-08-18T14:44:40.857' AS DateTime), CAST(489.36 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.768229 AS Decimal(9, 6)), CAST(-74.012574 AS Decimal(9, 6)), 0xE6100000010C5D6BEF5355E24240EAB12D03CE8052C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2295, 223, CAST(N'2025-08-20T23:32:40.857' AS DateTime), CAST(491.92 AS Decimal(18, 2)), N'Arizona', N'Denver', N'USA', CAST(37.793829 AS Decimal(9, 6)), CAST(-73.986974 AS Decimal(9, 6)), 0xE6100000010CE6CE4C309CE542402600FF942A7F52C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2296, 224, CAST(N'2025-08-09T21:56:40.857' AS DateTime), CAST(85.52 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.007135 AS Decimal(9, 6)), CAST(-122.464418 AS Decimal(9, 6)), 0xE6100000010C17D4B7CCE90041401E6B4606B99D5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2297, 224, CAST(N'2025-08-10T20:20:40.857' AS DateTime), CAST(88.08 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.032735 AS Decimal(9, 6)), CAST(-122.438818 AS Decimal(9, 6)), 0xE6100000010CA03715A9300441405AB91798159C5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2298, 224, CAST(N'2025-08-11T19:00:40.857' AS DateTime), CAST(90.64 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.058335 AS Decimal(9, 6)), CAST(-122.413218 AS Decimal(9, 6)), 0xE6100000010C289B7285770741409607E929729A5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2299, 224, CAST(N'2025-08-12T15:48:40.857' AS DateTime), CAST(72.72 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.079135 AS Decimal(9, 6)), CAST(-122.392418 AS Decimal(9, 6)), 0xE6100000010C077C7E18210A4140271763601D995EC0, N'Restaurant', 0)
GO

In [0]:
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2300, 224, CAST(N'2025-08-13T12:52:40.857' AS DateTime), CAST(75.28 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(34.004735 AS Decimal(9, 6)), CAST(-122.466818 AS Decimal(9, 6)), 0xE6100000010CC2120F289B004140C9CB9A58E09D5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2301, 225, CAST(N'2025-08-10T02:12:40.857' AS DateTime), CAST(126.48 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.726181 AS Decimal(9, 6)), CAST(-87.665199 AS Decimal(9, 6)), 0xE6100000010C01FA7DFFE6B939403E95D39E92EA55C0, N'Electronics', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2302, 225, CAST(N'2025-08-11T04:52:40.857' AS DateTime), CAST(129.04 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.751781 AS Decimal(9, 6)), CAST(-87.639599 AS Decimal(9, 6)), 0xE6100000010C12C138B874C039407AE3A430EFE855C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2303, 225, CAST(N'2025-08-12T07:48:40.857' AS DateTime), CAST(131.60 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.777381 AS Decimal(9, 6)), CAST(-87.613999 AS Decimal(9, 6)), 0xE6100000010C2288F37002C73940B63176C24BE755C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2304, 225, CAST(N'2025-08-13T08:52:40.857' AS DateTime), CAST(113.68 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.798181 AS Decimal(9, 6)), CAST(-87.593199 AS Decimal(9, 6)), 0xE6100000010CE0490B9755CC39404641F0F8F6E555C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2305, 225, CAST(N'2025-08-14T10:12:40.857' AS DateTime), CAST(116.24 AS Decimal(18, 2)), N'Illinois', N'New York', N'USA', CAST(25.723781 AS Decimal(9, 6)), CAST(-87.667599 AS Decimal(9, 6)), 0xE6100000010C57772CB649B93940E8F527F1B9EA55C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2306, 226, CAST(N'2025-08-09T13:24:40.857' AS DateTime), CAST(503.60 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.797381 AS Decimal(9, 6)), CAST(-122.383618 AS Decimal(9, 6)), 0xE6100000010CA873452921CC39400B0A83328D985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2307, 226, CAST(N'2025-08-10T03:16:40.857' AS DateTime), CAST(6.16 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.722981 AS Decimal(9, 6)), CAST(-122.458018 AS Decimal(9, 6)), 0xE6100000010C1FA1664815B93940ADBEBA2A509D5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2308, 226, CAST(N'2025-08-10T17:24:40.857' AS DateTime), CAST(8.72 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.748581 AS Decimal(9, 6)), CAST(-122.432418 AS Decimal(9, 6)), 0xE6100000010C30682101A3BF3940E90C8CBCAC9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2309, 226, CAST(N'2025-08-11T05:40:40.857' AS DateTime), CAST(490.80 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.769381 AS Decimal(9, 6)), CAST(-122.411618 AS Decimal(9, 6)), 0xE6100000010CED293927F6C439407A1C06F3579A5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2310, 226, CAST(N'2025-08-11T18:12:40.857' AS DateTime), CAST(493.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(25.794981 AS Decimal(9, 6)), CAST(-122.386018 AS Decimal(9, 6)), 0xE6100000010CFEF0F3DF83CB3940B66AD784B4985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2311, 227, CAST(N'2025-08-09T17:40:40.857' AS DateTime), CAST(44.56 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.405381 AS Decimal(9, 6)), CAST(-104.944850 AS Decimal(9, 6)), 0xE6100000010CBBB54C86E33345400A68226C783C5AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2312, 227, CAST(N'2025-08-10T11:48:40.857' AS DateTime), CAST(47.12 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.330981 AS Decimal(9, 6)), CAST(-105.019250 AS Decimal(9, 6)), 0xE6100000010C774CDD955D2A4540AC1C5A643B415AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2313, 227, CAST(N'2025-08-11T06:12:40.857' AS DateTime), CAST(49.68 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.356581 AS Decimal(9, 6)), CAST(-104.993650 AS Decimal(9, 6)), 0xE6100000010CFFAF3A72A42D4540E86A2BF6973F5AC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2314, 227, CAST(N'2025-08-11T22:44:40.857' AS DateTime), CAST(31.76 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.377381 AS Decimal(9, 6)), CAST(-104.972850 AS Decimal(9, 6)), 0xE6100000010CDE9046054E304540787AA52C433E5AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2315, 227, CAST(N'2025-08-12T15:32:40.857' AS DateTime), CAST(34.32 AS Decimal(18, 2)), N'Illinois', N'Los Angeles', N'USA', CAST(42.402981 AS Decimal(9, 6)), CAST(-104.947250 AS Decimal(9, 6)), 0xE6100000010C66F4A3E194334540B4C876BE9F3C5AC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2316, 228, CAST(N'2025-08-10T15:00:40.857' AS DateTime), CAST(249.36 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.706076 AS Decimal(9, 6)), CAST(-122.338669 AS Decimal(9, 6)), 0xE6100000010CC93EC8B2605A4440D1CABDC0AC955EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2317, 228, CAST(N'2025-08-12T06:28:40.857' AS DateTime), CAST(251.92 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.731676 AS Decimal(9, 6)), CAST(-122.313069 AS Decimal(9, 6)), 0xE6100000010C51A2258FA75D44400D198F5209945EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2318, 228, CAST(N'2025-08-13T22:12:40.857' AS DateTime), CAST(254.48 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.757276 AS Decimal(9, 6)), CAST(-122.287469 AS Decimal(9, 6)), 0xE6100000010CD905836BEE604440496760E465925EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2319, 228, CAST(N'2025-08-15T12:04:40.857' AS DateTime), CAST(236.56 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.678076 AS Decimal(9, 6)), CAST(-122.366669 AS Decimal(9, 6)), 0xE6100000010CEB19C231CB56444040DD408177975EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2320, 228, CAST(N'2025-08-17T02:12:40.857' AS DateTime), CAST(239.12 AS Decimal(18, 2)), N'California', N'San Francisco', N'USA', CAST(40.703676 AS Decimal(9, 6)), CAST(-122.341069 AS Decimal(9, 6)), 0xE6100000010C747D1F0E125A44407C2B1213D4955EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2321, 229, CAST(N'2025-08-10T19:16:40.857' AS DateTime), CAST(290.32 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.451276 AS Decimal(9, 6)), CAST(-122.416418 AS Decimal(9, 6)), 0xE6100000010C1FBC7669C3B94040CEDDAE97A69A5EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2322, 229, CAST(N'2025-08-12T15:00:40.857' AS DateTime), CAST(292.88 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.476876 AS Decimal(9, 6)), CAST(-122.390818 AS Decimal(9, 6)), 0xE6100000010CA71FD4450ABD40400A2C802903995EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2323, 229, CAST(N'2025-08-14T11:00:40.857' AS DateTime), CAST(295.44 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.402476 AS Decimal(9, 6)), CAST(-122.465218 AS Decimal(9, 6)), 0xE6100000010C63B6645584B34040ACE0B721C69D5EC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2324, 229, CAST(N'2025-08-16T05:08:40.857' AS DateTime), CAST(277.52 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.423276 AS Decimal(9, 6)), CAST(-122.444418 AS Decimal(9, 6)), 0xE6100000010C429770E82DB640403DF03158719C5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2325, 229, CAST(N'2025-08-17T23:32:40.857' AS DateTime), CAST(280.08 AS Decimal(18, 2)), N'New York', N'Miami', N'USA', CAST(33.448876 AS Decimal(9, 6)), CAST(-122.418818 AS Decimal(9, 6)), 0xE6100000010CCAFACDC474B94040793E03EACD9A5EC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2326, 230, CAST(N'2025-08-10T06:28:40.857' AS DateTime), CAST(167.44 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.580309 AS Decimal(9, 6)), CAST(-87.655599 AS Decimal(9, 6)), 0xE6100000010C8849B89047CA474094128255F5E955C0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2327, 230, CAST(N'2025-08-11T13:24:40.857' AS DateTime), CAST(170.00 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.605909 AS Decimal(9, 6)), CAST(-87.629999 AS Decimal(9, 6)), 0xE6100000010C10AD156D8ECD4740D06053E751E855C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2328, 230, CAST(N'2025-08-12T20:36:40.857' AS DateTime), CAST(172.56 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.631509 AS Decimal(9, 6)), CAST(-87.604399 AS Decimal(9, 6)), 0xE6100000010C99107349D5D047400CAF2479AEE655C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2329, 230, CAST(N'2025-08-14T01:56:40.857' AS DateTime), CAST(154.64 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.652309 AS Decimal(9, 6)), CAST(-87.583599 AS Decimal(9, 6)), 0xE6100000010C78F17EDC7ED347409DBE9EAF59E555C0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2330, 230, CAST(N'2025-08-15T07:32:40.857' AS DateTime), CAST(157.20 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(47.577909 AS Decimal(9, 6)), CAST(-87.657999 AS Decimal(9, 6)), 0xE6100000010C33880FECF8C947403F73D6A71CEA55C0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2331, 231, CAST(N'2025-08-10T10:44:40.857' AS DateTime), CAST(208.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.861813 AS Decimal(9, 6)), CAST(-122.435618 AS Decimal(9, 6)), 0xE6100000010C42226DE34FEE444022E3512AE19B5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2332, 231, CAST(N'2025-08-11T21:56:40.857' AS DateTime), CAST(210.96 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.887413 AS Decimal(9, 6)), CAST(-122.410018 AS Decimal(9, 6)), 0xE6100000010CCB85CABF96F144405D3123BC3D9A5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2333, 231, CAST(N'2025-08-13T09:24:40.857' AS DateTime), CAST(213.52 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.913013 AS Decimal(9, 6)), CAST(-122.384418 AS Decimal(9, 6)), 0xE6100000010C53E9279CDDF44440997FF44D9A985EC0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2334, 231, CAST(N'2025-08-14T19:00:40.857' AS DateTime), CAST(195.60 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.833813 AS Decimal(9, 6)), CAST(-122.463618 AS Decimal(9, 6)), 0xE6100000010C65FD6662BAEA444090F5D4EAAB9D5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2335, 231, CAST(N'2025-08-16T04:52:40.857' AS DateTime), CAST(198.16 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(41.859413 AS Decimal(9, 6)), CAST(-122.438018 AS Decimal(9, 6)), 0xE6100000010CEE60C43E01EE4440CC43A67C089C5EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2336, 232, CAST(N'2025-08-11T08:04:40.857' AS DateTime), CAST(413.20 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.744476 AS Decimal(9, 6)), CAST(-122.387618 AS Decimal(9, 6)), 0xE6100000010C155454FD4A5F4440D255BABBCE985EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2337, 232, CAST(N'2025-08-13T16:36:40.857' AS DateTime), CAST(415.76 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.670076 AS Decimal(9, 6)), CAST(-122.462018 AS Decimal(9, 6)), 0xE6100000010CD1EAE40CC5554440740AF2B3919D5EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2338, 232, CAST(N'2025-08-16T01:24:40.857' AS DateTime), CAST(418.32 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.695676 AS Decimal(9, 6)), CAST(-122.436418 AS Decimal(9, 6)), 0xE6100000010C594E42E90B594440B058C345EE9B5EC0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2339, 232, CAST(N'2025-08-18T08:20:40.857' AS DateTime), CAST(400.40 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.716476 AS Decimal(9, 6)), CAST(-122.415618 AS Decimal(9, 6)), 0xE6100000010C382F4E7CB55B444040683D7C999A5EC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2340, 232, CAST(N'2025-08-20T15:32:40.857' AS DateTime), CAST(402.96 AS Decimal(18, 2)), N'California', N'Los Angeles', N'USA', CAST(40.742076 AS Decimal(9, 6)), CAST(-122.390018 AS Decimal(9, 6)), 0xE6100000010CC092AB58FC5E44407CB60E0EF6985EC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2341, 233, CAST(N'2025-08-11T12:20:40.857' AS DateTime), CAST(454.16 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.816229 AS Decimal(9, 6)), CAST(-87.588399 AS Decimal(9, 6)), 0xE6100000010CFD851E317AE84240F17F4754A8E555C0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2342, 233, CAST(N'2025-08-14T01:08:40.857' AS DateTime), CAST(456.72 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.741829 AS Decimal(9, 6)), CAST(-87.662799 AS Decimal(9, 6)), 0xE6100000010CB91CAF40F4DE424094347F4C6BEA55C0, N'Restaurant', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2343, 233, CAST(N'2025-08-16T14:12:40.857' AS DateTime), CAST(459.28 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.767429 AS Decimal(9, 6)), CAST(-87.637199 AS Decimal(9, 6)), 0xE6100000010C41800C1D3BE24240CF8250DEC7E855C0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2344, 233, CAST(N'2025-08-19T01:24:40.857' AS DateTime), CAST(441.36 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.788229 AS Decimal(9, 6)), CAST(-87.616399 AS Decimal(9, 6)), 0xE6100000010C206118B0E4E442406092CA1473E755C0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2345, 233, CAST(N'2025-08-21T12:52:40.857' AS DateTime), CAST(443.92 AS Decimal(18, 2)), N'Texas', N'New York', N'USA', CAST(37.813829 AS Decimal(9, 6)), CAST(-87.590799 AS Decimal(9, 6)), 0xE6100000010CA8C4758C2BE842409CE09BA6CFE555C0, N'Restaurant', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2346, 234, CAST(N'2025-08-10T23:32:40.857' AS DateTime), CAST(331.28 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.618709 AS Decimal(9, 6)), CAST(-118.231083 AS Decimal(9, 6)), 0xE6100000010CD55E44DB31CF474057EA5910CA8E5DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2347, 234, CAST(N'2025-08-12T23:32:40.857' AS DateTime), CAST(333.84 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.644309 AS Decimal(9, 6)), CAST(-118.205483 AS Decimal(9, 6)), 0xE6100000010C5DC2A1B778D2474093382BA2268D5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2348, 234, CAST(N'2025-08-14T23:48:40.857' AS DateTime), CAST(336.40 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.569909 AS Decimal(9, 6)), CAST(-118.279883 AS Decimal(9, 6)), 0xE6100000010C195932C7F2C8474035ED629AE9915DC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2349, 234, CAST(N'2025-08-16T22:12:40.857' AS DateTime), CAST(318.48 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.590709 AS Decimal(9, 6)), CAST(-118.259083 AS Decimal(9, 6)), 0xE6100000010CF7393E5A9CCB4740C6FCDCD094905DC0, N'Electronics', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2350, 234, CAST(N'2025-08-18T20:52:40.857' AS DateTime), CAST(321.04 AS Decimal(18, 2)), N'Florida', N'New York', N'USA', CAST(47.616309 AS Decimal(9, 6)), CAST(-118.233483 AS Decimal(9, 6)), 0xE6100000010C809D9B36E3CE4740024BAE62F18E5DC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2351, 235, CAST(N'2025-08-11T03:48:40.857' AS DateTime), CAST(372.24 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.797029 AS Decimal(9, 6)), CAST(-104.968050 AS Decimal(9, 6)), 0xE6100000010C577BD80B05E6424024B9FC87F43D5AC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2352, 235, CAST(N'2025-08-13T08:04:40.857' AS DateTime), CAST(374.80 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.822629 AS Decimal(9, 6)), CAST(-104.942450 AS Decimal(9, 6)), 0xE6100000010CDFDE35E84BE942405F07CE19513C5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2353, 235, CAST(N'2025-08-15T12:36:40.857' AS DateTime), CAST(377.36 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.748229 AS Decimal(9, 6)), CAST(-105.016850 AS Decimal(9, 6)), 0xE6100000010C9B75C6F7C5DF424002BC051214415AC0, N'Grocery', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2354, 235, CAST(N'2025-08-17T15:16:40.857' AS DateTime), CAST(359.44 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.769029 AS Decimal(9, 6)), CAST(-104.996050 AS Decimal(9, 6)), 0xE6100000010C7A56D28A6FE2424092CB7F48BF3F5AC0, N'Clothing', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2355, 235, CAST(N'2025-08-19T18:12:40.857' AS DateTime), CAST(362.00 AS Decimal(18, 2)), N'New York', N'Denver', N'USA', CAST(37.794629 AS Decimal(9, 6)), CAST(-104.970450 AS Decimal(9, 6)), 0xE6100000010C02BA2F67B6E54240CE1951DA1B3E5AC0, N'Gas', 0)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2356, 236, CAST(N'2025-08-09T01:08:40.857' AS DateTime), CAST(77.04 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.745029 AS Decimal(9, 6)), CAST(-122.449218 AS Decimal(9, 6)), 0xE6100000010C2AC93A1C5DDF424092B1DAFCBF9C5EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2357, 236, CAST(N'2025-08-09T02:44:40.857' AS DateTime), CAST(79.60 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.770629 AS Decimal(9, 6)), CAST(-122.423618 AS Decimal(9, 6)), 0xE6100000010CB22C98F8A3E24240CEFFAB8E1C9B5EC0, N'Gas', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2358, 236, CAST(N'2025-08-09T04:36:40.857' AS DateTime), CAST(82.16 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.796229 AS Decimal(9, 6)), CAST(-122.398018 AS Decimal(9, 6)), 0xE6100000010C3A90F5D4EAE54240094E7D2079995EC0, N'Grocery', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2359, 236, CAST(N'2025-08-09T04:36:40.857' AS DateTime), CAST(64.24 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.817029 AS Decimal(9, 6)), CAST(-122.377218 AS Decimal(9, 6)), 0xE6100000010C1971016894E842409A5DF75624985EC0, N'Clothing', 1)
INSERT [dbo].[Transaction] ([transactionid], [userid], [time], [amount], [state], [city], [country], [tran_lat], [tran_lon], [tran_place], [merchantType], [isFraud]) VALUES (2360, 236, CAST(N'2025-08-09T04:52:40.857' AS DateTime), CAST(66.80 AS Decimal(18, 2)), N'California', N'New York', N'USA', CAST(37.742629 AS Decimal(9, 6)), CAST(-122.451618 AS Decimal(9, 6)), 0xE6100000010CD50792770EDF42403C122F4FE79C5EC0, N'Gas', 1)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO

# [dbo].[User]

In [0]:
SET IDENTITY_INSERT [dbo].[User] ON 
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (1, CAST(34.052235 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D4082AE7D01BD045CC0, N'Arizona', N'San Francisco', N'USA', 27, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (2, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF06414015A8C5E0618052C0, N'California', N'Houston', N'USA', 46, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (3, CAST(47.606209 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940857B65DEAAD757C0, N'Massachusetts', N'Houston', N'USA', 78, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (4, CAST(29.760427 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740857B65DEAAD757C0, N'Arizona', N'Phoenix', N'USA', 43, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (5, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'California', N'San Francisco', N'USA', 44, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (6, CAST(47.606209 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240D6E59480988F5DC0, N'Arizona', N'Los Angeles', N'USA', 61, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (7, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'New York', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (8, CAST(42.360081 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'Texas', N'Houston', N'USA', 40, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (9, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'New York', N'Boston', N'USA', 59, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (10, CAST(42.360081 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Washington', N'New York', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (11, CAST(40.712776 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'California', N'San Francisco', N'USA', 53, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (12, CAST(33.448376 AS Decimal(9, 6)), CAST(-104.990250 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140FDC0559E40955EC0, N'New York', N'Houston', N'USA', 22, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (13, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342407E9065C1C4C351C0, N'California', N'San Francisco', N'USA', 81, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (14, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Miami', N'USA', 28, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (15, CAST(29.760427 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF06414082AE7D01BD045CC0, N'California', N'Chicago', N'USA', 24, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (16, CAST(29.760427 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Boston', N'USA', 79, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (17, CAST(33.448376 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B444082AE7D01BD045CC0, N'California', N'San Francisco', N'USA', 24, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (18, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Houston', N'USA', 68, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (19, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'New York', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (20, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'New York', N'Phoenix', N'USA', 90, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (21, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD927806264B940404C378941603F5AC0, N'Arizona', N'San Francisco', N'USA', 27, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (22, CAST(33.448376 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (23, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'Washington', N'New York', N'USA', 63, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (24, CAST(25.761681 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF06414015A8C5E0618052C0, N'California', N'Los Angeles', N'USA', 37, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (25, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'California', N'Seattle', N'USA', 68, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (26, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540A35698BED79A5EC0, N'Illinois', N'San Francisco', N'USA', 73, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (27, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B444015A8C5E0618052C0, N'Illinois', N'Phoenix', N'USA', 86, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (28, CAST(41.878113 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740FAF02C41460C54C0, N'Florida', N'San Francisco', N'USA', 87, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (29, CAST(39.739236 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040A35698BED79A5EC0, N'New York', N'New York', N'USA', 75, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (30, CAST(40.712776 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'New York', N'Chicago', N'USA', 80, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (31, CAST(25.761681 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'Chicago', N'USA', 48, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (32, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440FDC0559E40955EC0, N'Florida', N'San Francisco', N'USA', 28, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (33, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140D6E59480988F5DC0, N'New York', N'Seattle', N'USA', 43, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (34, CAST(39.739236 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140FAF02C41460C54C0, N'Massachusetts', N'San Francisco', N'USA', 44, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (35, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D407E9065C1C4C351C0, N'New York', N'San Francisco', N'USA', 42, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (36, CAST(47.606209 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Washington', N'San Francisco', N'USA', 32, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (37, CAST(41.878113 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'Arizona', N'Boston', N'USA', 50, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (38, CAST(47.606209 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'New York', N'San Francisco', N'USA', 68, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (39, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C4F0306499FDE4340A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 86, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (40, CAST(41.878113 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'Illinois', N'New York', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (41, CAST(25.761681 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'Massachusetts', N'San Francisco', N'USA', 61, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (42, CAST(29.760427 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'New York', N'San Francisco', N'USA', 58, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (43, CAST(25.761681 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD474082AE7D01BD045CC0, N'Illinois', N'New York', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (44, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C4F0306499FDE4340857B65DEAAD757C0, N'Arizona', N'Houston', N'USA', 31, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (45, CAST(40.712776 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 68, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (46, CAST(34.052235 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 46, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (47, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740FDC0559E40955EC0, N'California', N'Phoenix', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (48, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'Texas', N'Houston', N'USA', 89, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (49, CAST(34.052235 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'California', N'Houston', N'USA', 65, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (50, CAST(29.760427 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'New York', N'Boston', N'USA', 83, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (51, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 35, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (52, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'California', N'Houston', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (53, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'Florida', N'Houston', N'USA', 45, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (54, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'California', N'Los Angeles', N'USA', 45, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (55, CAST(40.712776 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Massachusetts', N'Los Angeles', N'USA', 84, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (56, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Florida', N'San Francisco', N'USA', 66, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (57, CAST(39.739236 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC239407E9065C1C4C351C0, N'California', N'Denver', N'USA', 51, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (58, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'Massachusetts', N'New York', N'USA', 56, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (59, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940A35698BED79A5EC0, N'Massachusetts', N'San Francisco', N'USA', 69, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (60, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040FAF02C41460C54C0, N'California', N'San Francisco', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (61, CAST(39.739236 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C4F0306499FDE434015A8C5E0618052C0, N'Illinois', N'San Francisco', N'USA', 63, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (62, CAST(25.761681 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E45407E9065C1C4C351C0, N'California', N'San Francisco', N'USA', 55, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (63, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Arizona', N'Miami', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (64, CAST(33.448376 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940857B65DEAAD757C0, N'California', N'Chicago', N'USA', 43, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (65, CAST(34.052235 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40857B65DEAAD757C0, N'California', N'Chicago', N'USA', 20, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (66, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342404C378941603F5AC0, N'California', N'San Francisco', N'USA', 46, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (67, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'Texas', N'San Francisco', N'USA', 31, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (68, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD927806264B9404015A8C5E0618052C0, N'California', N'Phoenix', N'USA', 29, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (69, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'New York', N'San Francisco', N'USA', 73, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (70, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'California', N'Phoenix', N'USA', 45, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (71, CAST(41.878113 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'Illinois', N'San Francisco', N'USA', 28, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (72, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440D6E59480988F5DC0, N'California', N'Seattle', N'USA', 78, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (73, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'Texas', N'San Francisco', N'USA', 22, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (74, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'New York', N'USA', 48, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (75, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'Miami', N'USA', 75, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (76, CAST(37.774929 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Massachusetts', N'Phoenix', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (77, CAST(40.712776 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E45404C378941603F5AC0, N'California', N'San Francisco', N'USA', 54, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (78, CAST(29.760427 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Washington', N'San Francisco', N'USA', 51, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (79, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B444082AE7D01BD045CC0, N'New York', N'Los Angeles', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (80, CAST(37.774929 AS Decimal(9, 6)), CAST(-104.990250 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'Illinois', N'Miami', N'USA', 25, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (81, CAST(29.760427 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'New York', N'San Francisco', N'USA', 70, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (82, CAST(29.760427 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 39, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (83, CAST(33.448376 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440FDC0559E40955EC0, N'California', N'New York', N'USA', 79, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (84, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 41, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (85, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Washington', N'San Francisco', N'USA', 84, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (86, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40D6E59480988F5DC0, N'California', N'Miami', N'USA', 45, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (87, CAST(40.712776 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E45404C378941603F5AC0, N'California', N'San Francisco', N'USA', 65, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (88, CAST(34.052235 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Texas', N'Houston', N'USA', 75, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (89, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140FDC0559E40955EC0, N'California', N'Los Angeles', N'USA', 83, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (90, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'Texas', N'Houston', N'USA', 71, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (91, CAST(33.448376 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Arizona', N'Houston', N'USA', 82, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (92, CAST(29.760427 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC239407E9065C1C4C351C0, N'California', N'Houston', N'USA', 84, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (93, CAST(37.774929 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'Arizona', N'San Francisco', N'USA', 55, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (94, CAST(34.052235 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Phoenix', N'USA', 29, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (95, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Phoenix', N'USA', 56, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (96, CAST(29.760427 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'Colorado', N'San Francisco', N'USA', 18, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (97, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'Chicago', N'USA', 79, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (98, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'California', N'New York', N'USA', 72, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (99, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 56, 1, 1)
GO

In [0]:
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (100, CAST(41.878113 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF06414082AE7D01BD045CC0, N'Florida', N'Chicago', N'USA', 51, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (101, CAST(40.712776 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'California', N'Seattle', N'USA', 33, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (102, CAST(33.448376 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440857B65DEAAD757C0, N'California', N'Phoenix', N'USA', 44, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (103, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'San Francisco', N'USA', 32, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (104, CAST(39.739236 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'California', N'Denver', N'USA', 90, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (105, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Chicago', N'USA', 28, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (106, CAST(37.774929 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740857B65DEAAD757C0, N'California', N'San Francisco', N'USA', 25, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (107, CAST(41.878113 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'Arizona', N'Houston', N'USA', 30, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (108, CAST(41.878113 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342404C378941603F5AC0, N'Arizona', N'San Francisco', N'USA', 64, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (109, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'Arizona', N'New York', N'USA', 46, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (110, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940A35698BED79A5EC0, N'Washington', N'Chicago', N'USA', 70, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (111, CAST(40.712776 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF06414015A8C5E0618052C0, N'California', N'Seattle', N'USA', 44, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (112, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540D6E59480988F5DC0, N'California', N'Seattle', N'USA', 53, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (113, CAST(40.712776 AS Decimal(9, 6)), CAST(-104.990250 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'Washington', N'Phoenix', N'USA', 46, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (114, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'California', N'Los Angeles', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (115, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'Arizona', N'New York', N'USA', 80, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (116, CAST(33.448376 AS Decimal(9, 6)), CAST(-104.990250 AS Decimal(9, 6)), 0xE6100000010CD927806264B940406D0377A04EE855C0, N'Washington', N'San Francisco', N'USA', 88, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (117, CAST(47.606209 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40D6E59480988F5DC0, N'Texas', N'Houston', N'USA', 33, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (118, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Washington', N'Los Angeles', N'USA', 42, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (119, CAST(34.052235 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40D6E59480988F5DC0, N'California', N'Seattle', N'USA', 58, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (120, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040A35698BED79A5EC0, N'Arizona', N'San Francisco', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (121, CAST(29.760427 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 40, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (122, CAST(34.052235 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'Texas', N'San Francisco', N'USA', 86, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (123, CAST(42.360081 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FAF02C41460C54C0, N'New York', N'Houston', N'USA', 89, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (124, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540A35698BED79A5EC0, N'Massachusetts', N'Miami', N'USA', 72, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (125, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240D6E59480988F5DC0, N'California', N'Phoenix', N'USA', 27, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (126, CAST(47.606209 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'Massachusetts', N'San Francisco', N'USA', 50, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (127, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540857B65DEAAD757C0, N'California', N'New York', N'USA', 55, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (128, CAST(37.774929 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Texas', N'San Francisco', N'USA', 23, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (129, CAST(25.761681 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'Washington', N'San Francisco', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (130, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D404C378941603F5AC0, N'California', N'San Francisco', N'USA', 78, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (131, CAST(34.052235 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C4F0306499FDE434082AE7D01BD045CC0, N'California', N'Phoenix', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (132, CAST(33.448376 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'Arizona', N'Seattle', N'USA', 66, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (133, CAST(42.360081 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940A35698BED79A5EC0, N'New York', N'Boston', N'USA', 22, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (134, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'Texas', N'San Francisco', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (135, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Chicago', N'USA', 41, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (136, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'California', N'San Francisco', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (137, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD927806264B9404015A8C5E0618052C0, N'Colorado', N'Seattle', N'USA', 25, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (138, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'Washington', N'San Francisco', N'USA', 27, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (139, CAST(34.052235 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'California', N'Denver', N'USA', 85, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (140, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (141, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'California', N'Miami', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (142, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440D6E59480988F5DC0, N'Washington', N'New York', N'USA', 82, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (143, CAST(41.878113 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD474082AE7D01BD045CC0, N'California', N'San Francisco', N'USA', 42, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (144, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'Washington', N'San Francisco', N'USA', 87, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (145, CAST(25.761681 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'New York', N'New York', N'USA', 41, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (146, CAST(34.052235 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C4F0306499FDE4340A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 62, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (147, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F044404C378941603F5AC0, N'California', N'Phoenix', N'USA', 63, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (148, CAST(39.739236 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'California', N'San Francisco', N'USA', 36, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (149, CAST(47.606209 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'California', N'San Francisco', N'USA', 31, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (150, CAST(25.761681 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F044406D0377A04EE855C0, N'California', N'San Francisco', N'USA', 78, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (151, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'New York', N'USA', 24, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (152, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'Illinois', N'Phoenix', N'USA', 37, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (153, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD927806264B940406D0377A04EE855C0, N'Florida', N'San Francisco', N'USA', 81, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (154, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 40, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (155, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Illinois', N'Seattle', N'USA', 32, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (156, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440857B65DEAAD757C0, N'California', N'Chicago', N'USA', 74, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (157, CAST(42.360081 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'Texas', N'New York', N'USA', 35, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (158, CAST(41.878113 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'Illinois', N'Boston', N'USA', 59, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (159, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342407E9065C1C4C351C0, N'California', N'Houston', N'USA', 90, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (160, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'Texas', N'San Francisco', N'USA', 20, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (161, CAST(34.052235 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'New York', N'San Francisco', N'USA', 79, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (162, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740D6E59480988F5DC0, N'Texas', N'Chicago', N'USA', 50, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (163, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440D6E59480988F5DC0, N'California', N'San Francisco', N'USA', 71, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (164, CAST(39.739236 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF0641407E9065C1C4C351C0, N'Arizona', N'Houston', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (165, CAST(47.606209 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440857B65DEAAD757C0, N'Arizona', N'San Francisco', N'USA', 64, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (166, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD927806264B9404082AE7D01BD045CC0, N'Illinois', N'San Francisco', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (167, CAST(39.739236 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E454082AE7D01BD045CC0, N'California', N'San Francisco', N'USA', 32, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (168, CAST(25.761681 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Chicago', N'USA', 84, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (169, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'California', N'Los Angeles', N'USA', 28, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (170, CAST(40.712776 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'Massachusetts', N'San Francisco', N'USA', 44, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (171, CAST(34.052235 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040A35698BED79A5EC0, N'New York', N'Los Angeles', N'USA', 26, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (172, CAST(29.760427 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740857B65DEAAD757C0, N'California', N'Chicago', N'USA', 59, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (173, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040A35698BED79A5EC0, N'Texas', N'Phoenix', N'USA', 69, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (174, CAST(33.448376 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'Florida', N'Miami', N'USA', 36, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (175, CAST(40.712776 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140A35698BED79A5EC0, N'California', N'Houston', N'USA', 69, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (176, CAST(33.448376 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140D6E59480988F5DC0, N'Washington', N'San Francisco', N'USA', 86, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (177, CAST(34.052235 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'Arizona', N'San Francisco', N'USA', 71, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (178, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 76, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (179, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Seattle', N'USA', 62, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (180, CAST(39.739236 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040D6E59480988F5DC0, N'Washington', N'San Francisco', N'USA', 29, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (181, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424015A8C5E0618052C0, N'California', N'Phoenix', N'USA', 20, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (182, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 75, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (183, CAST(29.760427 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Chicago', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (184, CAST(29.760427 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C4F0306499FDE4340A35698BED79A5EC0, N'Colorado', N'Phoenix', N'USA', 65, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (185, CAST(34.052235 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940FAF02C41460C54C0, N'California', N'Seattle', N'USA', 57, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (186, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'Texas', N'Chicago', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (187, CAST(47.606209 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'California', N'Los Angeles', N'USA', 67, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (188, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Illinois', N'Chicago', N'USA', 72, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (189, CAST(33.448376 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FAF02C41460C54C0, N'Florida', N'Seattle', N'USA', 87, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (190, CAST(39.739236 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF064140FDC0559E40955EC0, N'California', N'Chicago', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (191, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Florida', N'Los Angeles', N'USA', 44, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (192, CAST(47.606209 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C0DFCA886FDC23940A35698BED79A5EC0, N'Texas', N'San Francisco', N'USA', 84, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (193, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'California', N'New York', N'USA', 38, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (194, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'Washington', N'New York', N'USA', 50, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (195, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'California', N'Los Angeles', N'USA', 24, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (196, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'California', N'Houston', N'USA', 52, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (197, CAST(39.739236 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 63, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (198, CAST(39.739236 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240D6E59480988F5DC0, N'Massachusetts', N'Houston', N'USA', 39, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (199, CAST(42.360081 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FDC0559E40955EC0, N'Illinois', N'Phoenix', N'USA', 70, 1, 1)
GO

In [0]:
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (200, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 53, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (201, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342407E9065C1C4C351C0, N'California', N'San Francisco', N'USA', 85, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (202, CAST(37.774929 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010CD927806264B940406D0377A04EE855C0, N'Illinois', N'Boston', N'USA', 68, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (203, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Denver', N'USA', 72, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (204, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD927806264B94040A35698BED79A5EC0, N'Colorado', N'Denver', N'USA', 40, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (205, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'Florida', N'Los Angeles', N'USA', 61, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (206, CAST(37.774929 AS Decimal(9, 6)), CAST(-112.074036 AS Decimal(9, 6)), 0xE6100000010CD927806264B940407E9065C1C4C351C0, N'New York', N'Los Angeles', N'USA', 30, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (207, CAST(33.448376 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Arizona', N'San Francisco', N'USA', 32, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (208, CAST(42.360081 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'Washington', N'San Francisco', N'USA', 81, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (209, CAST(37.774929 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240D6E59480988F5DC0, N'Arizona', N'Denver', N'USA', 43, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (210, CAST(37.774929 AS Decimal(9, 6)), CAST(-95.369804 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540A35698BED79A5EC0, N'California', N'Houston', N'USA', 55, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (211, CAST(40.712776 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342404C378941603F5AC0, N'California', N'Denver', N'USA', 59, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (212, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C3BC5AA4198CD4740A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 79, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (213, CAST(39.739236 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342406D0377A04EE855C0, N'California', N'Houston', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (214, CAST(34.052235 AS Decimal(9, 6)), CAST(-80.191788 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 35, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (215, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'Los Angeles', N'USA', 22, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (216, CAST(37.774929 AS Decimal(9, 6)), CAST(-71.058884 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B4440A35698BED79A5EC0, N'Arizona', N'New York', N'USA', 46, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (217, CAST(25.761681 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E3424082AE7D01BD045CC0, N'California', N'New York', N'USA', 57, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (218, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440857B65DEAAD757C0, N'New York', N'Seattle', N'USA', 88, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (219, CAST(37.774929 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B444015A8C5E0618052C0, N'Washington', N'Seattle', N'USA', 88, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (220, CAST(40.712776 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540FAF02C41460C54C0, N'California', N'Chicago', N'USA', 84, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (221, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD2FE0758ABC23D40857B65DEAAD757C0, N'California', N'Miami', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (222, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240857B65DEAAD757C0, N'California', N'Seattle', N'USA', 39, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (223, CAST(37.774929 AS Decimal(9, 6)), CAST(-74.005974 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540FAF02C41460C54C0, N'Arizona', N'Denver', N'USA', 31, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (224, CAST(34.052235 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440A35698BED79A5EC0, N'California', N'New York', N'USA', 75, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (225, CAST(25.761681 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240D6E59480988F5DC0, N'Illinois', N'New York', N'USA', 65, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (226, CAST(25.761681 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E342407E9065C1C4C351C0, N'California', N'San Francisco', N'USA', 74, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (227, CAST(42.360081 AS Decimal(9, 6)), CAST(-104.990250 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF06414015A8C5E0618052C0, N'Illinois', N'Los Angeles', N'USA', 50, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (228, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.332069 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'San Francisco', N'USA', 81, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (229, CAST(33.448376 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C715AF0A2AF0641407E9065C1C4C351C0, N'New York', N'Miami', N'USA', 81, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (230, CAST(47.606209 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010CD5AF743E3C5B444015A8C5E0618052C0, N'California', N'Los Angeles', N'USA', 42, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (231, CAST(41.878113 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010CD927806264B9404015A8C5E0618052C0, N'California', N'Los Angeles', N'USA', 77, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (232, CAST(40.712776 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240FAF02C41460C54C0, N'California', N'Los Angeles', N'USA', 21, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (233, CAST(37.774929 AS Decimal(9, 6)), CAST(-87.629799 AS Decimal(9, 6)), 0xE6100000010C9B745B22172E4540A35698BED79A5EC0, N'Texas', N'New York', N'USA', 72, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (234, CAST(47.606209 AS Decimal(9, 6)), CAST(-118.243683 AS Decimal(9, 6)), 0xE6100000010CA298BC0166F04440FAF02C41460C54C0, N'Florida', N'New York', N'USA', 60, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (235, CAST(37.774929 AS Decimal(9, 6)), CAST(-104.990250 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'New York', N'Denver', N'USA', 68, 1, 1)
INSERT [dbo].[User] ([userid], [home_lat], [home_lon], [home], [state], [city], [country], [age], [marital_status], [isMale]) VALUES (236, CAST(37.774929 AS Decimal(9, 6)), CAST(-122.419418 AS Decimal(9, 6)), 0xE6100000010C6ADC9BDF30E34240A35698BED79A5EC0, N'California', N'New York', N'USA', 38, 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO

# [DF_Transaction_time]

In [0]:
ALTER TABLE [dbo].[Transaction] ADD  CONSTRAINT [DF_Transaction_time]  DEFAULT (getdate()) FOR [time]
GO

# [DF_Transaction_isFraud]

In [0]:
ALTER TABLE [dbo].[Transaction] ADD  CONSTRAINT [DF_Transaction_isFraud]  DEFAULT ((0)) FOR [isFraud]
GO

# [FK_Transaction_User]

In [0]:
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_User] FOREIGN KEY([userid])
REFERENCES [dbo].[User] ([userid])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_User]
GO